@page
@model MLunarCoffee.Pages.CustomerCare.CustomerCare_NotCheckInModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div id="CustomerCareMainLoad" class="container-fluid px-0 mb-3">
</div>
<script>
    let TypeCustomerCare = 4;
    $(document).ready(function () {
        $("#CustomerCareMainLoad").load('/CustomerCare/CustomerCare?Type=' + TypeCustomerCare + '&ver=' + versionofWebApplication);
    })
</script>