@page
@model SourceMain.Pages.Report.Employee.TreatmentWorkModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="row px-1 form3" id="dataDetail">
    <div class="col-12 col-md-5 col-xl-4 px-1 mt-2" id="MasterDiv">
        <div>
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-70 col-auto my-auto">
                        <p data-languagedyn="rp_treatment_work_header" class="text-md text-dark font-weight-bold mb-1">
                            Công Việc Điều Trị Khách Hàng
                        </p>
                        <p class="text-sm mb-0">Some text of detail sub</p>

                    </div>
                    <div class="ms-auto my-auto mt-1">
                        <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-original-title="Refresh" onclick="LoadDataReport()"></i>

                        <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-original-title="Excel" onclick="exportData_TreatmentWork()"></i>
                    </div>
                </div>

            </div>
            <div class="card-body p-3 pt-0">
                <div class="m-0 my-3 mobile-responsive">
                    <div id="loaderList" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                    </div>

                    <table class="table vt-table mb-0" id="dtContentReportMaster">
                        <thead>
                            <tr>
                                <th data-languagestatic="no">#</th>
                                <th data-languagestatic="name">Tên</th>
                            </tr>
                        </thead>
                        <tbody data-languagedyn="grid" id="dtContentReportMasterBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
    <div class="field col-12 col-md-7 col-xl-8 px-1 mt-2" id="Detail_Div">
        <div class="card">
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-70 col-auto my-auto">
                        <p data-languagedyn="detail_treatment_work_header" class="text-md text-dark font-weight-bold mb-1">
                            Chi Tiết Công Việc Điều Trị
                        </p>
                        <p class="text-sm mb-0">Some text of detail sub</p>

                    </div>
                    <div class="ms-auto my-auto mt-1">

                        <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-original-title="Excel" onclick="exportData_TreatmentWorkDetail()"></i>
 
                    </div>
                </div>
                <div class="row p-2 pb-0 ps-0">
                    <div class="col-lg-12">
                        <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                            <h6  class="text-sm text-primary text-gradient mb-0">Times</h6>
                            <h6 class="font-weight-bolder"> <span id="lbTotalTimes_Detail">0</span></h6>
                        </div>
                    </div>


                </div>

            </div>
            <div class="card-body p-3 pt-0">
                <div class="m-0 my-3 mobile-responsive">

                    <table class="table vt-table mb-0" id="dtContentReport">
                        <thead>
                            <tr>
                                <th style="width: 25px;">#</th>
                                <th data-languagestatic="cust_code" style="width:150px;">Mã Khách Hàng</th>
                                <th data-languagestatic="cust" style="width:180px;">Tên Khách Hàng</th>
                                <th data-languagestatic="service">Dịch Vụ</th>
                                <th data-languagestatic="treatment_step">Bước Điều Trị</th>
                                <th data-languagestatic="task">Công Việc</th>
                                <th data-languagestatic="note">Ghi Chú</th>
                                <th data-languagestatic="date">Ngày</th>
                            </tr>
                        </thead>
                        <tbody data-languagedyn="grid" id="dtContentReportBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

</div>

<script type="text/javascript">
    var _employeename = '';
    var data_treatment = [];
    var CurrentMaster;
    var DataTreatTask = {};
    $(document).ready(function () {
 
        LoadDataReport();
        $("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
    });

    function SettingHeightDiv() {
        $('#Detail_Div').css({ height: ($(window).height() - $('#Master_Menu_Top').height()) - 130 });
        $('#MasterDiv').css({ height: ($(window).height() - $('#Master_Menu_Top').height()) - 130 });
    }


    function EventrowClick() {
        $(".masterRow").on('click', function (event) {
            let id = Number($(this).attr("data-id"));
            _employeename = $(this).attr("data-name");
            CurrentMaster = id;
            $('.masterRow').removeClass('active');
            $(this).addClass('active');
            ViewDetail(id, $(this).attr("data-items"));
        });


    }

    function LoadDataReport() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branchID = "@Model._branchID";
        AjaxLoad(url = "/Report/Employee/TreatmentWork/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'branchID': _branchID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "" && result != "null") {
                    let dataDoctor = JSON.parse(result).Table;
                    data_treatment = JSON.parse(result).Table1;
                    let datatask = JSON.parse(result).Table2;
                    for (let i = 0; i < datatask.length; i++) {
                        DataTreatTask[datatask[i].ID] = datatask[i];
                    }
                    RenderReportMaster(dataDoctor, "dtContentReportMasterBody");
                }
                else {
                }
            }
            , sender = null
            , before = function () {
                $("#dataDetail").hide();
                $("#loaderList").show();
            }
            , complete = function (e) {
                $("#dataDetail").show();
                $("#loaderList").hide();
            }
        );
        return false;

    }

    function ViewDetail(id, items) {
        var data = data_treatment.filter(a => a["BS1"] == id || a["BS2"] == id || a["BS3"] == id || a["BS4"] == id );
        if (data != undefined) {
            $('#lbTotalTimes_Detail').html(  items);
            RenderReportDetail(data, "dtContentReportBody");
        }
    }
    function RenderReportMaster_TimeJoin(emp_id) {
        let treats = 0;
        for (let i = 0; i < data_treatment.length; i++) {
            if (emp_id == data_treatment[i].BS1) treats++;
            if (emp_id == data_treatment[i].BS2) treats++;
            if (emp_id == data_treatment[i].BS3) treats++;
            if (emp_id == data_treatment[i].BS4) treats++;
        }
        return treats;
    }
    function RenderReportMaster(data, id) {
        let stringContent = '';
        if (data && data.length > 0) {

            for (var i = 0; i < data.length; i++) {
                let item = data[i];
                let times = RenderReportMaster_TimeJoin(item.ID);
                let tr = '';
                if (times > 0) {
                    tr = '<td class="vt-number-order"></td>'
                        + '<td>'
                        + '<div class="d-flex">'
                        + '<div class="icon icon-shape icon-sm me-2 text-center">'
                        + '<img class="avatar avatar-xs mt-2" src="data:image/png;base64, ' + item.Avatar + '" alt="label-image">'
                        + '</div>'
                        + '<div class="d-flex flex-column">'
                        + '<h6 class="text-dark text-sm mb-0">' + item.Name + '</h6>'
                        + '<span class="text-xs">'
                        + times
                        + '</span> '
                        + '</div>'
                        + '</div>'

                        + '</td>'


                }

                stringContent = stringContent + '<tr class="masterRow  ' + ((times > 0) ? 'vt-number' : '') + '" data-items="' + times + '" data-name="' + item.Name + '" data-id="' + item.ID + '">' + tr + '</tr>';
            }
        }
        $('#' + id).html(stringContent);
        EventrowClick();

    }
    function RenderReportDetail(data, id) {
        let stringContent = ''; let color_index = 0; let CustID = "";
        if (data && data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                let setLevel = 0;
                let CountRow = 0;
                let item = data[i];
                if (CustID != item.CustID) {
                    CustID = item.CustID;
                    setLevel = 1;
                    color_index = color_index + 1;
                    for (let j = 0; j < data.length; j++) {
                        if (data[j].CustID == CustID) {
                            CountRow = CountRow + 1;
                        }
                    }
                }
                let tr =
                      '<td class="vt-number-order"></td>'
                    + ((setLevel == 0) ? '' : ('<td rowspan="' + CountRow + '">'
                    + '<a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + "&ver=" + versionofWebApplication + '">' + item.CustCode + '</a>'
                        + '</td>'))

                    + ((setLevel == 0) ? '' : ('<td rowspan="' + CountRow + '">' + item.CustName + '</td>'))
                    + '<td>' + item.ServiceName + '</td>'
                    + '<td>' + item.StageName + '</td>'
                    + '<td>' + Fun_GetString_ByToken(DataTreatTask, item.Tasks)   + '</td>'
                    + '<td>' + item.Content + '</td>'
                    + '<td>' + formatDateToDMYHM(item.Created) + '</td>'

                stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
            }
        }
        $('#' + id).html(stringContent);
    }

    function exportData_TreatmentWorkDetail() {
        exportToExcel("dtContentReport", 'Cong-Viec-Dieu-Tri(' + _employeename + ')');
    }
    function exportData_TreatmentWork() {
        exportToExcel("dtContentReportMaster", 'Cong-Viec-Dieu-Tri');
    }
</script>

