@page
@model SourceMain.Pages.Report.ReportCustomerComplainModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagedyn="complaint_header" class="text-md text-dark font-weight-bold mb-1">
                    Complaint Khách Hàng
                </p>
                <p class="text-sm mb-0">Some text of detail sub</p>

            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#ReportCustomerComplain" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_ComplaintGrid()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_ComplaintGrid()"></i>

                
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-4">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagestatic="total" class="text-sm text-primary text-gradient mb-0">Tổng</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotal">0</span></h6>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagestatic="process_yes" class="text-sm text-primary text-gradient mb-0">Đã Xử Lý</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalExecute">0</span></h6>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagestatic="done" class="text-sm text-primary text-gradient mb-0">Đã Xong</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalDone">0</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="ReportCustomerComplain">

        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContent_CustomerComplain">
                    <thead>
                        <tr role="row">
                            <th style="display: none">ID</th>
                            <th style="display: none">Name</th>
                            <th data-languagestatic="no" style="width: 30px">#</th>
                            <th data-languagestatic="cust" style="min-width: 200px;">Khách Hàng </th>
                            <th data-languagestatic="content" class="no-sort" style="min-width: 200px;">Nội Dung Chăm Sóc</th>
                            <th data-languagestatic="handle_date" class="no-sort" style="min-width: 120px;">Ngày Xử Lý</th>
                            <th data-languagestatic="app_next_status" style="min-width: 120px;">Trạng Thái Tiếp</th>
                            <th data-languagestatic="callback_time" style="min-width: 150px;">Ngày Gọi Lại</th>
                            <th data-languagestatic="done" style="min-width: 80px;">Đã Xong</th>
                            <th data-languagestatic="handlelname" style="min-width: 200px;">Nhân Viên Phụ Trách</th>
                            <th data-languagestatic="createdname" style="min-width: 120px;">Người Tạo</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContent_CustomerComplainBody">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div id="detailShow" class="card mt-2" style="display: none">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p id="nameDetail" class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#ReportCustomerComplainDetail" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_ComplaiDetail()"></i>

            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="ReportCustomerComplainDetail">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtDetail">
                    <thead>
                        <tr role="row">
                            <th style="display: none">ID</th>
                            <th data-languagestatic="no" style="width: 30px">#</th>
                            <th data-languagestatic="cust" style="width: 250px;">Khách Hàng</th>
                            <th data-languagestatic="content" class="no-sort">Nội Dung Chăm Sóc</th>
                            <th data-languagestatic="app_current_status" style="max-width: 200px;">Trạng Thái Chăm Sóc</th>
                            <th data-languagestatic="createddate" style="width: 150px;">Ngày Xử Lý</th>
                            <th data-languagestatic="createdname" style="width: 150px;">Người Xử Lý</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtBodyDetail">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    var dataDetail = [];
    let dataUser;

    $(document).ready(function () {
         
        LoadDataReport_ComplaintGrid();
        $('#dtContent_CustomerComplain').tablesort();
        $('#dtContent_CustomerComplain tbody').on('click', 'tr', function () {
 
            let idDetail = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            let NameDetail = $(this).closest('tr')[0].childNodes[1].innerHTML;
            document.getElementById('nameDetail').innerHTML =  NameDetail ;
            $(this).parent().children().removeClass('active')
            $(this).closest('tr').addClass('active');
            ViewDetail(idDetail);
            $('html, body').animate({
                scrollTop: $("#detailShow").offset().top
            }, 300);
        });
        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });
    function LoadDataReport_ComplaintGrid() {

        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";

        AjaxLoad(url = "/Report/ReportCustomercomplain/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'branchID': _branch }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    dataDetail = JSON.parse(result)["Table1"];
                    let dataMaster = JSON.parse(result)["Table2"];
                    Count_Up('lbTotal', dataMaster[0].Total)
                    Count_Up('lbTotalExecute', dataMaster[0].TotalExecute)
                    Count_Up('lbTotalDone', dataMaster[0].TotalDone)
   
                    RenderReportCustomerComplain(data, "dtContent_CustomerComplainBody");
                } else {
                    notiError_SW();
                }
            }
        );

        return false;
    }
    function RenderReportCustomerComplain(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display: none">' + item.ID + '</td>'
                        + '<td style="display: none">' + item.Name + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td> <a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a>&nbsp;&nbsp;<br/>'
                        + item.Name
                        + '</td>'

                        //+ '<td>' + item.Content + '</td>'
                        //+ ((item.isTakeCare == 1) ? '<td class="center aligned"><span style="display:none;">X</span><i class="buttonActionClass vtt-icon vttech-icon-check"></i></td>' : '<td></td>')
                        + '<td>'
                        + '<div class="custcare_statusname">' + item.StatusTakeCare + '</div>'
                        + '<div class="custcare_statusdetailname">' + item.StatusTakeCareDetail + '</div>'
                        + '<div style="padding-left:4px;">' + item.Content + '</div>'
                        + '</td>'
                        + '<td style="text-align:center">' + item.DateExecute + '</td>'
                        + '<td>' + item.StatusName + '</td>'
                        + '<td>' + item.TimeRepeatCall + '</td>'
                        + ((item.IsDone == 1) ? '<td class="center aligned"><span style="display:none;">X</span><i class="buttonActionClass vtt-icon vttech-icon-check"></i></td>' : '<td></td>')
                        + '<td>' + item.EmpCurrent + '</td>'
                        + '<td>'
                        + '<div>' + item.CreatedName + '</div>'
                        + '<div>' + item.CreatedString + '</div>'
                        '</td>';
                    stringContent = stringContent + '<tr class="vt-number"  role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function ViewDetail(idDetail) {
        var data = (idDetail == 0) ? (dataDetail) : (dataDetail.filter(word => word["RemindID"] == idDetail));
        RenderReportDetailComplain(data, "dtBodyDetail");
        $('#detailShow').show();
    }
    function RenderReportDetailComplain(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display: none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td> <a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a><br/>'
                        + item.Name + '</td>'
                        + '<td>' + item.Content + '</td>'
                        + '<td>'
                        + '<div class="custcare_statusname">' + item.StatusTakeCare + '</div>'
                        + '<div class="custcare_statusdetailname">' + item.StatusTakeCareDetail + '</div>'
                        + '</td>'
                        + '<td>' + item.ExecuteDate + '</td>'
                        + '<td>' + item.ExecuteName + '</td>'
                    stringContent = stringContent + '<tr class="vt-number"  role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_ComplaintGrid() {
        exportToExcel("dtContent_CustomerComplain", 'Complain-Khach-Hang');
    }
    function exportData_ComplaiDetail() {
        exportToExcel("dtDetail", 'Chi-Tiet-Complain-Khach-Hang');
    }
</script>
 
