@page
@model Report.TagDetail 
@{ 
    Layout=null;
}

<script>js_require('/js/comon/initialize_setting.js')</script>

<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class=" col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Chi tiết tag"]</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="row px-1 form3" id="ReportTagDetail">
                        <div class="field col-12 px-1 mt-2">
                            <label>Tag</label>
                            <input id="TagName" class="form-control" placeholder="eg .@Local["Tên tag"]" name="name" type="text" />
                        </div>
                    </div>
                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="ReportTagDetail" onclick="CloseModal()">@Local["Hủy"]</button>
                            <button form="ReportTagDetail" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ExcuteDataReportTag()">@Local["Lưu"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ser_ReportTagCurrentID = ("@Model._ReportTagCurrentID");
    function ExcuteDataReportTag() {
        var data = new Object();
        data.TagName = $('#TagName').val() ? $('#TagName').val() : "";
        data.TagShort = ConvertTag($('#TagName').val());
        $('#ReportTagDetail').form('validate form');
        if ($('#ReportTagDetail').form('is valid')) {
            AjaxLoad(url = "/Report/TagDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_ReportTagCurrentID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        if (typeof LoadTagAjax !== 'undefined' && $.isFunction(LoadTagAjax)) {
                            LoadTagAjax();
                        }
                    } else {
                        notiError(result);
                    }
                });

            CloseModal();
        }
        return false;
    }
    $(document).ready(function () {
        if (ser_ReportTagCurrentID != "0")
        LoadDataUpdateReportTag();
    });

    function LoadDataUpdateReportTag() {
        AjaxLoad(url = "/Report/TagDetail/?handler=Loadata"
            , data = { id: ser_ReportTagCurrentID }, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                $('#TagName').val((data[0].TagName));
            });

    }
    function ConvertTag(data) {
        let Name = data.trim();
        Name = Name.toLowerCase();
        let str = "";
        for (var i = 0; i < Name.split(" ").length; i++) {
            str = str + Name.split(" ")[i].charAt(0);
        }
        return str;
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
