@page
@model CoffeePage.Pages.CheckoutModel
@{
    Layout = "_Layout";
}

<section class="home-slider owl-carousel">

	<div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Checkout</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="/Index">Home</a></span> <span>Checout</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 fadeInUp ftco-animate ftco-animated position-sticky top-1">
				<form action="#" class="billing-form ftco-bg-dark p-3 p-md-5 position-sticky top-1">
					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="col-md-6">
							<div class="form-group">
								<label for="firstname">Firt Name</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="lastname">Last Name</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="country">State / Country</label>
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">France</option>
										<option value="">Italy</option>
										<option value="">Philippines</option>
										<option value="">South Korea</option>
										<option value="">Hongkong</option>
										<option value="">Japan</option>
									</select>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="streetaddress">Street Address</label>
								<input type="text" class="form-control" placeholder="House number and street name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="towncity">Town / City</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="postcodezip">Postcode / ZIP *</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="emailaddress">Email Address</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group mt-4">
								<div class="radio">
									<label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
									<label><input type="radio" name="optradio"> Ship to different address</label>
								</div>
							</div>
						</div>
					</div>
				</form><!-- END -->




			</div> <!-- .col-md-8 -->




			<div class="col-xl-4 sidebar ftco-animate fadeInUp ftco-animated">
				<div>
					<div class="pricing-entry d-flex ftco-animate fadeInUp ftco-animated">
						<div class="avatar avatar-xs img" style="background-image: url(images/dish-1.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Cornish - Mackerel</span></h3>
								<span class="price">$20.00</span>
							</div>
							<div class="align-items-center d-flex text-lg">

								<p>Discount</p><p class="ms-auto">0</p>
							</div>
						</div>
					</div>

				</div><hr class="bg-gradient-faded-warning-vertical horizontal">
				<div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
					<h3 class="billing-heading mb-4">Cart Total</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span>$20.60</span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span>$3.00</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span>$17.60</span>
					</p>
				</div>
				<hr class="bg-gradient-faded-warning-vertical horizontal">
				<div class="cart-detail ftco-bg-dark p-3 p-md-4">
					<h3 class="billing-heading mb-4">Payment Method</h3>
					<div class="form-group">
						<div class="col-md-12">
							<div class="radio">
								<label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="radio">
								<label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="radio">
								<label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="country" class="text-white">Chi tiết</label>
						<div class="border border-radius-md border-warning d-flex p-1 select-wrap text-xxs">

							<select name="" id="" class="form-control h-25 text-sm">
								<option value="">France</option>
								<option value="">Italy</option>
								<option value="">Philippines</option>
								<option value="">South Korea</option>
								<option value="">Hongkong</option>
								<option value="">Japan</option>
							</select><div class="icon mt-2 text-sm"><span class="ion-ios-arrow-down"></span></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 px-0">
							<div class="checkbox">
								<label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
							</div>
						</div>
					</div>
					<p><a href="#" class="btn btn-primary py-3 px-4">Place an order</a></p>
				</div>
			</div>

		</div>
	</div>
</section>
<script>
	$(document).ready(function () {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script>