@page
@model CoffeePage.Pages.IndexModel
@{
	Layout = "_Layout";
}
<section class="home-slider owl-carousel" id="pin_bannerContent">

</section>

<section class="ftco-intro">
	<div class="container-wrap">
		<div class="wrap d-md-flex align-items-xl-end">
			<div class="info">
				<div class="row no-gutters">
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-phone"></span></div>
						<div class="text">
							<h3>000 (123) 456 7890</h3>
							<p>A small river named Duden flows by their place and supplies.</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-my_location"></span></div>
						<div class="text">
							<h3>198 West 21th Street</h3>
							<p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-clock-o"></span></div>
						<div class="text">
							<h3>Open Monday-Friday</h3>
							<p>8:00am - 9:00pm</p>
						</div>
					</div>
				</div>
			</div>
			<div class="book p-4">
				<h3>Book a Table</h3>
				<form action="#" class="appointment-form">
					<div class="d-md-flex">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
						<div class="form-group ml-md-4">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="d-md-flex">
						<div class="form-group">
							<div class="input-wrap">
								<div class="icon"><span class="ion-md-calendar"></span></div>
								<input type="text" class="form-control appointment_date" placeholder="Date">
							</div>
						</div>
						<div class="form-group ml-md-4">
							<div class="input-wrap">
								<div class="icon"><span class="ion-ios-clock"></span></div>
								<input type="text" class="form-control appointment_time" placeholder="Time">
							</div>
						</div>
						<div class="form-group ml-md-4">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
					</div>
					<div class="d-md-flex">
						<div class="form-group">
							<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
						</div>
						<div class="form-group ml-md-4">
							<input type="submit" value="Appointment" class="btn btn-white py-3 px-4">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="ftco-about d-md-flex">
	<div class="one-half img" style="background-image: url(images/about.jpg);"></div>
	<div class="one-half ftco-animate">
		<div class="overlap">
			<div class="heading-section ftco-animate ">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Our Story</h2>
			</div>
			<div>
				<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-services">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-choices"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Easy to Order</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-delivery-truck"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Fastest Delivery</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-coffee-bean"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Quality Coffee</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 pr-md-5">
				<div class="heading-section text-md-right ftco-animate">
					<span class="subheading">Discover</span>
					<h2 class="mb-4">Our Menu</h2>
					<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p><a href="/Menu" class="btn btn-primary btn-outline-primary px-4 py-3">View Full Menu</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row" id="pin_prosec1">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(images/bg_2.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-coffee-cup"></span></div>
								<strong class="number" data-number="100">0</strong>
								<span>Coffee Branches</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-coffee-cup"></span></div>
								<strong class="number" data-number="85">0</strong>
								<span>Number of Awards</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-coffee-cup"></span></div>
								<strong class="number" data-number="10567">0</strong>
								<span>Happy Customer</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-coffee-cup"></span></div>
								<strong class="number" data-number="900">0</strong>
								<span>Staff</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Best Coffee Sellers</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
		<div class="row" id="pin_prosec2">
		</div>
	</div>
</section>

<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="ftco-menu">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Our Products</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
		<div class="row d-md-flex">
			<div class="col-lg-12 ftco-animate p-md-5">
				<div class="row">
					<div class="col-md-12 nav-link-wrap mb-5">
						<div class="nav ftco-animate nav-pills justify-content-center" style="background: none" id="pin_cateProTab" role="tablist" aria-orientation="vertical">
							
						</div>
					</div>
					<div class="col-md-12 d-flex align-items-center">

						<div class="tab-content ftco-animate w-100" id="pin_cateProTabContent">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section img" id="ftco-testimony" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Testimony</span>
				<h2 class="mb-4">Customers Says</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
	</div>
	<div class="container-wrap">
		<div class="row d-flex no-gutters">
			<div class="col-lg align-self-sm-end ftco-animate">
				<div class="testimony">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="images/person_1.jpg" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end">
				<div class="testimony overlay">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="images/person_2.jpg" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end ftco-animate">
				<div class="testimony">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small  line of blind text by the name. &rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="images/person_3.jpg" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end">
				<div class="testimony overlay">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="images/person_2.jpg" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end ftco-animate">
				<div class="testimony">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small  line of blind text by the name. &rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="images/person_3.jpg" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Recent from blog</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
					<a href="/BlogDetail" class="block-20" style="background-image: url('images/image_1.jpg');">
					</a>
					<div class="text py-4 d-block">
						<div class="meta">
							<div><a href="#">Sept 10, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading mt-2"><a href="#">The Delicious Pizza</a></h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
					<a href="/BlogDetail" class="block-20" style="background-image: url('images/image_2.jpg');">
					</a>
					<div class="text py-4 d-block">
						<div class="meta">
							<div><a href="#">Sept 10, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading mt-2"><a href="#">The Delicious Pizza</a></h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
					<a href="/BlogDetail" class="block-20" style="background-image: url('images/image_3.jpg');">
					</a>
					<div class="text py-4 d-block">
						<div class="meta">
							<div><a href="#">Sept 10, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading mt-2"><a href="#">The Delicious Pizza</a></h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-appointment">
	<div class="overlay"></div>
	<div class="container-wrap">
		<div class="row no-gutters d-md-flex align-items-center">
			<div class="col-md-6 d-flex align-self-stretch">
				<div id="map"></div>
			</div>
			<div class="col-md-6 appointment ftco-animate">
				<h3 class="mb-3">Book a Table</h3>
				<form action="#" class="appointment-form">
					<div class="d-md-flex">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
						<div class="form-group ml-md-4">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="d-md-flex">
						<div class="form-group">
							<div class="input-wrap">
								<div class="icon"><span class="ion-md-calendar"></span></div>
								<input type="text" class="form-control appointment_date" placeholder="Date">
							</div>
						</div>
						<div class="form-group ml-md-4">
							<div class="input-wrap">
								<div class="icon"><span class="ion-ios-clock"></span></div>
								<input type="text" class="form-control appointment_time" placeholder="Time">
							</div>
						</div>
						<div class="form-group ml-md-4">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
					</div>
					<div class="d-md-flex">
						<div class="form-group">
							<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
						</div>
						<div class="form-group ml-md-4">
							<input type="submit" value="Appointment" class="btn btn-primary py-3 px-4">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	//#region //INIT
    $(document).ready(function () {
		pin_init();

    });

	function pin_init() {
		
		pin_loadBanner();
		pin_loadDataProType();
		pin_loadDataSale();
	}

	//#endregion
	//#region //LOAD BANNER
	async function pin_loadBanner() {
		new Promise(resolve => {
			let para = {
				'BannerID': 0,
				'PagingNumber': 1,
				'Limit': 3
			};
			
			apiban_getList(
				para,
				beforefunc = function () {
					
				}
				, successfunc = function (_rr) {
					if (_rr != "0" && _rr != "") {
						let datas = JSON.parse(_rr);
						let dataMain = datas.Table1;
						pin_renderBanner(dataMain, "pin_bannerContent");
					}
				}
				, failurefunc = function () {
					
					notiError_SW();
				}
				, completefunc = function (e) {
					
				}
			);
			resolve();
		})
	}

	async function pin_renderBanner(data, id) {
		new Promise(resolve => {
			var myNode = document.getElementById(id);
			if (myNode != null) {
				myNode.innerHTML = '';
				let stringContent = '';
				if (data && data.length > 0) {
					for (let i = 0; i < data.length; i++) {
						let item = data[i];
						let tr = `<div class="slider-item" style="background-image: url(${item.Image});">
									<div class="overlay"></div>
									<div class="container">
										<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

												<div class="col-md-8 col-sm-12 text-center ftco-animate visible opacity-100">
												<span class="subheading">Welcome</span>
												<h1 class="mb-4">${item.Header}</h1>
												<p class="mb-4 mb-md-5">${item.Sub}</p>
												<p><a class="btn btn-primary p-3 px-xl-4 py-xl-3 pin_btnBannerOrder" data-productID="${item.ProductID}">Order Now</a> <a href="/Menu?ProductID=${item.ProductID}" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3 pin_btnViewMenu" data-productID ="${item.ProductID}">View Menu</a></p>
											</div>

										</div>
									</div>
								</div>`
						stringContent = stringContent + tr;
					}
				}
				document.getElementById(id).innerHTML = stringContent;
			}
			
			master_carousel(id);
			master_contentWayPoint();
			pin_bannerEvent();
			resolve();
		})
	}

	function pin_bannerEvent() {
		$('#pin_bannerContent .pin_btnBannerOrder').on('click', function (e) {
			let productID = Number($(this).attr("data-productID"));
			notiError_SW()
		});
		$('#pin_bannerContent .pin_btnViewMenu').on('click', function (e) {
			let productID = Number($(this).attr("data-productID"));
			window.location.href = `/Menu?ProductID=${productID}`;
		});
	}
	//#endregion

	//#region //LOAD PRODUCT

	async function pin_loadDataSale() {
		new Promise(resolve => {
			let para = {
                    'TypeID': 0,
                    'ProductID': 0,
                    'HasDisable': 0,
                    'PagingNumber': 1,
					'IsBestSeller': 1,
					'IsMaterial': 0,
                    'TextSearch': "",
                    'Limit': 4
                };
			
			apipro_getList(
				para,
				beforefunc = function () {
					
				}
				, successfunc = function (_rr) {
					if (_rr != "0" && _rr != "") {
						let datas = JSON.parse(_rr);
						let dataMain = datas.Table1;
						pin_renderProSec1(dataMain, "pin_prosec1");
						pin_renderProSec2(dataMain, "pin_prosec2");
					}
				}
				, failurefunc = function () {
					
					notiError_SW();
				}
				, completefunc = function (e) {
					
				}
			);
			resolve();
		})
	}

	async function pin_renderProSec1(data, id) {
		new Promise(resolve => {
			var myNode = document.getElementById(id);
			if (myNode != null) {
				myNode.innerHTML = '';
				let stringContent = '';
				if (data && data.length > 0) {
					for (let i = 0; i < data.length; i++) {
						let item = data[i];
						let tr = `<div class="col-md-6">
									<div class="menu-entry">
										<a href="/ProductDetail?id="${item.ID}" class="img" style="background-image: url(${item.Image || '/default.png'});"></a>
									</div>
								</div>`
						stringContent = stringContent + tr;
					}
				}
				document.getElementById(id).innerHTML = stringContent;
			}
			
			pin_productEvent();
			resolve();
		})
	}	
	
	async function pin_renderProSec2(data, id) {
		new Promise(resolve => {
			var myNode = document.getElementById(id);
			if (myNode != null) {
				myNode.innerHTML = '';
				let stringContent = '';
				if (data && data.length > 0) {
					for (let i = 0; i < data.length; i++) {
						let item = data[i];
						let tr = `<div class="col-md-3">
									<div class="menu-entry">
											<a href="/ProductDetail/${item.ID}" class="img" style="background-image: url(${item.Image || '/default.png'});"></a>
										<div class="text text-center pt-4">
												<h3><a href="/ProductDetail/${item.ID}">${item.Name}</a></h3>
												<p>${item.Description}</p>
											<p class="price"><span>${formatNumber(item.PriceToSale)}</span></p>
												<p><a class="btn btn-primary btn-outline-primary pin_btnAddCart" data-id="${item.ID}" data-price="${item.PriceToSale}">Add to Cart</a></p>
										</div>
									</div>
								</div>`
						stringContent = stringContent + tr;
					}
				}
				document.getElementById(id).innerHTML = stringContent;
			}
			
			pin_productEvent();
			resolve();
		})
	}

	async function pin_renderProMain(data, id) {
		new Promise(resolve => {
			var myNode = document.getElementById(id);
			if (myNode != null) {
				myNode.innerHTML = '';
				let stringContent = '';
				if (data && data.length > 0) {
					for (let i = 0; i < data.length; i++) {
						let item = data[i];
						let tr = `<div class="col-md-3">
										<div class="menu-entry">
													<a href="/ProductDetail/${item.ID}" class="img" style="background-image: url(${item.Image || '/default.png'});"></a>
											<div class="text text-center pt-4">
													<h3><a href="/ProductDetail/${item.ID}">${item.Name}</a></h3>
													<p>${item.Description}</p>
												<p class="price"><span>${formatNumber(item.PriceToSale)}</span></p>
													<p><a class="btn btn-primary btn-outline-primary pin_btnAddCart" data-id="${item.ID}" data-price="${item.PriceToSale}">Add to Cart</a></p>
											</div>
										</div>
									</div>`
						stringContent = stringContent + tr;
					}
				}
				document.getElementById(id).innerHTML = stringContent;
			}

			pin_productEvent();
			resolve();
		})
	}

	function pin_productEvent() {
		$('.pin_btnAddCart').on('click', function (e) {
			
			let productID = Number($(this).attr("data-id"));
			let PriceToSale = Number($(this).attr("data-price"));
			let item = {
				ID: productID,
				Quantity: 1,
				Price: PriceToSale
			}
			cart_addToCart(item);
		});
		
	}

	async function pin_loadDataProType() {
		new Promise(resolve => {
			const limit = 3;
			apipro_getType(
				id = 0,
				beforefunc = function () {

				}
				, successfunc = function (_rr) {
					if (_rr != "0" && _rr != "") {
						let data = JSON.parse(_rr);
						let promises = [];
						let strType = '';
						$('#pin_cateProTab').empty();
						data = data.sort((a, b) => { return Number(b.TotalSell) - Number(a.TotalSell) });
						for (let i = 0; i < limit && i < data.length; i++) {
							let item = data[i];
							pin_renderProMain()
							strType += `<a class="nav-link pin_tabMenu" style="border-radius: 0px" id="pin_type${item.ID}_tab" data-toggle="pill" href="#pin_type${item.ID}" role="tab" aria-controls="pin_type${item.ID}" aria-selected="true">${item.Name}</a>
	`

							promises.push(pin_loadDataTypeEach(item.ID));
						}
						$('#pin_cateProTab').html(strType);

						Promise.all(promises).then(results => {
							let arrPro = [];
							let strPro = "";
							$('#pin_cateProTabContent').empty();
							for(let j = 0; j<results.length; j++) {
								let dataPros = results[j];
								let strItemPro = ''
								let type = 0;
								for(let jj = 0; jj < dataPros.length; jj++) {
									item = dataPros[jj];
									type = item.TypeID;
									strItemPro += `
										<div class="col-md-4 text-center">
													<div class="menu-wrap">
																<a href="/ProductDetail/${item.ID}" class="menu-img img mb-4" style="background-image: url(${item.Image || '/default.png'});"></a>
														<div class="text">
																<h3><a href="/ProductDetail/${item.ID}">${item.Name}</a></h3>
																<p>${item.Description}</p>
																<p class="price"><span>${formatNumber(item.PriceToSale)}</span></p>
																	<p><a class="btn btn-primary btn-outline-primary pin_btnAddCart"   data-id="${item.ID}" data-price="${item.PriceToSale}">Add to cart</a></p>
														</div>
													</div>
												</div>


									`
								}
								strPro += `<div class="tab-pane fade" id="pin_type${type}" role="tabpanel" aria-labelledby="pin_type${type}-tab">
											<div class="row">
													${strItemPro}
											</div>
											</div>`
	
							}
							$('#pin_cateProTabContent').html(strPro);
							$('.pin_tabMenu:first').click();
							pin_productEvent();
						})
					}
				}
				, failurefunc = function () {

					notiError_SW();
				}
				, completefunc = function (e) {

				}
			);
			resolve();
		})
	}	
	
	async function pin_loadDataTypeEach(typeID) {
		return new Promise(resolve => {
			let para = {
				'TypeID': typeID,
				'ProductID': 0,
				'HasDisable': 0,
				'PagingNumber': 1,
				'IsBestSeller': 0,
				'IsMaterial': 0,
				'TextSearch': "",
				'Limit': 3
			};

			apipro_getList(
				para,
				beforefunc = function () {

				}
				, successfunc = function (_rr) {
					if (_rr != "0" && _rr != "") {
						let datas = JSON.parse(_rr);
						let dataMain = datas.Table1;
						resolve(dataMain)
					}
				}
				, failurefunc = function () {
					resolve([])
					notiError_SW();
				}
				, completefunc = function (e) {

				}
			);
		})
	}
	//#endregion
</script>
<style>
	.pin_tabMenu {
		border-radius: 0px;
		background: none;
		color: #c49b63!important;
		border-bottom: 1px solid;
	}

	.pin_tabMenu:hover, .pin_tabMenu.active {
		background: #c49b63;
		color: white !important;
	}
</style>