@page
@model MLunarCoffee.Pages.Monitor.GeneralModel
@{
    
}
 
<div class="row">
    <div class="col-12 p-0">
        <div class="card card-plain ">
            <div class="card-body p-0" id="MainAppointmentDetail">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('nav').addClass('d-none');
        $('#sidenav-main').addClass('w-0');
        $('main').attr("style", "margin:0 !important")
        $('#MainAppointmentDetail').empty();
        $('#MainAppointmentDetail').load("/Monitor/RoomStatus");
    })
</script>

