@page
@model MLunarCoffee.Pages.ToDo.ToDoRemind.ToDoChangeStatusModel
@{
    Layout=null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <!--Master-->
            <div class="card shadow-lg ">

                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="divTodoStatusContent">
                        <div class="field col-12 p-1">

                            <ul class="w-100 nav nav-pills flex-column bg-white border-radius-lg pt-3 px-2" id="cbbdivTodoStatusContent">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var ser_Todo_Current_TodoID = Number(@Model._TodoID);
    var ser_Todo_Current_CustomerID = Number(@Model._CustomerID);
    var ser_Todo_Current_TicketID = Number(@Model._TicketID);

    $(document).ready(function () {
        Todo_Status_LoadInitialize();
    })

    function Todo_Status_LoadInitialize() {
        AjaxLoad(url = "/ToDo/ToDoRemind/ToDoChangeStatus/?handler=LoadInitializeData"
            , data = {}
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    let data_Status = data.Status;
                    Todo_Status_Render_Popup_Change_Todo_Template(data_Status, 'cbbdivTodoStatusContent', 0)
                }
            }
            , sender = null
        );
    }

    function Todo_Status_Render_Popup_Change_Todo_Template(data, id, IsAssign) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =`
                        <li class="nav-item" role="presentation">
                            <a  data-id="${item.ID}" data-close="0" class="todo_item_action p-1 py-2 nav-link cursor-pointer">
                                <div class="circle" style="background-color:${item.ColorCodeString};"></div>
                                <span class="text-sm fw-bold text-dark ">${item.Name}</span>
                            </a>
                        </li>
                        `
                        ;
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        $("#divTodoStatusContent .todo_item_action").on('click', function (event) {
            let id_template = $(this).attr("data-id");
            let isclose = $(this).attr("data-close");
            Todo_Status_Excute_Change_Todo_Template(id_template, isclose);
        });
    }

    function Todo_Status_Edit_Detail(e) {
        if (ser_Todo_Current_TodoID != 0) {
            Master_Todo_Open_Popup_Detail(e, ser_Todo_Current_TodoID, ser_Todo_Current_CustomerID, ser_Todo_Current_TicketID);
        }
    }

    function Todo_Status_Excute_Change_Todo_Template(id, isclose) {
        AjaxLoad(url = "/ToDo/ToDoRemind/ToDoChangeStatus/?handler=ExcuteChangeStatus"
            , data = { 'CurrentID': ser_Todo_Current_TodoID, 'StatusID': id, 'IsClose': isclose }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result == "1") {
                    Todo_Status_ClosePopup();
                    if (typeof Dashboard_Todo_List_Load !== 'undefined' && $.isFunction(Dashboard_Todo_List_Load)) {
                        Dashboard_Todo_List_Load(ser_Todo_Current_TodoID);
                    }
                    if (typeof TicketAction_TodoLoad !== 'undefined'  ) {
                        TicketAction_TodoLoad();
                    }
                    if (typeof Customer_Todo_Load !== 'undefined' && $.isFunction(Customer_Todo_Load)) {
                        Customer_Todo_Load();
                    }
                    if (typeof TodoList_LoadData !== 'undefined' && $.isFunction(TodoList_LoadData)) {
                        TodoList_LoadData(ser_Todo_Current_TodoID);
                    }
                } else {
                    notiError_SW();
                }
            }
            , sender = null
        );
        return false;
    }

    function Todo_Status_ClosePopup() {
        $("#DetailModalTodoChangeStatus").fadeOut(300);
    }


    //#region // Delete Item Todo

    //function Todo_Status_DeleteItem() {
    //    const promise = notiConfirm();
    //    promise.then(function () { Todo_Status_ExecuteDeleteItem(ser_Todo_Current_TodoID); }, function () { });
    //}

    //function Todo_Status_ExecuteDeleteItem(id) {
    //    AjaxLoad(url = "/ToDo/ToDoRemind/ToDoChangeStatus/?handler=DeleteItem"
    //        , data = { 'CurrentID': id }
    //        , async = true
    //        , error = function () { notiError_SW(); }
    //        , success = function (result) {
    //            if (result == "1") {
    //                notiSuccess();
    //                Todo_Status_ClosePopup();
    //                if (typeof Dashboard_Todo_List_RemoveItem !== 'undefined' && $.isFunction(Dashboard_Todo_List_RemoveItem)) {
    //                    Dashboard_Todo_List_RemoveItem(id);
    //                }
    //                if (typeof TodoList_DeleteRow_Todo !== 'undefined' && $.isFunction(TodoList_DeleteRow_Todo)) {
    //                    TodoList_DeleteRow_Todo(id);
    //                }
    //                if (typeof TicketAction_TodoLoad !== 'undefined'  ) {
    //                    TicketAction_TodoLoad();
    //                }
    //                if (typeof Customer_Todo_Load !== 'undefined' && $.isFunction(Customer_Todo_Load)) {
    //                    Customer_Todo_Load();
    //                }
    //            } else {
    //                notiError_SW();
    //            }
    //        }
    //        , sender = null
    //    );
    //}

    //#endregion

</script>
<style>
    #cbbdivTodoStatusContent .circle {
        width: 10px;
        height: 10px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 10px;
        border: 1px solid #d4d4d5;
    }
</style>