@page
@model MLunarCoffee.Pages.WareHouse.Setting.WareHouseGeneral
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-3 px-1">
        <div class="card card-plain position-sticky z-index-1 top-0">
            <div class="input-group mt-2 p-3 pb-1">
                <span class="input-group-text input-group-text">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
                <input id="Setting_Input" type="text" class="form-control" placeholder="eg .@Local["Lọc dữ liệu"]" autocomplete="off">
            </div>
            <ul class="nav flex-column p-3 pt-0 bg-transparent" id="Setting_WareHouse_List">
            </ul>
        </div>
    </div>
    <div class="col-lg-9 mt-lg-0 mt-0 px-1">
        <div id="divMainPageWareHouse">
        </div>
    </div>
</div>



<script type="text/javascript">
    let ser_dtCurrentList;
    let ser_firstlink;

    $(document).ready(function () {
        ReportGeneral_Initial();
        ReportGeneral_InputSearch();        
    });

    function ReportGeneral_Initial() {
        AjaxLoad(url = "/WareHouse/Setting/WareHouseGeneral/?handler=Initialize"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    ser_dtCurrentList = JSON.parse(result);
                    ReportGeneral_RenderSetting(ser_dtCurrentList, "Setting_WareHouse_List");
                    ReportGeneral_TriggerFirstLink();
                }
            }
        );
    }

    function ReportGeneral_InputSearch() {
        $("#Setting_Input").on("keyup", () => {
            ReportGeneral_FilterSetting('Setting_WareHouse_List')
        })
    }

    function ReportGeneral_Setting_HandleEvent() {
        $("#Setting_WareHouse_List").on('shown.bs.tab', '.listitem_child', function (event) {
            let link = $(this).attr("data-link");
            $("#divMainPageWareHouse").load(link + "?ver=" + versionofWebApplication);
            $(this).addClass("active").siblings().removeClass("active");
        });
    }

    function ReportGeneral_TriggerFirstLink() {
        //if ($('.listitem_child[data-link="' + ser_firstlink + '"]').get(0) != undefined)
        //    $('.listitem_child[data-link="' + ser_firstlink + '"]').get(0).click();
        $('.wg_detail a:first').tab('show');
    }

    function ReportGeneral_RenderSetting(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let dr = "";
            let idGroup = 0;
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (i == 0) ser_firstlink = item.ListLink;
                    if (Number(item.GroupID) != Number(idGroup)) {
                        stringContent = stringContent
                            + '<li class="nav-item pt-2">'
                            + '<div class="show">'
                            + '     <ul class="wg_detail nav nav-pills nav-menus nav-menus-horizontal flex-column bg-white">'
                    }
                    idGroup = item.GroupID;
                    dr = '<li class="nav-item" id="' + item.ControlName + '" role="presentation">'
                        + '    <a  data-hover data-bs-toggle="tab" class="text-sm text-dark setting_render item-menu listitem_child nav-link cursor-pointer" data-link="' + item.ListLink + '"> ' + Outlang[item.ListTextLangKey] + ' </a>'
                        +'<hr class="horizontal dark my-0">'
                        + '</li>'

                    stringContent = stringContent + dr;
                    if (i === data.length - 1 || idGroup !== data[i + 1].GroupID) {
                        stringContent = stringContent
                            + '</ul>'
                            + '</div>'
                            + '</li>';
                    }
                }
            }
            stringContent = stringContent + '<div class="item" style="height: 5px;"></div >';
            document.getElementById(id).innerHTML = stringContent;
        }
        ReportGeneral_Setting_HandleEvent();
    }

    function ReportGeneral_FilterSetting(id) {        
        let textsearch = $('#Setting_Input').val().trim();
        event.preventDefault();
        if (textsearch == "") {
            ReportGeneral_RenderSetting(ser_dtCurrentList, id);
        }
        else {

            let search = xoa_dau(textsearch.toLowerCase());
            if (search == "") {
                ReportGeneral_RenderSetting(ser_dtCurrentList, id);
            }
            else {
                let data = ser_dtCurrentList.filter(word => {
                    return (xoa_dau(Outlang[word["ListTextLangKey"]].toLowerCase()).includes(search));
                });
                ReportGeneral_RenderSetting(data, id);
                ColorSearchFilterText(search, "setting_render");
            }

        }
        $(".wg_detail").NavMobile('show');
    }
</script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />