@page
@model SourceMain.Pages.Report.RevenuePayment.Service.CustomerNewGridModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="revenue_new_by_service_header" class="text-md text-dark font-weight-bold mb-1">
                    Doanh thu khách mới theo dịch vụ
                </p>
                <p class="text-sm mb-0">Some text of detail sub</p>

            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#CustomerNewGrid" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_RevenueByCustomerNewGrid()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_RevenueByCustomerNewGrid()"></i>

              
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="total" class="text-sm text-primary text-gradient mb-0">Khách Cũ </h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmountNew">0</span></h6>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="total_using" class="text-sm text-primary text-gradient mb-0">Khách Mới</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount">0</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="CustomerNewGrid">

        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_RevenueByCustomerNewGrid">
                    <thead>
                        <tr></tr>
                        <tr role="row">
                            <th style="width: 20px; display: none !important;"></th>
                            <th class="no-sort" colspan="4"></th>
                            <th data-languagestatic="new_customer" class="no-sort" colspan="5">Khách Mới</th>
                            <th data-languagestatic="cust_old_cust" class="no-sort" colspan="5">Khách Cũ</th>
                        </tr>
                        <tr role="row">
                            <th style="width: 20px; display: none !important;"></th>
                            <th style="width: 20px; display: none !important;"></th>
                            <th class="_allcustomer" data-languagestatic="no" style="width: 60px">#</th>
                            <th class="_allcustomer" data-languagestatic="service">Tên Dịch Vụ</th>
                            <th class="_allcustomer" data-languagestatic="rp_paid">Đã Thanh Toán</th>
                            <th class="_allcustomer" data-languagestatic="customer_number">Số Khách</th>
                            <th class="_newcustomer" data-languagestatic="rp_paid">Đã Thanh Toán</th>
                            <th class="_newcustomer" data-languagestatic="customer_number">Số Khách</th>
                            <th class="_newcustomer" data-languagestatic="reveneu_ave_customer">Đã Thanh Toán/Khách</th>
                            <th class="_newcustomer" data-languagestatic="rp_rasing">Phát Sinh</th>
                            <th class="_newcustomer" data-languagestatic="payment_total">Tổng Thanh Toán</th>
                            <th class="_oldcustomer" data-languagestatic="rp_paid">Đã Thanh Toán</th>
                            <th class="_oldcustomer" data-languagestatic="customer_number">Số Khách</th>
                            <th class="_oldcustomer" data-languagestatic="reveneu_ave_customer">Đã Thanh Toán/Khách</th>
                            <th class="_oldcustomer" data-languagestatic="rp_rasing">Phát Sinh</th>
                            <th class="_oldcustomer" data-languagestatic="payment_total">Tổng Thanh Toán</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_RevenueByCustomerNewGrid">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div id="detailShow" class="card mt-2" style="display: none">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p id="lbDetailNew" class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#CustomerNewGridDetail" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>
                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_RevenueByCustomerNewGrid_Detail()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_Detail()"></i>

            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="CustomerNewGridDetail">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtDetail">
                    <thead>
                        <tr>
                            <th data-languagestatic="no" style="width: 60px">#</th>
                            <th data-languagestatic="cust_code" style="width: 150px">MSKH</th>
                            <th data-languagestatic="cust">Khách Hàng</th>
                            <th data-languagestatic="type">Loại</th>
                            <th data-languagestatic="rp_paid">Đã Thanh Toán</th>

                            <th data-languagestatic="rp_rasing">Tổng Phát Sinh</th>
                            <th data-languagestatic="rp_paid">Tổng Thanh Toán</th>
                            <th data-languagestatic="rp_left">Công Nợ</th>
                            <th data-languagestatic="new_customer">Khách Mới</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtBodyDetail">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    var dataDetail;
    var nameType;
    var __CurrentDetail;
    var __CurrentType;
    $(document).ready(function () {
   
        LoadDataReport_RevenueByCustomerNewGrid();
        $('#dtContentReport_RevenueByCustomerNewGrid tbody').on('click', 'tr', function () {
            $("#detailShow").show();
            $(this).parent().children().removeClass('active')
            $(this).closest('tr').addClass('active');
            __CurrentDetail = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            __CurrentType = Number($(this).closest('tr')[0].childNodes[1].innerHTML);
 
            nameType = $(this).closest('tr')[0].childNodes[3].innerHTML;
            $('#lbDetailNew').html(nameType);
            LoadDataReport_RevenueByCustomerNewGrid_Detail();
            $('html, body').animate({
                scrollTop: $("#detailShow").offset().top
            }, 300);
        });

        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });
    function LoadDataReport_RevenueByCustomerNewGrid_Detail() {
        let dataCust = dataDetail.filter(dataDetail => dataDetail.ServiceID == __CurrentDetail && dataDetail.Type == __CurrentType);
        RenderDetail(dataCust, 'dtBodyDetail');
    }
    function LoadDataReport_RevenueByCustomerNewGrid() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _BranchID = "@Model._BranchID";
        AjaxLoad(url = "/Report/RevenuePayment/Service/CustomerNewGrid/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'BranchID': _BranchID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table1"];
                    dataDetail = JSON.parse(result)["Table"];
                    let dataMaster = JSON.parse(result)["Table2"];
                    Count_Up('lbTotalAmountNewlbTotalAmountNew', dataMaster[0].TotalAmount_New)
                    Count_Up('lbTotalAmount', dataMaster[0].TotalAmount_Old)
 
                    $("#detailShow").hide();
                    RenderReport_RevenueByCustomerNewGrid(data, "dtContentReportBody_RevenueByCustomerNewGrid");
                }
            }
        );
        return false;
    }
    function RenderReport__RevenueByNewOld_Average(a, b) {
        if (Number(b) == 0) return 0;
        else return formatNumber(Math.ceil(a / b));
    }

    function RenderReport_RevenueByCustomerNewGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none !important">' + item.ServiceID + '</td>'
                        + '<td style="display:none !important">' + item.Type + '</td>'
                        + '<td class="vt-number-order _allcustomer"></td>'
                        + '<td class="_allcustomer" style="cursor: pointer;">'
 
                        + Return_Name_SER_PRO_MED_CARD_DEP(item.Type, item.ServiceName, item.CardName, item.MedicineName)
                        + '</td>'
                        + '<td class="_allcustomer">' + formatNumber(item.Paid_Old + item.Paid_New) + '</td>'
                        + '<td class="_allcustomer" >' + formatNumber(item.NumCustomer_New + item.NumCustomer_Old) + '</td>'

                        + '<td class="_newcustomer">' + formatNumber(item.Paid_New) + '</td>'
                        + '<td class="_newcustomer">' + formatNumber(item.NumCustomer_New) + '</td>'
                        + '<td class="_newcustomer">' + RenderReport__RevenueByNewOld_Average(item.Paid_New, item.NumCustomer_New) + '</td>'
                        + '<td class="_newcustomer">' + formatNumber(item.Price_New) + '</td>'
                        + '<td class="_newcustomer">' + formatNumber(item.TotalPaid_New) + '</td>'

                        + '<td class="_oldcustomer">' + formatNumber(item.Paid_Old) + '</td>'
                        + '<td class="_oldcustomer">' + formatNumber(item.NumCustomer_Old) + '</td>'
                        + '<td class="_oldcustomer">' + RenderReport__RevenueByNewOld_Average(item.Paid_Old, item.NumCustomer_Old) + '</td>'
                        + '<td class="_oldcustomer">' + formatNumber(item.Price_Old) + '</td>'
                        + '<td class="_oldcustomer">' + formatNumber(item.TotalPaid_Old) + '</td>'


                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function RenderDetail(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = '<td class="vt-number-order"></td>'
                        + '<td> <a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustomerID + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a></td>'
                        + '<td>' + item.CustName + '</td>'
                        + '<td>' + Return_Type_SER_PRO_MED_CARD_DEP(item.Type) + '</td>'
                        + '<td>' + formatNumber(item.Paid) + '</td>'
                        + '<td>' + formatNumber(item.Price) + '</td>'
                        + '<td>' + formatNumber(item.TotalPaid) + '</td>'
                        + '<td>' + formatNumber(item.Price - item.TotalPaid) + '</td>'
                        + ((item.ISNEW == 1) ? '<td class="center aligned"><span style="display:none;">X</span><i class="buttonActionClass vtt-icon vttech-icon-check"></i></td>' : '<td></td>')

                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_RevenueByCustomerNewGrid() {
        var elm = $("#dtContentReport_RevenueByCustomerNewGrid");
        var tr = elm.find('thead').find('tr')[0];
        elm.find('thead').find('tr')[0].remove();
        exportToExcel("dtContentReport_RevenueByCustomerNewGrid", 'Doanh-Thu-Khach-Moi-Theo-Dich-Vu');
        elm.find('thead').prepend(tr);
    }
    function exportData_Detail() {
        exportToExcel("dtDetail", 'Chi-Tiet-Doanh-Thu-Khach-Moi-Theo-Dich-Vu-' + xoa_dau(nameType));
    }
</script>
<style>
    ._allcustomer {
        background: #2185d014 !important;
    }

    ._newcustomer {
        background: #21ba451a !important;
    }

    ._oldcustomer {
        background: #fbbd0814 !important;
    }
</style>
