@page
@model SourceMain.Pages.Report.RevenuePayment.Service.ServiceGrid_v2Model
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="cus_revenue_mounth"
                   class="text-md text-dark font-weight-bold mb-1">Doanh thu khách hàng trong tháng</p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#ServiceGrid_v2Grid" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_RevenueServiceGrid()"></i>
                <i class="vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_RevenueServiceGrid()"></i>
                
            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="ServiceGrid_v2Grid">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_RevenueServiceGrid">
                    <thead class="hiddenCollapse" id="headertable" data-languagedyn="grid">
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_RevenueServiceGrid">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var Sum = 0;
    $(document).ready(function () {
       
        LoadDataReport_RevenueServiceGrid();
        $('#dtContentReport_RevenueServiceGrid').tablesort();

        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });

    function LoadDataReport_RevenueServiceGrid() {
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/RevenuePayment/Service/ServiceGrid_v2/?handler=Loadata"
            , data = { 'branchID': _branch }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let dataRenderMaster = JSON.parse(result)["Table3"];
                    if (dataRenderMaster && dataRenderMaster.length > 0) {
                        Renderheadertable(dataRenderMaster[0], 'headertable');
                        RenderReport_RevenueServiceGrid(dataRenderMaster, "dtContentReportBody_RevenueServiceGrid");
                    }
                }
            }
        );

        return false;
    }
    function Renderheadertable(data, id) {
        let stringContent = "";
        let tr = "";
        for (j = 0; j < Object.keys(data).length; j++) {
            let key = Object.keys(data)[j];
            if (key == "Name") {
                tr += '<th style="min-width:200px;" class="fixed-side no-sort tableexport-string">' + key + '</th>'
            }
            else{
                tr += '<th style="min-width:100px;" class="no-sort tableexport-string">' + key + '</th>'
            }
        }
        stringContent = stringContent + '<tr role="row"><th class="fixed-side no-sort" style="max-width: 60px">#</th>' + tr + '</tr>';
        document.getElementById(id).innerHTML = stringContent;
        //$('#' + id + ' tr th:nth-child(2)').each(function () {
        //    $(this).addClass("fixed-side");
        //})
    }
    function RenderReport_RevenueServiceGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < 1; i++) {
                    let item = data[i];
                    let tr =
                        ' <td class="vt-number-order"></td>'
                    for (j = 0; j < Object.keys(data[0]).length; j++) {
                        let key = Object.keys(data[0])[j];
                        if (key == "Name") {
                            tr += '<td style="min-width:200px;" class="fixed-side Total">' + item[key] + '</td>'
                        }
                        else {
                            tr += '<td style="min-width:100px;" class="Total">' + formatNumber( item[key]) + '</td>'
                        }
                    }
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
                for (var i = 1; i < data.length - 5; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="vt-number-order"></td>'
                    for (j = 0; j < Object.keys(data[0]).length; j++) {
                        let key = Object.keys(data[0])[j];
                        if (key == "Name") {
                            tr += '<td style="min-width:200px;" class="fixed-side">' + item[key] + '</td>'
                        }
                        else {
                            tr += '<td style="min-width:100px;">' + formatNumber( item[key]) + '</td>'
                        }
                    }
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
                for (var i = data.length - 5; i < data.length - 1; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="vt-number-order"></td>'
                    for (j = 0; j < Object.keys(data[0]).length; j++) {
                        let key = Object.keys(data[0])[j];
                        if (key == "Name") {
                            tr += '<td class="fixed-side Method">' + item[key] + '</td>'
                        }
                        else {
                            tr += '<td class="Method">' + formatNumber( item[key]) + '</td>'
                        }
                    }
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
                for (var i = data.length - 1; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="vt-number-order"></td>'
                    for (j = 0; j < Object.keys(data[0]).length; j++) {
                        let key = Object.keys(data[0])[j];
                        if (key == "Name") {
                            tr += '<td class="fixed-side Total">' + item[key] + '</td>'
                        }
                        else {
                            tr += '<td class="Total">' + formatNumber( item[key]) + '</td>'
                        }
                    }
                    stringContent = stringContent + '<tr class="vt-number" role="row" >' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        //$('#' + id + ' tr td:nth-child(2)').each(function () {
        //    $(this).addClass("fixed-side");
        //})

        //$("#dtContentReport_RevenueServiceGrid").tableHeadFixer({ "head": false, "headleft": true, "left": 2, "class": "fixed-side"});
    }
    function exportData_RevenueServiceGrid() {
        exportToExcel("dtContentReport_RevenueServiceGrid", 'Doanh-Thu-Dich-Vu-Theo-Thang');
    }
</script>
<style>
     
</style>