@page
@model MLunarCoffee.Pages.Guide.FirstGuideSlideModel
@{ Layout=null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.js"></script>
</head>

<body>
    <div class="row">
        <div id="attach">
            <div class="w3-content w3-display-container">
                <img class="mySlides" src="https://media.giphy.com/media/26xBGd4ho9zZptWbC/giphy.gif" style="width:100%">
                <img class="mySlides" src="https://www.w3schools.com/w3css/img_lights.jpg" style="width:100%">
                <img class="mySlides" src="https://www.w3schools.com/w3css/img_mountains.jpg" style="width:100%">
                <img class="mySlides" src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">

                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>

        </div>
    </div>

    <div class="actions">
        <div style="margin-bottom: 0;" class="ui positive right labeled icon button" onclick="event.preventDefault();return SkipSlide(); ">
            Bỏ Qua<i class="checkmark icon"></i>
        </div>
    </div>

    <script>
        function SkipSlide() {
            CloseModalSlide();
            return false;
        }

        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
    <script src="/js/main.js"></script>
    <style>
        .mySlides {
            display: none;
        }

        .w3-black, .w3-hover-black:hover {
            color: #fff !important;
            background-color: #000 !important;
        }

        .w3-display-left {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%,-50%);
            -ms-transform: translate(-0%,-50%);
            font-weight: bold;
            font-size: 18px;
        }

        .w3-black, .w3-hover-black:hover {
            color: #fff !important;
            background-color: #000 !important;
        }

        .w3-display-right {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%,-50%);
            -ms-transform: translate(0%,-50%);
            font-weight: bold;
            font-size: 18px;
        }

        .w3-btn, .w3-button {
            border: none;
            display: inline-block;
            padding: 15px 20px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

            .w3-button:hover {
                color: #000 !important;
                background-color: #ccc !important;
            }
    </style>

</body>

</html>
