@page
@model MLunarCoffee.Pages.Customer.GeneralInfo.CustomerComplaintModel
@{
    Layout = null;
}
<div class="card h-100">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center ">
                <h6  class="mb-0">@Local["Phàn nàn"]</h6>
            </div>
            <div class="col-md-4 text-end">
                <a class="mx-1" onclick="GeneralInfo_ComplainAdd(0,0)">
                    <i class="vtt-icon vttech-icon-add text-sm text-secondary "></i>
                </a>

            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <div id="generalInfo_complain">
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        GeneralInfo_ComplainLoad();
    })

    function GeneralInfo_ComplainLoad () {
        AjaxLoad(url = "/Customer/GeneralInfo/CustomerComplaint/?handler=Loadata"
            , data = {'CustomerID': ser_MainCustomerID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data.length != 0) {
                        GeneralInfo_ComplainRender(data, "generalInfo_complain");
                    }
                    else {

                    }
                } else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function () {

            }
            , complete = function (e) {

            }
        );
    }

    function GeneralInfo_ComplainRender (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    tr = '<div class="pt-0 p-1 d-flex">'
                        + '<div class="w-100">'
                        + '<span class="text-sm text-dark">'
                        + '<span class="badge text-xs text-capitalize px-2 py-1 me-2" style="color:' + item.ColorCode + ';background-color:' + item.ColorCode + '29">' + item.MasterStatusName + '</span>'
                        + '<span>' + item.Content + '</span>'
                        + '</span>'
                        + '</div>'
                        + '</div>'

                    stringContent = stringContent + tr;
                }

            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function GeneralInfo_ComplainAdd (ID, CurrentEmp) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Marketing/CallDetailInput?MasterID=" + ID + "&CustomerID=" + ser_MainCustomerID + "&CurrentEmp=" + CurrentEmp + "&Type=" + 6 + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }
//#endregion
</script>

