@page
@model MLunarCoffee.Pages.Customer.GeneralInfo.CustomerAnamnesisModel
@{
    Layout = null;
}
<div class="card h-100" id="generalInfo_anamMaster">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <h6  class="mb-0">@Local["Tiền sử khách hàng"]</h6>
            </div>
            <div class="col-md-4 text-end">
                <a class="mx-1" onclick="addNewAnamnesis()">
                    <i class="vtt-icon vttech-icon-add text-sm text-secondary"></i>
                </a>
                <a class="mx-1" onclick="editAnamnesis()">
                    <i class="vtt-icon vttech-icon-edit text-sm text-secondary"></i>
                </a>
                <a class="mx-1" onclick="printAnamnesis()">
                    <i class="vtt-icon vttech-icon-print text-sm text-secondary"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <ul class="list-group" id="generalInfo_anam">
        </ul>
    </div>
    <div class="card-footer p-3">
        <div class="ui pagination menu justify-content-end" id="generalInfo_anampage">
        </div>
    </div>
</div>
<div id="generalInfo_anamDetail" style="display: none;">

</div>



<script>js_require('/js/comon/initialize_setting.js');</script>
<script>

    var ser_PatientHistoryID = 0;
 
    $(document).ready(function () {
          GeneralInfo_AnamLoad();
    })
    function GeneralInfo_AnamLoad () {
        AjaxLoad(url = "/Customer/GeneralInfo/CustomerAnamnesis/?handler=Loadata"
            , data = {'custID': ser_MainCustomerID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length > 0) {
                        $('#generalInfo_anampage').pagination({
                            dataSource: data,
                            pageSize: 1,
                            autoHidePrevious: true,
                            autoHideNext: true,
                            callback: function (data, pagination) {
                                GeneralInfo_AnamRender(JSON.parse(data[0].Data), "generalInfo_anam");
                                $("#generalInfo_anam").attr("data-id", data[0].ID)
                            }
                        });

                        $("#button_Anamnesis_Print").show();
                        $("#button_Anamnesis_Edit").show();
                        $("#generalInfo_anam").show();
                    }
                    else {
                        $("#button_Anamnesis_Print").hide();
                        $("#button_Anamnesis_Edit").hide();
                        $("#generalInfo_anampage").empty();
                        $("#generalInfo_anam").empty();
                    }
                } else {
                    $("#generalInfo_anampage").empty();
                    $("#generalInfo_anam").empty();
                    $("#button_Anamnesis_Print").hide();
                    $("#button_Anamnesis_Edit").hide();
                    notiError_SW();
                }
            }
            , sender = null
            , before = function () {
                $("#generalInfo_anam").hide();
                $("#AnamnesisWaiting").show();
            }
            , complete = function (e) {
                $("#AnamnesisWaiting").hide();
            }
        );

    }

    function GeneralInfo_AnamRender (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let tr = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let status = '<i class="text-success vtt-icon vttech-icon-check me-2"></i>';
                    if (item.status != 1) status = '<i class="text-danger vtt-icon vttech-icon-cancel1 me-2"></i>';

                    tr = '<li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">'
                        + '<div class="d-flex align-items-center">'
                        + status
                        + '<div class="d-flex flex-column">'
                        + '<span class="mb-1 text-dark text-sm">' + item.text + '</span>'
                        + '<span class="text-sm">' + item.answer+'</span>'
                        + '</div>'
                        + '</div>'
                        + '</li>'
                    stringContent = stringContent + tr;

                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    //#region // Anamnesis
    function addNewAnamnesis () {
        ser_PatientHistoryID = 0;
        Anamnesis_LoadDetailMain();
    }
    function editAnamnesis () {
        ser_PatientHistoryID = $("#generalInfo_anam").attr("data-id");
        Anamnesis_LoadDetailMain();
    }

    function Anamnesis_LoadDetailMain () {

        $('#generalInfo_anamMaster').hide();
        $('#generalInfo_anamDetail').show();

        if (($('#generalInfo_anamDetail').html()).trim() != '' && typeof Anamnesis_Detail_LoadOutside !== 'undefined' && $.isFunction(Anamnesis_Detail_LoadOutside)) {
            Anamnesis_Detail_LoadOutside();
        }
        else {
            $("#generalInfo_anamDetail").html('');
            $("#generalInfo_anamDetail").load("/Customer/Anamnesis/CustomerAnamnesisDetail?ver=" + versionofWebApplication);
        }

    }
    function printAnamnesis () {
        let ID = $("#generalInfo_anam").attr("data-id");
        PrintTemplate(ID, ser_MainBranchID, 22, versionofWebApplication, ser_MainCustomerID);
        return false;
    }

    function CloseAnamnesisDetail () {
        $("#generalInfo_anamMaster").show();
        $("#generalInfo_anamDetail").hide();
        $('#generalInfo_anampage').show();
    }
    //#endregion
</script>

 