@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xykaxp');
  src:  url('fonts/icomoon.eot?xykaxp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xykaxp') format('truetype'),
    url('fonts/icomoon.woff?xykaxp') format('woff'),
    url('fonts/icomoon.svg?xykaxp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-app"], [class*=" icon-app"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-app.icon-about-01:before {
    content: "\e900";
}
.icon-app.icon-about-bold-01:before {
    content: "\e901";
}
.icon-app.icon-account-01:before {
    content: "\e902";
}
.icon-app.VTApp:before {
    content: "\e903";
}
.icon-app.VTBranchsOutline:before {
    content: "\e904";
}
.icon-app.icon-branch-bold-01:before {
    content: "\e905";
}
.icon-app.icon-category-appointment-01:before {
    content: "\e906";
}
.icon-app.icon-date-booking-01-01:before {
    content: "\e907";
}
.icon-app.icon-facebook-01:before {
    content: "\e908";
}
.icon-app.VTHistory:before {
    content: "\e909";
}
.icon-app.icon-home-brand-01:before {
    content: "\e90a";
}
.icon-app.VTHotline:before {
    content: "\e90b";
}
.icon-app.VTHistoryImage:before {
    content: "\e90c";
}
.icon-app.icon-info-appointment-01:before {
    content: "\e90d";
}
.icon-app.icon-language-01:before {
    content: "\e90e";
}
.icon-app.VTHistoryApp:before {
    content: "\e90f";
}
.icon-app.icon-mail-01:before {
    content: "\e910";
}
.icon-app.icon-messager-01:before {
    content: "\e911";
}
.icon-app.VTActicleOutline:before {
    content: "\e912";
}
.icon-app.icon-news-bold:before {
    content: "\e913";
}
.icon-app.VTHistoryPaid:before {
    content: "\e914";
}
.icon-app.icon-phone-01:before {
    content: "\e915";
}
.icon-app.icon-profile-01:before {
    content: "\e916";
}
.icon-app.icon-profile-bold-01:before {
    content: "\e917";
}
.icon-app.VTQR:before {
    content: "\e918";
}
.icon-app.VTRating:before {
    content: "\e919";
}
.icon-app.VTHistoryRating:before {
    content: "\e91a";
}
.icon-app.VTServiceOutline:before {
    content: "\e91b";
}
.icon-app.icon-service-bold:before {
    content: "\e91c";
}
.icon-app.VTHistoryService:before {
    content: "\e91d";
}
.icon-app.icon-them-01:before {
    content: "\e91e";
}
.icon-app.icon-website-01:before {
    content: "\e91f";
}
.icon-app.icon-zalo-01:before {
    content: "\e920";
}
.icon-app.VTCard:before {
    content: "\e921";
}
.icon-app.VTMedicine:before {
    content: "\e922";
}
.icon-app.VTQuestion:before {
    content: "\e923";
}
