@page
@model MLunarCoffee.Pages.Student.Library.AttachDetail
@{
    Layout = null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-100 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0 text-capitalize">Upload file</h6>
                                <span class="text-sm mb-0">@Local["Up load tối đa 5 file 1 lần, dung lượng tối đa 10m/file. Các định dạng cho phép word,excel,pdf"]</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <label>Upload file</label>
                    <div class="form-control dropzone dz-clickable" id="dropzone">
                        <div class="dz-default dz-message">
                            <button class="dz-button" type="button">@Local["Thả tệp vào đây để tải lên"]</button>
                            <input class="position-absolute start-0 w-100 opacity-0" id="atd_input" type="file" name="files[]" multiple="">
                        </div>
                    </div>
                    <div class="my-3" id="atd_uploadstatus">

                    </div>
                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="fd_form" onclick="ATD_Close ()">@Local["Đóng"]</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let atd_FolderID = '@Model._FolderID';

    $(document).ready(function () {
        if (atd_FolderID != 0) {
            ATD_Eventupload();
        }
    });


    function ATD_Eventupload () {

        let link_Upload = '/Api/Upload/Upload?Type=StudentLibrary';
        AjaxUpload_Multi(url = link_Upload, inputid = 'atd_input'
            , success = function (resulf, e) {
                if (resulf != "0") {
                    let _r = resulf.split("@@");
                    ATDFile_Insert(_r[0], _r[1], _r[2]);
                    ATD_FinishUpload(_r[2]);
                }
                else ATD_ErrorUpload(e);
            }
            , error = function (e) {
                ATD_ErrorUpload(e);
            }
            , before = function (e) {
                ATD_BeginUpload(e);
            }
            , complete = null
            , funmaxrange = function () {
                notiWarning('Tối đa 5 file')
            }
        );
    }
    function ATDFile_Insert (urlfile, type, name) {

        AjaxLoad(url = "/Student/Library/AttachDetail/?handler=Insert"
            , data = {
                'id': atd_FolderID
                , 'url': urlfile
                , 'filetype': type
                , 'name': name
            }
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {

            }
        );
    }

    function ATD_Close () {
        CloseModal();
        if (typeof CLibra_Load === 'function') CLibra_Load(isnew = 0, loadmore = 0);
    }

    async function ATD_ErrorUpload (name) {
        return new Promise((resolve, reject) => {
            $("#atd_uploadstatus .status[data-name='" + name + "']").html('failed');
            $("#atd_uploadstatus .status[data-name='" + name + "']").addClass('text-danger').removeClass('text-info');
            resolve();
        })
    }
    async function ATD_BeginUpload (name) {
        return new Promise((resolve, reject) => {
            let tr = `<div class="statusarea" data-name="${name}"> <div class="d-flex align-items-center">
                            <div class="text-sm text-dark me-3">${name}</div>
                            <span data-name="${name}" class="status ms-2 fw-bold text-sm  text-info">uploading ...</span>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                      <div>  `


            $('#atd_uploadstatus').prepend(tr);
            resolve();
        })
    }
    async function ATD_FinishUpload (name) {

        return new Promise((resolve, reject) => {
            $("#atd_uploadstatus .status[data-name='" + name + "']").html('finish');
            $("#atd_uploadstatus .status[data-name='" + name + "']").addClass('text-success').removeClass('text-info');
            resolve();
        })
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
