@page
@model MLunarCoffee.Pages.Student.Library.Library
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-3">
                    <div class="left">
                        <h6 class="mb-0">@Local["Thư viện"]</h6>
                        <p class="text-sm mb-0">@Local["Quản lý các tài liệu upload (pdf,word,excel). Cây folder tối đa 5 cấp"]</p>
                    </div>
                    <div class="right overflow-unset">
                        <div class="pe-4 mt-1 position-relative">
                            <hr class="vertical dark mt-0" style="background: #344767; height: 62px; width: 1px;">
                        </div>
                        <div class="ps-4">
                            <button id="library_addfolder" onclick="library_AddFolder(0)" class="btn bg-gradient-warning btn-sm mb-0 mt-3">
                                <i class="fs-6 fas fa-plus me-2"></i> Folder
                            </button>
                            <button id="library_addfile" onclick="library_Addfile()" class="btn bg-gradient-success btn-sm mb-0 mt-3 d-none">
                                <i class="fs-6 fas fa-cloud-upload-alt me-2"></i> File
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div id="library_master" class="row px-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#library_master").load('/student/library/classlibrary' + "?Class=0&ver=" + versionofWebApplication);
        $('#library_master').show();
    })
    function library_AddFolder (id) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load(`/student/library/folderdetail?CurrentID=${id}&ParentID=${clbraparent}&ver=${versionofWebApplication}`);
        $('#DetailModal').modal('show');
    }
    function library_Addfile () {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load(`/student/library/attachdetail?CurrentID=${clbracurrent}&ParentID=${clbraparent}&ver=${versionofWebApplication}`);
        $('#DetailModal').modal('show');
    }
</script>

