@page
@model Pages.Student.Trains.Detail.ClassFile
@{
    Layout = null;
}
@Html.AntiForgeryToken()

<div class="card-header pb-0 px-0 position-relative">
    <div id="clifile_Loader" class="waitingdiv position-absolute top-50 start-50 translate-middle" style="display:none">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="d-lg-flex d-md-flex">
        <div class="w-30 col-auto my-auto">
            <div class="h-100">
                <h6 class="mb-0">Tài liệu</h6>
                <p class="text-sm mb-0">Danh sách tài liệu của tôi</p>
            </div>
        </div>
        <div class="ms-auto my-auto mt-1">
            <div class="input-group flex-nowrap" id="clifile_div">
                <div class="input-group-text input-group-text px-2">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <div class="spinner-border spinner-border-sm d-none"></div>
                </div>
                <input id="clifile_input" type="text" class="form-control" placeholder="eg .search">
                <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                <a id="clifile_sortname" title="sort by name" class="input-group-text"><i class="text-lg text-dark fas fa-sort-alpha-down"></i></a>
                <a id="clifile_sortdate" title="sort by date" class="input-group-text">
                    <i class="text-lg text-dark fas fa-clock"></i>
                </a>
            </div>
        </div>
    </div>
    <ul id="clifile_list" class="border-1 mt-3 px-3 py-4 bg-gray-100 border-radius-lg mt-3 nav nav-pills flex-column bg-white border-radius-lg d-block pt-0 px-2">
    </ul>
    <button class="btn btnsysmore  btn-secondary w-100 p-1" onclick="CLifile_Load(1)">Load More</button>

</div>
<script type="text/javascript">
    var clfiledata = [];
    var clfiledataroot = [];
    var clfile_timer;
    let filename = 'asc', filedate = 'asc';
    let filebeginID = 0;
    let filelimit = 30;
    $(document).ready(function () {
        CLifile_Load(loadmore = 0);
        CLifile_MainEvent();
    })

    function CLifile_Load (loadmore) {
        filename = 'asc', filedate = 'asc';
        if (loadmore == 0) {
            $('#clifile_list').html('');
            filebeginID = 0;
        }
        AjaxLoad(url = "/Student/Trains/Detail/ClassFile/?handler=LoadFile"
            , data = {
                begin: filebeginID
                , limit: filelimit

            }
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result != "0") {

                    let data = JSON.parse(result);
                    if (data != undefined) {
                        if (loadmore == 0) {
                            clfiledataroot = [];
                            clfiledataroot = data;
                            CLifile_Render(data, 'clifile_list');
                        }
                        else {
                            clfiledataroot = clfiledataroot.concat(data);
                            CLifile_Render(data, 'clifile_list');
                        }
                        if (data.length != 0) {
                            filebeginID = Number(data[data.length - 1].ID)
                        }
                        clfiledata = JSON.parse(JSON.stringify(clfiledataroot))
                    }
                }
            }
            , sender = null
            , before = function (e) {
                $('#clifile_Loader').show();
            }
            , complete = function (e) {
                $('#clifile_Loader').hide();
            }
        );
    }
    function CLibra_Sort (data, type) {
        switch (type) {

            case "name":
                if (filename == 'desc')
                    data.sort((a, b) => (a.Name < b.Name) ? 1 : ((b.Name < a.Name) ? -1 : 0));
                else data.sort((a, b) => (a.Name > b.Name) ? 1 : ((b.Name > a.Name) ? -1 : 0));
                break;
            case "date":
                if (filedate == 'desc')
                    data.sort((a, b) => (a.Created < b.Created) ? 1 : ((b.Created < a.Created) ? -1 : 0));
                else data.sort((a, b) => (a.Created > b.Created) ? 1 : ((b.Created > a.Created) ? -1 : 0));
                break;
        }
        return data;
    }

    function CLifile_MainEvent () {
        $('#clifile_input').keyup(function () {
            if ($(this).val().length > 0) $(".btn_clear").removeClass('opacity-1');
            else $(".btn_clear").addClass('opacity-1');
            $("#clifile_div .fa-search").hide();
            $("#clifile_div .spinner-border").removeClass('d-none');
            clearTimeout(clfile_timer);
            clfile_timer = setTimeout(function (e) {
                CLifile_Search();
            }, 500);
        });
        $("#clifile_div").on('click', '.btn_clear', function (e) {
            $('#clifile_input').val('');
            $(".btn_clear").addClass('opacity-1');
            $('#clifile_list').html('');
            CLifile_Render(clfiledata, 'clifile_list');
        });

        $("#clifile_sortname").unbind().click(function (e) {
            $('#clifile_input').val('');
            filename = filename == 'desc' ? 'asc' : 'desc';
            clfiledata = CLibra_Sort(clfiledata, 'name');
            $('#clifile_list').html('');
            CLifile_Render(clfiledata, 'clifile_list');
        });

        $("#clifile_sortdate").unbind().click(function (e) {
            $('#clifile_input').val('');
            filedate = filedate == 'desc' ? 'asc' : 'desc';
            clfiledata = CLibra_Sort(clfiledata, 'date');
            $('#clifile_list').html('');
            CLifile_Render(clfiledata, 'clifile_list');
        });
    }
    function CLifile_Search () {
        let textsearch = $('#clifile_input').val().trim();
        if (textsearch != undefined && textsearch.length > 3) {
            AjaxLoad(url = "/Student/Trains/Detail/ClassFile/?handler=Search"
                , data = {"name": textsearch}
                , async = true
                , error = function () {notiError_SW();}
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result).Table;
                        $('#clifile_list').html('');
                        CLifile_Render(data, 'clifile_list');
                    }
                }
                , sender = null
                , before = function (e) {
                    $('#clifile_Loader').show();
                }
                , complete = function (e) {
                    $('#clifile_Loader').hide();
                    $("#clifile_div .fa-search").show();
                    $("#clifile_div .spinner-border").addClass('d-none');
                }
            );
        }
        else {
            $("#clifile_div .fa-search").show();
            $("#clifile_div .spinner-border").addClass('d-none');
        }
    }
    async function CLifile_Render (data, id) {
        return new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = '';
                        tr = `<li class=" nav-item my-0 py-2" role="presentation">
                                <a data-id="${item.ID}" class="d-flex w-100 text-sm detail nav-link cursor-pointer">
                                    <div class="w-100 d-flex">
                                        <div class="w-lg-50 col-auto my-auto align-items-center">
                                            <span>${item.Name}</span>
                                            <div class="d-flex align-items-center">
                                                <span class="badge badge-sm me-2" style="background-color:${item.TagColor}">${item.TagName}</span>
                                                 ${GetDateTime_String_DMYHM(item.Created)}
                                            </div>

                                        </div>
                                        <div class="ms-auto my-auto mt-1">
                                           <i class="text-primary fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            ${(i == data.length - 1) ? `` : `<hr class="horizontal dark my-0 opacity-2">`}
                            `

                        document.getElementById(id).innerHTML = document.getElementById(id).innerHTML + tr;
                    }
                }
            }
            CLifile_Event();
            resolve();
        })
    }
    function CLifile_Event () {
        $("#clifile_list .detail").unbind('click').click(function (event) {
            let id = $(this).attr('data-id');
            if ($('#Classdetail_Detail').length) {
                $("#Classdetail_Detail").load("/Student/Slide/ClassSlideView?CurrentID=" + id + "&ver=" + versionofWebApplication);
                $("#Classdetail_Detail").removeClass('d-none');
                $("#Classdetail_Master").addClass('d-none');
            }
        });

    }



</script>

