<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeePage</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoffeePage.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jsTemplate/site.js" asp-append-version="true"></script>
    <script src="~/js/jsTemplate/jquery.min.js"></script>
    <script src="~/js/jsTemplate/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jsTemplate/popper.min.js"></script>
    <script src="~/js/jsTemplate/bootstrap.min.js"></script>
    <script src="~/js/jsTemplate/jquery.easing.1.3.js"></script>
    <script src="~/js/jsTemplate/jquery.waypoints.min.js"></script>
    <script src="~/js/jsTemplate/jquery.stellar.min.js"></script>
    <script src="~/js/jsTemplate/owl.carousel.min.js"></script>
    <script src="~/js/jsTemplate/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jsTemplate/aos.js"></script>
    <script src="~/js/jsTemplate/jquery.animateNumber.min.js"></script>
    <script src="~/js/jsTemplate/bootstrap-datepicker.js"></script>
    <script src="~/js/jsTemplate/jquery.timepicker.min.js"></script>
    <script src="~/js/jsTemplate/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/jsTemplate/google-map.js"></script>
    <script src="~/js/jsTemplate/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
