@page
@model MLunarCoffee.Pages.Marketing.TicketActionModel
@{
}

<div class="pusher">
    <div class="navslide navwrap" id="Ticket_Action_Master">
    </div>
</div>

<script>

        $(document).ready(function () {

            let CustomerID = getParameterByName('CustomerID');
            let TicketID = getParameterByName('TicketID');
            let Type = getParameterByName('Type');
            let AppID = getParameterByName('AppID');
            let MasterID = getParameterByName('MasterID');
            let TreatmentDate = getParameterByName('TreatmentDate');
            let link = '/Marketing/Ticket/TicketActionTable?CustomerID=' + CustomerID
                + ((TicketID != null) ? ("&TicketID=" + TicketID) : '')
                + ((Type != null) ? ("&Type=" + Type) : '')
                + ((AppID != null) ? ("&AppID=" + AppID) : '')
                + ((TreatmentDate != null) ? ("&TreatmentDate=" + TreatmentDate) : '')
                + ((MasterID != null) ? ("&MasterID=" + MasterID) : '')
                + "&ver=" + versionofWebApplication;

            $('#Ticket_Action_Master').load(link);


        })
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
</script>