#LaboTemplateContent .header {
    font-weight: bold;
    color: #2270bb;
}

.toothFront {
    margin: unset;
    padding: 5px 0px 0px 0px !important;
}

.teethChoosing {
    background-image: url(/assests/img/teethBackground.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px;
}


#LaboTemplateContent input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    padding: 0;
    border-bottom: 1px solid #00599c;
    border-bottom-style: dashed;
    margin-left: 10px;
    border-radius: 0px !important;
    background-color: transparent;
    color: maroon;
}

#LaboTemplateContent .checkQA {
    margin-left: 0px;
}

.hor {
    display: block;
}

.vit {
    display: flex;
}


.content.vit .column {
    width: -webkit-fill-available;
    text-align: center;
}

    .content.vit .column img {
        margin: 0 auto;
    }

@media only screen and (max-width: 600px) {
    .groupItem {
        display: block !important;
    }

        .groupItem div {
            width: 100% !important;
        }
}

#teethChoosing .column {
    height: 80px;
}

#part_service_area {
    width: 400px;
    min-width: 400px;
    padding: 0px 5px;
}

#part_info_area {
    min-width: 400px;
    width: 100%;
    padding: 0px 5px;
}

#divTemplateLabo {
    background: #92cbf82b;
}
