@page
@model MLunarCoffee.Pages.Setting.Bank.BankListModel
@{
    Layout = null;
}
<div id="BankL_Main">
    <div class="row">
        <div class="col-12">
            <div class="py-3">
                <div class="d-lg-flex my-2">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0 text-capitalize">@Local["Ngân hàng"]</h6>
                            <p class="text-sm mb-0">@Local["Danh sách"]</p>
                        </div>
                    </div>
                    <div class="w-30 ms-auto">
                        <div class="row">                            
                            <div class="ui fluid search selection dropdown form-control" id="BankL_BankCode">
                                <input type="hidden" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Ngân hàng"]</div>
                                <div id="BankL_BankCodecbb" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="position-relative">
                    <div id="BankL_Loadding" class="waitingdiv text-center position-absolute top-0 end-50">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="BankL_ContentBody" class="row overflow-y d-none" style="max-height:94vh;">

                </div>                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var PromisImg = [];
    var dataBank = [];
    var dataBankList = [];
    $(document).ready(function (){
        BankL_EventMaster();
        BankL_LoadData();
    });
    
    function BankL_LoadData(){
        AjaxLoad(url = "/Setting/Bank/BankList/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "") {
                    dataBankList = JSON.parse(result);                    
                    for(let i = 0; i < dataBankList.length;i++){
                        let item = dataBankList[i];
                        let e = {};
                        e.ID = item.Code;
                        e.Name = item.Name;
                        dataBank.push(e);
                    }                    
                    Load_Combo(dataBank, "BankL_BankCodecbb", true,decodeHtml('@Local["Tất cả"]'));
                    $("#BankL_BankCode").dropdown("refresh");
                    $("#BankL_BankCode").dropdown("set selected", "0");
                }
                else {
                    notiError_SW();
                }
            });
    }
    function BankL_EventMaster(){
        $("#BankL_BankCode").change(function(){
            let BankCode = $("#BankL_BankCode").dropdown("get value") ? $("#BankL_BankCode").dropdown("get value") : "0";
            let Data = [];
            if(BankCode != "0"){
                let e = {}                
                e = dataBankList.find((e)=> { return e.Code == BankCode})
                Data.push(e);
            }else{
                Data = dataBankList;
            }
            
            BankL_RenderData(Data,'BankL_ContentBody');
        });
    }
    function BankL_RenderData(data,id){
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';            
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];                    
                    stringContent+= `
                        <div data-code="${item.Code}" class="col-3 QRBankCreate p-2 rounded-3">
                            <div>
                                <img src="${item.Logo}" class="w-100"/>
                            </div>
                        </div>
                    `
                }
            }
            myNode.innerHTML = stringContent;
            BankL_LoadAsyncImg();
            BankL_Event();

        }
    }
    function BankL_Event(){
        $("#BankL_ContentBody .QRBankCreate").unbind('click').click(function (){
            $(this).addClass('active').siblings().removeClass('active');
            let code = $(this).attr('data-code');
            BankL_QRCreate(code);
        });        
    }
    function BankL_LoadAsyncImg (){
        let arrImg = $("#BankL_ContentBody img");
        if(arrImg.length != 0){
            for (let i = 0; i < arrImg.length;i++){
                PromisImg.push(BankL_loadImage(arrImg[i]));
            }
        }
        setTimeout(function () {
            Promise.all(PromisImg).then(() => {
                $("#BankL_Loadding").hide();
                $("#BankL_ContentBody").removeClass('d-none');
            })
        }, 0);
    }
    async function BankL_loadImage(img) {
        return new Promise(function (resolve, reject) {
            if (img == undefined || img == "") {
                resolve(true);
            }
            else {
                img.onload = () => {
                    resolve(true)
                };
                img.onerror = () => resolve(true);
            }
        });
    }
    function BankL_QRCreate(code) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/Bank/QRBankDetail?CurrentID=" + code + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>
<style>
    #BankL_ContentBody .QRBankCreate:hover{
        background:  #f8f9fa;
    }

    #BankL_ContentBody .QRBankCreate.active {
        background: #cecece;
    }

</style>
<script>js_require('/js/main.js');</script>