@page
@model MLunarCoffee.Pages.Report.Account.Payment_ExportModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="rp_export_customer_invoice_header" class="text-md text-dark font-weight-bold mb-1">
                    Xuất Hóa Đơn Khách Hàng
                </p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#Payment_Export" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData()"></i>
 
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-3 col-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="div" class="text-sm text-primary text-gradient mb-0">Tổng</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount_Payment_Export">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="cb_payment_method" class="text-sm text-primary text-gradient mb-0">Tiền Mặt</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmountCash">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-6  mt-4 mt-lg-0">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="cb_payment_method" class="text-sm text-primary text-gradient mb-0">Chuyển Khoản</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmountTransfer">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-6  mt-4 mt-lg-0">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="cb_payment_method" class="text-sm text-primary text-gradient mb-0">Pos</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmountPos">0</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="Payment_Export">
  
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport">
                    <thead>
                        <tr>
                            <th style="width: 50px">#</th>
                            <th data-languagestatic="invoice_code">Số Hóa Đơn</th>
                            <th data-languagestatic="date">Ngày</th>
                            <th data-languagestatic="Type">Loại Thanh Toán</th>
                            <th data-languagestatic="cust_code">MSKH</th>
                            <th data-languagestatic="cust">Tên</th>
                            <th data-languagestatic="rp_rasing">Phát Sinh</th>
                            <th data-languagestatic="rp_raising_on_invoice">Phát Sinh Trên Hóa Đơn</th>
                            <th data-languagestatic="rp_paid">Tổng Thanh Toán</th>
                            <th data-languagestatic="paymentmethod">Hình Thức Thanh Toán</th>
                            <th data-languagestatic="rp_left">Còn Lại</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>
<script type="text/javascript">
    $(document).ready(function () {
        
        LoadDataReport();
        $('#dtContentReport').tablesort();
       // $("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });

    function LoadDataReport() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Account/Payment_Export/?handler=Loadata"
            , data = { 'branchID': _branch, 'dateFrom': _dateFrom, 'dateTo': _dateTo }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    RenderReportAccountBalanceCus(data, "dtContentReportBody");
                    let dataMaster = JSON.parse(result)["Table1"];
                    Count_Up('lbTotalAmount_Payment_Export', dataMaster[0].TotalAmount);
                    Count_Up('lbTotalAmountCash', dataMaster[0].TotalAmountCash);
                    Count_Up('lbTotalAmountTransfer', dataMaster[0].TotalAmountTransfer);
                    Count_Up('lbTotalAmountPos', dataMaster[0].TotalAmountPos);
 

                }
                else {
                    notiError_SW();
                }
            }
        );
        return false;

    }
    function exportData() {
        exportToExcel("dtContentReport", 'Phieu-Thu-khach-hang');
    }

    function RenderReportAccountBalanceCus(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                         '<td class="vt-number-order"></td>'
                        + '<td>' + item.Invoice + '</td>'
                        + '<td data-sortvalue="' + (item.CreatedNumber) + '">' + item.Created + '</td>'
                        + '<td>' + item.Type + '</td>'
                        + '<td> <a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustomerID + '&ver=' + versionofWebApplication + '">' + item.Cust_Code + '</a></td>'
                        + '<td>' + item.CustName + '</td>'
                        + '<td data-sortvalue="' + (item.TotalAmount) + '">' + formatNumber(item.TotalAmount) + '</td>'
                        + '<td data-sortvalue="' + (item.PaidNumber) + '">' + formatNumber(item.PaidNumber) + '</td>'
                        + '<td data-sortvalue="' + (item.TotalPaid) + '">' + formatNumber(item.TotalPaid) + '</td>'
                        + '<td class="ttcol10">'
                        + '<span>' + item.MethodName + '</span>'
                        + ((item.PosName != '') ? ('<span> - ' + item.PosName + '</span>') : (''))
                        + ((item.TransferName != '') ? ('<span> - ' + item.TransferName + '</span>') : (''))
                        + '</td>'
                        + '<td data-sortvalue="' + (item.TotalLeft) + '">' + formatNumber(item.TotalLeft) + '</td>'

                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

</script>

