@page
@model MLunarCoffee.Pages.Setting.APITemplate.APITemplateListModel
@{
    Layout = null;
}

<div class="container-fluid py-0 px-0 ">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 id="headerBranch" class="mb-0">@Local["Mẫu ánh xạ tích hợp API"]</h6>
                        <p class="text-sm mb-0">
                            @Local["Chi tiết ánh xạ"]
                        </p>
                    </div>
                    <div class="right w-lg-30">
                        <div class="ui fluid search selection dropdown form-control" id="atl_apitype">
                            <input type="hidden" name="branch" />
                            <i class="dropdown icon"></i>
                            <div class="text">Misa - Save</div>
                            <div id="atl_cbbapitype" class="menu">
                                <div class="item active" data-value="0" data-type="misa" data-action="save">Misa - Save</div>
                                <div class="item" data-value="1" data-type="misa" data-action="del">Misa - Delete</div>
                                <div class="item" data-value="2" data-type="fast" data-action="del">Fast - Save</div>
                                <div class="item" data-value="3" data-type="fast" data-action="del">Fast - Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1 px-0">
                    <div class="p-0 row m-0 gap-2 ">
                        <div class="p-1 col-12  overflow-auto" >
                            <div id="atl_divloader" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="d-md-flex position-relative">
                                <div id="alt_masterMap" class="timeline timeline-one-side overflow-scroll pe-0 flex-grow-1" style="max-height: calc(100vh - 240px) ">
                                    <div class="timeline-block mt-3 mb-2">
                                        <span class="timeline-step">
                                            <span class="bg-cirle-50 m-0 rounded-circle text-xl" data-bs-toggle="collapse" href="#atl_listMapping" role="button" aria-expanded="true">
                                                <i class="fa-angle-down fas text-primary"></i>
                                            </span>
                                        </span>
                                        <div class="pt-1 timeline-content" style="max-width:100%">
                                            <div class="cursor-pointer text-sm">
                                                <span class="font-weight-bold mb-0 text-primary" id="atl_lbtype">Misa - save</span>
                                                <div class="icon-hover mx-1 atl_btnAdd" data-bs-toggle="tooltip" data-id="0" data-bs-placement="top" data-bs-original-title="Thêm mới">
                                                    <i class="cursor-pointer fa-plus fas text-primary text-sm"></i>
                                                </div>
                                            </div>
                                            <div id="atl_listMapping" class="collapsesticky collapse show ">
                                                <div id="atl_listMapping_0" class="timeline timeline-one-side"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="alt_detailMap" class="card card-plain col-w-400 pe-2" style="display: none">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var atl_dataMapping = {};
    var atl_apitype = "misa";
    var atl_apiaction = "save";
    let atl_xhrLoad;
    let alt_parrentID = 0, alt_currentID = 0;
    $(document).ready(function (){
        atl_init();
    });
    function atl_init() {
        AjaxLoad(url = "/Setting/APITemplate/APITemplateList?handler=Init"
            , data = { type: atl_apitype }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    atl_rebuildMap(data[0] ?? {});
                    $("#atl_apitype").unbind('change').change(function (e) {
                        e.preventDefault();
                        atl_apitype = $(this).attr('data-type');
                        atl_apiaction = $(this).attr('data-action');
                        atl_loadData();
                    });

                    $("#atl_apitype").dropdown('refresh');
                    $("#atl_apitype").dropdown('set selected', '0');
                } else {
                    notiError_SW()
                }
            });
    }

    async function atl_rebuildMap(obj) {
        new Promise(resolve => {
            atl_dataMapping = {};
            let keys = Object.keys(obj);
            if (obj && keys.length > 0) {
                for (let i = 0; i < keys.length; i++) {
                    let item = keys[i];
                    let e = {
                        ID: item, Name: item
                    }
                    atl_dataMapping[item] = e;
                }
            }
            resolve();
        })
    }

    function atl_loadData() {
        if (atl_xhrLoad && atl_xhrLoad.readyState != 4) atl_xhrLoad.abort();
        atl_xhrLoad = AjaxLoad(url = "/Setting/APITemplate/APITemplateList?handler=LoadData"
            , data = {
                'type': atl_apitype,
                'action': atl_apiaction
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    atl_renderData(data, "atl_listMapping");

                }
                else if (result == "0") {
                    notiWarning();
                }
            }
            , sender = null
            , before = function (e) {
                $("#atl_divloader").show();
            }
            , complete = function (e) {
                $("#atl_divloader").hide();
            }
        );
    }

    async function atl_renderData(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {

                if (data && data.length != 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = '';
                        let td = atl_renderNodeEach(item);
                        tr = item.CountChild > 0 ? `<div class="timeline timeline-one-side">${td}</div>` : td;
                        $(`#${id}_${item.ParrentID}`).append(tr);
                    }
                }
                atl_event();
                resolve();
            }, 10)
        })
    }

    function atl_renderNodeEach(item) {
        try {
            let icon = item.CountChild > 0
                ? `<span class="bg-cirle-50 m-0 rounded-circle text-xl" data-bs-toggle="collapse" href="#atl_listMapping_${item.ID}" role="button" aria-expanded="true"> <i class="fa-angle-down fas text-primary"></i></span>`
                : `<span class="bg-cirle-50 m-0 rounded-circle text-xl text-primary"> - </span>`;
            let tr =
                    `<div class="timeline-block mt-3 mb-2">
                        <span class="timeline-step">
                            ${icon}
                        </span>
                        <div class="pt-1 timeline-content" style="max-width:100%">
                            <div class="cursor-pointer text-sm">
                                <span class="font-weight-bold mb-0 text-primary">${item.ParaName}</span> :
                                <span class="font-weight-bold mb-0 text-dark">${item?.MapField}</span>
                                [<span class="font-weight-bold mb-0 text-dark">${item.TypeData} ${item.TypeItem}</span>]
                                ${atl_renderButton(item.TypeData, item.TypeItem, item.ID, item.ParrentID)}
                            </div>
                            ${item.CountChild > 0 ? `<div id="atl_listMapping_${item.ID}" class="collapsesticky collapse show" style=""></div>` : ''}
                            
                        </div>
                    </div>`
            return tr;

        }
        catch (e) {
            return '';
        }
    }

    function atl_renderButton(typedata, typeitem,id, parrentID) {
        let tr = '';
        if (typedata == 'array' && typeitem == 'object') {
            tr += `
                    <div class="icon-hover atl_btnAdd mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-id="${id}" data-bs-original-title="@Local["Thêm mới"]">
                        <i class="cursor-pointer fa-plus fas text-primary text-sm"></i>
                    </div>
            `;
        }
        tr += `
                <div class="icon-hover atl_btnEdit mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-id="${id}" data-parrentID = "${parrentID}" data-bs-original-title="@Local["Cài đặt"]">
                    <i class="cursor-pointer fa-cog fas text-primary text-sm"></i>
                </div>
              `;
        return tr;
    }

    function atl_event() {
        $(".atl_btnAdd").unbind('click').click(function (e) {
            e.preventDefault();
            alt_parrentID = $(this).attr('data-id');debugger
            alt_currentID = 0;
            atl_openDetail();
        });

        $("#atl_listMapping .atl_btnEdit").unbind('click').click(function (e) {
            e.preventDefault();
            alt_currentID = $(this).attr('data-id');
            alt_parrentID = $(this).attr('data-parrentID');
            atl_openDetail();
        });
    }

    function atl_openDetail() {
        $("#alt_detailMap").html('');
        $("#alt_detailMap").load("/Setting/APITemplate/APITemplateDetail?ParrentID=" + alt_parrentID + "&CurrentID=" + alt_currentID + "&ver=" + versionofWebApplication);
        $('#alt_detailMap').show();
        return false
    }

    function atl_closeDetail() {
        $('#alt_detailMap').hide();
    }

</script>

<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js')</script>



