@page
@model SourceMain.Pages.Report.ReportAll.CustomerActivity_ByAppointmentModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagedyn="report_general" class="text-md text-dark font-weight-bold mb-1">
                    Báo Cáo Chi Tiết Khách Hàng
                </p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#CustomerActivity" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_CustomerActivityGrid()"></i>
                <i class="vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_RevenueByBranchGrid()"></i>
                
                <div class="position-relative d-inline">
                    <button class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colListscheduler">
                        More
                    </button>
                    <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colListscheduler" style="min-width:250px;">
                        <ul class="card card-body text-dark text-capitalize opacity-10">
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="app" type="checkbox">
                                </div>
                                <p data-languagestatic="app" class="text-sm">Mã Số Lịch Hẹn</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="content" type="checkbox">
                                </div>
                                <p data-languagestatic="content" class="text-sm">Nội Dung Lịch Hẹn</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="status" type="checkbox">
                                </div>
                                <p data-languagestatic="status" class="text-sm">Trạng Thái</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="type" type="checkbox">
                                </div>
                                <p data-languagestatic="type" class="text-sm">Loại Lịch Hẹn</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="servicecare" type="checkbox">
                                </div>
                                <p data-languagestatic="servicecare" class="text-sm">Quan Tâm / Điều Trị</p>
                            </li>

                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="date" type="checkbox">
                                </div>
                                <p data-languagestatic="date" class="text-sm">Ngày Hẹn</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="payment" type="checkbox">
                                </div>
                                <p data-languagestatic="payment" class="text-sm">Thanh Toán</p>
                            </li>

                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="labo" type="checkbox">
                                </div>
                                <p data-languagestatic="labo" class="text-sm">Lab</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-12">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="total" class="text-sm text-primary text-gradient mb-0">Tổng</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalSchedule_CustomerActivity">0</span></h6>
                </div>
            </div>
        </div>


    </div>
    <div class="collapsesticky collapse show" id="CustomerActivity">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" data-name="ContentReport_CustomerActivity" id="dtContentReport_CustomerActivity">
                    <thead>
                        <tr>
                            <th data-languagestatic="no" style="width: 60px">#</th>
                            <th data-languagestatic="code">MSKH</th>
                            <th data-languagestatic="name">Khách Hàng</th>
                            <th data-name="app" data-languagestatic="app">MSLH</th>
                            <th data-name="date" data-languagestatic="date">Ngày Hẹn</th>
                            <th data-name="content" data-languagestatic="content">Nội Dung Lịch Hẹn</th>
                            <th data-name="status" data-languagestatic="status">Trạng Thái</th>
                            <th data-name="type" data-languagestatic="type">Loại Lịch Hẹn</th>
                            <th data-name="servicecare" data-languagestatic="servicecare">Quan Tâm / Điều Trị</th>
                            <th data-languagestatic="service_rasing">Dịch Vụ Phát Sinh</th>
                            <th data-name="payment" data-languagestatic="rp_paid">Thanh Toán</th>
                            <th data-languagestatic="service_treatment_info">Dịch Vụ Điều Trị</th>
                            <th data-name="labo" data-languagestatic="">Labo</th>


                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_CustomerActivity">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    var _keyTreamentPercent = "@Model._keyTreamentPercent";
    var DataServiceCare, DataService;
    let shtable;
    $(document).ready(function () {
 
        shtable = $("#dtContentReport_CustomerActivity").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
     
        Master_IndexDB_Reads(_Session_Data, [_Session_ServiceCare, _Session_Service]
            , function (data) {
                DataServiceCare = data[0];
                DataService = data[1];
                LoadDataReport_CustomerActivityGrid();
            })
       // $("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });

    function LoadDataReport_CustomerActivityGrid() {
        let _date = "@Model._date";
        let _BranchID = "@Model._BranchID";
        AjaxLoad(url = "/Report/ReportAll/CustomerActivity_ByAppointment/?handler=Loadata"
            , data = { 'date': _date, 'BranchID': _BranchID  }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let ScheduleList = JSON.parse(result)["Table"];
                    let data_tab_new_inday = JSON.parse(result)["Table1"];
                    let data_treat_new_inday = JSON.parse(result)["Table2"];
                    let data_payment_new_inday = JSON.parse(result)["Table3"];
                    let data_labo_new_inday = JSON.parse(result)["Table4"];
                    let DataTotal = JSON.parse(result)["Table5"];
                    Count_Up('lbTotalSchedule_CustomerActivity', DataTotal[0].TotalSchedule)

                    RenderReport_CustomerActivityGrid(ScheduleList, data_tab_new_inday, data_treat_new_inday, data_payment_new_inday, data_labo_new_inday, "dtContentReportBody_CustomerActivity");
                    shtable.Refresh();
                }
            }
        );

        return false;
    }
    function RenderReport_CustomerActivityGrid(data, data_tab_new_inday, data_treat_new_inday, data_payment_new_inday, data_labo_new_inday, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';

            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {

                    let item = data[i];

                    let tr = '<td class="d-none">' + item.CustomerID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        +'<td>'
                        + '<a target="_blank" style="text-decoration: underline;" href="/Customer/MainCustomer?CustomerID=' + item.CustomerID + "&ver=" + versionofWebApplication + '">' + item.CustCode + '</a>'
                        + '</td>'
                        + '<td>' + item.CustName + '</td>'
                        + '<td data-name="app">' + item.ScheduleCode + '</td>'
                        + '<td data-name="date">' + item.Date_From + '</td>'
                        + '<td data-name="content">' + item.Content + '</td>'
                        + '<td data-name="status">' + item.StatusName + '</td>'
                        + '<td data-name="type">' + item.TypeName + '</td>'
                        + '<td data-name="servicecare">'
                        + (Number(item.TypeID) == 1
                        ? Fun_GetString_ByToken(DataServiceCare, item.ServiceCare)
                        : Fun_GetString_ByToken(DataService, item.ServiceTreat)
                        )
                        
                        + '</td>'
                        + '<td>' + Render_Column_Tab_New(item.CustomerID, data_tab_new_inday) + '</td>'
                        + '<td data-name="payment">' + Render_Column_Payment_New(item.CustomerID, data_payment_new_inday) + '</td>'
                        + '<td>' + Render_Column_Treat_New(item.CustomerID, data_treat_new_inday) + '</td>'
                        + '<td data-name="labo">' + Render_Column_Labo_New(item.CustomerID, data_labo_new_inday) + '</td>'

                    stringContent = stringContent + '<tr data-id="' + item.CustomerID + '" role="row"  class="vt-number">' + tr + '</tr>';

                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
    }
    function Render_Column_Tab_New(CustomerID, data) {
        let tr = '';
        let data_by_customer = data.filter(word => word.CustomerID == CustomerID);
        if (data_by_customer && data_by_customer.length > 0) {
            for (var i = 0; i < data_by_customer.length; i++) {
                let item = data_by_customer[i];
               
                tr = tr + '<div class="ps-2 mb-0">'
                    + '<p class="text-sm m-0">'
                    + '<i class="vtt-icon vttech-icon-service-payment text-xs text-gradient text-info pe-2" aria-hidden="true">'
                    + '</i>'
                    + '<span class="font-weight-bold pe-2">'
                    + formatNumber(item.PriceDiscounted)
                    + '</span>'
                    + item.ServiceName
                    + '</p>'
                    + '</div>';

                 
            }
        }
        return tr;
    }
    function Render_Column_Payment_New(CustomerID, data) {
        let tr = '';
        let data_by_customer = data.filter(word => word.CustomerID == CustomerID);
        if (data_by_customer && data_by_customer.length > 0) {
            for (var i = 0; i < data_by_customer.length; i++) {
                let item = data_by_customer[i];
                let classname = (item.AmountPaid < 0) ? 'fa-minus text-danger' : 'fa-plus text-success';

                tr = tr + '<div class="ps-2 mb-0">'
                    + '<p class="text-sm m-0">'
                    + '<i class="fa ' + classname + ' pe-2" aria-hidden="true">'
                    + '</i>'
                    + '<span class="font-weight-bold pe-2">'
                    + formatNumber(item.AmountPaid)
                    + '</span>'
                    + item.ServiceName
                    + '</p>'
                    + '</div>';
  
            }
        }
        return tr;
    }
    function Render_Column_Labo_New(CustomerID, data) {
        let tr = '';
        let data_by_customer = data.filter(word => word.CustomerID == CustomerID);
        if (data_by_customer && data_by_customer.length > 0) {
            for (var i = 0; i < data_by_customer.length; i++) {
                let item = data_by_customer[i];
                tr = tr + '<div class="ps-2 mb-0">'
                    + '<p class="text-sm m-0">'
                    + '<i class="vtt-icon vttech-icon-labo text-xs text-gradient text-info pe-2" aria-hidden="true">'
                    + '</i>'
                    + '<span class="font-weight-bold pe-2">'
                    + formatNumber(item.Price)
                    + '</span>'
                    + item.Lab_Code +' ' +item.ServiceLabo
                    + '</p>'
                    + '</div>';
          
            }
        }
        return tr;
    }
    function Render_Column_Treat_New(CustomerID, data) {
        let tr = '';
        let data_by_customer = data.filter(word => word.CustomerID == CustomerID);
        if (data_by_customer && data_by_customer.length > 0) {
            for (var i = 0; i < data_by_customer.length; i++) {
                let item = data_by_customer[i];
                let jonner = '';
                if (item.BS1 != '' || item.PT1 != '') {
                    jonner = '<div class="border-0 p-1 mt-2 ps-4 bg-gray-100 border-radius-lg">'
                        + '<span class="d-block text-sm">' + item.BS1 + '</span>'
                        + '<span class="d-block text-sm">' + item.PT1 + '</span>'
                        + '</div>'
                }
                tr = tr + '<div class="ps-2 mb-0">'
                    + '<p class="text-sm m-0">'
                    + '<i class="vtt-icon vttech-icon-treatment text-xs text-gradient text-warning pe-2" aria-hidden="true">'
                    + '</i>'
                    + '<span>' + item.ServiceTreat + '</span>'
                    + jonner
                    + '</p>'
                    + '</div>';

                
            }
        }
        return tr;
    }
    function exportData_RevenueByBranchGrid() {
        exportToExcel("dtContentReport_CustomerActivity", 'Hoat-Dong-Cua-Khach-Hang-Co-Lich-Hen');
    }
</script>
<style type="text/css">
    .color_amount {
        color: #d84242;
    }

    .name_service:before {
        content: '-';
        margin-right: 6px;
    }
</style>

