<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VT-Tech Solution</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/assests/img/logo/favicon.ico">
    <script src="/assests/library/jquery-2.1.4.min.js" type="text/javascript"></script>
   
    <link href="/assests/dist/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="/assests/dist/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.custom.css">
    <script src="/js/comon/noti_function.js"></script>
    <link href="/assests/dist/plugins/lobibox/css/lobibox.css" rel="stylesheet" />
    <script src="/assests/dist/plugins/lobibox/js/notifications.js"></script>
    <script src="/assests/dist/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link href="/assests/dist/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="/assests/dist/plugins/sweetalert2/custom-alert.js"></script>
    <script src="/assests/dist/plugins/nicescrool/jquery.nicescroll.min.js"></script>
    <script src="/assests/dist/HightLight/dist/jquery.mark.js"></script>
    <script src="/js/comon/mark.js?ver=@DateTime.Now.Ticks"></script>
    <link rel="stylesheet" href="/assests/dist/flatpickr/flatpickr.min.css" />
    <script src="/assests/dist/flatpickr/flatpickr.js"></script>
    <script src="/js/comon.js"></script>
    <script src="/assests/js/ajax.min.js" type="text/javascript"></script>
</head>

<body style="background-color: white; max-width: 100%; height: auto">
    @Html.AntiForgeryToken()
    @RenderBody()

    <script type="text/javascript">
        var Master_Data = [];
        var versionofWebApplication;

        AjaxJWT(url = "/api/Author/BaseData"
            , data = JSON.stringify({})
            , async = false
            , success = function (result) {
                Master_Data = JSON.parse(result);
                versionofWebApplication = Master_Data._versionofWebApplication;
            }
        );

    </script>
</body>
</html >
