@page
@model MLunarCoffee.Pages.Setting.Dentist.ChartDiseaseDetailModel
@{ Layout=null;
}
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">Cài Đặt Trạng Thái Bệnh Của Răng</h6>
                                <p class="text-sm mb-0">Some text of detail sub</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formChartDisease">
                        <div class="field col-12 p-1">
                            <label>Tên Bệnh</label>
                            <input id="DiseaseName" placeholder="Tên Bệnh.." name="name" class="form-control" type="text" />

                        </div>
                        <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                            <label>Đường Viền (Stroke)</label>
                            <input id="ColorCodeStroke" name="fillCode color_setting_disease" class="form-control" type="text" />
                        </div>
                        <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                            <label>Màu Nền (Fill)</label>
                            <input id="ColorCodeFill" class="form-control" name="fillCode color_setting_disease" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formChartDisease" onclick="event.preventDefault();ChartDiseaseClose()">Cancel</button>
                        <button form="formChartDisease" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();ChartDiseaseExecute()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_TodoStatusID;
    $(document).ready(function () {
        @*<% --ser_TodoStatusID = (@Model._TodoStatusID); --*@
        $("#ColorCodeStroke").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            showInput: true,
            color: '#ffffff',
            palette: [
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });

    $("#ColorCodeFill").spectrum({
        showPaletteOnly: true,
        togglePaletteOnly: true,
        showInput: true,
        color: '#ffffff',
        palette: [
            ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
            ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
            ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
            ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
            ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
            ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
            ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
        ]
    });

        //ChartDiseaseLoadUpdate();
    });
    function ChartDiseaseExecute() {
        var data = new Object();
        data.Name = $('#StatusName').val() ? $('#StatusName').val() : "";
        data.ColorCode = $("#ColorCodeDetail").spectrum('get').toHexString()
        $('#formChartDisease').form('validate form');
        if ($('#formChartDisease').form('is valid')) {
            AjaxLoad(url = "/ToDo/WorkingProject/TodoStatusOptionDetail/?handler=ExcuteData"
                , data = {}, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        ChartDiseaseLoad();
                        ChartDiseaseClose();
                    } else {
                        notiError(result);
                    }
                });
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
        }
        return false;
    }
    function ChartDiseaseLoadUpdate() {
            //<%--let dataColor = ([Model._dataColor][0]);--
        if (dataColor) {
            $('#StatusName').val((dataColor[0].Name));
            $("#ColorCodeDetail").spectrum("set", dataColor[0].ColorCode);
        }
    }
</script>
<script src="/js/customjs/custom-validation.js"></script>
<script src="/js/main.js"></script>
<script src="/dist/ColorPicker/spectrum.js"></script>
<link href="/dist/ColorPicker/spectrum.css" rel="stylesheet" />

