@page
@model MLunarCoffee.Pages.ToDo.WorkingProject.TodoTeamDetailModel
@{ Layout=null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <script>js_require('/js/comon/initialize_setting.js?ver=@DateTime.Now.Ticks');</script>
</head>

<body>
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12">
                <!--Master-->
                <div class="card mb-3">
                    <div class="card-header p-3 pb-0">
                        <div class="d-lg-flex">
                            <div class="w-50 col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="mb-0">Group Detail</h6>
                                    <p class="text-sm mb-0">Some text of detail sub</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 pt-2">
                        <div class="row px-2 form3" id="form3">
                            <div class="field col-6 p-1">
                                <label data-languagestatic="name">Tên Nhóm</label>
                                <input id="TodoTeam_TeamName" class="form-control" name="name"/>
                            </div>
                            <div class="field col-6 p-1">
                                <label data-languagestatic="name">Member</label>
                                <div class="ui fluid multiple search selection dropdown form-control" id="TodoTeam_Person">
                                    <input type="hidden" name="username" />
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">UserName</div>
                                    <div id="cbbUser" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed-botombutton">
                    <div class="action_Save">
                        <div class="text-danger text-gradient text-sm font-weight-bold" data-languagedyn="textShowMessage" id="textShowMessage"></div>
                        <div class="action_Save-Content">
                            <button data-languagestatic="button_cancel" class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
                            <button data-languagestatic="button_ok" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return TodoTeam_Excute()">Save</button>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var ser_TodoTeamID = (@Model._TodoTeamID);

        $(document).ready(function () {
            TodoTeam_Initiliaze();
        });

        function TodoTeam_Initiliaze() {
            AjaxLoad(url = "/ToDo/WorkingProject/TodoTeamDetail/?handler=LoadInitializeData"
                , data = { CurrentID: ser_TodoTeamID}, async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        Load_Combo(data.cbbUser, "cbbUser", true);
                        TodoTeam_Update(data.dataDetail);

                    } else {
                        notiError_SW();
                    }
                });
        }

        function TodoTeam_Excute() {
            var data = new Object();
            data.TeamName = $('#TodoTeam_TeamName').val() ? $('#TodoTeam_TeamName').val() : "";
            data.TokenUser = $('#TodoTeam_Person').dropdown('get value');
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/ToDo/WorkingProject/TodoTeamDetail/?handler=ExcuteData"
                    , data = { data: JSON.stringify(data), CurrentID: ser_TodoTeamID }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            TodoTeam_LoadData();
                            CloseModal();
                        } else $('#textShowMessage').html('Trùng dữ liệu');
                    }
                );
            }
            return false;
        }
        function TodoTeam_Update (dataDetail) {

            if (dataDetail && dataDetail.length > 0) {
                $("#TodoTeam_Person").dropdown("refresh");
                let dataUserSelected = dataDetail[0].UserToken.split(',');
                for (let i = 0; i < dataUserSelected.length; i++) {
                    let item = dataUserSelected[i];
                    $("#TodoTeam_Person").dropdown("set selected", item);
                }
                $('#TodoTeam_TeamName').val((dataDetail[0].Name));
            }
        }

    </script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>

</html>
