@page
@model SourceMain.Pages.ToDo.WorkingProject.TodoProjectDetailModel
@{ Layout=null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>js_require('/js/comon/initialize_setting.js?ver=@DateTime.Now.Ticks');</script>

</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">Project Detail</h6>
                                <p class="text-sm mb-0">Some text of detail sub</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form form3" id="form3">
                        <div class="field col-12 px-1 mt-2">
                            <label>Name</label>
                            <input id="ProjectName" name="name" class="form-control" placeholder="eg .name" type="text" />
                        </div>
                        <div class="field col-12 px-1 mt-2">
                            <label>Content</label>
                            <textarea id="ProjectNote" name="note" class="form-control" rows="3" placeholder="eg .name" type="text" />
                        </div>
                        <div class="datefrom field col-12 col-md-6 col-xl-6 px-1 mt-2">
                            <label>Date From</label>
                            <input id="dateFrom" class="flatpickr flatpickr-input form-control" type="text" placeholder="" onchange="TodoP_CheckTime()"
                                   readonly="readonly" />
                        </div>
                        <div class="dateto field col-12 col-md-6 col-xl-6 px-1 mt-2">
                            <label>Date To</label>
                            <input id="dateTo" class="flatpickr flatpickr-input form-control" type="text" placeholder="" onchange="TodoP_CheckTime()"
                                   readonly="readonly" />
                        </div>
                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                            <div class="field">
                                <label>Group</label>
                                <div class="ui fluid search selection dropdown form-control" id="Team_ID">
                                    <input type="hidden" name="grouptele" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">Choose group...</div>
                                    <div id="cbbTeam" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                            <div class="field">
                                <label>Status Project</label>
                                <div class="ui fluid search selection dropdown" id="Status_ID">
                                    <input type="hidden" name="grouptele" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="cbbStatus" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" data-languagedyn="textShowMessage" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button data-languagestatic="button_cancel" class="btn btn-secondary" form="form3" onclick="CloseModal()">Cancel</button>
                        <button data-languagestatic="button_ok" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2"
                                onclick="TodoP_ExecuteData()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        let CurrentID = (@Model._DataDetailID);
        $(document).ready(function () {
            $(".flatpickr").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false,
                defaultDate: new Date(),
            });
            $('.money').divide();
                TodoP_LoadData();
        });
        function TodoP_CheckTime() {
            debugger
            let dto = ($('#dateTo').val()).split("-");
            dto.reverse();
            let dto_ = '';
            dto.forEach(item => {
                dto_=dto_+'-'+item
            })
            dto_ = dto_.slice(1, dto_.length);

            let dfrom = ($('#dateFrom').val()).split("-");
            dfrom.reverse();
            let dfrom_ = '';
            dfrom.forEach(item => {
                dfrom_ = dfrom_ + '-' + item
            })
            dfrom_ = dfrom_.slice(1, dfrom_.length);

            if (dto_<dfrom_) {
                $('.datefrom').addClass('error')
                $('.dateto').addClass('error')
            } else {
                $('.datefrom').removeClass('error')
                $('.dateto').removeClass('error')
            }
        }
        function TodoP_LoadData() {
            AjaxLoad(url = "/ToDo/WorkingProject/TodoProjectDetail/?handler=LoadInitializeData"
                , data = { CurrentID: CurrentID }, async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);

                        let dataDetail = data.dataDetail;
                        Load_Combo(data.dataTeam, "cbbTeam", true);
                        Load_Combo(data.dataStatus, "cbbStatus", true);

                        if (dataDetail && dataDetail.length > 0) {
                            $('#ProjectName').val(dataDetail[0].Name);
                            $('#ProjectNote').val(dataDetail[0].Note);
                            $('#dateFrom').val(dataDetail[0].Date_From);
                            $('#dateTo').val(dataDetail[0].Date_To);

                            $("#Team_ID ").dropdown("refresh");
                            $("#Team_ID ").dropdown("set selected", dataDetail[0].TeamID);

                            $("#Status_ID ").dropdown("refresh");
                            $("#Status_ID ").dropdown("set selected", dataDetail[0].Status);
                        }

                    } else {
                        notiError_SW();
                    }
                });
        }


        function TodoP_ExecuteData() {
            var data = new Object();
            data.name = $('#ProjectName').val() ? $('#ProjectName').val() : "";
            data.description = $('#ProjectNote').val() ? $('#ProjectNote').val() : 0;
            data.datefrom = $('#dateFrom').val() ? $('#dateFrom').val() : "";
            data.dateto = $('#dateTo').val() ? $('#dateTo').val() : "";
            data.team_id = Number($('#Team_ID').dropdown('get value')) ? Number($('#Team_ID').dropdown('get value')) : 0;
            data.status_id = Number($('#Status_ID').dropdown('get value')) ? Number($('#Status_ID').dropdown('get value')) : 0;
            $('#form3').form('validate form');
            if ($('#form3').form('is valid') ) {
                AjaxLoad(url = "/ToDo/WorkingProject/TodoProjectDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data)
                        , CurrentID: CurrentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "0") {
                            notiSuccess();
                            Load_List_Project_Ajax();
                            $('#DetailModal').modal('hide');
                            $("#DetailModal_Content").html('');
                        }
                        else {
                            document.getElementById("textShowMessage").innerHTML = "Trùng dữ liệu";
                        }
                    });
            }
            return false
        }

    </script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>
