@page
@model SourceMain.Pages.ToDo.WorkingProject.TodoSettingModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="row px-2">
    <div class="col-12 col-md-4 col-xl-3 p-0 pt-1">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">Setting</h6>
                            <p class="text-sm mb-0">Some text of detail sub</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="mt-2 overflow-y">
                    <ul id="todosetting_list" class="nav flex-column bg-white border-radius-md px-0 ">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-xl-9 pt-1 mx-auto">
        <div class="card-body p-0" id="TodoSetting_Area">
        </div>
    </div>
</div>

<script type="text/javascript">
    let ser_dtCurrentList = [];

    let list = { GroupID: 1, GroupName: "groupcompany", GroupText: "Setting", GroupType: "General", ListText: "Group", ControlName: "", ListLink: "/ToDo/WorkingProject/TodoTeamList", TextNoSign: "Group", Image: "" };
    ser_dtCurrentList.push(list);

    let list1 = { GroupID: 1, GroupName: "groupcompany", GroupText: "Setting", GroupType: "General", ListText: "Project Status", ControlName: "", ListLink: "/ToDo/WorkingProject/TodoStatusOption", TextNoSign: "Project Status", Image: "" };
    ser_dtCurrentList.push(list1);

    let ser_firstlink;


    $(document).ready(function () {
        TodoSetting_Render(ser_dtCurrentList, "todosetting_list");
        TodoSetting_Event();
        TodoSetting_Trigger(ser_firstlink);
    });

    function TodoSetting_Event() {
        $(".todosetting_item").on('click', function (event) {
            event.stopPropagation();
            $(".todosetting_item").removeClass("active");
            $(this).addClass("active");
            let link = $(this).attr("data-link");
            $("#TodoSetting_Area").load(link + "?ver=" + versionofWebApplication);
        });
    }

    function TodoSetting_Trigger() {
        $("#todosetting_list").find(".todosetting_item").eq(0).trigger("click");
    }
    function TodoSetting_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let dr = "";
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (i == 0) ser_firstlink = item.ListLink;
                    dr = '<li class="todosetting_item list-group-item border-0 border-radius-md cursor-pointer"  data-id="' + (i + 1) + '"  data-link="' + item.ListLink + '">'
                        + '<span class=" badge badge-md badge-dot w-100 text-start d-flex align-items-center py-0 ps-2"> '
                        // + '<i class=" text-sm  bg-secondary"></i>'
                        + '    <a class="p-2 text-dark text-sm">' + item.ListText + '</a>'
                        + '</span></li>'
                    stringContent = stringContent + dr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
</script>

<script src="/assests/dist/ColorPicker/spectrum.js"></script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />