@model IEnumerable<LunarCoffee.Models.EntityFramework.ProductCategory>

@if (Model != null && Model.Any())
{
    <!-- Banner -->
    <div class="banner">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image: url(@item.Icon)">
                            <div class="banner_category">
                                <a href="@item.Alias">@item.Title</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}
