@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;

    }
        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(var(--bs-primary), 0.6);
            -webkit-transition: background-color 1s linear;
            -ms-transition: background-color 1s linear;
            transition: background-color 1s linear;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }


    .dark-version ::-webkit-scrollbar-thumb {
        /*background-color: rgba(299,299,299, .8);*/
        background-color: rgba(var(--bs-primary), 0.6);
        border-radius: 10px;
    }

}
@media only screen and (min-width: 768px) {
    .mobile-responsive {
        /* overflow-x: auto; */
        /* overflow-y: auto; */
        scrollbar-gutter: stable both-edges;
        overflow-y: overlay;
    }
}
.navbar-vertical.navbar-expand-xs {
    scrollbar-gutter: stable both-edges;
    overflow-y: overlay;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
        scrollbar-gutter: stable both-edges;
        overflow-y: overlay;
    }
}