@model IEnumerable<LunarCoffee.Models.EntityFramework.ExportDetail>
@if(Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bExported">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn vị</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Product.Title</td>
                    <td>@item.Quantity</td>
                    <td>@item.Unit.Name</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
