@page
@model SourceMain.Pages.Setting.TypeCustomerStatusListModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="pusher">
    <div class="row" style="background-color: white">
        <div class="ui segments">
            <div class="ui segment headerSegmentReport">
                <div class="headerReport">
                    <span data-languagestatic="list_status_consulting_header" class="header_form_main">Danh Sách Tình Trạng Tư Vấn</span>
                    <a style="float: right; cursor: pointer" onclick="event.preventDefault();LoadTypeCustomerStatusjax()"><i class="refresh icon" title="Tải lại" style="font-size: 13px"></i></a>
                </div>
            </div>
            <div class="ui segment">
                <div data-languagestatic="rule_no_edit_delete_using" class="descriptionHeader" style="font-family: 'Times New Roman'">Những tình trạng đã sử dụng không được xóa</div>
                <div style="height: 33px;">
                    <button data-languagestatic="create_new" id="btnAddTypeCustomerStatus" style="min-width: 100px; float: right" class="ui teal button button_create_new _tab_control_" data-tab="add_tab_type_customer_status" data-value="fade up" onclick="return AddNewTypeCustomerStatus()">Thêm Mới</button>
                </div>
                <div class="scrollx">
                    <table id="dtContentTypeCustomerStatus" class="ui selectable celled table">
                        <thead class="hiddenCollapse">
                            <tr role="row">
                                <th style="display: none">ID</th>
                                <th data-languagestatic="no" style="width: 40px;">#</th>
                                <th data-languagestatic="status">Tình Trạng</th>
                                <th data-languagestatic="note">Ghi Chú</th>
                                <th data-languagestatic="createdname">Người Tạo</th>
                                <th data-languagestatic="handlelname">Người Sửa</th>
                                <th data-languagestatic="edit" id="grColumnEditTypeCustomerStatus" style="width: 70px;">Sửa</th>
                                <th data-languagestatic="delete" id="grColumnDeleteTypeCustomerStatus" style="width: 70px;">Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentTypeCustomerStatusBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadTypeCustomerStatusjax();

        $('#dtContentTypeCustomerStatus tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditTypeCustomerStatus(ID);
        });
        $('#dtContentTypeCustomerStatus tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteTypeCustomerStatus(ID)
        });

    });

    function LoadTypeCustomerStatusjax() {
        AjaxLoad(url = "/Setting/TypeCustomerStatusList/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                RenderTabledTypeCustomerStatus(data, 'dtContentTypeCustomerStatusBody');
            });
        //GetDataSourceUnit("/Setting/TypeCustomerStatusList/LoadData", function (data) {
        //    RenderTabledTypeCustomerStatus(data, 'dtContentTypeCustomerStatusBody');
        //})
    }

    function RenderTabledTypeCustomerStatus(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none !important;">' + item.ID + '</td>'
                        + '<td>' + item.STT + '</td>'
                        + '<td>' + item.Name + '</td>'
                        + '<td>' + item.Note + '</td>'
                        + '<td>'
                        + '<span style="color:#00b5ad;">' + item.Created_By + '</span>' + '</br>'
                        + '<span>' + item.Created + '</span>'
                        + '</td>'
                        + '<td>'
                        + '<span style="color:#00b5ad;">' + item.NguoiSua + '</span>' + '</br>'
                        + '<span>' + item.ModifiedString + '</span>'
                        + '</td>'
                        + ((item.EditButton === 1)
                            ? ('<td><button class="buttonGrid" value="'
                                + item.ID
                                + '"><i class="buttonEditClass vtt-icon vttech-icon-edit"></i></button></td>')
                            : '<td></td>')
                        + ((item.DeleteButton === 1)
                            ? ('<td><button class="buttonGrid _tab_control_" data-tab="delete_tab_type_customer_status" value="'
                                + item.ID
                                + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button></td>')
                            : '<td></td>')

                    stringContent = stringContent + '<tr role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
        Checking_TabControl_Permission();
    }

    function DeleteTypeCustomerStatus(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteTypeCustomerStatus(id); }, function () { });
    }
    function ExecuteDeleteTypeCustomerStatus(id) {
        AjaxLoad(url = "/Setting/TypeCustomerStatusList/?handler=DeleteItem"
            , data = {id:id}, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadTypeCustomerStatusjax();
                } else {
                    notiError_SW();
                }
            });
    
    }

    function EditTypeCustomerStatus(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/TypeCustomerStatusDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function AddNewTypeCustomerStatus() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/TypeCustomerStatusDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }


</script>

<script>js_require('/js/main.js');</script>