 


.mess_chatbox_area {
    min-height: 46px;
    max-height: 150px;
    resize: none;
    outline: none;
}

.mess_chatbox .icon-hover, .interact .icon-hover {
    display: inline-flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

    .mess_chatbox .icon-hover:hover, .interact .icon-hover:hover {
        background: #e9ecef !important;
    }

        .mess_chatbox .icon-hover:hover i, .interact .icon-hover:hover i {
            color: #344767 !important;
        }

#fbm_content .content {
    padding: 5px 12px;
    font-size: 15px !important;
    font-weight: 400;
    white-space: pre-wrap;
    max-width:600px;
}

#fbm_content .pagesend .content {
    border-radius: 6px 4px 11px;
    background: #0084ff;
    color: white !important;
}
#fbm_content .pagesend.temp .content {
    background: #e4e6eb !important;
    color: #6f7991 !important;
}
#fbm_content .pagesend.error .content {
    border: 1px dotted red;
}
#fbm_content .pagesend.error .fail {
    opacity: 1 !important;
    border: none;
    right: -9px;
}
#fbm_content .pagesend.error .wait {
    opacity: 0;
}



#fbm_content .usersend .content {
    border-radius: 0px 8px 5px;
    background: #e4e6eb;
    color: #000410 !important;
}

#fbm_content .usersend {
    justify-content: flex-start !important;
}
#fbm_content .senticon {
    position: absolute;
    right: -14px;
    bottom: 4px;
    opacity: 0.5;
    font-size: 12px;
    height: 12px;
    width: 12px;
}

#fbm_content .senticonavatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    right: -16px;
    bottom: 4px;
    position: absolute;
    BORDER: 1PX SOLID #479aff;
}
#fbm_content .pagesend {
    justify-content: flex-end !important;
    text-align: end;
    margin-left: auto !important;
}

#fbm_content .blocksend {
    display: flex;
    max-width: 70%;
    margin: 7px;
    align-items: center;
}

#fbm_content .sticker {
    max-height: 100px;
    height: 100px;
}

#fbm_content .date {
}

#fbm_content .usersend .date {
}

#fbm_content .pagesend .date {
    margin-left: auto !important;
}

#fbm_content .file {
    padding: 5px 9px;
    margin: 7px;
    border-radius: 10px;
}

#fbm_content .usersend .file {
    background: #e4e6eb;
}

    #fbm_content .usersend .file a {
    }

#fbm_content .videofeature {
    width: 100%;
   max-height:300px;
}

#fbm_content .video {
    /*max-height: 370px;
    height: 370px;
    padding: 10px;*/
    max-width: 100%;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0px 1px 5px 1px #ddd !important;
}

#fbm_content video {
    display: none;
    width: 100%;
}

    #fbm_content video.show {
        display: block;
    }

#fbm_content .image img {
    height: 120px;
    border-radius: 5px;
    border: 1px solid #00000026;
}

#fbm_content .image {
    max-width: 600px;
}

#fbm_content .pagesend .image {
    display: flex;
    justify-content: end;
}

#fbm_content .usersend .image {
}


#fbm_content .pagesend .file {
    color: white !important;
    background: #0084ff;
}

    #fbm_content .pagesend .file a {
        color: white !important;
    }

#fbm_content .interact {
    width: 80px;
    opacity: 0;
}

#fbm_content .blocksend:hover .interact {
    opacity: 1;
}

.fbm_btnac {
    border: 1px solid #e3e4e5;
    border-radius: 6px;
    font-size: 13px;
    padding: 4px 9px;
}
    .fbm_btnac::after{
        display: none;
    }
    .twoline {
        /*  line-height: 1.7em;
        height: 1.7em;*/
        width: 170px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
#fbc_list .itemmes.unread {
    background: #0084ff12;
}

#fbc_list .unread .name {
    font-weight: 600 !important;
    color: #040404;
}
#fbc_list .unread .time {
    font-weight: 600 !important;
    color: #040404;
}
#fbc_list .proavatar, #fmb_conurl {
    height: 50px;
    border-radius: 40px;
    width: 50px;
    object-fit: cover;
}
#fbc_list .conitem .isstar {
    opacity:1 !important;
    font-size:14px !important;
}
#fbc_list .conitem .ishide {
    opacity: 1 !important;
}
#fbc_list .conitem .name {
    color: #151517 !important;
    font-weight: 600;
}
#fbc_list .unread .content {
    font-weight: 500 !important;
    color: #000000;
}
#fbc_list .contag {
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px !important;
    padding: 2px 6px !important;
    font-weight: 500 !important;
}
#fbc_list .more .contag {
    max-width: unset !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px !important;
    padding: 5px 6px !important;
    margin: 2px !important;
    font-weight: 500 !important;
}

#fbc_list .unread .circle {
    display: flex !important;
}

#fbc_list .circle {
    width: 13px;
    height: 13px;
 
}
#PI_BodyNote .areacontent .content {
    font-size: 15px !important;
    font-weight: 400;
    white-space: pre-wrap !important;
    max-width: 600px;
}
#PI_BodyNote .bttmodify {
    opacity: 0 !important;
}
#PI_BodyNote .areacontent:hover .bttmodify {
    opacity: 1 !important;
}
#fbc_list a.nav-link.active, #fbc_list a:hover {
    box-shadow: none !important;
    background: #f5f6f7;
}
#fbm_blockuser.blocked .sign {
    
    color: #c70000 !important;
}
#fbm_blockuser.executing .fas {
   opacity:0;
}
#fbm_blockuser.executing .waitingdiv {
    /*opacity: 0.5 !important;*/
}
#fbc_profileinfo{
    display:none !important;
}
#fbc_profileinfo.active {
    display: block !important;
}
#fbp_tag .ftag {
    height: 25px;
    width: 25px;
}

.fbm_btnactitle {
    display: none;
}
#fbc_profileinfo.nonexist {
    opacity: 0.6;
    pointer-events: none;
    width: 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
}
#fbc_chatting.nonexist #fbm_nonexist {
    display: flex !important;
}
#fbc_chatting.nonexist .mess_chatbox {
    display: none !important;
}
#fbm_content .addprofile {
    right: -17px !important;
    top: 7px !important;
}
#fbm_content .blocksend :hover .addprofile {
    opacity:1 !important;
}
#fbm_content .addprofile.copied {
    opacity: 1 !important;
    color: #3F51B5 !important;
}
@media only screen and (max-width: 992px) {
    #fbc_profileinfo {
        position: absolute !important;
        right: 150px;
        top: 0;
        opacity: 0;
        z-index: -9999999;
        height: 100%;
        width: 0px;
        display: block !important;
    }
       /* #fbc_chatlistmaster{
            right: unset;
            left: 150px;
        }*/
    #fbc_profileinfo.active {
            transition: right 0.25s;
            right: 0;
            opacity: 1;
            background: white;
            z-index: 4;
            box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
            max-width: 100%;
            width: 400px !important;
            min-width: 400px !important;
        }


    #fbc_chatlistmaster {
        width: 80px !important;
        min-width: 80px !important;
    }

        #fbc_chatlistmaster #fbc_list .conitem > :first-child {
            margin-inline: 0 !important;
        }

        #fbc_chatlistmaster #fbc_list .conitem > :not(:first-child) {
            display: none;
        }

            .fbm_btnlist > .fbm_btncontent {
                width: 0;
                opacity: 0;
                position: absolute;
                right: 20px;
                top: 0;
                transition: width 0.3s;
                display: none;
            }

        .fbm_btnlist > .fbm_btncontent.active {
            width: 250px;
            opacity: 1;
            right: 0;
            top: 100%;
            background: white;
            box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
            .fbm_btnlist > .fbm_btncontent.active .fbm_btnac {
                background: transparent;
                border: none;
                display: flex;
                gap: 8px;
                width: 100%;
                color: #808080 !important;
                align-items: center;
            }

    .fbm_btnactitle{
        display:block;
        white-space: nowrap;
    }

}

#fbc_chatlistmaster {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
}

#fbc_chatlistmaster.collapview {
    width: 80px !important;
    min-width: 80px !important;
}

    #fbc_chatlistmaster.collapview #fbc_list .conitem > :first-child {
        margin-inline: 0 !important;
    }

    #fbc_chatlistmaster.collapview #fbc_list .conitem > :not(:first-child){
        display: none;
    }



.blocksend.pagesend ~ .blocksend.pagesend .card-body,
.blocksend.usersend ~ .blocksend.usersend .card-body {
    padding-block: 0 !important;
}

.blocksend.usersend ~ .blocksend.pagesend .content {
    border-radius: 1.3em 12px 4px 1.3em !important;
}

.blocksend.pagesend ~ .blocksend.pagesend .content {
    border-radius: 0 !important;
    border-radius: 1.3em 1.3em 4px 1.3em !important;
}

.blocksend.usersend ~ .blocksend.usersend .content {
    border-radius: 0 !important;
    border-radius: 1.3em 1.3em 1.3em 4px !important;
}

.blocksend.pagesend + .blocksend.pagesend .content {
    border-radius: 1.3em 4px 4px 1.3em !important;
}
.blocksend.usersend + .blocksend.usersend .content {
    border-radius: 4px 1.3em 1.3em 4px !important;
}
.blocksend.pagesend+.blocksend.usersend{

}
#fb_pagelist .unread .badread {
    opacity: 1 !important;
 
}
#fb_pagelist .unread .pname {
    font-weight:600 !important;
}
#fb_pageunreadcount.newmess {
    opacity: 1 !important;
}

#fb_receiparea .alertfade {
 
    animation-name: fadeInRight,hide;
    animation-duration: 1s;
    animation-delay: 0s,3s;
    animation-fill-mode: both;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes hide {
    100% {
        opacity: 0;
    }
}
#fb_receiparea {
    z-index: 10 !important;
    max-width: 300px;
    overflow: hidden;
}
#fbf_taglist .filter:hover {
    background: #67748e17;
}
#fbf_taglist .filter.active {
    background: #67748e17;
    font-weight: 700 !important;
}