@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

/*CSS Table*/
.upload-container {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

    .upload-container:hover {
        opacity: 0.5;
        transition: 0.4s ease-in-out;
        background: rgba(0,0,0,0.2);
        border-radius: 10px 10px;
        border: 2px dotted;
    }
.white-space-pre-line {
    white-space: pre-line !important;
}
 
#Master_ViewContent {
    position: fixed;
    left: 0;
    margin-inline: 5%;
    top: 10%;
    
}
label[contenteditable] {
    background: #f0f3f5a3 !important;
    padding: 5px;
} 
#lf_templatedetail .vtprint-hiderow, #sf_formarea .vtprint-hiderow, #PrintfContainer .vtprint-hiderow {
    display: flex !important;
}
.vtprint-hiderow.active{
    display: none !important;
}
#lf_templatedetail .vtprint-hiderow-other-printarea
, #sf_formarea .vtprint-hiderow-other-printarea
, #PrintfContainer .vtprint-hiderow-other-printarea
, #divRegimenListContent .vtprint-hiderow-other-printarea{
    display: flex !important;
}
.vtprint-hiderow-other-printarea.none {
    display: none;
}
#Master_ViewContent.active {
    display: block !important;
}
.vt_print_show_other_hide{
    display:none!important;
}
#sf_formarea .vt_print_show_other_hide{
    display:flex !important;
}
@media only screen and (min-width: 768px) {
    #Master_ViewContent {
        top: 20%;
        margin-inline: 25%;
    }
}


@media only screen and (min-width: 992px){
    #Master_ViewContent {
        top: 20%;
        margin-inline: 35%;
    }
}

.content_line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:70vw;

}

.vt-table tr th.vtt-filter {
    position: relative;
    white-space: nowrap !important;
}

.vt-table tr th.vtt-filter:after {
    content: "\f0b0";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    cursor: pointer;
    margin-left: 3px;
}

.vtt-filter-popup {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
}




#BodyMain.show_content_all .content_line_clamp {
    -webkit-line-clamp: inherit !important;
}
@media only screen and (min-width:767px) {
    .vt-header-sticky {
        max-height: 92vh;
    }

    .vttech-fixedcol {
        position: sticky;
        background-color: inherit !important;
    }
}
    

        .vt-header-sticky.vt-hs-height thead {
            z-index: 2;
        }

        .vt-header-sticky thead {
            position: sticky;
            top: -1px;
            background: #FFFFFF !important;
            z-index: 1;
        }



    .vt-table-font-size {
    }

        .vt-table-font-size td {
            font-size: 16px !important;
        }

    .hide-header th {
        display: none;
    }

    .tb-border-bottom {
        width: 100%;
        padding: 0.2rem 0.3rem;
    }

        .tb-border-bottom tr {
            border-bottom: 1px dotted black;
        }

        .tb-border-bottom td {
            font-size: 16px !important;
        }



    .scrollx {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        position: relative;
        min-width: 0;
        word-wrap: break-word;
        background-color: var(--color--table--brg);
        background-clip: border-box;
        border: 0 solid var(--color--table--border);
        box-shadow: 0 20px 27px 0 var(--color--table--boxshadown);
    }

    .vt-table {
        font-size: var(--fontsize--table) !important;
        border: 1px solid var(--color--table--border);
        color: var(--color--table) !important;
    }

        .vt-table.sort-pending thead {
            pointer-events: none;
        }

        .vt-table.sort-pending:hover {
            cursor: wait;
        }

        .vt-table > :not(caption) > * > * {
            padding: var(--padding--table) !important;
            border-width: var(--width--table--border);
        }

        .vt-table tr > th {
            border-bottom: 2px solid var(--color--table--border);
            border-bottom-color: var(--color--table--border) !important;
            padding: var(--padding--table--th) !important; /*.75rem 1.5rem;*/
            letter-spacing: 0.01rem !important;
            white-space: nowrap;
            box-shadow: inset 0 0 0 9999px var(--color--transparent);
            color: var(--color--table--head) !important;
            text-transform: capitalize !important;
            font-size: var(--fontsize--table--head);
            background-image: linear-gradient(var(--color--transparent),var(--color--transparent));
            text-align: center;
        }

        .vt-table th, .vt-table td {
            vertical-align: middle !important;
        }

        .vt-table thead tr > th:first-child {
            border-left: none;
        }

        .vt-table tr td, .vt-table tr th {
            border-left: 1px solid var(--color--table--border);
            white-space: normal;
            /* white-space: pre-wrap !important;*/
        }
        /* .vt-table tr td a {

            white-space: normal !important;

        }
*/
        .vt-table td, .vt-table th {
            border-right-width: 1px;
            border-color: var(--color--table--border);
        }

        .vt-table tbody tr:last-child td {
            border-width: 0;
            border-right-width: 1px !important;
            border-color: var(--color--table--border);
        }

        .vt-table tbody td:last-child,
        .vt-table thead th:last-child {
            border-right-width: 0px;
        }

        .vt-table tbody tr:last-child td:last-child {
            border-right-width: 0px !important;
        }

    @media only screen and (max-width:767px) {
        .vt-table:not(.vt_table_notrps) tr > td {
            display: block;
        }

        .table-responsive table:not(.vt_table_notrps) thead th:before,
        .table-responsive table:not(.vt_table_notrps) tbody td:before {
            display: none !important;
        }

        .table-responsive table:not(.vt_table_notrps) tr > td {
            display: table-cell;
        }

        .table-responsive table:not(.vt_table_notrps) td {
            white-space: nowrap;
        }



        .table-responsive table:not(.vt_table_notrps) tr {
            border-bottom: 1px solid #e9ecef;
        }

        .table-responsive table:not(.vt_table_notrps) tr > td,
        .table-responsive table:not(.vt_table_notrps) tr > th {
            text-align: left;
        }

        table:not(.vt_table_notrps) thead {
            display: none;
        }

        .table-responsive table:not(.vt_table_notrps) thead {
            display: table-header-group;
        }

        .table:not(.vt_table_notrps) tbody tr:last-child td {
            border-width: 1px !important;
        }
    }

    @media only screen and (min-width:768px) {
        .mobile-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }


    /*CSS Tự Động Điền Số Thứ Tự*/
    /* Trong tbody Gán Class vt-number Cho tr */
    /* Và Gán Class vt-number-order Cho td */
    .vt-table tbody > .vt-number {
        counter-increment: vt-num-sections;
    }

    .vt-table tbody .vt-number-order {
        text-align: center !important;
    }

        .vt-table tbody .vt-number-order:after {
            content: counter(vt-num-sections);
        }

    li.vt-numbers {
        counter-increment: vt-num-sections;
    }

    .vt-numbers-order {
        text-align: center !important;
    }

        .vt-numbers-order:after {
            content: counter(vt-num-sections);
        }

    /*CSS Color Status Appointment*/
    /*.vt-status {
    display: inline-block;
    line-height: 1em;
    border: none;
    position: relative;
    white-space: nowrap;
    padding: 5px;
    margin-right:5px;
}
    .vt-status .vt-status-color {
        display: inline-block;
        height: 8px;
        width: 9px;
        border-radius: 56%;
        margin-right: 5px;
    }
    .vt-status.vt-consult .vt-status-color {
        background: var(--color--consult);*/ /*Màu Của Lịch Tư Vấn*/

    /*}
    .vt-status.vt-treatment .vt-status-color {
        background: var(--color--treatment);*/ /*Màu Của Lịch Điều Trị*/
    /*}
    .vt-status.vt-type-app .vt-status-color {
        background: var(--color--type--app);*/ /*Màu Của Loại Lịch*/
    /*}

    .vt-status .vt-status-text {
        display: inline-block;
    }*/

    .vt-app-type {
        background: var(--color--app--type--bg) !important; /*Màu Của Loại Lịch*/
        color: var(--color--app--type) !important;
    }

    .vt-app-consult {
        background: var(--color--app--consult--bg) !important; /*Màu Của Lịch Tư Vấn*/
        color: var(--color--app--consult) !important;
    }

    .vt-app-treat {
        background: var(--color--app--treat--bg) !important; /*Màu Của Lịch  Điều Trị*/
        color: var(--color--app--treat) !important;
    }

    /*CSS ICON SORT */
    .table.vt-table.sortable thead th:not(.no-sort):after {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        content: '\f0dc';
        height: 1em;
        width: auto;
        margin: 0em 0em 0em 0.5em;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 0px;
        left: -4px;
        font-size: var(--fontsize--iconsort);
        color: var(--color--iconsort);
        opacity: 0.4;
        font: normal normal normal 14px/1 FontAwesome;
    }

    .table.vt-table.sortable thead th.ascending:after {
        content: '\f160';
        opacity: 0.8;
    }

    .table.vt-table.sortable thead th.descending:after {
        content: '\f161';
        opacity: 0.8;
    }








    /*CSS Layout Master Detail */
    .card-header-detail {
        display: none !important;
    }

    @media only screen and (max-width:767px) {
        .card-header-detail {
            display: block !important;
        }

        .view-session.active .view-session-master {
            display: none;
        }

        .view-session-detail {
            opacity: 0;
            top: 100px;
            z-index: -1;
            height: 0;
            display: none;
        }

        .view-session.active .view-session-detail {
            top: 0;
            opacity: 1;
            z-index: 1;
            height: auto;
            transition: 0.3s;
            display: block;
        }
    }


    @media print {
        :root {
            /*CSS TABLE*/
            --color--table: #1b1c1d; /*Màu Chữ Table*/
            --color--table--brg: #ffffff; /* Màu Nền Của Tabel */
            --color--table--header: #ffffff;
            --color--table--boxshadown: rgba(0,0,0,0.05); /* Màu Shadown Của Tabel */
            --color--table--head: #003964; /* Màu Chữ Của Thead Table */
            --color--table--border: #e9ecef; /* Màu Của Border th, td */
            --fontsize--table: 14px; /*0.95em;*/ /* Kich Thước Cở Chữ Chung Của Table */
            --fontsize--table--head: 0.95em; /* Kich Thước Cở Chữ Của thead */
            --width--table--border: 1px; /* Kich Thước border table */
            --padding--table: 0.5rem 0.5rem; /* Kich Thước padding table */
            --padding--table--th: 0.55rem 0.45rem;
        }

        .table > :not(caption) > * > * {
            padding: var(--padding--table) !important;
            border-width: var(--width--table--border)
        }

        .vt-table {
            font-size: var(--fontsize--table) !important;
            border: var(--width--table--border) solid var(--color--table--border);
            color: var(--color--table) !important;
            border-width: 0 !important;
        }

            .vt-table tr > th {
                border-bottom: var(--width--table--border) solid var(--color--table--border);
                border-bottom-color: var(--color--table--border);
                /*padding: 8px !important;*/ /*.75rem 1.5rem;*/
                padding: var(--padding--table--th) !important;
                letter-spacing: 0.01rem !important;
                white-space: nowrap;
                box-shadow: inset 0 0 0 9999px var(--color--transparent);
                color: var(--color--table--head) !important;
                text-transform: uppercase !important;
                font-size: var(--fontsize--table--head);
                background-image: linear-gradient(var(--color--transparent),var(--color--transparent));
                text-align: center;
            }

            .vt-table tr > td {
            }

            .vt-table th, .vt-table td {
                vertical-align: middle !important;
            }

            .vt-table tr td, .vt-table tr th {
                border-left: var(--width--table--border) solid var(--color--table--border);
                white-space: normal;
                /* white-space: pre-wrap !important;*/
            }
            /* .vt-table tr td a {

            white-space: normal !important;

        }
*/
            .vt-table td, .vt-table th {
                border-right-width: var(--width--table--border);
                border-color: var(--color--table--border) !important;
            }

            .vt-table tbody tr:last-child td {
                border-width: 0;
                border-right-width: var(--width--table--border) !important;
                border-color: var(--color--table--border);
            }

            .vt-table tbody td:last-child,
            .vt-table thead th:last-child {
                border-right-width: 0px;
            }

            .vt-table thead tr > th:first-child, .vt-table tbody tr:last-child td:first-child {
                border-left: var(--width--table--border) solid var(--color--table--border) !important;
            }

            .vt-table thead tr:first-child th {
                border-top: var(--width--table--border) solid var(--color--table--border) !important;
            }

            .vt-table thead tr th:last-child, .vt-table tbody td:last-child {
                border-right: var(--width--table--border) solid var(--color--table--border) !important;
            }

            .vt-table tbody tr:last-child td {
                border-right: var(--width--table--border) solid var(--color--table--border) !important;
                border-bottom: var(--width--table--border) solid var(--color--table--border) !important;
            }

                .vt-table tbody tr:last-child td:last-child {
                    border-right: var(--width--table--border) solid var(--color--table--border) !important;
                }
    }
