@page
@model Fanpage.Pages.Facebook.Setting.AreaListModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="pusher">
    <div class="row" style="background-color: white">
        <div class="ui segments">
            <div class="ui segment headerSegmentReport">
                <div class="headerReport">
                    <span data-languagestatic="area_list_header" class="header_form_main">Danh Sách Khu Vực</span>
                    <a style="float: right; cursor: pointer" onclick="event.preventDefault();LoadSettingAreaAjax()"><i class="refresh icon" title="Refresh" style="font-size: 13px"></i></a>
                </div>
            </div>
            <div class="ui segment">
                <div data-languagestatic="area_list_header_sub" class="descriptionHeader" style="font-family: 'Times New Roman'">Khu vực đã sử dụng không được xóa</div>
                <div style="height: 33px;">
                    <button data-languagestatic="create_new" id="btnAddNewArea" style="min-width: 100px; float: right" class="ui teal button _tab_control_ button_create_new" data-tab="add_tab_area" data-value="fade up" onclick="return AddNewSettingArea()">Thêm Mới</button>
                </div>
                <div class="Table_Scroll-Content">
                    <table id="dtContentSettingArea" class="ui selectable celled table">
                        <thead class="hiddenCollapse">
                            <tr role="row">
                                <th style="display: none">ID</th>
                                <th data-languagestatic="no" style="width:40px;">#</th>
                                <th data-languagestatic="name">Khu Vực</th>
                                <th data-languagestatic="handlelname">Người Sửa</th>
                                <th data-languagestatic="delete" style="width: 70px;">Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentSettingAreaBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let DataUser;
    $(document).ready(function () {

        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                LoadSettingAreaAjax();
            });

        $('#dtContentSettingArea tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditArea(ID);
        });
        $('#dtContentSettingArea tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteArea(ID)
        });

    });

    function LoadSettingAreaAjax() {
        AjaxLoad(url = "/Facebook/Setting/AreaList/?handler=LoadData"
            , data = {}, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    RenderTabledSettingArea(data, 'dtContentSettingAreaBody');
                }
            }
        ); 

    }

    function RenderTabledSettingArea(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_circleAvatar;

                    let tr =
                        '<td style="display:none !important;">' + item.ID + '</td>'
                        + '<td>' + (i + 1) + '</td>'
                        + '<td><a class="buttonEditClass">' + item.Name + '</a></td>'

                        + '<td><div class="divEditor">'
                        + '<img title="'
                        + name + '" class="ui mini circular image" src="data:image/png;base64, ' + img + '" alt="label-image" />'
                        + '<span title="' + GetDateTime_String_DMYHM(item.DayEditor) + '">'
                        + GetDateTime_String_DMY(item.DayEditor) + '</span>'
                        + '</div></td>'
                        + ((item.DeleteButton == 1)
                            ? ('<td><button class="buttonGrid" value="'
                                + item.ID
                                + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button></td>')
                            : '<td></td>')

                    stringContent = stringContent + '<tr role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }

        Hover_Edit(id);
        Checking_TabControl_Permission();
    }

    function DeleteArea(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteArea(id); }, function () { });
    }
    function ExecuteDeleteArea(id) {
        AjaxLoad(url = "/Facebook/Setting/AreaList/?handler=DeleteItem"
            , data = { 'id': id }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadSettingAreaAjax();
                } else {
                    notiError_SW();
                }
            }
        );        
    }

    function EditArea(CurrentID) {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("/Facebook/Setting/AreaDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#divDetailPopup').modal('show');
        return false;
    }

    function AddNewSettingArea() {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("/Facebook/Setting/AreaDetail?ver=" + versionofWebApplication);
        $('#divDetailPopup').modal('show');
        return false;
    }


</script>

<script>js_require('/js/main.js');</script>