@page
@model Fanpage.Pages.Facebook.Setting.FacebookTagDetailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />
</head>
<body>

    <div data-languagestatic="edit_facebook_tag_header" class="header header_form_main">Chỉnh Sửa Page Facebook Tag </div>

    <div class="row">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <form class="ui form segment form3" id="form3">
                    <div class="two fields">
                        <div class="field">
                            <label><span data-languagestatic="name">Tên</span><span> *</span></label>
                            <input id="ColorCount" name="name" type="text" />
                        </div>
                        <div class="field">
                            <label><span data-languagestatic="color_code">Mã màu</span><span> *</span></label>
                            <input id="ColorCodeDetail" name="fillCode" type="text" />
                        </div>
                    </div>
                    @* <div class="field">
                        <label>Ghi chú</label>
                        <input id="notecolor" type="text" name="content" />
                    </div>*@
                </form>
            </div>
        </div>
    </div>

    <div class="actions">
        <div style="float: right">
            <button data-languagestatic="button_ok" class="ui teal button saveButton" form="form3" type="submit" onclick="return ExcuteData()">Save</button>
        </div>
        <div style="float: right">
            <button data-languagestatic="button_cancel" class="ui grey button cancelButton" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
        </div>
    </div>

    <script>js_require('/js/comon/initialize_setting.js');</script>
    <script type="text/javascript"> 
        var ser_FacebookTagID;

        $(document).ready(function () {
            ser_FacebookTagID = (@Model._FacebookTagID);
            $("#ColorCodeDetail").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                showInput: true,
                color: '#ffffff',
                palette: [
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ]
            });
            LoadDataUpdate();
        });

        function LoadDataUpdate() {
            AjaxLoad(url = "/Facebook/Setting/FacebookTagDetail/?handler=LoadDetail"
                , data = { 'id': ser_FacebookTagID }, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data.length > 0) {
                            $('#ColorCount').val((data[0].Name));
                            $("#ColorCodeDetail").spectrum("set", data[0].ColorCode);
                            //$('#notecolor').val((data[0].Note));
                        }
                    }
                }
            );
            
        }
        function ExcuteData() {
            var data = new Object();
            data.Name = $('#ColorCount').val() ? $('#ColorCount').val() : "";
            data.ColorCode = $("#ColorCodeDetail").spectrum('get').toHexString()
            //data.Note = $('#notecolor').val() ? $('#notecolor').val() : "";
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Facebook/Setting/FacebookTagDetail/?handler=ExcuteData"
                    , data = { 'data': JSON.stringify(data), 'CurrentID': ser_FacebookTagID }, async = true
                    , error = function () {
                        notiError_SW();
                    }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LoadPageFacebookTagAjax();
                        } else {
                            notiError_SW();
                        }
                    }
                );
                 
                $('#divDetailPopup').modal('hide');
                document.getElementById("divDetailPopup").innerHTML = '';
            }
            return false;
        }
        
    </script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>