@page
@model Fanpage.Pages.Facebook.Setting.FacebookGeneralModel
@{
}
<script src="https://connect.facebook.net/us_EN/sdk.js" type="text/javascript"></script>
<div class="pusher">
    <div class="mainWrap navslide" style="background-color: white;">
        <div class="ui equal width left aligned padded grid stackable">
            <div class="section-content">
                <div class="ui vertical menu sectionleft" style="width: 300px; border: none; box-shadow: none;">
                    <div class="bordersettinglist">
                        <div class="item" style="padding-bottom: 2px;">
                            <div class="ui transparent icon input">
                                <div class="hamburger_child" onclick="AnimationHumburger(this)">
                                    <i class="chevron circle left icon"></i>
                                </div>
                                <input id="filterSetting" type="text" placeholder="Search...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                        <div data-languagedyn="settingfacebook" id="listsetting_Facebook">
                        </div>

                    </div>
                </div>
                <div class="ui vertical menu sectionright">

                    <div id="divMainPageFacebook">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    let ser_dtCurrentList;
    let ser_firstlink;

    $(document).ready(function () { 
        FacebookGeneral_Initial();
        
        var filter = document.getElementById("filterSetting");
        filter.addEventListener("keyup", function (event) {
            FilterListSetting('listsetting_Facebook');
            if ($('#listsetting_Facebook').hasClass('active') == false) {
                $('#listsetting_Facebook').removeClass('pop');
                $('#bordersettinglist').removeClass('relative_popup');
            }
        });
        $("#filterSetting").focus(function () {
            if ($('#listsetting_Facebook').hasClass('active')) {
                $('#listsetting_Facebook').addClass('pop');
                $('.bordersettinglist').addClass('relative_popup');
            }
            else {
                $('#listsetting_Facebook').removeClass('pop');
                $('#bordersettinglist').removeClass('relative_popup');
            }
        });
        EventLinkClick_DetailSetting();
        if ($(window).width() < 768) {
            $(".hamburger_child").trigger("click");
        }
    });

    function FacebookGeneral_Initial(){
        AjaxLoad(url = "/Facebook/Setting/FacebookGeneral/?handler=Initialize"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    ser_dtCurrentList = JSON.parse(result);
                    RenderSetting_List(ser_dtCurrentList, "listsetting_Facebook");
                    TriggerFirstLink(ser_firstlink);
                }
            }
        );
    }

    function EventLinkClick_DetailSetting() {
        event.stopPropagation();
        $("#listsetting_Facebook").on('mousedown', '.listitem_child', function (event) {
            let link = $(this).attr("data-link");
            $("#divMainPageFacebook").load(link + "?ver=" + versionofWebApplication);
            let x = document.getElementsByClassName("listitem_child");
            for (i = 0; i < x.length; i++) {
                if (link == x[i].attributes["data-link"].value) {
                    x[i].style.background = "#bee3ff";
                }
                else {
                    x[i].style.background = "white";

                }
            }
        });
    }
    function TriggerFirstLink() {
        let x = document.getElementsByClassName("listitem_child");
        for (i = 0; i < x.length; i++) {
            if (ser_firstlink == x[i].attributes["data-link"].value) {
                x[i].style.background = "#bee3ff";
                $("#divMainPageFacebook").load(ser_firstlink + "?ver=" + versionofWebApplication);
                i = x.length;
            }
        }
    }
    function RenderSetting_List(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let dr = "";
            let idGroup = 0;
            let textGroup = 0;
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (i == 0) ser_firstlink = item.ListLink;
                    textGroup = item.GroupText;
                    if (Number(item.GroupID) != Number(idGroup)) {
                        stringContent = stringContent + '<a class="teal item listitem_parent">' + textGroup + '</a>';
                    }
                    idGroup = item.GroupID;
                    dr = '<a class="teal item listitem_child setting_render" data-link="' + item.ListLink + '" id="' + item.ControlName + '">' + item.ListText + '</a>';
                    stringContent = stringContent + dr;
                }
            }
            stringContent = stringContent + '<div class="item" style="height: 5px;"></div >';
            document.getElementById(id).innerHTML = stringContent;
            HoverList();
        }

    }
    function HoverList() {
        $(".setting_render").hover(function () {
            let currentcolor = rgb2hex($(this).css("background-color"));
            if (currentcolor != "#bee3ff") $(this).css("background-color", "#85cbff");
        }, function () {
            let currentcolor = rgb2hex($(this).css("background-color"));
            if (currentcolor != "#bee3ff") $(this).css("background-color", "transparent");

        });
    }
    
    document.body.addEventListener('mousedown', function () {
        if ($('#listsetting_Facebook').hasClass('active')) {
            $('#listsetting_Facebook').removeClass('pop');
        }
    });
    function FilterListSetting(id) {
        let textsearch = $('#filterSetting').val().trim();
        event.preventDefault();
        if (textsearch == "") {
            RenderSetting_List(ser_dtCurrentList, id);
        }
        else {

            let search = xoa_dau(textsearch.toLowerCase());
            if (search == "") {
                RenderSetting_List(ser_dtCurrentList, id);
            }
            else { 
                let data = ser_dtCurrentList.filter(word => {
                    return (xoa_dau(word["ListText"].toLowerCase()).includes(search));
                });
                RenderSetting_List(data, id);
                ColorSearchFilterText(search, "setting_render");
            }

        }
    }
    function AnimationHumburger(x) {
        x.classList.toggle("change");
        $('#listsetting_Facebook').toggleClass('active');
        $('.section-content').toggleClass('active');
        $('.sectionright').toggleClass('active');
        $('.bordersettinglist').toggleClass('relative_popup');
        $('#vertical_menu-left').toggleClass('active')
    }
    function Hover_Edit(id) {
        $("#" + id + " img,#" + id + " span").popup({
            transition: "scale up",
            position: "top right"
        });
    }
</script>
    
<script>js_require('/assests/dist/ColorPicker/spectrum.js');</script>

<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />
<style type="text/css">
    .section-content {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

        .section-content.active {
            flex-wrap: wrap;
        }

    .descriptionHeader {
        font-family: 'Times New Roman';
        font-style: italic;
        font-size: 12px;
        color: #0288d1;
        text-align: center;
        text-transform: capitalize;
    }

    .bordersettinglist {
        border-style: solid;
        border-radius: 20px;
        border-color: #e0e0e0;
        border-width: 1px;
    }

        .bordersettinglist.relative_popup {
            box-shadow: 0 2px 3px #8080809e;
            margin-bottom: 10px;
            border-radius: 38px;
            margin-left: 10px;
        }

    .listitem_parent {
        text-align: left;
        background: #037bbd !important;
        color: white !important;
    }

    #filterSetting {
        font-size: 13px;
        font-style: italic;
        font-weight: 200;
        border-bottom-color: #feffff30 !important;
        padding-bottom: 4px !important;
    }

    .listitem_child {
        /*  font-style: italic;*/
    }



    #listsetting_Facebook {
        border-radius: 0 0 0.5em 0.5em;
        transition: 0.5s;
        max-height: calc( 100vh - 90px );
        overflow-y: auto;
    }

        #listsetting_Facebook.active {
            display: none;
        }

            #listsetting_Facebook.active.pop {
                display: block;
                box-shadow: -1px 1px 6px #8080809e;
                border-radius: 0.5em;
                max-height: 500px;
            }

    .hamburger_child {
        display: inline-block;
        cursor: pointer;
        margin-right: 15px;
    }

        .hamburger_child i {
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: darkcyan;
            transition: 0.25s all;
        }

        .hamburger_child.change i {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

    .sectionright {
        width: calc(100% - 300px) !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0px 10px;
    }

        .sectionright.active {
            width: 100% !important;
        }

    .pop {
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        z-index: 99;
        background: white;
        width: 100%;
        background-color: white;
        z-index: 1111;
        transition: 0.25s ease;
    }

    .relative_popup {
        position: relative !important;
    }

    .divEditor {
        margin-top: 4px;
        font-size: 13px;
    }

        .divEditor img {
            width: 20px !important;
            display: inline-block !important;
            margin: 1px 5px 3px 0px !important;
        }
</style>