@page
@model Fanpage.Pages.Facebook.Setting.FanpageListModel
@{
    Layout = null;
}
 
<script>js_require_notasync('/js/Facebook/v2_face_variable.js', true);</script>
<div class="pusher">
    <div class="row" style="background-color: white" id="divFanpageList">
        <div class="ui segments">
            <div class="ui segment headerSegmentReport">
                <div class="headerReport">
                    <span class="header_form_main" data-languagestatic="list_fanpage_header">Danh Sách Page Facebook</span>
                    <a style="float: right; cursor: pointer" onclick="event.preventDefault();LoadTicketPageFBAjax()"><i class="refresh icon" title="refresh" style="font-size: 13px"></i></a>
                </div>
            </div>
            <div class="ui segment">
                <div data-languagestatic="list_fanpage_header_sub" class="descriptionHeader header_form_child">Đang nhập Facebook! Phầm mềm lấy Tên và ID page tự động Theo URL.</div>
                <div>
                    <div id="Face_loginout" style="display: none;">
                        <img id="myfacebookavatar"
                             class="ui mini circular image pageAvatar" title="" src="/assests/img/Face/loading_avatar.gif"
                             alt="label-image">
                        <span style="padding: 7px;">Log out</span>
                    </div>
                    <div id="Face_loginin" class="row loginfacebook" style="display: none;">
                        <div class="fb-login-button"
                             data-size="small"
                             data-button-type="continue_with"
                             data-layout="rounded"
                             data-scope="publish_pages,pages_messaging,manage_pages,pages_read_engagement,pages_manage_engagement"
                             data-onlogin="Face_SuccessLogin(this)"
                             data-auto-logout-link="false" data-use-continue-as="true" data-width="">
                        </div>
                    </div>
                </div>
                <div style="height: 33px;">
                    <button data-languagestatic="create_new" id="btnAddFanpage" style="min-width: 100px; float: right; display: none;" class="ui teal button _tab_control_ button_create_new" data-tab="add_tab_ticket_page_facebook" data-value="fade up" onclick="return AddNewTicketPageFacebook()">Thêm Mới</button>
                </div>
                <div class="scrollx" style="margin: 1em 0;">
                    <div id="loadingFaceWaiting" class="ui segment waitingdiv" style="display: none;">
                        <div class="ui active inverted dimmer">
                            <div class="ui medium text loader">Loading</div>
                        </div>
                        <img style="width: 100%; height: 70px;" class="ui wireframe image" src="/assests/img/Loader/centered.png">
                    </div>

                    <table id="dtContentTicketPageFacebook" class="ui celled table">
                        <thead class="hiddenCollapse">
                            <tr role="row">
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th style="width: 40px; max-width: 40px;"></th>
                                <th data-languagestatic="no" style="width: 40px;">#</th>
                                <th>Fanpage</th>
                                <th style="max-width: 100px; min-width: 100px; width: 100px;">Messenger</th>
                                <th style="max-width: 100px; min-width: 100px; width: 100px;">Ticket</th>
                                <th data-languagestatic="hide_comment" style="max-width: 110px; min-width: 110px; width: 110px;">Ẩn comment</th>
                                <th data-languagestatic="registration" style="max-width: 120px; min-width: 120px; width: 120px;">Đăng ký</th>
                                <th data-languagestatic="unregistration" style="max-width: 130px; min-width: 130px; width: 130px;">Hủy đăng ký</th>
                                <th data-languagestatic="editor" style="width: 130px;">Người Sửa</th>
                                <th data-languagestatic="delete" style="width: 70px;">Xóa</th>
                            </tr>
                        </thead>
                        <tbody data-languagedyn="grid" id="dtContentTicketPageFacebookBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: white" id="divFanpageDetail">
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var _URL_PortClient = "@Model._URL_PortClient";
    var face_long_key = "";
    var face_app_appid = @Model._Face_App_ID;
    var face_list_fanpage = [];
    var face_user_token;
    var face_user_id;
    let _defaultAvatar;
    let DataUser;

    $(document).ready(function () {
        _defaultAvatar = ("@Model._defaultAvatar");
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                Face_Init();
            });
        $('#dtContentTicketPageFacebook tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditTicketPagefacebook(ID);
        });
        $('#dtContentTicketPageFacebook tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            let KeyPage = $(this).closest('tr')[0].childNodes[1].innerHTML;
            DeletePageFacebook(ID, KeyPage);
        });
        $('#dtContentTicketPageFacebook tbody').on('click', '.buttonununRegistration', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            let KeyPage = $(this).closest('tr')[0].childNodes[1].innerHTML;
            UnregisterPageFacebook(ID, KeyPage);
        });

        $('#dtContentTicketPageFacebook tbody').on('click', '.buttonRegistration', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            let KeyPage = $(this).closest('tr')[0].childNodes[1].innerHTML;
            let NamePage = $(this).closest('tr')[0].childNodes[2].innerHTML;
            RegistrationPage(KeyPage, _URL_PortClient, ID, 1, NamePage)
        });
        $('#dtContentTicketPageFacebook tbody').on('click', '.clk', function () {
            var detail = $(this).parent().parent().next();
            var status = $(detail).css("display");
            if (status === "none") {
                $(detail).css("display", "table-row");
                //$(this).attr('src', '/assests/img/ButtonImg/checked-dis.png');
            }
            else {
                $(detail).css("display", "none");
                //$(this).attr('src', '/assests/img/ButtonImg/add.png');
            }
        });
        //LoadTicketPageFBAjax();

    });
    function Face_Login_Facebook_Status(response) {
        if (response.authResponse != undefined && response.status == "connected") {
            face_user_token = response.authResponse.accessToken;
            face_user_id = response.authResponse.userID;
            let pic = '//graph.facebook.com/' + face_user_id + '/picture?access_token=' + face_user_token;
            $('#myfacebookavatar').attr("src", pic);
            $('#Face_loginin').hide();
            $('#Face_loginout').show();
            $('#Face_loginout').on("click", function () {
                Face_Logout();
            });
            $('#btnAddFanpage').show();
            LoadListFanpageByFB(face_user_token);
        }
        else {
            $('#Face_loginin').show();
            $('#Face_loginout').hide();
            $('#btnAddFanpage').hide();
            LoadTicketPageFBAjax();
        }
    }
    function LoadListFanpageByFB(user_token) {
        let url = '//graph.facebook.com/me?fields=accounts{id,name,access_token}' + '&access_token=' + user_token;

        $.ajax({
            url: url,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
            success: function (result) {
                if (result.accounts === undefined || result.accounts === null) {
                    notiWarning("Select page using when login");
                } else {
                    face_list_fanpage = result.accounts.data;
                }
                LoadTicketPageFBAjax();
            },
            beforeSend: function () {
                $("#dtContentTicketPageFacebook").hide();
                $("#loadingFaceWaiting").show();
            },
            complete: function () {
                $("#dtContentTicketPageFacebook").show();
                $("#loadingFaceWaiting").hide();
            }
        })
    }
    function Face_Logout() {
        FB.logout(function (response) {
            Face_Storage_PageChossing_Clear();
            location.reload();
        });
    }
    function Face_Storage_PageChossing_Clear() {
        localStorage.setItem("facebookpage", "");
    }
    function Face_Init() {
        FB.init({
            appId: face_app_appid,
            cookie: true,
            xfbml: true,
            version: 'v5.0'
        });
        FB.getLoginStatus(function (response) {
            Face_Login_Facebook_Status(response);
        });

    }
    function Face_SuccessLogin(e) {
        location.reload();
    }
    function LoadTicketPageFBAjax() {
        AjaxLoad(url = "/Facebook/Setting/FanpageList/?handler=LoadData"
            , data = {}, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    let master = data.Table;
                    let empChatting = data.Table1;
                    let empTeleSale = data.Table2;
                    RenderTableTicketSource(master, empChatting, empTeleSale, 'dtContentTicketPageFacebookBody');
                }
            }
        ); 

    }
    function errorImage(e) {
        e.src = "data:image/png;base64," + _defaultAvatar;
    }
    function Render_Facebook_Register_Button(keypage, active, id, statuslongkey) {
        let FBpage = face_list_fanpage.filter(word => word.id == keypage);
        if (FBpage.length > 0) {
            if (Number(active) == 1) {
                if (Number(statuslongkey) == 2)
                    return '<img style="display:none;" id="img_register_face_' + id + '" class="imgGrid" src="/assests/img/Face/waiting_load.gif"><button class="buttonGrid"><a id="register_face_' + id + '" style="font-size: 11px;" class="ui mini basic label face_register buttonRegistration">Đã Hết Hạn</a></button>'
                else return '<img style="display:none;" id="img_register_face_' + id + '" class="imgGrid" src="/assests/img/Face/waiting_load.gif"><button class="buttonGrid"><a id="register_face_' + id + '" style="font-size: 11px;" class="ui mini basic label face_register buttonRegistration">Đã đăng ký</a></button>'
            } else
                return '<img style="display:none;" id="img_register_face_' + id + '" class="imgGrid" src="/assests/img/Face/waiting_load.gif"><button class="buttonGrid"><a id="register_face_' + id + '" style="font-size: 11px;" class="ui mini basic label face_nonregister buttonRegistration">Đăng ký</a></button>'
        }
        else {
            if (Number(active) == 1) {
                if (Number(statuslongkey) == 2)
                    return '<a style="font-size: 11px;" >Đã Hết Hạn</a>';
                else
                    return '<a style="font-size: 11px;" >Đã đăng ký</a>';
            } else return '<a style="font-size: 11px;" >Chưa đăng ký</a>';
        }

    }
    function Render_Facebook_UnRegister_Button(keypage, active, id) {
        let FBpage = face_list_fanpage.filter(word => word.id == keypage);
        if (FBpage.length > 0 && Number(active) == 1) {
            return '<button class="buttonGrid" value="' + id + '"><a style="font-size: 11px;" class="ui mini basic label face_unregister buttonununRegistration">Hủy đăng ký</a></button>'
        }
        return '';
    }

    function RenderTableTicketSource(data, empChatting, empTeleSale, id) {
        var myNode = document.getElementById(id);
        debugger;
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_circleAvatar;
                    let tr =
                        '<td style="display:none !important;">' + item.ID + '</td>'
                        + '<td style="display:none !important;">' + item.KeyPage + '</td>'
                        + '<td style="display:none !important;">' + item.Name + '</td>'
                        + '<td style="display:none !important;">' + item.Active + '</td>'
                        + '<td></td>'
                        + '<td>' + (i + 1) + '</td>'

                        + '<td><div style="display:flex;">'
                            + '<img class="ui mini circular image avartapage" onerror="errorImage(this)" src="http://graph.facebook.com/' + item.KeyPage + '/picture?type=square" alt="label-image" style="min-width: 50px; height: 50px">'
                            + '<div style="padding:5px 3px;"><span style="color:#00b5ad;">' + item.Alias + '</span><br /><span>'
                            + '<a class="buttonEditClass">' + item.KeyPage + '</a>'
                            + '</span></div>'
                            + '</div></td>'

                        + '<td>' + ((item.ChattingDivision == 2) ? ("Chia Đều Nhân Viên Online") : ((item.ChattingDivision == 1 ? "Chia Xoay Vòng" : ("Không Chia")))) + '</td>'
                        + '<td>' + ((item.TelesaleDivision == 2) ? ("Chia Đều Nhân Viên Online") : ((item.TelesaleDivision == 1 ? "Chia Xoay Vòng" : ("Không Chia")))) + '</td>'

                        + '<td style="text-align:center;">'
                        + ((Number(item.IsHideComment) == 0)
                            ? '<span style="color:#00b5ad;"><i class="imgGrid vtt-icon vttech-icon-uncheck"></i></span>'
                            : '<span style="color:#00b5ad;"><i class="green check icon"></i></span>')
                        + '</td>'
                        + '<td style="text-align:center">'
                        + Render_Facebook_Register_Button(item.KeyPage, item.Active, item.ID, item.StatusLongKey)
                        + '</td>'
                        + '<td style="text-align:center">'
                        + Render_Facebook_UnRegister_Button(item.KeyPage, item.Active, item.ID)
                        + '</td>'

                        + '<td><div class="divEditor">'
                            + '<img title="'
                            + name + '" class="ui mini circular image" src="data:image/png;base64, ' + img + '" alt="label-image" />'
                            + '<span title="' + GetDateTime_String_DMYHM(item.DayEditor) + '">'
                            + GetDateTime_String_DMY(item.DayEditor) + '</span>'
                            + '</div></td>'

                        + '<td style="text-align:center">'
                        + ((item.DeleteButton === 1)
                            ? ('<button class="buttonGrid  _tab_control_" data-tab="delete_tab_ticket_page_facebook" value="'
                                + item.ID
                                + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>')
                            : '')
                        + '</td>'
                    let detail = empChatting.filter(dt => dt.PageID == item.ID);
                    let detail1 = empTeleSale.filter(dt => dt.PageID == item.ID);
                    let tableDetail = ' <tr class="itemsRow">'
                        + '<td colspan="10"><div style="display:flex;">'
                        + '<div class="divChildeTicketPage" data-languagedyn="div">' + RenderEmpChatting(detail, 'Nhân Viên Trực FanPage') + '</div>'
                        + '<div class="divChildeTicketPage" data-languagedyn="div">' + RenderEmpChatting(detail1, 'Nhân Viên TeleSale') + '</div>'
                        + '<div></td> '
                        + '</tr>'
                    stringContent = stringContent + '<tr role="row" class="miniRow">' + tr + '</tr>' + tableDetail;
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
        Hover_Edit(id);
        Checking_TabControl_Permission();
        EventTableMini();
    }
    function RenderEmpChatting(data, TableName) {
        let stringContent = '';
        if (data && data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                let item = data[i];
                let tr =
                    '<td style="display:none !important;">' + item.ID + '</td>'
                    + '<td>' + item.EmployeeCode + '</td>'
                    + '<td>' + item.Name + '</td>'
                stringContent = stringContent + '<tr role="row" style="border: 1px solid #e6e6e614;">' + tr + '</tr>';
            }
        }
        let tablemini = '<table class="ui celled table" style="border: solid #e6e6e694 1px;" rules="rows" >'
            + '<thead class="hiddenCollapse">'
            + '<tr role="row">'
            + '<th style="text-align: center" colspan="2">' + TableName + '</th>'
            + '</tr>'
            + '</thead >'
            + '<tbody data-languagedyn="grid">' + stringContent + '</tbody>'
            + '</table >'
        return tablemini;
    }
    function EventTableMini() {

        $(".miniRow td:nth-child(5)").html('<i class="clk imgGrid vtt-icon vttech-icon-add"></i>');
    }
    function DeletePageFacebook(id, KeyPage) {
        const promise = notiConfirmSendContent("Confirm Delete!");
        promise.then(function () { ExecuteDeletePageFacebook(id, KeyPage); }, function () { });
    }
    function UnregisterPageFacebook(id, KeyPage) {
        const promise = notiConfirmSendContent("Confirm Unregister!");
        promise.then(function () { ExecuteUnregisterPageFacebook(id, KeyPage); }, function () { });
    }
    function RegistrationPage(KeyPage, Url, ID, Value, NamePage) {
        const promise = notiConfirmSendContent("Confirm Register!");
        promise.then(function () { onRegistrationPage(KeyPage, Url, ID, Value, NamePage) }, function () { });
    }
    async function onRegistrationPage(KeyPage, Url, ID, Value, NamePage) {
        $('#img_register_face_' + ID).show();
        $('#register_face_' + ID).hide();
        await ExecuteRegistrationPage(KeyPage, Url, ID, Value, NamePage);
        $('#img_register_face_' + ID).hide();
        $('#register_face_' + ID).show();
        return false;
    }
    function ExecuteRegistrationPage(KeyPage, Url, ID, Value, NamePage) {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let data = face_list_fanpage.filter(word => word.id == KeyPage);
                    if (data.length > 0) {
                        AjaxLoad(url = "/Facebook/Setting/FanpageList/?handler=RegistrationPage"
                            , data = { 'KeyPage': KeyPage, 'Url': Url, 'PageId': ID, 'Value': Value, "NamePage": NamePage, 'userToken': face_user_token }
                            , async = false
                            , error = function () {
                                notiError_SW();
                            }
                            , success = function (result) {
                                if (result == "1") {
                                    notiSuccess();
                                    LoadTicketPageFBAjax();
                                } else {
                                    notiError_SW();
                                }
                            }
                        );
                         
                    } else {
                        notiError_SW();
                    }
                },
               1000
            )
        })


    }
    function ExecuteUnregisterPageFacebook(id, KeyPage) {
        AjaxLoad(url = "/Facebook/Setting/FanpageList/?handler=UnregisterItem"
            , data = { 'id': id, 'KeyPage': KeyPage }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadTicketPageFBAjax();
                } else {
                    notiError_SW();
                }
            }
        );
         
    }

    function ExecuteDeletePageFacebook(id, KeyPage) {
        AjaxLoad(url = "/Facebook/Setting/FanpageList/?handler=DeleteItem"
            , data = { 'id': id, 'KeyPage': KeyPage }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadTicketPageFBAjax();
                } else {
                    notiWarning("Unregister before delete");
                }
            }
        );
         
    }
     
    function AddNewTicketPageFacebook() {
        $('#divFanpageDetail').html('');
        $("#divFanpageDetail").load("/Facebook/Setting/FanpageDetail?ver=" + versionofWebApplication);
        $('#divFanpageDetail').show();
        $('#divFanpageList').hide();
        return false;
    }

    function EditTicketPagefacebook(CurrentID) {
        $('#divFanpageDetail').html('');
        $("#divFanpageDetail").load("/Facebook/Setting/FanpageDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#divFanpageDetail').show();
        $('#divFanpageList').hide();
        return false;
    }
    function CloseDetailFacebook() {
        $('#divFanpageDetail').html('');
        $('#divFanpageDetail').hide();
        $('#divFanpageList').show();
    }
</script>
<script>js_require('/js/main.js');</script>
<style type="text/css">
    .checkmark {
        color: #4DB6AC;
    }

    #Face_loginout {
        position: absolute;
        left: 2px;
        top: 6px;
        cursor: pointer;
        background: #00090f00;
        color: #2185d0;
        padding: 8px;
        font-size: 12px;
        border-radius: 31px;
        display: inline-flex;
    }

    .loginfacebook {
        position: absolute;
        left: 10px;
        top: 18px;
    }

    .avartapage {
        border: 1px solid #808080;
        margin-left: 5px;
    }

    .miniTable {
        width: 100%;
    }

    .itemsRow {
        display: none;
    }

    .divChildeTicketPage {
        width: 50%;
        height: 300px;
        overflow-y: auto;
        margin: 10px;
    }

    .face_register {
        width: 85px !important;
        background: #2185d0 !important;
        color: white !important;
    }

    .face_unregister {
        width: 95px !important;
        background: #f2711c !important;
        color: white !important;
    }

    .face_nonregister {
        background: #e6e6e6 !important;
        color: #2185d0 !important;
        width: 85px !important;
    }
</style>
