@page
@model Fanpage.Pages.Facebook.Setting.FanpageDetailModel
@{
    Layout = null;
}

<div class="row" id="fanpagelist">
    <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segments">
            <div class="ui segment headerSegmentReport">
                <div class="headerReport">
                    <span class="header_form_main" data-languagestatic="">Page Facebook</span>
                </div>
            </div>
            <span class="header_form_child" data-languagestatic="keypage_guide_sub">Lưu ý: Keypage đã đăng ký không được chỉnh sửa  </span>
            <form class="ui form segment form3" style="border-top: unset;" id="form3">
                <div class="field">
                    <label>Url *</label>
                    <input id="UrlPage" name="url" type="text" />
                </div>
                <div class="two fields">
                    <div class="field">
                        <label><span data-languagestatic="name">Tên</span> Fanpage *</label>
                        <input id="PageName" name="name" type="text" disabled="disabled" />
                    </div>
                    <div class="field">
                        <label>Key Fanpage *</label>
                        <input id="KeyPage" name="fanpagekey" type="text" disabled="disabled" />
                    </div>
                </div>
                <div class="field">
                    <label><span data-languagestatic="alias">Bí Danh</span> *</label>
                    <input id="Alias" name="alias" type="text" />
                </div>
                <div class="field">
                    <label><span data-languagestatic="face_fanpage_emp">Nhân Viên Trực Fanpage</span><span> *</span></label>
                    <div class="ui fluid search selection dropdown multiple" id="UserToken" onchange="event.preventDefault();return onchangeChatting();">
                        <input type="hidden" name="username" />
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0" />
                        <div class="default text"></div>
                        <div id="cbbUser" class="menu" tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label><span data-languagestatic="face_divide_fanpage_emp">Nhân Viên Nhận Tin</span><span></span></label>
                    <div class="ui fluid search selection dropdown multiple" id="ChattingDivide">
                        <input type="hidden" name="" />
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0" />
                        <div class="default text"></div>
                        <div id="cbbChattingDivide" class="menu" tabindex="-1">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label><span>TeleSale</span><span> </span></label>
                    <div class="ui fluid search selection dropdown multiple" id="TeleSaleToken">
                        <input type="hidden" />
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0" />
                        <div class="default text"></div>
                        <div id="cbbTeleSale" class="menu" tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label><span data-languagestatic="divide_messager">Chia Messenger</span><span> *</span></label>
                        <div class="ui fluid search selection dropdown" id="ChattingDivision">
                            <input type="hidden" name="chattingdivision" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text"></div>
                            <div id="cbbChattingDivision" data-languagedyn="cb_divide_fb" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label><span data-languagestatic="divide_ticket">Chia Ticket</span><span> *</span></label>
                        <div class="ui fluid search selection dropdown" id="TeleSaleDivision">
                            <input type="hidden" name="telesaledivision" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text"></div>
                            <div id="cbbTeleSaleDivision" data-languagedyn="cb_divide_fb" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label><span data-languagestatic="hide_comment">Ẩn Comment</span><span> *</span></label>
                        <div class="ui fluid search selection dropdown" id="hideComment">
                            <input type="hidden" name="hidecomment" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text"></div>
                            <div id="cbbhideComment" data-languagedyn="cb_hide_comment_fb" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label data-languagestatic="note">Ghi Chú</label>
                    <textarea id="Note" name="content" style="height: 50px!important"></textarea>
                </div>
                <div class="field">
                    <div data-languagedyn="textShowMessage2" style="font-size: 13px; color: red" id="textShowMessage"></div>
                </div>
            </form>
            <div class="field action_Save" style="width: 100%; text-align: right">
                <div class="action_Save-Content">
                    <div style="float: right">
                        <button data-languagestatic="button_cancel" class="ui grey button cancelButton" form="form3" onclick="event.preventDefault();CloseDetailFacebook()">Cancel</button>
                    </div>
                    <div style="float: right">
                        <button data-languagestatic="button_ok" class="ui teal button _tab_control_ saveButton" data-tab="edit_tab_ticket_page_facebook" form="form3" type="submit" onclick="return ExcuteDataPageFacebook()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    var ser_FanpageID;
    var dataUser = [];
    var dataChatting = [];

    $(document).ready(function () {
        InitializeCombo()
        ser_FanpageID = (@Model._FanpageID);
        Checking_TabControl_Permission();
    });
    function InitializeCombo() {
        AjaxLoad(url = "/Facebook/Setting/FanpageDetail/?handler=Initialize"
            , data = {}, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);

                    dataUser = data.dataUser;
                    Load_Combo(dataUser, "cbbUser", true);
                    Load_Combo(data.dataUser, "cbbTeleSale", true);
                    Load_Combo(data.dataDivision, "cbbChattingDivision", true);
                    Load_Combo(data.dataDivision, "cbbTeleSaleDivision", true);
                    Load_Combo(data.dataHideComment, "cbbhideComment", true);


                    $('#TeleSaleDivision').dropdown('set selected', "0");
                    $('#ChattingDivision').dropdown('set selected', "0");
                    $('#hideComment').dropdown('set selected', "0");
                    LoadDataUpdatePageFB();
                }
            }
        ); 
        
    }
    function LoadInfoFanpage() {
        let urls = $('#UrlPage').val().split('/').filter(word => word != "");
        let namelinks = urls[urls.length - 1].split('-');
        let idpage = namelinks[namelinks.length - 1];
        let url = '//graph.facebook.com/' + idpage + '?access_token=' + face_user_token;
        $.ajax({
            url: url,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
            success: function (result) {
                if (result) {
                    $('#KeyPage').val(result.id);
                    $('#PageName').val(result.name);
                    $('#KeyPage').attr('disabled', 'disabled');
                }
            }
        })
    }
    function LoadDataUpdatePageFB() {
        AjaxLoad(url = "/Facebook/Setting/FanpageDetail/?handler=Loadata"
            , data = { "id": ser_FanpageID }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    if (data.length > 0) {
                        let dataUnit = data[0];
                        $('#PageName').val((dataUnit.Name));
                        $('#KeyPage').val((dataUnit.KeyPage));
                        $('#UrlPage').val((dataUnit.UrlFanPage));
                        $('#Note').val((dataUnit.Note));
                        $('#Alias').val((dataUnit.Alias));

                        $("#TeleSaleDivision").dropdown("refresh");
                        $('#TeleSaleDivision').dropdown('set selected', dataUnit.TelesaleDivision.toString());

                        $("#TeleSaleToken").dropdown("refresh");
                        $('#TeleSaleToken').dropdown('set selected', dataUnit.Telesale.split(','));

                        $("#ChattingDivision").dropdown("refresh");
                        $('#ChattingDivision').dropdown('set selected', dataUnit.ChattingDivision.toString());

                        $("#UserToken").dropdown("refresh");
                        $('#UserToken').dropdown('set selected', dataUnit.Chatting.split(','));

                        $("#hideComment").dropdown("refresh");
                        $('#hideComment').dropdown('set selected', dataUnit.IsHideComment.toString());

                        $("#UrlPage").prop('disabled', true);

                        $("#ChattingDivide").dropdown("refresh");
                        $('#ChattingDivide').dropdown('set selected', dataUnit.ChattingDivide.split(','));

                    } else {
                        $('#UrlPage').change(function () { return LoadInfoFanpage() });
                    }
                }
            }
        );
         
    }
    function onchangeChatting() {
        let curentToken = $('#ChattingDivide').dropdown('get value');
        $("#ChattingDivide").dropdown("clear");
        let chatting = $('#UserToken').dropdown('get value').split(',');
        dataChatting = [];
        for (i = 0; i < chatting.length; i++) {
            let users = dataUser.filter(word => word.ID == chatting[i]);
            if (users.length > 0)
                dataChatting.push(users[0]);
        }
        Load_Combo(dataChatting, "cbbChattingDivide", true);


        $("#ChattingDivide").dropdown("refresh");
        $('#ChattingDivide').dropdown('set selected', curentToken.split(','));
    }
    function ExcuteDataPageFacebook() {
        var data = new Object();
        data.Name = $('#PageName').val() ? $('#PageName').val() : "";
        data.KeyPage = $('#KeyPage').val() ? $('#KeyPage').val() : "";
        data.Url = $('#UrlPage').val() ? $('#UrlPage').val() : "";
        data.Note = $('#Note').val() ? $('#Note').val() : "";
        data.Alias = $('#Alias').val() ? $('#Alias').val() : "";

        data.UserToken = ',' + $('#UserToken').dropdown('get value') + ',';
        data.ChattingDivision = $('#ChattingDivision').dropdown('get value');

        data.TeleSale = ',' + $('#TeleSaleToken').dropdown('get value') + ',';
        data.TeleSaleDivision = $('#TeleSaleDivision').dropdown('get value');

        data.hideComment = $('#hideComment').dropdown('get value');
        data.ChattingDivide = $('#ChattingDivide').dropdown('get value');

        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            if (data.Name != '' && data.KeyPage != '') {
                AjaxLoad(url = "/Facebook/Setting/FanpageDetail/?handler=ExcuteData"
                    , data = { 'data': JSON.stringify([data]), 'CurrentID': ser_FanpageID }, async = true
                    , error = function () {
                        notiError_SW();
                    }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LoadTicketPageFBAjax();
                            CloseDetailFacebook();
                        } else {
                            $('#textShowMessage').html(result);
                        }
                    }
                );
                 
            } else {
                $('#textShowMessage').html('Fanpage không tồn tại! User Facebook không có quyền trên fanpage!');
            }
        }
        return false;
    }
</script>
<style>
    .ui.menu .ui.dropdown.multiple .menu .active.item {
        display: none !important;
    }

    #fanpagelist .ui.dropdown .menu .active.item {
        background-color: #0288d1c7 !important;
        color: white !important;
        font-weight: 400 !important;
    }
</style>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
