@page
@model Fanpage.Pages.Facebook.Setting.MessengerMoveDetailModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
</head>

<body>

    <div data-languagestatic="exchange_data_header" class="header header_form_main">  Chuyển Dữ Liệu </div>
    <div class="row">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <form class="ui form segment form3" id="form3">
                    <div class="field">
                        <label><span data-languagestatic="face_choosing_page">Chọn Page</span><span> *</span></label>
                        <div class="ui fluid search selection dropdown" id="DataFanPage" onchange="FilterEmployee();">
                            <input type="hidden" name="DataFanPage" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">Select Page</div>
                            <div data-languagedyn="cb_move_ticket" id="cbbFanPage" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label><span data-languagestatic="from">Từ Nhân Viên</span><span> *</span></label>
                            <div class="ui fluid search selection dropdown" id="InvidualFrom">
                                <input type="hidden" name="name" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">Staff</div>
                                <div id="cbbInvidualFrom" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label><span data-languagestatic="to">Đến Nhân Viên</span><span> *</span></label>
                            <div class="ui fluid search selection dropdown" id="InvidualTo">
                                <input type="hidden" name="branch" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">Staff</div>
                                <div id="cbbInvidualTo" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label><span data-languagestatic="from_date">Từ</span><span> *</span></label>
                            <input id="FromDate" class="flatpickr" type="text" placeholder="Select Date.." />
                        </div>
                        <div class="field">
                            <label><span data-languagestatic="to_date">Đến</span><span> *</span></label>
                            <input id="ToDate" class="flatpickr" type="text" placeholder="Select Date.." />
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <div data-languagedyn="div2" style="font-size: 10px; color: red" id="textShowMessage"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="actions">
        <div style="float: right">
            <button data-languagestatic="button_ok" class="ui teal button saveButton" form="form3" type="submit" onclick="event.preventDefault();return ExcuteData()">Save</button>
        </div>
        <div style="float: right">
            <button data-languagestatic="button_cancel" class="ui grey button cancelButton" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
        </div>
    </div> 

    <script>js_require('/js/comon/initialize_setting.js');</script>

    <script type="text/javascript">
        var DataComboInvidual = [];

        $(document).ready(function () { 
            $(".flatpickr").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false,
                defaultDate: new Date(),
            });
            $("#textShowMessage").html("");

            InitializeCombo();
        });

        function InitializeCombo() {
            AjaxLoad(url = "/Facebook/Setting/MessengerMoveDetail/?handler=InitializeCombo"
                , data = {}, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);  
                        Load_Combo(data.Fanpage, "cbbFanPage", true);
                        $("#DataFanPage").dropdown("set selected", "0");
                        DataComboInvidual = data.Invidual;
                        FilterEmployee(); 
                    }
                }
            );
             
        }
        function ExcuteData() {
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                $("#textShowMessage").html("");
                var userTo = Number($('#InvidualTo').dropdown('get value')) ? Number($('#InvidualTo').dropdown('get value')) : 0;
                var userFrom = Number($('#InvidualFrom').dropdown('get value')) ? Number($('#InvidualFrom').dropdown('get value')) : 0;
                var FanPage = Number($('#DataFanPage').dropdown('get value')) ? Number($('#DataFanPage').dropdown('get value')) : 0;
                var dateFrom = $('#FromDate').val();
                var dateTo = $('#ToDate').val();
                if (userTo == userFrom)
                    $("#textShowMessage").html("Nguồn và đích trùng nhau");
                else {
                    if (new Date(dateFrom) > new Date(dateTo))
                        $("#textShowMessage").html("Ngày bắt đầu lớn hơn ngày kết thúc");
                }
                if (document.getElementById("textShowMessage").innerHTML === "") {
                    AjaxLoad(url = "/Facebook/Setting/MessengerMoveDetail/?handler=ExcuteData"
                        , data = {
                            'userTo': userTo
                            , 'userFrom': userFrom
                            , 'FanPage': FanPage
                            , 'dateFrom': dateFrom
                            , 'dateTo': dateTo
                        }, async = true
                        , error = function () {
                            notiError_SW();
                        }
                        , success = function (result) {
                            if (result == "1") {
                                notiSuccess();
                                LoadMessengerMove();
                                $('#divDetailPopup').modal('hide');
                                document.getElementById("divDetailPopup").innerHTML = '';
                            } else {
                                document.getElementById("textShowMessage").innerHTML = "";
                                $("#textShowMessage").html("Không tim thấy dữ liệu phù hợp");
                            }
                        }
                    );
                     
                }
            }
            return false;
        }
        function FilterEmployee() {
            let dataRen;
            let pageID = Number($('#DataFanPage').dropdown('get value')) ? Number($('#DataFanPage').dropdown('get value')) : 0;
            if (pageID != 0) {
                dataRen = DataComboInvidual.filter(function (el) {
                    let strs = el.Pages.split(',');
                    if (strs.indexOf(pageID.toString()) != -1) {
                        return true;
                    }
                    return false;

                })
            } else {
                dataRen = DataComboInvidual;
            }

            $("#InvidualTo").dropdown("clear");
            $("#InvidualFrom").dropdown("clear");
            Load_Combo(dataRen, "cbbInvidualTo", true);
            Load_Combo(dataRen, "cbbInvidualFrom", true);

        }
    </script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/comon/initialize_setting.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>

</html>

