@page
@model Fanpage.Pages.Facebook.Setting.MessageTemplateDetailModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />
</head>
<body>

    <div data-languagestatic="teamplate_mess_fanpage_header" class="header header_form_main"> Mẫu Tin Nhắn Chat FanPage  </div>

    <div class="row">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <form class="ui form segment form3" id="form3">
                    <div class="field">
                        <label><span data-languagestatic="title">Tiêu Đề</span><span> *</span></label>
                        <input id="txtTitle" name="name" type="text" />
                    </div>
                    <div class="field">
                        <label data-languagestatic="content">Nội Dung</label>
                        <textarea rows="15" id="txtContent" name="note"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="actions">
        <div style="float: right">
            <button data-languagestatic="button_ok" class="ui teal button saveButton" form="form3" type="submit" onclick="return ExcuteData()">Save</button>
        </div>
        <div style="float: right">
            <button data-languagestatic="button_cancel" class="ui grey button cancelButton" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
        </div>
    </div>

    <script>js_require('/js/comon/initialize_setting.js');</script>

    <script type="text/javascript">
        var ser_MessageTemplateID;

        $(document).ready(function () {
            ser_MessageTemplateID = (@Model._MessageTemplateID);
            if (ser_MessageTemplateID != 0) {
                LoadDataUpdate();
            }
        });

        function LoadDataUpdate() {
            AjaxLoad(url = "/Facebook/Setting/MessageTemplateDetail/?handler=LoadData"
                , data = { 'id': ser_MessageTemplateID }, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data.length > 0) {
                            $('#txtTitle').val(data[0].Title);
                            $("#txtContent").val(data[0].Description);
                        } 
                    }
                }
            );
             
        }

        function ExcuteData() {
            let Title = $('#txtTitle').val() ? $('#txtTitle').val() : "";
            let txtContent = $("#txtContent").val();
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Facebook/Setting/MessageTemplateDetail/?handler=ExcuteData"
                    , data = { 'Title': Title, "Message": txtContent, 'CurrentID': ser_MessageTemplateID }, async = true
                    , error = function () {
                        notiError_SW();
                    }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LoadMessageTemplateAjax();

                            $('#divDetailPopup').modal('hide');
                            document.getElementById("divDetailPopup").innerHTML = '';
                        } else {
                            notiError_SW();
                        }
                    }
                );
                 
            }
            return false;
        }
        
    </script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/comon/initialize_setting.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>