@page
@model Fanpage.Pages.Facebook.Setting.MessengerMoveModel
@{
    Layout = null;
}

<div class="row" style="background-color: white">
    <div class="ui segments">
        <div class="ui segment headerSegmentReport">
            <div class="headerReport">
                <span data-languagestatic="face_exchange_data_header" class="header_form_main">Chuyển Dữ Liệu Messenger và Comment Giữa Các Nhân Viên</span>
                <a style="float: right; cursor: pointer" onclick="event.preventDefault();LoadMessengerMove()"><i class="refresh icon" title="refresh" style="font-size: 13px"></i></a>
            </div>
        </div>
        <div class="ui form segment form3">
            <div data-languagestatic="face_exchange_data_header_sub" class="descriptionHeader header_form_child">Lưu Ý: Chuyển chỉ áp dụng trên dữ liệu của Fanpage được phân cho người nhận. Thời gian dựa trên thời gian hệ thống nhận được Inbox đầu tiên</div>

            <div class="three fields" style="margin: 0px;">
                <div class="field">
                    <input id="dateFilter" class="ui form segment flatpickrMove" type="text" placeholder="Date From ...." />
                </div>
                <div class="field">
                    <button data-languagestatic="view" class="ui blueli button" onclick="event.preventDefault();return LoadMessengerMove();">Xem</button>
                </div>
                <div class="field"></div>
                <div class="field">
                    <button data-languagestatic="button_move" class="ui redli button button_move" onclick="event.preventDefault();return MoveMessenger();" style="float: right;">Move</button>
                </div>
            </div>

            <div class="ui segment" style="border: none;">
                <table id="dtContentMessengerMoveView" class="ui compact selectable striped celled table tablet stackable dataTable no-footer" role="grid" aria-describedby="data_table_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="display: none">ID</th>
                            <th data-languagestatic="no" style="width: 70px;">STT</th>
                            <th data-languagestatic="date">Ngày</th>
                            <th data-languagestatic="move_name">Người Chuyển</th>
                            <th data-languagestatic="from">Từ</th>
                            <th data-languagestatic="to">Đến</th>
                            <th data-languagestatic="time">Điều Kiện Thời Gian</th>
                            @*
                            <th>Số Lượng</th>*@
                            <th data-languagestatic="face_inbox_num">Số Inbox</th>
                            @*
                            <th data-languagestatic="face_com_num">Số Comment</th>*@
                            <th data-languagestatic="face_belong_fanpage">Thuộc FanPage</th>
                        </tr>
                    </thead>
                    <tbody id="dtContentMessengerMoveViewBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".flatpickrMove").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        $("#dateFilter").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));

        LoadMessengerMove();

    });

    function LoadMessengerMove() {
        var dateFrom = '';
        var dateTo = '';
        var date = $('#dateFilter').val() ? $('#dateFilter').val() : new Date();
        if (date.includes(" to ")) {
            dateFrom = date.split(" to ")[0];
            dateTo = date.split(" to ")[1];
        }
        else {
            dateFrom = date;
            dateTo = date;
        }
        AjaxLoad(url = "/Facebook/Setting/MessengerMove/?handler=LoadMessengerMove"
            , data = { 'dateFrom': dateFrom, 'dateTo': dateTo }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != 0) {
                    let data = JSON.parse(result);
                    RenderMessengerMove(data, 'dtContentMessengerMoveViewBody')
                }
            }
        );
         
    }
    function RenderMessengerMove(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none">' + item.ID + '</td>'
                        + '<td>' + item.STT + '</td>'
                        + '<td>' + item.Created + '</td>'
                        + '<td>' + item.CreatedName + '</td>'
                        + '<td>' + item.FromName + '</td>'
                        + '<td>' + item.ToName + '</td>'
                        + '<td>' + item.dateInfo + '</td>'
                        //+ '<td>' + item.Amount + '</td>'
                        + '<td>' + item.Messenger + '</td>'
                        //+ '<td>' + item.Comment + '</td>'
                        + '<td>' + item.TypeMove + '</td>'
                    stringContent = stringContent + '<tr role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function MoveMessenger() {
        document.getElementById("divDetailPopup").innerHTML = '';
        $("#divDetailPopup").load("/Facebook/Setting/MessengerMoveDetail?ver=" + versionofWebApplication);
        $('#divDetailPopup').modal('show');
        return false;
    }
</script>