@page
@model MLunarCoffee.Pages.Report.ReportSheet.ReportSheetDetailModel
@{ Layout=null;
}


<div class="header">
    Thông Tin Chi Tiết
</div>
<div class="row">
    <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segments">
            <form class="ui form segment form3" id="ReportTagDetail">
                <div class="field">
                    @*<%--<label>Tên Tag</label>--*@
                    <input id="SheetName" name="name" type="text" />
                </div>
                <div class="field">
                    <div class="field">
                        <label>Danh Sách Tag</label>
                        <select id="ReportTag" name="skills" multiple="" class="label ui selection fluid dropdown">
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="actions">
    <div id="divSaveServiceType" style="float: right">
        <button class="ui teal button" form="ReportTagDetail" type="submit" onclick="return ExcuteDataReportSheet()">Save</button>
    </div>
    <div style="float: right">
        <button class="ui grey button" form="ReportTagDetail" onclick="event.preventDefault();CloseModal()">Cancel</button>
    </div>
</div>
<style>
    .ui.multiple.dropdown > .label {
        padding: 0.6em .78571429em;
        font-size: 11px;
    }

    .ui.selection.dropdown > .dropdown.icon {
        margin: 0.214286em;
    }

    .ui.label > .delete.icon {
        font-size: 11px;
    }
</style>
<script>

    var dataComboTag;
    var dataSheetDetail;
    var ser_CurrentReportSheetID = @Model._ReportSheetCurrentID
    $(document).ready(function () {
        ReportSheet_LoadData();
        ReportSheet_RenderDetail(dataSheetDetail);
        $('.ui.dropdown .remove.icon').on('click', function (e) {
            $(this).parent('.dropdown').dropdown('clear');
            e.stopPropagation();
        });
    })


    function ReportSheet_RenderDetail(dataSheetDetail) {
        document.getElementById('SheetName').value = dataSheetDetail[0].Name;
        if (dataSheetDetail[0].Tag != undefined && dataSheetDetail[0].Tag != null && dataSheetDetail[0].Tag != "") {
            $('#ReportTag').dropdown('refresh')
            $('#ReportTag').dropdown('set selected', dataSheetDetail[0].Tag.split(","));
        }
    }

    function ReportSheet_LoadData() {
        //AjaxLoad(url = "/Report/ReportSheet/ReportSheetDetail/?handler=Loadata"
        //    , data = {
        //        id: ser_CurrentReportSheetID
        //    }, async = false, error = null
        //    , success = function (result) {
        //        let data = JSON.parse(result);
        //        dataComboTag = data.Table1;
        //        LoadComboToken(dataComboTag, "ReportTag");
        //        dataSheetDetail = data.Table;
        //});
    }

    function ExcuteDataReportSheet() {
        var data = new Object();
        data.NameShet = $('#SheetName').val() ? $('#SheetName').val() : "";
        data.Tag = $('#ReportTag').dropdown('get value').toString().substring(0, ($('#ReportTag').dropdown('get value').toString().length) / 2) ? $('#ReportTag').dropdown('get value').toString().substring(0, ($('#ReportTag').dropdown('get value').toString().length) / 2) : "";
        debugger
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Report/ReportSheet/ReportSheetDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data)
                    , CurrentID: ser_CurrentReportSheetID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();

                        if (typeof LoadSheetAjax !== 'undefined' && $.isFunction(LoadSheetAjax)) {
                            LoadSheetAjax();
                        }
                        else {
                            location.reload();
                        }
                        $('#DetailModal').modal('hide');
                        $("#DetailModal_Content").html('');
                    }
                    else {

                        notiError(result);
                    }
                });
        }
        return false;
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
