@page
@model MLunarCoffee.Pages.WareHouse.UnitCountDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <!-- #region header -->
                                <h6 data-languagestatic="detail_unit_count_header" class="mb-0">  Chi Tiết Đơn Vị Tính</h6>
                                <p data-languagestatic="" class="text-sm mb-0">Some text of detail sub</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formUnitType">
                        <div class="field col-12 p-1">
                            <label data-languagestatic="unit">Đơn Vị Tính</label>
                            <input id="UnitCount" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 p-1">
                            <label data-languagestatic="note">Ghi Chú</label>
                            <textarea id="NoteUnitCount" class="form-control"name="content"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" data-languagedyn="textShowMessage" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button data-languagestatic="button_cancel" class="btn btn-secondary" form="formUnitType" onclick="event.preventDefault();CloseModal()">Cancel</button>
                        <button data-languagestatic="button_ok" id="button_Service_detail_save" form="formUnitType" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();ExcuteDataUnit()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_UnitCountCurrentID = Number("@Model._UnitCountCurrentID");
    function ExcuteDataUnit() {
        var data = new Object();
        data.Name = $('#UnitCount').val() ? $('#UnitCount').val() : "";
        data.Note = $('#NoteUnitCount').val() ? $('#NoteUnitCount').val() : "";
        $('#formUnitType').form('validate form');
        if ($('#formUnitType').form('is valid')) {        
            AjaxLoad(url = "/WareHouse/UnitCountDetail/?handler=ExcuteData"
            , data = { 'data': JSON.stringify(data), 'CurrentID': ser_UnitCountCurrentID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result == "1") {
                        notiSuccess();

                        if (typeof LoadUnitAjax !== 'undefined' && $.isFunction(LoadUnitAjax)) {
                            LoadUnitAjax();
                        }
                        if (typeof LoadUnitCountType !== 'undefined' && $.isFunction(LoadUnitCountType)) {
                            LoadUnitCountType();
                        }

                        CloseModal();
                    } else {
                        document.getElementById("textShowMessage").innerHTML = result;
                    }
            }
        );

        }
        return false;
    }

    $(document).ready(function () {
        LoadDataUpdateProductType();
        Checking_TabControl_Permission();
    });
    function LoadDataUpdateProductType() {
        if(ser_UnitCountCurrentID != 0){
            AjaxLoad(url = "/WareHouse/UnitCountDetail/?handler=Loadata"
                , data = {  'id': ser_UnitCountCurrentID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let data  = JSON.parse(result);
                    if(data && data.length != 0){
                        $('#UnitCount').val((data[0].Name));
                        $('#NoteUnitCount').val((data[0].Note));
                    }
                }
            );
        }
    }
</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

