@page
@model MLunarCoffee.Pages.Appointment.AppointmentCalendarModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="row" id="MainAppointmentDetail">
</div>
<script>
    $(document).ready(function () {
        $('#MainAppointmentDetail').empty();
        $('#MainAppointmentDetail').load("/Desk/Appointment/AppointmentCalendar_Desk_Doctor?ver=" + versionofWebApplication);
    })
</script>