@page
@model MLunarCoffee.Pages.Appointment.AppointmentDoctorScheduler_MineModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<div class="row" id="MainAppointmentDetail_Mine">

</div>

<script>
    $(document).ready(function () {
        $('#MainAppointmentDetail_Mine').empty();
        $('#MainAppointmentDetail_Mine').load("/Desk/Appointment/AppointmentCalendar_Desk_Doctor?ViewDoctor=1&ver=" + versionofWebApplication);
    })
</script>