<div class="row">
    <div class="search_icon">
        <div class="form_input">
            <input class="input" type="text" placeholder="Tìm kếm" autocomplete="off" id="InputSearchIcon" onkeyup="OnkeyupSearchIcon();">
            <button aria-label="Search button" class="button_search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button class="button_remove">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div id="Icon_Main" class="row">
        <div id="Icon_List" class="icon_list">
        </div>
    </div>
</div>

<script src="js/icon.js"></script>