<div class="row">
        <div class="main_brg active">
                <div class="box_item">
                        <h3 class="box_title">Về Chúng Tôi</h3>
                        <hr class="hr_box">
                        <div class="box_content">
                                <div class="box_image" style="background: url(img/VT/logoCircle.png)">
                                </div>
                                <div class="box_text">
                                        <p class="box_text_title">Công Ty TNHH <span class="text">VT</span>Tech</p>
                                        <p>Chúng tôi là những Chuyên Gia về giải pháp quản lý cho ngành Nha Khoa & Thẩm
                                                Mỹ Viện</p>
                                </div>
                        </div>
                </div>
                <div class="box_item" style="display:none">
                        <h3 class="box_title">Về Chúng Tôi</h3>
                        <hr class="hr_box">
                        <div class="box_content">
                                <div class="box_image" style="background: url(img/VT/Huong-khach-hang.png)">
                                </div>
                                <div class="box_text">
                                        <p class="box_text_title">Công Ty TNHH <span class="text">VT</span>Tech</p>
                                        <p>Chúng tôi là những Chuyên Gia về giải pháp quản lý cho ngành Nha Khoa & Thẩm
                                                Mỹ Viện</p>
                                </div>
                        </div>
                </div>
                <div class="box_item">
                        <h3 class="box_title">Về Chúng Tôi</h3>
                        <hr class="hr_box">
                        <div class="box_content">
                                <div class="box_image" style="background: url(img/VT/Sang-tao.png)">
                                </div>
                                <div class="box_text">
                                        <p class="box_text_title">Công Ty TNHH <span class="text">VT</span>Tech</p>
                                        <p>Chúng tôi là những Chuyên Gia về giải pháp quản lý cho ngành Nha Khoa & Thẩm
                                                Mỹ Viện</p>
                                </div>
                        </div>
                </div>
                <div class="box_item">
                        <h3 class="box_title">Về Chúng Tôi</h3>
                        <hr class="hr_box">
                        <div class="box_content">
                                <div class="box_image" style="background: url(img/VT/Sang-tao.png)">
                                </div>
                                <div class="box_text">
                                        <p class="box_text_title">Công Ty TNHH <span class="text">VT</span>Tech</p>
                                        <p>Chúng tôi là những Chuyên Gia về giải pháp quản lý cho ngành Nha Khoa & Thẩm
                                                Mỹ Viện</p>
                                </div>
                        </div>
                </div>
        </div>
</div>


<style>
        .main_brg {
                background: url('img/LOGO/decor-spa.png');
                height: 800px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                position: relative;
                justify-content: space-between;
        }

        .main_brg .box_item {
                width: calc(50% - 20px);
                margin-bottom: 20px;
                box-shadow: 0px 0px 19px 0px var(--main-boxshadown);
                background-color: rgba(255, 255, 255, 0.3);
                height: 400px;

        }

        .main_brg .box_item:not(:first-child) {
                display: none;
        }

        .main_brg.active .box_item {
                width: 80%;
                height: 600px;
        }

        .main_brg.active {
                position: relative;
                justify-content: center;
                align-items: center;
                height: calc(100vh - 100px);
        }

        .box_item .box_title {
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                display: block;
                background-color: #ffffff26;
                padding: 20px;
                color: var(--main-title);
                height: 70px;
        }

        .box_content {
                display: flex;
                width: 100%;
                height: calc(100% - 70px);
                padding: 20px;
        }

        .box_image {
                width: 40%;
                background-repeat: no-repeat !important;
                background-position: center !important;
        }

        .box_text {
                font-size: 18px;
                width: 60%;
                line-height: 30px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0 10px;
        }

        .box_text_title {
                font-size: 50px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 20px;
                line-height: 1;
        }

        .box_text_title .text {
                color: #f64343;

        }

        .hr_box {
                margin: 0 20px;
                border-color: var(--main-title);
        }

        @media only screen and (max-width:1200px) {
                .main_brg .box_item {
                        width: 100%;
                }
        }

        @media only screen and (max-width:1000px) {
                .box_content {
                        flex-wrap: wrap;
                }

                .box_image,
                .box_text {
                        width: 100%;
                }

                .box_image {
                        background-size: contain !important;
                }

                .main_brg.active .box_item {
                        height: 80%;
                }

                .main_brg.active .box_item {
                        width: 100%;
                }
        }
</style>