@page
@model MLunarCoffee.Pages.Report.Traffic.TrafficDayGridModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="traffice_periodtime_header" 
                   class="text-md text-dark font-weight-bold mb-1">Lưu Lượng Theo Khung Giờ (Trung bình 90 ngày gần nhất)</p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#TrafficDayGrid" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_TrafficDayGrid()"></i>
                <i class="vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_TrafficDay()"></i>
 
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">Tổng Lịch</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAppTrafficDay">0</span></h6>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">Tổng Lịch CheckedIn</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAppTrafficDayCheck">0</span></h6>
                </div>
            </div>
        </div>


    </div>
    <div class="collapsesticky collapse show" id="TrafficDayGrid">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_TrafficDay">
                    <thead>
                        <tr role="row">
                            <th class="no-sort"></th>
                            <th class="no-sort" colspan="3" data-languagestatic="total">Tổng Tất Cả Lịch</th>
                            <th class="no-sort" colspan="3" data-languagestatic="total_scheduler_checkedin">Lịch Checked-In</th>
                        </tr>
                        <tr role="row">
                            <th data-languagestatic="time_period">Khung Giờ</th>
                            <th data-languagestatic="total">Tổng</th>
                            <th data-languagestatic="consultant">Tư Vấn</th>
                            <th data-languagestatic="treatment">Điều Trị</th>
                            <th data-languagestatic="total">Tổng</th>
                            <th data-languagestatic="consultant">Tư Vấn</th>
                            <th data-languagestatic="treatment">Điều Trị</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReport_TrafficDayBody">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
 
        LoadDataReport_TrafficDayGrid();
        $('#dtContentReport_TrafficDay').tablesort();
        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });
    function LoadDataReport_TrafficDayGrid() {
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Traffic/TrafficDayGrid/?handler=Loadata"
            , data = { 'branchID': _branch }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {

                    let dataDetailGrid = JSON.parse(result)["Table2"];
                    let dataMaster = JSON.parse(result)["Table3"];
                    //document.getElementById("lbTotalApp").innerHTML = "Lịch Hẹn :" + dataMaster[0].TotalScheduler;
                    Count_Up('lbTotalAppTrafficDay', dataMaster[0].TotalScheduler)
                    Count_Up('lbTotalAppTrafficDayCheck', dataMaster[0].TotalSchedulerCheckedIn)
                    RenderReport_TrafficDayGrid(dataDetailGrid, "dtContentReport_TrafficDayBody");
                }
                else {
                    notiError_SW();
                }
            }
        );

        return false;
    }

    function RenderReport_TrafficDayGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td>' + item.Name + '</td>'
                        + '<td data-sortvalue="' + Number(item.Total) + '">' + item.Total + '</td>'
                        + '<td data-sortvalue="' + Number(item.Total_Advice) + '">' + item.Total_Advice + '</td>'
                        + '<td data-sortvalue="' + Number(item.Total_Treatment) + '">' + item.Total_Treatment + '</td>'
                        + '<td data-sortvalue="' + Number(item.CheckedIn) + '">' + item.CheckedIn + '</td>'
                        + '<td data-sortvalue="' + Number(item.CheckedIn_Advice) + '">' + item.CheckedIn_Advice + '</td>'
                        + '<td data-sortvalue="' + Number(item.CheckedIn_Treatment) + '">' + item.CheckedIn_Treatment + '</td>'

                    stringContent = stringContent + '<tr role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_TrafficDay() {
        exportToExcel("dtContentReport_TrafficDay", 'traffic-theo-ngay');
    }
</script>


