{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true // Allows support of JSX, but use of React plugin is required to support React semantics
    }
  },
  // @typescript-eslint/parser is specified as a command line argument
  "plugins": [
    "node",
    "promise",
    "react",
    "@typescript-eslint"
  ],
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true,
    "es6": true, // This enables ES6 global variables AND ES6 syntax
    "worker": true
  },
  "rules": {
    // DOCUMENT RULES https://eslint.org/docs/latest/rules/
    // The below are some, but not all, of the rules from eslint:recommended https://github.com/eslint/eslint/blob/master/conf/eslint-recommended.js (all errors set to warning)
    // "off" or 0 - turn the rule off
    // "warn" or 1 - turn the rule on as a warning (doesn’t affect exit code)
    // "error" or 2 - turn the rule on as an error (exit code is 1 when triggered)

    "array-callback-return": "error", // Bắt buộc return đối với array method
    "constructor-super": "warn",
    "for-direction": "error", // Vòng lặp phải đúng hướng
    "getter-return": "error", // Bắt buộc return các hàm và phương thức sử dụng để lấy các giá trị biến
    "no-async-promise-executor": "error", // Disallow using an async function as a Promise executor (Không sử dụng Async để thực thi Promises)
    "no-await-in-loop": "error", // Không sử dụng await trong vòng lặp
    "no-class-assign": "off", // Disallow reassigning class members
    "no-case-declarations": "error", // Không cho phép khai báo function trong switch-case.
    "no-compare-neg-zero": 1, // Không so sánh với -0
    "no-cond-assign": "error", // Kiểm tra điều kiện thiếu EX: if(user.jobTitle = "manager")
    "no-const-assign": 2, // Không gán giá trị lại cho const
    "no-constant-condition": 1, // Không cho phép biểu thức không thay đỗi trong câu điều kiện
    "no-control-regex": 1, // Không cho phép các kí tự đặt biệt trong biểu thức  //Disallow control characters in regular expressions
    "no-debugger": 1, // Không cho sử dụng debugger
    "no-delete-var": 1, // Không cho phép xóa các biến
    "no-dupe-args": "error", // Không cho phép các đối tượng trùng lặp trong định nghĩa function //Disallow duplicate arguments in function definitions
    "no-dupe-class-members": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-empty-pattern": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-fallthrough": 1,
    "no-func-assign": 1,
    "no-global-assign": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-misleading-character-class": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-new-symbol": 1,
    "no-obj-calls": 1,
    "no-octal": 1,
    "no-prototype-builtins": 1,
    "no-redeclare": 1,
    "no-regex-spaces": 1,
    "no-self-assign": 1,
    "no-shadow-restricted-names": 1,
    "no-sparse-arrays": 1,
    "no-this-before-super": 1,
    "no-unexpected-multiline": 1,
    "no-unreachable": 1,
    "no-unsafe-finally": 1,
    "no-unsafe-negation": 1,
    "no-unused-labels": 1,
    "no-useless-catch": 1,
    "no-useless-escape": 1,
    "no-with": 1,
    "require-atomic-updates": 1,
    "require-yield": 1,
    "use-isnan": 1,
    "valid-typeof": 1,

    // Other rules
    "default-param-last": 1,
    "eqeqeq": "warn" // Thay thế != thành !==
  }
}