@page
@model SourceMain.Pages.Customer.DentistChart.DentistChartDetail_TeethChart_ChildModel
@{
    Layout = null;
}

 
<div class="d-flex h-100 overflow-auto border-dashed border-1 border-secondary border-radius-md ">
    <div id="ChartTeethWaiting" class="waitingdiv text-center w-100 mt-2" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="text-center " id="ChartTeethHeader" style="display: none; min-width: 80px;">
        <div class="row h-100 m-0 d-block col-w-100 mt-n2 ">
            <div class="position-relative" style="height: 40%;">
                <span class="position-absolute top-50 start-50 translate-middle">@Local["Trên"]</span>
            </div>
            <div class="position-relative" style="height: 20%;">
                <span class="position-absolute top-50 start-50 translate-middle">@Local["Lưỡi"]</span>
            </div>
            <div class="position-relative" style="height: 40%;">
                <span class="position-absolute top-50 start-50 translate-middle">@Local["Dưới"]</span>
            </div>
        </div>
    </div>


    <div id="dentist_chart_detail_status" class="p-3" style="display:none;">

        <div id="teethElementgroup_Up" class="w-100 justify-content-center">
            <div class="teethElement">
            </div>
            <div class="teethElement">
            </div>
        </div>
        <div id="teethElementgroup_Down" class="w-100 justify-content-center" ">
            <div class="teethElement">
            </div>
            <div class="teethElement">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    var CanvasObject = [];
    var CurrentDisease = [];
    var CurrentInitializeDisease = [];
    var IDTeethFaceSelect = [];
    var IDTeethCircleSelect = [];
    var data_layout_teeth;
    var data_layout_design_disease;
    var data_layout_image_disease;
    var data_layout_path;
    var data_disease;

    $(document).ready(function () {
        Chart_Dentist_Load_Layout();

    });

    //  #region render teeth layout
    function Render_Whole_Layout (data, id, updown) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let tr = "";
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (updown == 'D') {
                        tr = ' <div class="teethElement">'
                            + '<div class="teeth_part_circle">'
                            + Render_Layout_Circle(item.ID, item.E_L, item.E_T, item.E_R, item.E_B, item.E_C)
                            + '</div>'
                            + '<div style="height:10px;"></div>'
                            + '<div class="teeth_nameTeeth">' + item.TeethName + '</div>'
                            + '<div class="teeth_part_root_face" data_teeth="' + item.ID + '" data_face="' + item.E_Face + '" data_root="' + item.E_Root + '">'
                            + Render_Layout_RootFace(item.ID, item.E_Face, item.E_Root)
                            + '</div>'
                            + '<div id="teethfacetext_' + item.ID + '" class="teeth_part_root_face_text"></div>'
                            + '</div>'
                        if (i == 4) tr = tr + '<div style="width: 2px;background: #2185d038;height: 189px;margin: -15px 0px;">' + '</div>'
                    }
                    else {
                        tr = ' <div class="teethElement">'
                            + '<div id="teethfacetext_' + item.ID + '" class="teeth_part_root_face_text"></div>'
                            + '<div class="teeth_part_root_face" data_teeth="' + item.ID + '" data_face="' + item.E_Face + '" data_root="' + item.E_Root + '">'
                            + Render_Layout_RootFace(item.ID, item.E_Face, item.E_Root)
                            + '</div>'
                            + '<div class="teeth_nameTeeth">' + item.TeethName + '</div>'
                            + '<div style="height:10px;"></div>'
                            + '<div class="teeth_part_circle">'
                            + Render_Layout_Circle(item.ID, item.E_L, item.E_T, item.E_R, item.E_B, item.E_C)
                            + '</div>'
                            + '</div>'
                        if (i == 4) tr = tr + '<div style="width: 2px;background: #2185d038;height: 205px;">' + '</div>'
                    }
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }

    }

    function Render_Layout_Circle (id, l, t, r, b, c) {
        let resulf = '<div class="div_circle_all" data_type="l" data_id="' + id + '" data_path=' + l + ' style="width:12px;height:40px;position: absolute;"><canvas width="12" height="40" id="teeth_circle_l_' + id + '" class="canvasTeethCircle" data_type="l" data_id="' + id + '" data_path=' + l + '></canvas></div>'
            + '<div style="width:16px;height:40px;position: absolute;left:12px;">'
            + '<div class="div_circle_all" data_type="t" data_id="' + id + '" data_path=' + t + ' style="width:16px;height:12px;"><canvas width="16" height="12" id="teeth_circle_t_' + id + '" class="canvasTeethCircle" data_type="t" data_id="' + id + '" data_path=' + t + '></canvas></div>'
            + '<div class="div_circle_all" data_type="c" data_id="' + id + '" data_path=' + c + ' style="width:16px;height:16px;"><canvas width="16" height="16" id="teeth_circle_c_' + id + '" class="canvasTeethCircle" data_type="c" data_id="' + id + '" data_path=' + c + '></canvas></div>'
            + '<div class="div_circle_all" data_type="b" data_id="' + id + '" data_path=' + b + ' style="width:16px;height:12px;"><canvas width="16" height="12" id="teeth_circle_b_' + id + '" class="canvasTeethCircle" data_type="b" data_id="' + id + '" data_path=' + b + '></canvas></div>'
            + '</div>'
            + '<div class="div_circle_all" data_type="r" data_id="' + id + '" data_path=' + r + ' style="width:12px;height:40px;position: absolute;left:28px;"><canvas width="12" height="40" id="teeth_circle_r_' + id + '" class="canvasTeethCircle" data_type="r" data_id="' + id + '" data_path=' + r + '></canvas></div>'
            ;
        return resulf;
    }
    function Render_Layout_RootFace (id, face, root) {
        return '<canvas width="40" height="90" id="teethface_' + id + '" class="canvasTeethFace" '
            + ' data_id =' + id
            + ' data_face =' + face
            + ' data_root =' + root
            + '></canvas>';

    }
    // #endregion
    function LoadStatusTeethDetail () {
        AjaxLoad(url = "/Customer/DentistChart/DentistChartDetail_TeethChart_Child/?handler=Load_Chart_Teeth_Detail"
            , data = {'currentid': CurrentStatusTeethID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                CurrentDisease = JSON.parse(result);
                for (i = 0; i < CurrentDisease.length; i++) {
                    CurrentDisease[i].date = ConvertDateTimeUTCSS(CurrentDisease[i].date);
                    CurrentDisease[i].updatetime = ConvertDateTimeUTCSS(CurrentDisease[i].updatetime);
                }
                CurrentInitializeDisease = JSON.parse(JSON.stringify(CurrentDisease))
                _Draw_Disease_Design_TEETH_WHOLE();
                Render_Table_Desease_List(CurrentDisease, "dtContentDisease_DetailBody");
            }

        );


    }



    function Chart_Dentist_Load_Layout () {
        AjaxLoad(url = "/Customer/DentistChart/DentistChartDetail_TeethChart_Child/?handler=Load_Layout_Teeth"
            , data = {}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                data_layout_teeth = JSON.parse(result).Table;
                data_layout_path = JSON.parse(result).Table1;
                data_disease = JSON.parse(result).Table2;
                data_layout_design_disease = JSON.parse(result).Table3;
                data_layout_image_disease = JSON.parse(result).Table4;
                let dataUp = data_layout_teeth.filter(word => word["UpDown"] == "U");
                let dataDown = data_layout_teeth.filter(word => word["UpDown"] == "D");
                Render_Whole_Layout(dataUp, 'teethElementgroup_Up', 'U');
                Render_Whole_Layout(dataDown, 'teethElementgroup_Down', 'D');
                Execute_Draw_Whole_Teeth();
                Render_Disease_Teeh(data_disease, 'dentist_chart_detail_disease');
                Event_Click_Choose_FR_Teeth();
                Event_Click_Choose_Circle_Teeth();
                if (CurrentStatusTeethID != 0) {
                    LoadStatusTeethDetail();

                }
            }
            , sender = null
            , before = function (e) {
                $('#ChartTeethWaiting').show();
                $('#dentist_chart_detail_status').hide();
                $('#ChartTeethHeader').hide();


            }
            , complete = function (e) {
                $('#ChartTeethWaiting').hide();
                $('#dentist_chart_detail_status').show();
                $('#ChartTeethHeader').show();
            }
        );
    }
</script>

<style>
    .diseaseitem {
        cursor: pointer !important;
        min-width:200px;
    }

    #tableDisease_Teeth {
        height: 500px;
        width: 100%;
        overflow-y: auto;
    }

    .teethElement {
        max-width: 50px;
        min-width: 50px;
        height: 205px;
        display: inline-block;
    }

  
    .teeth_part_circle {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        position: relative;
    }

    .teeth_part_root_face {
        width: 50px;
        height: 90px;
    }

    .teeth_nameTeeth {
        width: 90%;
        height: 17px;
        text-align: center;
        margin: auto;
        font-size: 14px;
        font-weight: 600;
        color: var(--bs-primary);
    }

    .teeth_part_root_face_text {
        width: 42px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        border-radius: 5px;
        margin: 2px 3px;
    }

    #teethElementgroup_Up {
        border-bottom: 4px solid #d8e8f3;
        display: flex;
    }

    #teethElementgroup_Down {
        margin-top: 15px;
        display: flex;
    }

    .teeth_part_root_face .canvas-container {
        margin: 0px 5px;
    }

    .selectedColorCircle {
        background-color: #f1e2e2;
    }

    .selectedColorFR {
        background-color: #f1e2e2;
    }

 


    .noteDiseaseTeeth {
        padding: 5px;
        color: #1b1c1d;
        width: 100%;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid #d4d4d5;
    }

    .deleteDisease {
        cursor: pointer;
    }

</style>


