@page
@model SourceMain.Pages.Report.RevenuePayment.Deposit.DepositGridModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="deposit_customer_header"
                   class="text-md text-dark font-weight-bold mb-1">Tiền Cọc Khách Hàng</p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#DepositGrid" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_DepositByCustomerNewGrid()"></i>
                <i class="vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_DepositByCustomerNewGrid()"></i>

            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="total" class="text-sm text-primary text-gradient mb-0">Tổng</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount">0</span></h6>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 data-languagedyn="total_using" class="text-sm text-primary text-gradient mb-0">Đã Sử Dụng</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmountUsing">0</span></h6>
                </div>
            </div>
        </div>


    </div>
    <div class="collapsesticky collapse show" id="DepositGrid">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_DepositByCustomerNewGrid">
                    <thead>
                        <tr>
                            <th style="width: 20px; display: none !important;"></th>
                            <th data-languagestatic="" style="width: 40px">#</th>
                            <th data-languagestatic="cust_code" style="width: 150px">MSKH</th>
                            <th data-languagestatic="cust">Khách Hàng</th>
                            <th data-languagestatic="amountdeposit">Thu Cọc</th>
                            <th data-languagestatic="usingdeposit">Thanh Toán Sử Dụng Tiền Cọc</th>
                            <th data-languagestatic="leftdeposit">Tiền Cọc Còn Lại</th>

                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_DepositByCustomerNewGrid">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div id="detailShow" class="card mt-2" style="display: none">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p id="lbDetailDeposit" class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#DepositGridDetail" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>
                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_DepositByCustomerNewGrid_Detail()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_Detail()"></i>

            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="DepositGridDetail">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtDetail">
                    <thead>
                        <tr>
                            <th data-languagestatic="no" style="width: 60px">#</th>
                            <th data-languagestatic="service">Dịch Vụ</th>
                            <th data-languagestatic="type">Loại</th>
                            <th data-languagestatic="rp_paid">Đã Thanh Toán</th>
                            <th data-languagestatic="date">Ngày</th>
                            <th data-languagestatic="branch">Chi Nhánh</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtBodyDetail">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    var dataDetail;
    var Customer_ID;
    var Customer_Name;
    var __CurrentDetail;
    $(document).ready(function () {

        LoadDataReport_DepositByCustomerNewGrid();
        $('#dtContentReport_DepositByCustomerNewGrid tbody').on('click', 'tr', function () {
            $("#detailShow").show();
            $(this).parent().children().removeClass('active')
            $(this).closest('tr').addClass('active');
            __CurrentDetail = Number($(this).closest('tr')[0].childNodes[0].innerHTML);

            Customer_ID = $(this).closest('tr')[0].childNodes[2].innerHTML;
            Customer_Name = $(this).closest('tr')[0].childNodes[3].innerHTML;
            $('#lbDetailDeposit').html(Customer_ID + ' - ' + Customer_Name);
            LoadDataReport_DepositByCustomerNewGrid_Detail();
            $('html, body').animate({
                scrollTop: $("#detailShow").offset().top
            }, 300);
        });

        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });
    function LoadDataReport_DepositByCustomerNewGrid_Detail() {
        let dataCust = dataDetail.filter(dataDetail => dataDetail.CustomerID == __CurrentDetail);
        RenderDetail(dataCust, 'dtBodyDetail');
    }
    function LoadDataReport_DepositByCustomerNewGrid() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _BranchID = "@Model._TokenBranch";
        AjaxLoad(url = "/Report/RevenuePayment/Deposit/DepositGrid/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'branchID': _BranchID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    dataDetail = JSON.parse(result)["Table1"];
                    $("#detailShow").hide();
                    RenderReport_DepositByCustomerNewGrid(data, "dtContentReportBody_DepositByCustomerNewGrid");
                }
            }
        );
        return false;
    }
    function RenderReport__RevenueByNewOld_Average(a, b) {
        if (Number(b) == 0) return 0;
        else return formatNumber(Math.ceil(a / b));
    }

    function RenderReport_DepositByCustomerNewGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let TotalAmount = 0;
            let TotalAmountUsing = 0;
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    TotalAmount += Number(item.DepositPaid);
                    TotalAmountUsing += Number(item.DepositUsing);
                    let tr = '<td style="display:none">' + item.CustID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td> <a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a></td>'
                        + '<td>' + item.CustName + '</td>'
                        + '<td>' + formatNumber(item.DepositPaid) + '</td>'
                        + '<td>' + formatNumber(item.DepositUsing) + '</td>'
                        + '<td>' + formatNumber(item.DepositPaid - item.DepositUsing) + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            Count_Up('lbTotalAmount', TotalAmount)
            Count_Up('lbTotalAmountUsing', TotalAmountUsing)

        }
    }
    function RenderDetail(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = '<td class="vt-number-order"></td>'
                        + '<td>' + Return_Type_SER_PRO_MED_CARD_DEP(item.Type) + '</td>'
                        + '<td>' + item.Name + '</td>'
                        + '<td>' + formatNumber(item.Amount) + '</td>'
                        + '<td>' + formatDateClient(item.Created) + '</td>'
                        + '<td>' + item.BranchName + '</td>'

                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    async function exportData_DepositByCustomerNewGrid() {
        var elm = $("#dtContentReport_DepositByCustomerNewGrid");
        var tr = elm.find('thead').find('tr')[0];
        elm.find('thead').find('tr')[0].remove();
        await exportToExcel("dtContentReport_DepositByCustomerNewGrid", 'Tien-Coc-Khach-Hang');
        elm.find('thead').prepend(tr);
    }
    function exportData_Detail() {
        exportToExcel("dtDetail", 'Chi-Tiet-' + xoa_dau(Customer_Name));
    }
</script>
<style>
    ._allcustomer {
        background: #2185d014 !important;
    }

    ._newcustomer {
        background: #21ba451a !important;
    }

    ._oldcustomer {
        background: #fbbd0814 !important;
    }
</style>

