#btnWelcome_Modal {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    transition: 0.3s ease-in-out !important;
    text-transform: none !important;
    letter-spacing: 1.1px !important;
    font-size: 15px !important;
    background: white;
    color: #1a9aff;
}

    #btnWelcome_Modal i {
        animation: ringring 2s linear infinite;
    }



.btn-gettingstart {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    transition: 0.3s ease-in-out !important;
    text-transform: none !important;
    letter-spacing: 1.1px !important;
    font-size: 13px !important;
}

    .btn-gettingstart:hover {
        padding-top: 20px !important;
    }

    .btn-gettingstart > .gettingstart-icon {
        animation: ringring 1s linear infinite;
    }

@keyframes ringring {
    from {
        transform: rotate(0);
    }

    50% {
        transform: rotate(10deg) scale(1.1);
    }

    to {
        transform: rotate(0deg);
    }
}

.getstep_item {
    padding: 0.5em 0 !important;
}

    .getstep_item.active, .getstep_item:hover {
        background-color: rgba(216,243,233,0.3);
        border-radius: 0 50px 50px 0 !important;
        transition: 0.2s;
    }

    .getstep_item.active {
        background-color: rgba(var(--bs-primary) );
        color: #fff !important;
    }

.getstep_item {
    padding-left: 20px !important;
}

.groupPerDemo__item {
    transition: 0.3s all;
    box-shadow: 0 8px 26px -4px rgb(159 159 159 / 15%), 0 8px 9px -5px #fff8df !important;
}

    .groupPerDemo__item:hover {
        box-shadow: 0 8px 26px -4px rgb(20 20 20 / 15%), 0 8px 9px -5px rgb(20 20 20 / 6%) !important;
      
    }
    .groupPerDemo__item .des {
        min-height: 90px;
    }