@page
@model MLunarCoffee.Pages.Setting.AppCustomer.PolicyApp.PolicyAppDetailModel
@{
    Layout = null;
}

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">Chính sách</h6>
                                <p class="text-sm mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formPolicyAppDetail">
                        <div class="field col-12 col-md-6 p-1">
                            <label>Chính sách</label>
                            <input id="ACSDPolicy_Name" name="name" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 col-md-6 p-1">
                            <label>Mô tả</label>
                            <input id="ACSDPolicy_shortDescription" name="name" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 p-1">
                            <label>Nội Dung</label>
                            <textarea id="ACSDPolicy_Content" name="name" type="text" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formPolicyAppDetail" onclick="event.preventDefault();return CloseModal()">Cancel</button>
                        <button form="formPolicyAppDetail" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault(); return ACSDPolicy_Excute();">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    let ser_PolicyAppDetailID = Number("@Model._PolicyAppCurrentID");

    $(document).ready(function () {
        ACSDPolicy_LoadDataUpdate();
    });


    function ACSDPolicy_LoadDataUpdate() {
        if (ser_PolicyAppDetailID != "0") {
            AjaxLoad(url = "/Setting/AppCustomer/PolicyApp/PolicyAppDetail/?handler=Loadata"
                , data = {
                    id: ser_PolicyAppDetailID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let data = JSON.parse(result);
                        if (data && data.length > 0) {
                            let item = data[0];
                            $('#ACSDPolicy_Name').val(item.Policy);
                            $('#ACSDPolicy_shortDescription').val(item.ShortDescription);
                            $('#ACSDPolicy_Content').val(item.Content);
                        }
                    }
                }
            );
        }

        return false;
    }


    function ACSDPolicy_Excute() {
        $('#formPolicyAppDetail').form('validate form');
        if ($('#formPolicyAppDetail').form('is valid')) {
            let policy = $('#ACSDPolicy_Name').val() ? $('#ACSDPolicy_Name').val() : "";
            let shortDescription = $('#ACSDPolicy_shortDescription').val() ? $('#ACSDPolicy_shortDescription').val() : "";
            let content = $('#ACSDPolicy_Content').val() ? $('#ACSDPolicy_Content').val() : "";
            AjaxLoad(url = "/Setting/AppCustomer/PolicyApp/PolicyAppDetail/?handler=ExcuteData"
                , data = {
                    policy: policy,
                    shortDescription: shortDescription,
                    content: content,
                    CurrentID: ser_PolicyAppDetailID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        CloseModal();
                        if (typeof ACSPolicy_LoadData === 'function') ACSPolicy_LoadData();
                        syslog_mob(ser_PolicyAppDetailID == "0" ? "i" : "u", "@Local["Chính sách"]");
                    }
                    else if (result == "-1") {
                        notiWarning('Chính sách đã tồn tại')
                    }
                    else {
                        notiError_SW();
                    }
                });

        }
        return false;
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>



