@page
@model MLunarCoffee.Pages.Customer.Room.RoomStatusModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="container-fluid pb-3 pt-2 px-0">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card-body pt-2 " id="RoomStatusDetail">

            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#RoomStatusDetail').empty();
        $('#RoomStatusDetail').load("/Desk/Appointment/RoomStatus_Desk?Type=1");
    })
</script>