@page
@model SourceMain.Pages.Report.RevenuePayment.Lab.LaboSupplierPieModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="chart_revenue_by_lab_header"
                   class="text-md text-dark font-weight-bold mb-1">Biểu đồ doanh thu theo phòng Lab</p>
                <p class="text-xs text-muted mb-0 ">ĐV-Triệu</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#LaboSupplierPieDiv" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadData_LaboSupplierPie()"></i>
 
            </div>
        </div>

    </div>

    <div class="collapsesticky collapse show" id="LaboSupplierPieDiv">
        <div class="card-body p-3 pt-0">
            <div class="d-lg-flex">
                <div class="col-w-300 text-center mt-3 mx-auto position-relative" style="min-height: 250px;">
                    <div class="chart position-absolute top-50 start-50 translate-middle">
                        <canvas id="LaboSupplierPie" class="chart-canvas" height="250"></canvas>
                    </div>
                    <h4 class="font-weight-bold position-absolute top-50 start-50 translate-middle">
                        <span id="LaboSupplierPieTotal"></span>
                    </h4>
                </div>
                <div class="flex-grow-1 ">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <tbody id="LaboSupplierPieList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script>js_require('/js/comon/initialize_setting.js');</script>
<script>
    $(document).ready(function () {
 
        LoadData_LaboSupplierPie();
    });

    function LoadData_LaboSupplierPie() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/RevenuePayment/Lab/LaboSupplierPie/?handler=Loadata"
            , data = { 'branchID': _branch, 'dateFrom': _dateFrom, 'dateTo': _dateTo }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table1"];
                    let TotalPaid = 0;
                    for (let i = 0; i < data.length; i++) {
                        data[i]['Paid'] = Math.round(data[i]['Paid'] / 1000000);
                        TotalPaid += Number(data[i]['Paid']);
                    }

                    $('#LaboSupplierPieTotal').html(formatNumber(Math.round(TotalPaid)));
                    ReportPie_Description(data, 'SupplierName', 'Paid', 'LaboSupplierPieList');
                    rp_pie("LaboSupplierPie", data, 'SupplierName', 'Paid')
                 
                }
            }
        );
    }

</script>
