@page
@model SourceMain.Pages.Report.RevenuePayment.Lab.LaboSupplierBarModel
@{
    Layout = null;
}
<div class="card">
    <div class="card-header p-3">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="chart_revenue_by_lab_header"
                   class="text-md text-dark font-weight-bold mb-1">Biểu đồ doanh thu theo phòng Lab</p>
                <p class="text-xs text-muted mb-0 ">ĐV-Triệu</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#LaboSupplierBarDiv" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadData_Revenue_LaboSupplierBar()"></i>
                
            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="LaboSupplierBarDiv">
        <div class="card-body p-3 pt-0">
            <div class="chart">
                <canvas id="LaboSupplierBar" class="chart-canvas" height="300"></canvas>
            </div>
        </div>

    </div>

</div>
 

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>
    $(document).ready(function () {
        
        LoadData_Revenue_LaboSupplierBar();
    });
    function LoadData_Revenue_LaboSupplierBar() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/RevenuePayment/Lab/LaboSupplierBar/?handler=Loadata"
            , data = { 'branchID': _branch, 'dateFrom': _dateFrom, 'dateTo': _dateTo }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table1"];
                    for (let i = 0; i < data.length; i++) {
                        data[i]['Paid'] = Math.round(data[i]['Paid'] / 1000000);

                    }
                    rp_bar("LaboSupplierBar", data, 'SupplierName', 'Paid')
 
                }
            }
        );

    }
</script>
