@page
@model MLunarCoffee.Pages.Labo.Supplier.LaboInvoiceModel
@{
    Layout = null;
}

<script>js_require('/js/customjs/custom-validation.js');</script>



<div class=" pb-0">
    <div class="d-lg-flex">
        <div class="w-50 col-auto my-auto">
            <div class="h-100">
                <!-- #region header -->
                <h6 class="mb-0">Invoice and Require Form</h6>
                <p class="text-sm mb-0">Some text of detail sub</p>
                <!-- #endregion -->
            </div>
        </div>
        <div class="ms-auto my-auto mt-1">
            <!-- #region navigation -->
            <ul class="nav nav-pills nav-fill p-1 bg-transparent laboinvoice" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link cursor-pointer" data-languagestatic="requested_form"
                       data-bs-toggle="pill" data-bs-target="#sup_info_layout_content" role="tab">Form Yêu Cầu</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link cursor-pointer" data-languagestatic="payment"
                       data-bs-toggle="pill" data-bs-target="#sup_info_layout_payment" role="tab">Thanh Toán</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class=" pt-2 ">
    <div class="nav-wrapper position-relative end-0">
        <div class="tab-content">
            <div class="tab-pane fade" role="tabpanel" id="sup_info_layout_content">
                <div class="d-flex justify-content-end">

                    <div class="position-relative d-inline">
                        <button data-languagestatic="button_more" class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colListsForm">
                            Xem Thêm
                        </button>
                        <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colListsForm" style="min-width:250px;">
                            <ul class="card card-body text-dark text-capitalize opacity-10">
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="doctor" type="checkbox">
                                    </div>
                                    <p data-languagestatic="doctor" class="text-sm">Người Yêu Cầu</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="status" type="checkbox">
                                    </div>
                                    <p data-languagestatic="status" class="text-sm">Trạng Thái</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="price" type="checkbox">
                                    </div>
                                    <p data-languagestatic="price" class="text-sm">Giá</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="paid" type="checkbox">
                                    </div>
                                    <p data-languagestatic="paid" class="text-sm">Thanh Toán</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="createdname" type="checkbox">
                                    </div>
                                    <p data-languagestatic="createdname" class="text-sm">Người Tạo</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="date" type="checkbox">
                                    </div>
                                    <p data-languagestatic="date" class="text-sm">Ngày Tạo</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="m-0 my-3 mobile-responsive">

                    <div id="LaboForm_ListWaiting" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <table data-name="LaboInvoiceForm" class="table vt-table mb-0" id="LaboForm_List">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th data-languagestatic="no">#</th>
                                <th data-languagestatic="labocode">Code</th>
                                <th data-languagestatic="cust_code">MSKH</th>
                                <th data-languagestatic="name">Khách Hàng</th>
                                <th data-name="doctor" data-languagestatic="doctor">Người Yêu Cầu</th>
                                <th data-name="status" data-languagestatic="status">Trạng Thái</th>
                                <th data-name="price" data-languagestatic="price">Giá</th>
                                <th data-name="paid" data-languagestatic="paid">Thanh Toán</th>
                                <th data-name="createdname" data-languagestatic="createdname">Người Tạo</th>
                                <th data-name="date" data-languagestatic="date">Ngày Tạo</th>
                            </tr>
                        </thead>
                        <tbody data-languagedyn="grid" id="LaboForm_ListBody">
                        </tbody>
                    </table>
                    <button id="btnLaboForm_Loadmore" class="btn btn-secondary w-100 p-1" onclick="LaboForm_Load(1)">Load More</button>

                </div>



            </div>
            <div class="tab-pane fade" role="tabpanel" id="sup_info_layout_payment">
                <div class="d-flex justify-content-end">
                    <div class="position-relative d-inline">
                        <button id="btnInvoiceAdd" data-languagestatic="created" class="btn bg-gradient-primary btn-sm mt-1 me-2 opacity-2" onclick="LaboInvoice_Add()">Thêm Mới</button>
                        <button data-languagestatic="button_more" class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colListsInvoice">
                            Xem Thêm
                        </button>
                        <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colListsInvoice" style="min-width:250px;">
                            <ul class="card card-body text-dark text-capitalize opacity-10">
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="createdname" type="checkbox">
                                    </div>
                                    <p data-languagestatic="createdname" class="text-sm">Người Tạo</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="date" type="checkbox">
                                    </div>
                                    <p data-languagestatic="date" class="text-sm">Ngày Tạo</p>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div id="LaboInvoice_ListWaiting" class="waitingdiv text-center" style="display: none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
                <table data-name="LaboInvoiceList" class="table vt-table mb-0" id="LaboInvoice_List">
                    <thead>
                        <tr>
                            <th class="d-none">ID</th>
                            <th data-languagestatic="no">#</th>
                            <th data-languagestatic="code">Code</th>
                            <th data-languagestatic="amount">Tiền Thanh Toán</th>
                            <th data-name="createdname" data-languagestatic="createdname">Người Tạo</th>
                            <th data-name="date" data-languagestatic="date">Ngày Tạo</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="LaboInvoice_ListBody">
                    </tbody>
                </table>
                <button id="btnLaboInvoice_Loadmore" class="btn btn-secondary w-100 p-1" onclick="LaboForm_Load(1)">Load More</button>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    let LaboInvoice_DataList = [];
    let invoice_begin = 0;
    let invoice_limit = 30;
    let LaboForm_List = [];
    let form_begin = 0;
    let form_limit = 30;
    let LaboInvoice_BranchID = "@Model._BranchID";
    var shtableform;
    var shtableinvoice;

    $(document).ready(function () {
        initNavs();
        $('.laboinvoice a:first').tab('show');
        shtableform = $("#LaboForm_List").TableExpandColumn({
            shtoogle: $('#colListsForm .shtoogle')
        });
        shtableinvoice = $("#LaboInvoice_List").TableExpandColumn({
            shtoogle: $('#colListsInvoice .shtoogle')
        });
        LoadInvoice_Outsite();
        Checking_TabControl_Permission();
    });
    function LoadInvoice_Outsite(areaload) {
        form_begin = invoice_begin = 0;
        form_limit = invoice_limit = 30;
        if (areaload == undefined) {
            LaboInvoice_LoadList(0);
            LaboForm_Load(0);
        }
        else if (areaload == 'LaboInvoice') {
            LaboInvoice_LoadList(0);
        }
        else {
            LaboForm_Load(0);
        }
        if (CurrentID_Supplier != 0) $('#btnInvoiceAdd').removeClass('opacity-2')
        else $('#btnInvoiceAdd').addClass('opacity-2')
    }

    //#region // Invoice
    function LaboInvoice_LoadList(isLoadmore) {
        if (Number(isLoadmore) != 1) {
            invoice_begin = 0;
            LaboInvoice_DataList = [];
            $("#LaboInvoice_ListBody").empty();
        }
        let TextSearch = "";
        if ($("#LaboList_Fiter").length != 0) {
            TextSearch = xoa_dau($("#LaboList_Fiter").val()).trim();
        }
        AjaxLoad(url = "/Labo/Supplier/LaboInvoice/?handler=Loadata_Invoice"
            , data = {
                'SupplierID': CurrentID_Supplier,
                'limit': invoice_limit,
                'idbegin': invoice_begin,
                'textsearch': TextSearch
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let table = JSON.parse(result);
                    let list_labo = table.Table;
                    LaboInvoice_DataList = LaboInvoice_DataList.concat(table.Table1);
                    if (list_labo.length > 0) {
                        invoice_begin = list_labo[list_labo.length - 1].ID;
                        $("#btnLaboInvoice_Loadmore").show();
                    } else {
                        $("#btnLaboInvoice_Loadmore").hide();
                    }
                    LaboInvoice_RenderList(list_labo, 'LaboInvoice_ListBody');
                    if (TextSearch != '') {
                        ColorSearchFilterText(TextSearch, "labo_code_payment");
                    }
                }
                LaboInvoice_Event();
            }
        );

    }
    function LaboInvoice_RenderList(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let objcreated = Fun_GetObject_ByID(DataUser, item.Created_By);
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>' + item.Invoice_Num + '</td>'
                        + '<td>' + formatNumber(item.Amount) + '</td>'
                        + '<td data-name="createdname">'
                        + '<div class="d-inline"><img class="avatar avatar-xs me-2" src="' + objcreated.Avatar + '" alt="label-image" /><span>' + objcreated.Name + '</span></div>'
                        + '</td>'
                        + '<td data-name="date">' + ConvertDateTimeUTC_DMY(item.Created) + '</td>'
                        + '<td>'
                        + ((item.DeleteButton == 1)
                            ? (Render_Button_Grid(['<button class="buttonGrid" value="' + item.ID + '"><i data-id=' + item.ID +' class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>']))

                            : '')
                        + '</td>'




                    stringContent = stringContent + '<tr role="row" id = "invoice_detail_' + item.ID + '" class="vt-number" data-id=' + item.ID+'>' + tr + '</tr>';
                }
            }
            $("#" + id).append(stringContent);
        }
        shtableinvoice.Refresh();
        Checking_TabControl_Permission();
    }
    function LaboInvoice_Event () {
        $('#LaboInvoice_ListBody').on('click', '.buttonDeleteClass', function () {
            let ID = $(this).attr("data-id");
            LaboInvoice_DeletePayment(ID);
        });
    }
    function LaboInvoice_DeletePayment (id) {
        const promise = notiConfirm();
        promise.then(function () {LaboInvoice_ExecuteDeletePayment(id);}, function () { });
    }
    function LaboInvoice_ExecuteDeletePayment (id) {
        AjaxLoad(url = "/Labo/Supplier/LaboInvoice/?handler=DeletePayment"
            , data = {
                'id': id
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    notiSuccess();
                    if ($("#invoice_detail_" + id).length) {
                        $("#invoice_detail_" + id).remove();
                    }
                    if (data.length != 0) {
                        if (typeof ListLabo_Load !== 'undefined' && $.isFunction(ListLabo_Load)) ListLabo_Load(data[0].RESULT);
                    }
                } else {
                    notiError_SW();
                }
            }
        );

    }
    function LaboInvoice_Add () {
        if (CurrentID_Supplier !== undefined && CurrentID_Supplier != 0) {
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load("/Labo/Payment/SupplierPaymentDetail?SupplierID=" + CurrentID_Supplier + '&BranchID=' + LaboInvoice_BranchID + "&ver=" + versionofWebApplication);
            $('#DetailModal').modal('show');
        }
    }
    //#endregion

    //#region // Form
    function LaboForm_Load(isLoadmore) {
        if (Number(isLoadmore) != 1) {
            form_begin = 0;
            LaboForm_List = [];
            $("#LaboForm_ListBody").empty();
        }
        let TextSearch = "";
        if ($("#LaboList_Fiter").length != 0) {
            TextSearch = xoa_dau($("#LaboList_Fiter").val()).trim();
        }
        AjaxLoad(url = "/Labo/Supplier/LaboInvoice/?handler=Loadata_Form"
            , data = {
                'SupplierID': CurrentID_Supplier, 'limit': form_limit, 'idbegin': form_begin, 'textsearch': TextSearch
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let table = JSON.parse(result);
                    let list_labo = table.Table;
                    LaboForm_List = table.Table1;
                    if (list_labo.length > 0) {
                        form_begin = list_labo[list_labo.length - 1].ID;
                    } else {
                        $("#btnLaboForm_Loadmore").hide();
                    }

                    LaboForm_Render(list_labo, 'LaboForm_ListBody');
                    if (TextSearch != '') {
                        ColorSearchFilterText(TextSearch, "labo_code");
                        ColorSearchFilterText(TextSearch, "row_customer");
                    }
                }

            }
            , sender = null
            , before = function () {
                $("#LaboForm_ListWaiting").show();
            }
            , complete = function (e) {
                $("#LaboForm_ListWaiting").hide();
            }
        );

    }
    function LaboForm_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataEmployee, item.Doctor_ID);
                    let objcreated = Fun_GetObject_ByID(DataUser, item.Created_By);
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>' + item.Lab_Code + '</td>'
                        + '<td>'
                        + '<a href="/Customer/MainCustomer?CustomerID=' + item.CustomerID + '&ver=' + versionofWebApplication + '" target="_blank" >' + item.CustomerCode + '</a>'
                        + '</td>'
                        + '<td>' + item.CustomerName + '</td>'
                        + '<td data-name="doctor">'
                        + '<div class="d-inline"><img class="avatar avatar-xs me-2" src="' + obj.Avatar + '" alt="label-image" /><span>' + obj.Name + '</span></div>'
                        + '</td>'
                        + '<td data-name="status">'
                        + '<span class="badge" style="background-color: ' + item.StatusColor + '2b;color:' + item.StatusColor + '">' + item.StatusName + '</span>'
                        + '</td>'
                        + '<td data-name="price">' + formatNumber(item.Price) + '</td>'
                        + '<td data-name="paid">' + formatNumber(item.Paid) + '</td>'
                        + '<td data-name="createdname">'
                        + '<div class="d-inline"><img class="avatar avatar-xs me-2" src="' + objcreated.Avatar + '" alt="label-image" /><span>' + objcreated.Name + '</span></div>'
                        + '</td>'
                        + '<td data-name="date">' + item.CreatedString + '</td>'

                    stringContent = stringContent + '<tr role="row" class="vt-number">' + tr + '</tr>';
                }
            }
            $("#" + id).append(stringContent);

        }
        shtableform.Refresh();
    }
    //#endregion

</script>
<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js');</script>



