
*, :after, :before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25
}

    hr:not([size]) {
        height: 1px
    }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
    color: #344767
}

.h1, h1 {
    font-size: calc(1.425rem + 2.1vw)
}

@media (min-width:1200px) {
    .h1, h1 {
        font-size: 3rem
    }
}

.h2, h2 {
    font-size: calc(1.35rem + 1.2vw)
}

@media (min-width:1200px) {
    .h2, h2 {
        font-size: 2.25rem
    }
}

.h3, h3 {
    font-size: calc(1.3125rem + .75vw)
}

@media (min-width:1200px) {
    .h3, h3 {
        font-size: 1.875rem
    }
}

.h4, h4 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
    .h4, h4 {
        font-size: 1.5rem
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-bs-original-title], abbr[title] {
    text-decoration: underline dotted;
    cursor: help;
    text-decoration-skip-ink: none
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

ol, ul {
    padding-left: 2rem
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem
}

    ol ol, ol ul, ul ol, ul ul {
        margin-bottom: 0
    }

dt {
    font-weight: 600
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b, strong {
    font-weight: 700
}

.small, small {
    font-size: .875em
}

.mark, mark {
    padding: .2em;
    background-color: #fcf8e3
}

sub, sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a, a:hover {
    color: rgb(var(--bs-primary));
    text-decoration: none
}

    a:not([href]):not([class]), a:not([href]):not([class]):hover {
        color: inherit;
        text-decoration: none
    }

code, kbd, pre, samp {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    direction: ltr;
    unicode-bidi: bidi-override
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em
}

    pre code {
        font-size: inherit;
        color: inherit;
        word-break: normal
    }

code {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word
}

a > code {
    color: inherit
}

kbd {
    padding: .2rem .4rem;
    font-size: .875em;
    color: #fff;
    background-color: #212529;
    border-radius: .125rem
}

    kbd kbd {
        padding: 0;
        font-size: 1em;
        font-weight: 600
    }

figure {
    margin: 0 0 1rem
}

img, svg {
    vertical-align: middle
}

table {
    caption-side: bottom;
    border-collapse: collapse
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

    button:focus:not(:focus-visible) {
        outline: 0
    }

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

select {
    word-wrap: normal
}

    select:disabled {
        opacity: 1
    }

[list]::-webkit-calendar-picker-indicator {
    display: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer
    }

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

textarea {
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit
}

@media (min-width:1200px) {
    legend {
        font-size: 1.5rem
    }
}

legend + * {
    clear: left
}

::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::file-selector-button {
    font: inherit
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

iframe {
    border: 0
}

summary {
    display: list-item;
    cursor: pointer
}


.dark-version, .dark-version .main-content {
    background-color: #1a2035 !important
}

    .dark-version .sidenav {
        background: #1f283e !important
    }

        .dark-version .sidenav.bg-transparent {
            background: transparent !important
        }

            .dark-version .sidenav.bg-transparent .nav .nav-link, .dark-version .sidenav.bg-transparent .navbar-nav .nav-link {
                color: #fff !important
            }

        /*.dark-version .sidenav.bg-white {
            background: #fff !important
        }*/

        .dark-version .sidenav.bg-white .navbar-nav .nav-link.active:after {
            color: rgba(206,212,218,.7)
        }

    .dark-version .fixed-plugin .btn.bg-gradient-dark, .dark-version .fixed-plugin .btn.btn-outline-dark {
        color: #fff !important;
        border: 1px solid #fff !important
    }

    .dark-version .fixed-plugin .btn.active {
        background: #fff !important;
        color: #344767 !important
    }

    .dark-version .bg-gradient-dark {
        background-image: linear-gradient(195deg,#323a54,#1a2035)
    }

    .dark-version .card, .dark-version .dropdown .dropdown-menu, .dark-version .kanban-board, .dark-version .swal2-popup {
        /* background-color: #202940 !important;*/
        background-color: #1c2035 !important;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

        .dark-version .card .card-header, .dark-version .dropdown .dropdown-menu .card-header, .dark-version .kanban-board .card-header, .dark-version .swal2-popup .card-header {
            background: transparent
        }

        .dark-version .card p, .dark-version .dropdown .dropdown-menu p, .dark-version .kanban-board p, .dark-version .swal2-popup p {
            color: #fff !important;
            opacity: .6
        }

    .dark-version .kanban-item {
        background: transparent !important;
        border: 1px solid
    }

    .dark-version .swal2-html-container {
        color: #fff !important;
        opacity: .6
    }

    .dark-version .h1, .dark-version .h2, .dark-version .h3, .dark-version .h4, .dark-version .h5, .dark-version .h6, .dark-version .kanban-title-board, .dark-version a:not(.dropdown-item):not(.choices__item):not(.leaflet-control-zoom-in):not(.leaflet-control-zoom-out):not(.btn):not(.nav-link):not(.fixed-plugin-button), .dark-version h1, .dark-version h2, .dark-version h3, .dark-version h4, .dark-version h5, .dark-version h6 {
        color: #fff !important
    }

    .dark-version .input-group.input-group-dynamic .form-control, .dark-version .input-group.input-group-static .form-control {
        background-image: linear-gradient(0deg,rgb(var(--bs-primary)) 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,hsla(0,0%,82%,.6) 1px,hsla(0,0%,82%,0) 0) !important;
        background-size: 0 100%,100% 100%
    }

        .dark-version .input-group.input-group-dynamic .form-control:focus, .dark-version .input-group.input-group-static .form-control:focus {
            background-size: 100% 100%,100% 100%
        }

    .dark-version .input-group.input-group-outline .form-control, .dark-version .input-group .is-invalid, .dark-version .input-group .is-valid {
        border-color: hsla(0,0%,100%,.4) !important
    }

    .dark-version .accordion .accordion-button {
        border-color: hsla(0,0%,100%,.4) !important;
        color: #fff;
        opacity: .8
    }

    .dark-version .table > :not(caption) > * > * {
        border-color: hsl(0deg 0% 100% / 22%) !important;
        color: hsla(0,0%,100%,.6)  ;
    }
    .dark-version table {

        border-color: hsl(0deg 0% 100% / 22%) !important;
    }
   /* .dark-version .vt-table tbody td:last-child, .dark-version .vt-table thead th:last-child {
        border-right-width: unset;
    }*/
    .dark-version label {
        color: hsla(0,0%,100%,.8) !important
    }

    .dark-version .list-group-item, .dark-version .multisteps-form__panel {
        background-color: transparent !important
    }

    .dark-version ul .list-group-item:hover {
        background-color: #41485a !important
    }

    .dark-version .nav.bg-white {
        background-color: #202940 !important;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    }

    .dark-version .nav .nav-link[data-scroll]:hover {
        color: #344767 !important
    }

    .dark-version .toast {
        background-color: #202940 !important;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    }

        .dark-version .toast .toast-header {
            background: transparent
        }

        .dark-version .toast span {
            color: #fff
        }

        .dark-version .toast p {
            color: #fff !important;
            opacity: .6
        }

    .dark-version .choices .choices__input {
        background-color: transparent !important;
        border-bottom: 1px solid hsla(0,0%,100%,.4);
        color: #fff
    }

    .dark-version .choices .choices__list.choices__list--dropdown {
        background: #202940;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    }

    .dark-version .fc-theme-standard td, .dark-version .fc-theme-standard th {
        border-color: rgba(,128,154,.3)
    }

    .dark-version .dataTable-sorter:after {
        border-bottom-color: #fff
    }

    .dark-version .dataTable-sorter:before {
        border-top-color: #fff
    }

    .dark-version .ql-snow .ql-stroke {
        stroke: #f0f2f5
    }

        .dark-version .ql-snow .ql-fill, .dark-version .ql-snow .ql-stroke.ql-fill {
            fill: #f0f2f5
        }

    .dark-version .ql-toolbar.ql-snow .ql-picker-label {
        color: #f0f2f5
    }

    .dark-version .blur {
        background-color: rgb(32,41,64) !important;
    }

    .dark-version .shadow-blur {
        box-shadow: inset 0 0px 1px 1px rgb(32 41 64), 0 20px 27px 0 rgb(255 255 255 / 0%) !important;
    }

body.dark-version {
    color: hsla(0,0%,100%,.8) !important
}

.dark-version .nav.nav-pills .nav-link {
    color: #fff !important;
}



/*#region narbar */

.dark-version .navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    color: #344767 !important;
    background-color: hsla(0,0%,78%,.2) !important;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active i {
    color: white !important;
}


.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    background-color: hsl(0deg 0% 57% / 20%) !important;
    box-shadow: none !important;
}

.navbar-vertical .navbar-nav .nav-link.active {
    background-color: hsl(0deg 0% 57% / 20%) !important;
    box-shadow: none !important;
}

.dark-version .navbar-vertical .navbar-nav .nav-link:after {
    color: #f8f9fa4d !important;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link {
    border-radius: 0.5rem;
}

/*#endregion */

.dark-version hr.horizontal.dark {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(197 197 197), rgba(0, 0, 0, 0));
}

.dark-version .bg-transparent {
    background-color: transparent !important;
}


.dark-version #menuDesktopCategory .MLU-icon {
    color: #fff;
}

.dark-version .navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item .nav-link, .dark-version .navbar-vertical .navbar-nav .nav-link {
    color: #fff;
}

.dark-version ul.nav li.nav-item a:hover {
  /*  box-shadow: none !important;*/
}

.dark-version .dropdown-item:hover, .dark-version .dropdown-item:focus {
    background-color: hsla(0,0%,78%,.2) !important;
}

.dark-version .bg-gray-100 {
    background-color: #1a2035 !important;
}
.dark-version .bg-white {
    background-color: #202940 !important;
}


.dark-version ul.nav li.nav-item a[data-hover]:hover {
    box-shadow: none !important;
    background-color: #8a8c8d !important;
}

.dark-version ul.nav-pills .nav-item a[data-hover].nav-link.active {
    box-shadow: none !important;
    background-color: #8a8c8d !important;
}

.dark-version ul.nav li.nav-item a[data-hover].active {
    box-shadow: none !important;
    background-color: #8a8c8d !important;
}

.dark-version .card p, .dark-version .dropdown .dropdown-menu p, .dark-version .kanban-board p, .dark-version .swal2-popup p {
    opacity: 1 !important;
}

 .dark-version span {
    color: white;
    opacity: 1;
}

.dark-version .navbar .sidenav-toggler-inner .sidenav-toggler-line {
    background: white;
}

.dark-version .table > :not(caption) > * > * {
    color: white !important;
}
.dark-version .text-dark {
    color: #bdbdbd !important;
}
.dark-version .ui.compact.selection.dropdown {
    background-color:transparent !important;

}
.dark-version input, .dark-version textarea, .dark-version .ui.selection.dropdown {
    background: #1a2035 !important;
    /* color: #1a2035 !important;*/
}
.dark-version .MLU-icon {
    color: white !important;
}
.dark-version .MLUcollapse.show .MLU-icon {
    color: #1a2035 !important;
}
.dark-version .form-check-input {
    background: unset !important;
    color: unset !important;
}
.dark-version input.text-dark {
        color: white !important;
    }
.dark-version .input-group span {
    background: transparent  ;
   /* color: #1a2035 !important;*/
}
.dark-version .input-group-text {
    background: #1a2035;
    color: #ffffff !important;
}
    .dark-version .input-group-text i {
        color: #eeeeee !important;
    }
.dark-version .input-group-text {
    border: 1px solid #444444 !important;
}

/*.dark-version .form-switch .form-check-input:after {
    background: #1a1f33 !important
}*/
.dark-version .btnsysmore {
    color: white !important;
}
.dark-version .stickytable table .hiddenCollapse, .dark-version .stickytable table thead {
    background-color: unset !important;
}

.dark-version .form-check:not(.form-switch) .form-check-input[type="radio"]:after {
    background-color: #fff;
}
.dark-version .input-group .form-check:not(.form-switch) .form-check-input[type="checkbox"]:after {
   /* color: #202940;*/
}
.dark-version table thead {
    background-color: #1a2035 !important;
    color: white !important;
}
.dark-version .vt-header-sticky thead {
    background-color: #1a2035 !important;
    color: white !important;
}
.dark-version .step, .dark-version .number {
    background-color: transparent !important;
}
.dark-version .cal-timeline span {
    color: #1a2035 !important;
}
.dark-version .flatpickr-calendar input {
    background-color: transparent !important;
}
.dark-version .ui.basic.red.pointing.prompt {
    color: #ff6565 !important;
}

/*.dark-version .header_container span {
    color: #1a2035 !important;
}*/
/*.dark-version .vt-header-sticky table th {
    color: #1a2035 !important;
}*/
.dark-version .cal_header, .dark-version .header_container_box {
    background-color: transparent !important;
}
.dark-version .cal-timeinfo {
    color: white !important;
}
.dark-version .dropdown .menu span{
    color: #1a2035 !important;
}
.dark-version .form-control:disabled, .dark-version .form-control[readonly]:not(.flatpickr) {
    background-color: #767676 !important;
    opacity: 1;
}
.dark-version .form-check:not(.form-switch) .form-check-input[type="radio"] {
    border: 1px solid white;
}
.dark-version .shadow-lg {
    box-shadow: 0 0px 2px 0 rgb(255 255 255), 0 2px 0px -18px rgb(253 246 246), 0 1px 5px 0 rgb(255 255 255) !important;
    background-color: #1a2035 !important;
}
.dark-version .text-gradient.text-info {
    background-image: linear-gradient(1deg, #ffffff, #ffffff) !important;
}
.dark-version .border-info {
    border-color: #ffffff !important;
}
.dark-version .flatpickr-days .flatpickr-day {
    color: #ffffff;
}
.dark-version .flatpickr-days .flatpickr-disabled {
    opacity:0.2 !important
}

.dark-version .text-danger {
    color: #ffa0a0 !important;
}
.dark-version .time-slider .ruler .bg {
    background: #1a2035;
}
.dark-version .time-slider .ruler .graduation-title {
    color: white;
}
.dark-version .modal .modal-dialog {
    box-shadow: 0px 1px 5px 1px #ddd !important;
}
.dark-version .iti__country-name, .dark-version .iti__dial-code {
    color: #1a2035 !important;
}
.dark-version .form-control {
    border: 1px solid #444444 !important;
    color: white;
}
.dark-version .ui.selection.dropdown {
    color: white;
}
.dark-version .nav.nav-pills {
    background: #1a2035;
}
.dark-version .ui.active.search.dropdown input.search:focus + .text {
    color: white !important;
}
.dark-version .border-bottom-sm {
    border-bottom: 1px solid #575757 !important;
}
.dark-version .list-group-item {
    border-color: rgba(236, 236, 236, 0.13);
}
.dark-version .card, .dark-version .dropdown .dropdown-menu, .dark-version .kanban-board, .dark-version .swal2-popup {
    box-shadow: 0 2px 2px 0 rgb(87 87 87 / 14%), 0 3px 1px -2px rgb(245 245 245 / 0%), 0 1px 5px 0 rgb(215 215 215 / 21%);
}
.field.error .ui.dropdown, .field.error .ui.dropdown .item, .field.error .ui.dropdown .text, .fields.error .field .ui.dropdown, .fields.error .field .ui.dropdown .item {
    background: #FFF6F6 !important;

}
.dark-version .flatpickr-calendar {
    background: #1a2035;
}
.dark-version .flatpickr-time input{
    color:white;
}
.dark-version .flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #ffffff !important;
}
.dark-version .flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: #ffffff !important;
}
.dark-version .flatpickr-months .flatpickr-month {
    color: #ffffff;
    fill: #ffffff;
}
.dark-version .flatpickr-months .flatpickr-prev-month, .dark-version .flatpickr-months .flatpickr-next-month {
    fill: #ffffff  ;
}
.dark-version .flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: #ffffff;
}
.dark-version .flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: #ffffff;
}
.dark-version .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    color: #1a2035;
}
 .dark-version .field.error textarea, .dark-version .fields.error .field input:not([type]), .dark-version .fields.error .field input[type=text], .dark-version .fields.error .field input[type=email], .dark-version .fields.error .field input[type=search], .dark-version .fields.error .field input[type=password], .dark-version .fields.error .field input[type=date], .dark-version .fields.error .field input[type=datetime-local], .dark-version .fields.error .field input[type=tel], .dark-version .fields.error .field input[type=time], .dark-version .fields.error .field input[type=file], .dark-version .fields.error .field input[type=url], .dark-version .fields.error .field input[type=number], .dark-version .fields.error .field select, .dark-version .fields.error .field textarea {
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #9F3A38;
}
.dark-version .form-check:not(.form-switch) .form-check-input[type="checkbox"], .dark-version .form-check:not(.form-switch) .form-check-input[type="radio"] {
    border: 1px solid #cbd3da !important;
}
.dark-version .nav {
    background: #1a2035;
}
.dark-version #tabservice_result, .dark-version #tabservice_combo_result {
    box-shadow: rgb(254 254 254 / 31%) 0px 5px 15px !important;
}
.dark-version .bg-gray-200 {
    background-color: #1a2035 !important;
}

.dark-version .ui.selection.visible.dropdown > .text:not(.default) {
    color: white;
}
.dark-version .ui.search.dropdown.active > input.search, .dark-version .ui.search.dropdown.visible > input.search {

    color: white;
}
.dark-version .input-group span:not(.input-group-text) {
   /*// color: #1a2035 !important;*/
}
.dark-version .form-switch .form-check-input {
    background-color: #1a2035 !important;
    border: 1px solid #4c5266;
}
    .dark-version .form-switch .form-check-input:checked {
        background-color: #516199 !important;
        border: 1px solid #8d9ac4;
    }

    .dark-version .form-switch .form-check-input:after {
        background: #dadada !important
    }
.dark-version div.position-relative .collapse.show {
    box-shadow: 0 2px 2px 0 rgb(87 87 87 / 14%), 0 3px 1px -2px rgb(245 245 245 / 0%), 0 1px 5px 0 rgb(215 215 215 / 21%);
}
.dark-version #SoftwareClientName {
    color: white !important;
}
.dark-version #menuDesktopCategory .sidenav-mini-icon {
    color: white !important;
}
#BodyMain.dark-version.menutop-version #TTmenu_Top .nav-link {
    color: white !important;
}
