@page
@model SourceMain.Pages.Dash.Revenue.CashOther.CashOtherManagementModel
@{
    Layout = null;
}

<div class="row" style="background-color: white">
    <div class="ui segments">
        <div class="ui form segment form3">
            <div class="row">
                <div class="example title_dash">
                    <h2 class="ui header" data-languagestatic="header_income_expenses_inday">Thu Chi Trong Ngày</h2>
                    <p data-languagestatic="header_income_expenses_inday_sub">Danh sách thao tác thu chi trong ngày</p>
                </div>
                <div class="three fields">
                    <div class="field">
                        <div>
                            <h4 style="margin-bottom: 0;" data-languagestatic="hr_total_income">Tổng Tiền Thu</h4>
                            <p id="TotalPrice_Management_In" style="font-size: 20px; color: #2980b9;">0</p>
                        </div>
                        <div style="width: 100%; margin-top: 25px;" id="CashOther_Method_ListIn">
                        </div>
                        <div id="CashOther_MethodPayment_ListIn" class="ui divided list">
                        </div>
                    </div>
                    <div class="field">

                        <div>
                            <h4 style="margin-bottom: 0;" data-languagestatic="total_expenses">Tổng Tiền Chi</h4>
                            <p id="TotalPrice_Management_Out" style="font-size: 20px; color: #2980b9;">0</p>
                        </div>
                        <div style="width: 100%; margin-top: 25px;" id="CashOther_Method_ListOut">
                        </div>
                        <div id="CashOther_MethodPayment_ListOut" class="ui divided list">
                        </div>
                    </div>
                    <div class="field">
                        <div>
                            <h4 style="margin-bottom: 0;" data-languagestatic="rp_left">Tổng Tiền Còn Lại</h4>
                            <p id="TotalPrice_Management" style="font-size: 20px; color: #2980b9;">0</p>
                        </div>
                        <div style="width: 100%; margin-top: 25px;" id="CashOther_Method_ListLeft">
                        </div>
                        <div id="CashOther_MethodPayment_ListLeft" class="ui divided list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    $(document).ready(function () {
        Dasboard_Revenue_CashOther_Management_Load();
    });
    function Dasboard_Revenue_CashOther_Management_Load() {
        AjaxLoad(url="/Dash/Revenue/CashOther/CashOtherManagement/?handler=Loadata"
            , data={}
            , async=true
            , error=function () {notiError_SW()}
            , success=function (result) {
                if (result!="") {
                    let data=JSON.parse(result)["Table"];       // Top3  bank/ cash/ pos
                    let dataAll=JSON.parse(result)["Table1"];   //  All list
                    Dasboard_Revenue_CashOther_Management_Render_Method(data, dataAll, 0, 'TotalPrice_Management_In', 'CashOther_Method_ListIn', 'CashOther_MethodPayment_ListIn');
                    Dasboard_Revenue_CashOther_Management_Render_Method(data, dataAll, 1, 'TotalPrice_Management_Out', 'CashOther_Method_ListOut', 'CashOther_MethodPayment_ListOut');
                    Dasboard_Revenue_CashOther_Management_Render_Method(data, dataAll, 2, 'TotalPrice_Management', 'CashOther_Method_ListLeft', 'CashOther_MethodPayment_ListLeft');
                }
            }
        );
    }

    function Dasboard_Revenue_CashOther_Management_Render_Method(data, dataAll, type, idTotal, idList, idListAll) {
        let TotalAmount = 0;
        let ValueText = '';
        if (data.length != 0) {
            let item = data[0];
            switch (type) {
                case 0:
                    // Thu
                    TotalAmount = Number(item.Total_IN);
                    ValueText = 'Receipts_IN';
                    break;
                case 1:
                    // Chi
                    TotalAmount = Number(item.Total_OUT);
                    ValueText = 'Receipts_OUT';
                    break;
                case 2:
                    // Còn Lại
                    TotalAmount = Number(item.Total_Amount);
                    ValueText = 'Amount';
                    break;
                default:
                    ValueText = '';
                    break;
            }
            $("#" + idTotal).html(formatNumber(TotalAmount));
        }
        if (dataAll.length != 0) {
            let percent = 0;
            let dataList = [3, 4, 5];
            let dataColor = ['#ff7f0e', '#2ca02c', '#ffbb78'];
            let StringContent = "";
            for (let i = 0; i < dataList.length; i++) {
                let MethodID = dataList[i];
                let data_Filter = dataAll.filter(work => Number(work["ID"]) == MethodID);
                if (ValueText != '') {
                    percent = (TotalAmount != 0) ? (Number(data_Filter[0][ValueText]) * 100 / TotalAmount).toFixed(2) : 0;
                    StringContent += '<div class="ui indicating progress small active" data-percent="' + percent + '">'
                        + '<div class="label ellipsis_one_line progress_label" style="position: absolute !important;" title="Tiền Mặt">' + data_Filter[0].Name + '</div>'
                        + ' <div class="propress_percent">' + formatNumber(data_Filter[0][ValueText]) + '</div>'
                        + ' <div class="bar" style="transition-duration: 300ms; width: ' + percent + '%; background-color: ' + dataColor[i] + '"></div>'
                        + ' </div>'
                }
            }
            $("#" + idList).html(StringContent);
        }
        if (ValueText != '') {
           Dasboard_Revenue_CashOther_Management_Render_Method_List(dataAll, idListAll, ValueText, TotalAmount)
        }
    }

    function Dasboard_Revenue_CashOther_Management_Render_Method_List(data, id, ValueText, TotalAmount) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let percent = (TotalAmount != 0) ? (Number(item[ValueText]) * 100 / TotalAmount).toFixed(2) : 0;
                    let tr = Dasboard_Revenue_CashOther_Management_Image_Method(item.ID)
                        + '<div class="content right floated compact ui paid_service">'
                        + ' <a class="header" style="text-align:right">' + (percent != 0 ? percent + '%' : '0%') + '</a>'
                        + ' <a class="header" style="text-align:right">' + formatNumber(item[ValueText]) + '</a>'
                        + ' </div>'
                    stringContent = stringContent + '<div class="item">' + tr + '</div>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }


    function Dasboard_Revenue_CashOther_Management_Image_Method(type) {
        let result = '';
        switch (type) {
            case 3: result = '<img class="ui image image_method" src="/assests/img/Method/Cash.png" />'
                break;
            case 4: result = '<img class="ui image image_method" src="/assests/img/Method/Transfer.png" />'
                break;
            case 5: result = '<img class="ui image image_method" src="/assests/img/Method/Pos.png" />'
                break;
            case 226: result = '<img class="ui image image_method" src="/assests/img/Method/Momo.png" />'
                break;
            case 227: result = '<img class="ui image image_method" src="/assests/img/Method/Insurrance.png" />'
                break;
        }
        return result;
    }
</script>
