@page
@model MLunarCoffee.Pages.Disease.DiseaseGeneralModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>
<div class="row me-0">
    <div class="col-12 px-0">
        <div class="card card-plain p-0">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <ul class="nav nav-pills p-1 bg-transparent">
                        <li class="nav-item">
                            <a class="linkgroup nav-link cursor-pointer active" data-bs-toggle="pill"
                               data-id="0" role="tab" aria-selected="true">
                                <i class=" text-gradient text-primary fas fa-tooth"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav nav-pills p-1 bg-transparent" role="tablist" id="DiseaseSetting_List">
                    </ul>
                </div>
                <div class="pt-2" id="DiseaseSetting_Area">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Dissys_Url = '@Model._imageFeature_Disease';

    $(document).ready(function () {
        DiseaseSetting_Initialize();
        DiseaseSetting_Event();
    });

    function DiseaseSetting_Initialize() {
        AjaxLoad(url = "/Disease/DiseaseGeneral/?handler=GetData"
            , data = {}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    let ser_dtCurrentList = JSON.parse(result);
                    DiseaseSetting_Render(ser_dtCurrentList, "DiseaseSetting_List");
                    DiseaseSetting_Trigger();
                }
            }
        );
    }

    function DiseaseSetting_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let dr = "";
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    dr = `<li class="nav-item"><a data-link="${item.ListLink}" class="diseaseitem linkgroup nav-link cursor-pointer" data-bs-toggle="pill"  role="tab">${Outlang[item.ListTextLangKey]}</a></li>`
                    stringContent = stringContent + dr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    function DiseaseSetting_Trigger() {
        $("#DiseaseSetting_List").find(".diseaseitem").eq(0).trigger("click");
    }

    function DiseaseSetting_Event() {
        $("#DiseaseSetting_List").on('click', '.diseaseitem', function (event) {
            event.stopPropagation();
            $(".diseaseitem").removeClass("active");
            $(this).addClass("active");
            let url = $(this).attr('data-link');
            $("#DiseaseSetting_Area").load(url + "?ver=" + versionofWebApplication);
        });
    }

</script>

<script src="/js/comon/canvasteeth.js" type="text/javascript"></script>
