

#footer {
    background: rgb(255,255,255,1) ;
    /*background-color:azure;*/
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    color: black;
}

#footer .footer_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#footer .rows_infor {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.2rem;
    line-height: 1.6;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#footer .rows_infor::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #333333;
    bottom: 0;
}


#footer .rows_infor .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .rows_infor .content .content_text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2.0;
    font-weight: 300;
    /*padding: 0 34px;*/
    padding-left: 56px;
}

#footer .rows_infor .logo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .rows_infor .logo_logo {
    font-weight: 900;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
}

#footer .rows_infor .logo_slgan {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.5;
}

#footer .rows_contact {
    margin-top: 3rem;
}

#footer .rows_contact {
    width: 60%;
    margin: 0 auto;
    padding: 1.5rem;
}

#footer .rows_contact .owl-carousel {
    display: flex;
}

#footer .rows_contact .owl-carousel .rows_contact-content {
    display: flex;
    justify-content: center;
}

#footer .rows_contact .owl-carousel .rows_contact_icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
}

#footer .rows_contact .owl-carousel .copy_right {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    font-weight: 500;
}

.cr {
    text-align: right;
}

.content_header {
    font-size: 25px;
    color: black;
    font-family: monospace;
    letter-spacing: initial;
    font-weight: 700;
}

.content_text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
 
