.sbox {
    position: relative;
}

.stext {
    width: 265px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fa-search {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 16px;
    margin-top: 16px;
    z-index: 1;
    color: #fff;
}
