@page
@model MLunarCoffee.Pages.Dash.Dash_MasterModel
@{

}
 
 
    <div class="row">
        <div class="col-xl-5">
            <div class="row">
                <div class="col-xl-6" id="dm_newcust">
                </div>
                <div class="col-xl-6 ms-auto mt-xl-0 mt-4" id="dm_visistor">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xl-6" id="dm_cc">
                </div>
                <div class="col-xl-6 ms-auto mt-xl-0 mt-4" id="dm_fl">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xl-12" id="dm_todo">
                </div>
            </div>
        </div>
        <div class="col-xl-7 ms-auto mt-xl-0 mt-4">
            <div class="row" id="dm_accinday">
            </div>
            <div class="row mt-3" id="dm_revegroupservice">
            </div>
            <div class="row mt-3" id="dm_targetgroupservice">
            </div>
        </div>
    </div>
 
    <script>

        var xhrRequestDashMaster;
        $(document).ready(function () {
            DM_Layout_Load();
        })

        function DM_Layout_Load() {
            AjaxLoad(url = "/Dash/Dash_Master/?handler=LoadataDashMaster"
                , data = {}
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result != '') {

                        let data = JSON.parse(result);
                        let data_sheet = data.Table;
                        let promises = [];
                        promises.push(DM_Layout_LoadSheet("dm_todo", "/Dash/Todo/TodoList"))
                        promises.push(DM_Layout_LoadSheet("dm_targetgroupservice", "/Dash/Target/ServiceCat/ServiceCatChart"));
                        promises.push(DM_Layout_LoadSheet("dm_revegroupservice", "/Dash/Revenue/ServiceCat/ServiceCatChart"));
                        promises.push(DM_Layout_LoadSheet("dm_newcust", "/Dash/Customer/NewCustomer"))
                        promises.push(DM_Layout_LoadSheet("dm_visistor", "/Dash/Customer/Visitor"))
                        promises.push(DM_Layout_LoadSheet("dm_accinday", "/Dash/Revenue/InBranch/InCome"))
                        promises.push(DM_Layout_LoadSheet("dm_cc", "/Dash/Marketing/DashCustomerCare"))
                        promises.push(DM_Layout_LoadSheet("dm_fl", "/Dash/Marketing/DashTicketFollow"))

                        Promise.all(promises).then((values) => {

                        });
                    }
                }
            );


        }

        function DM_Layout_LoadSheet(id, link) {
            return new Promise(resolve => {
                $("#" + id).load(link, function (e) {

                });

            });


        }
        
    </script>
 
    <script>js_require_notasync('/assets/js/plugins/countup.min.js', false);</script>
    <script>js_require_notasync('/assets/js/plugins/chartjs.min.js', false);</script>


 
