@page
@model MLunarCoffee.Pages.Permission.DetailBlockGroupModel
@{ Layout = null;
}
<div class="row my-3">
    <div class="col-lg-3">
        <div class="position-sticky top-1 z-index-3 mb-2">
            <ul class="nav nav-pills nav-menus nav-menus-vertical flex-column bg-white border-radius-lg" id="PermisDBG_Group">
            </ul>
        </div>
    </div>
    <div class="col-lg-9 mt-lg-0 mt-0">
        <div class="pt-0">
            <div class="d-flex mb-2">
                <div class="col-auto my-auto py-1">
                    <span id="PermisDBG_HeaderName" class="badge badge-md bg-gradient-warning"></span>
                </div>
                <div class="ms-auto my-auto py-1">
                    <button id="btnPermisDBG_Edit" class="btn bg-gradient-dark btn-sm d-none Permission_btnEdit m-0 badge badge-md" onclick="PermisDBG_EditBegin()">
                        @Local["Chỉnh sửa"]
                    </button>
                    <div id="PermisDBG_EditArea" class="d-none">
                        <button class="btn bg-gradient-dark btn-sm m-0 badge badge-md" onclick="PermisDBG_Cancel()">@Local["Hủy"]</button>
                        <button id="btnPermisDBG_Save" class="btn bg-gradient-primary btn-sm m-0 badge badge-md" onclick="PermisDBG_SaveExecute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
            <div id="loaderList" class="waitingdiv text-center w-100 mt-2" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="PermisDBG_Detail" class="border-dashed border-radius-md  border-1 border-secondary px-2 py-4">
            </div>
        </div>
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    var currentGroupID = 0;
    var PermisData;
    $(document).ready(function () {
        PermisDBG_LoadGroup();
    });
    function PermisDBG_LoadGroup() {
        AjaxLoad(url = "/Permission/DetailBlockGroup/?handler=LoadData"
            , data = { }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    PermisData = data;
                    PermisDBG_GroupRender(PermisData, 'PermisDBG_Group');
                    PermisDBG_GroupEvent();
                    $('#PermisDBG_Group a:first').tab('show');
                }
            });
        return false;
    }
    function PermisDBG_GroupRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    stringContent = stringContent + '<li class="nav-item">'
                        + '<a data-id="' + item.ID + '" class="permission_group item-menu nav-link text-dark text-sm p-2" data-bs-toggle="tab">'
                        + '<span class="text-sm">' + item.Name + '</span>'
                        + '</a>'
                        + '</li>'
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function PermisDBG_GroupEvent() {
        $("#PermisDBG_Group .permission_group").on('shown.bs.tab', function (e) {
        
            $('#PermisDBG_Group .permission_group').removeClass('active');
            $(this).addClass('active');
            let ID = $(this).attr("data-id");
          
            let x = PermisData.filter(word => word["ID"] == ID)[0];
            if (x != undefined) {
                let Name = x.Name;
                PermisDBG_DetailEdit(ID, Name);
            }
       
        });
    }
    function PermisDBG_DetailEdit(GroupID, Name) {
        event.preventDefault();
        currentGroupID = GroupID;
        $('#PermisDBG_HeaderName').html(Name)
        if (!$('#PermisDBG_EditArea').hasClass('d-none')) $('#PermisDBG_EditArea').addClass('d-none');
        if ($('#btnPermisDBG_Edit').hasClass('d-none')) $('#btnPermisDBG_Edit').removeClass('d-none');
        PermisDBG_DetailLoad(currentGroupID);

    }
    function PermisDBG_DetailLoad(GroupID) {
        AjaxLoad(url = "/Permission/DetailBlockGroup/?handler=LoadDataDetail"
            , data = {
                GroupID: GroupID
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    PermisDBG_DetailRender(data, "PermisDBG_Detail");
                }
            }
            , sender = null
            , before = function (e) {
                $("#PermisDBG_Detail").hide();
                $("#loaderList").show();
            }
            , complete = function (e) {
                $("#PermisDBG_Detail").show();
                $("#loaderList").hide();
            });
        return false;
    }
    function PermisDBG_EditBegin() {
        event.preventDefault();
        if (!$('#btnPermisDBG_Edit').hasClass('d-none')) $('#btnPermisDBG_Edit').addClass('d-none');
        if ($('#PermisDBG_EditArea').hasClass('d-none')) $('#PermisDBG_EditArea').removeClass('d-none');
        $("#PermisDBG_Detail :input").attr("disabled", false);
    }

    function PermisDBG_SaveExecute() {

        var x = document.getElementsByName("chkPermissDetail");
        if (x != null && x != undefined) {
            var data = [];
            for (let i = 0; i < x.length; i++) {
                let element = {};
                element.ID = x[i].value;
                element.Status = (x[i].checked) ? 1 : 0;
                data.push(element);
            }
            AjaxLoad(url = "/Permission/DetailBlockGroup/?handler=ExecuteData"
                , data = {
                    data: JSON.stringify(data),
                    currentID: currentGroupID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        setTimeout(() => {
                            PermisDBG_DetailLoad(currentGroupID);
                        }, 100)
                    }
                    else notiError();
                });
        }
        if (!$('#PermisDBG_EditArea').hasClass('d-none')) $('#PermisDBG_EditArea').addClass('d-none');
        if ($('#btnPermisDBG_Edit').hasClass('d-none')) $('#btnPermisDBG_Edit').removeClass('d-none');
        $("#PermisDBG_Detail :input").attr("disabled", true);
        return false;
    }
    function PermisDBG_Cancel() {
        if (!$('#PermisDBG_EditArea').hasClass('d-none')) $('#PermisDBG_EditArea').addClass('d-none');
        if ($('#btnPermisDBG_Edit').hasClass('d-none')) $('#btnPermisDBG_Edit').removeClass('d-none');
        $("#PermisDBG_Detail :input").attr("disabled", true);
        setTimeout(() => {
            PermisDBG_DetailLoad(currentGroupID);
        }, 100)
        return false;
    }
    function PermisDBG_DetailRender (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                let idGroup = 0;
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let permissionName =  Outlang[item.PermissionNameLangKey] != undefined ? Outlang[item.PermissionNameLangKey] : item.PermissionName;
                    if (item.GroupID != idGroup) {
                        let textGroup = Outlang[item.GroupNameLangKey] != undefined ? Outlang[item.GroupNameLangKey] : item.GroupName;
                        idGroup = item.GroupID;
                        stringContent = stringContent
                            + '<h6 class="fw-bold text-md m-2 text-gradient text-primary">' + textGroup + '</h6>'
                            + '<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 flex-grow-1 mb-4">';
                    }
                    stringContent = stringContent
                        + '<div class="col">'
                        + '<div class="form-check form-check m-2">'
                        + '<input class="form-check-input pr-2" type="checkbox" value=' + item.ID + ' name="chkPermissDetail"'
                        + ((item.isBlock == 1) ? '' : 'checked') + ' disabled >'
                        + '<label class="ps-1 text-sm font-weight-normal" >' + permissionName + '</label>'
                        + '</div>'
                        + '</div>'
                    if ((i === data.length - 1) || idGroup !== data[i + 1].GroupID) {
                        stringContent = stringContent + '</div><hr class="horizontal dark mt-2 mb-5">';
                    }
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
    }
</script>
<script>js_require('/js/main.js');</script>