@page
@model MLunarCoffee.Pages.Report.Performance.TeleSale.ByFollower.TeleSaleHandlesTicketModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagedyn="report_general" class="text-md text-dark font-weight-bold mb-1">
                    TeleSale Xử Lý Ticket
                </p>
                <p class="text-sm mb-0">Some text of detail sub</p>

            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#TeleSaleExcMaster" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_Effect_Tele_follow()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_Per_Telesale_follow()"></i>


            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="TeleSaleExcMaster">

        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_effect_telesale_by_follow">
                    <thead>
                        <tr></tr>
                        <tr role="row">
                            <th style="width: 20px; display: none !important;"></th>
                            <th class="no-sort" colspan="6"></th>
                            <th data-languagestatic="customer" class="no-sort" colspan="5">Khách hàng</th>
                            <th data-languagestatic="new_customer" class="no-sort" colspan="5">Khách mới</th>
                        </tr>
                        <tr role="row">
                            <th style="width: 20px; display: none !important;"></th>
                            <th style="width: 20px; display: none !important;"></th>
                            <th class="_allticket" data-languagestatic="no" style="width: 60px">#</th>
                            <th class="_allticket" data-languagestatic="name">Tên</th>
                            <th class="_allticket" data-languagestatic="total_execute">Tổng xử lý</th>
                            <th class="_allticket" data-languagestatic="need_call_back">Cần gọi lại</th>
                            <th class="_allticket" data-languagestatic="no_call">Không cần gọi</th>
                            <th class="_allticket" data-languagestatic="making_app">Đặt lịch</th>
                            <th class="_allcustomer" data-languagestatic="num_cust_app">SL lịch hẹn</th>
                            <th class="_allcustomer" data-languagestatic="num_cust_app_checked">SL lịch hẹn checkedin</th>
                            <th class="_allcustomer" data-languagestatic="num_cust_rasing_money">SLK phát sinh tiền</th>
                            <th class="_allcustomer" data-languagestatic="num_cust_rasing_deposit">SLK phát sinh cọc</th>
                            <th class="_allcustomer" data-languagestatic="pay_total_amount">Tồng tiền</th>
                            <th class="_newcustomer" data-languagestatic="num_cust_app">SL lịch hẹn</th>
                            <th class="_newcustomer" data-languagestatic="num_cust_app_checked">SLK lịch hẹn checkedin</th>
                            <th class="_newcustomer" data-languagestatic="num_cust_rasing_money">SLK phát sinh tiền</th>
                            <th class="_newcustomer" data-languagestatic="num_cust_rasing_deposit">SLK phát sinh cọc</th>
                            <th class="_newcustomer" data-languagestatic="pay_total_amount">Tồng tiền</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_Effect_Tele_follow">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div id="detailShow" class="card mt-2" style="display: none">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p id="lbDetailTeExe" class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#TeleSaleExcDetail" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>
                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_Effect_Tele_follow_Detail()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_Detail()"></i>

            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="TeleSaleExcDetail">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtDetail">
                    <thead>
                        <tr>
                            <th data-languagestatic="no" style="width: 60px">#</th>
                            <th data-languagestatic="cust">Khách hàng</th>
                            <th data-languagestatic="status">Trạng thái</th>
                            <th data-languagestatic="handle_per">Người xử lý</th>
                            <th data-languagestatic="folow_person">Người follow</th>
                            <th data-languagestatic="date_num_follow">Số ngày đã follow</th>
                            <th data-languagestatic="date_num_follow_closest">Ngày follow gần nhất</th>
                            <th data-languagestatic="new_customer">Khách mới</th>
                            <th data-languagestatic="real_amount">Thực thu</th>
                            <th data-languagestatic="amount_service">Tiền dịch vụ</th>
                            <th data-languagestatic="amount_deposit">Tiền cọc</th>
                            <th data-languagestatic="amount_precard">Tiền thẻ trả trước</th>
                            <th data-languagestatic="amount_medicine">Tiền thuốc</th>
                            <th data-languagestatic="handle">Xử lý</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtBodyDetail">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var dataDetail;
    var nameType;
    var __CurrentDetail;
    $(document).ready(function () {

        LoadDataReport_Effect_Tele_follow();
        $('#dtContentReport_effect_telesale_by_follow tbody').on('click', 'tr', function () {
            $("#detailShow").show();
            $(this).parent().children().removeClass('active')
            $(this).closest('tr').addClass('active');
            __CurrentDetail = Number($(this).closest('tr')[0].childNodes[0].innerHTML);

            $(this).closest('tr')[0].childNodes[1].style.color = "red";
            nameType = $(this).closest('tr')[0].childNodes[2].innerHTML;
            $('#lbDetailTeExe').html(nameType);
            LoadDataReport_Effect_Tele_follow_Detail();
            $('html, body').animate({
                scrollTop: $("#detailShow").offset().top
            }, 300);
        });

        $('#dtDetail tbody').on('click', '.buttonActionClass', function () {
            let ID = Number($(this).attr('data-id'));
            window.open('/Marketing/TicketAction?TicketID=' + ID + '&CustomerID=0' + '&ver=' + versionofWebApplication);
        });
       // $("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });
    function LoadDataReport_Effect_Tele_follow_Detail() {
        let dataCust = dataDetail.filter(dataDetail => dataDetail.Staff == __CurrentDetail);
        RenderDetail(dataCust, 'dtBodyDetail');
    }
    function LoadDataReport_Effect_Tele_follow() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        AjaxLoad(url = "/Report/Performance/TeleSale/ByFollower/TeleSaleHandlesTicket/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo  }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    dataDetail = JSON.parse(result)["Table1"];

                    $("#detailShow").hide();
                    RenderReport_RevenueByCustomerNewGrid(data, "dtContentReportBody_Effect_Tele_follow");
                }
            }
        );

        return false;
    }

    function RenderReport_RevenueByCustomerNewGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none !important">' + item.Staff + '</td>'
                        + '<td class="vt-number-order _allticket"></td>'
                        + '<td class="_allticket" style="cursor: pointer;">'
                        + item.StaffName
                        + '</td>'
                        + '<td class="_allticket">' + formatNumber(item.TicketExcuted) + '</td>'
                        + '<td class="_allticket">' + formatNumber(item.TicketExcuted_Callback) + '</td>'
                        + '<td class="_allticket">' + formatNumber(item.TicketExcuted_Notcall) + '</td>'
                        + '<td class="_allticket">' + formatNumber(item.TicketExcuted_app) + '</td>'
                        + '<td class="_allcustomer" >' + item.TicketScheduler + '</td>'
                        + '<td class="_allcustomer" >' + item.TicketSchedulerChecked + '</td>'
                        + '<td class="_allcustomer" >' + item.CustomerPaid + '</td>'
                        + '<td class="_allcustomer" >' + item.CustomerPaid_Deposit + '</td>'
                        + '<td class="_allcustomer" >' + formatNumber(item.AmountPaid) + '</td>'
                        + '<td class="_newcustomer" >' + item.TicketScheduler_New + '</td>'
                        + '<td class="_newcustomer" >' + item.TicketSchedulerChecked_New + '</td>'
                        + '<td class="_newcustomer" >' + item.CustomerPaid_New + '</td>'
                        + '<td class="_newcustomer" >' + item.CustomerPaid_Deposit_New + '</td>'
                        + '<td class="_newcustomer" >' + formatNumber(item.AmountPaid_New) + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function RenderDetail(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];

                    let tr = '<td class="vt-number-order"></td>'
                        + '<td>'
                        + ((Number(item.CustomerID) != 0) ? '<a target="_blank" class="link_ticket" href="/Customer/MainCustomer?CustomerID=' + Number(item.CustomerID) + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a><br>' : '')
                        + '<span class="name_ticket">' + item.TicketName + '</span>'
                        + '</td>'
                        + '<td>' + item.StatusName + '</td>'
                        + '<td>' + item.ExecuteName + '</td>'
                        + '<td>' + item.StaffName + '</td>'
                        + '<td>' + item.NumDaysFollow + '</td>'
                        + '<td>' + item.FollowDateNearest + '</td>'
                        + ((item.ISNEW == 1) ? '<td class="center aligned"><span style="display:none;">X</span><i class="imgGrid vtt-icon vttech-icon-check"></i></td>' : '<td></td>')
                        + '<td>' + formatNumber(item.AmountPaid) + '</td>'
                        + '<td>' + formatNumber(item.AmountPaid_Service) + '</td>'
                        + '<td>' + formatNumber(item.AmountPaid_Deposit) + '</td>'
                        + '<td>' + formatNumber(item.AmountPaid_Card) + '</td>'
                        + '<td>' + formatNumber(item.AmountPaid_Medicine) + '</td>'
                        + '<td>' + '<button class="buttonGrid"><i data-id="' + item.TicketID + '" class="buttonActionClass vtt-icon vttech-icon-action"></i></button>' + '</td>'


                    stringContent = stringContent + '<tr class="vt-number"  role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }


    async function exportData_Per_Telesale_follow() {
        var elm = $("#dtContentReport_effect_telesale_by_follow");
        var tr = elm.find('thead').find('tr')[0];
        elm.find('thead').find('tr')[0].remove();
        await exportToExcel("dtContentReport_effect_telesale_by_follow", 'hieuqua');
        elm.find('thead').prepend(tr);
    }
    function exportData_Detail() {
        exportToExcel("dtDetail", 'Chi-Tiet' + xoa_dau(nameType));
    }
</script>
<style>
    ._allticket {
        background: #2185d014 !important;
    }

    ._newcustomer {
        background: #21ba451a !important;
    }

    ._allcustomer {
        background: #fbbd0814 !important;
    }
</style>
