@page
@model MLunarCoffee.Pages.Student.Settings.StudentSettingsModel
@{
    if (@Model.layout == "none") Layout = null;
}

@Html.AntiForgeryToken()
<script>js_require('/assests/dist/ColorPicker/spectrum.js');</script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />
<div class="row">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="card-header pt-3 pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <ul class="nav nav-pills  p-1 bg-transparent permissionlist" role="tablist" id="StudentSettings_Group">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 px-3">
                <div class="row px-2">
                    <div class="col-12 col-md-12 col-xl-3 ps-0">
                        <div style="max-height: calc( 100vh - 180px );overflow-y: auto;" class="py-2">
                            <div class="top-1 z-index-3">
                                <ul class="nav nav-pills nav-menus nav-menus-vertical flex-column bg-white border-radius-lg pt-3 px-2" id="StudentSettings_List">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="StudentSettings_MainDetail" class="col-12 col-md-12 col-xl-9 p-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //#region // DECLARE & INIT

    let StuSetting_List;
    let StuSettings_Group;

    $(document).ready(function () {
        StudentSettings_Init();
    });

    function StudentSettings_Init(){
        AjaxLoad(url = "/Student/Settings/StudentSettings/?handler=LoadList"
            , data = {}
            , async = true
            , error = null
            , success = function (result) {
                StuSetting_List = JSON.parse(result);
                StuSettings_Group = [];
                let groupid = 0;
                for (let i = 0; i < StuSetting_List.length; i++) {
                    if (groupid != StuSetting_List[i].GroupID) {
                        let e = {};
                        e.GroupID = StuSetting_List[i].GroupID;
                        e.GroupText = StuSetting_List[i].GroupText;
                        StuSettings_Group.push(e);
                        groupid = StuSetting_List[i].GroupID;
                    }
                }
                StudentSettings_RenderGroup(StuSettings_Group, "StudentSettings_Group");
                $('#StudentSettings_Group a:first').tab('show');
                StudentSettings_RenderList(StuSetting_List, "StudentSettings_List");
                //$('#StudentSettings_List a:first').trigger('click');
                $('#StudentSettings_List li:not(.d-none) a:first').tab('show');
            });
    }

    //#endregion

    //#region // RENDER DATA

    function StudentSettings_RenderGroup(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                stringContent =
                    '<li class="nav-item" role="presentation">'
                    + '<a class="linkgroup nav-link cursor-pointer " data-bs-toggle="pill" data-id="' + 0 + '"  role="tab"><i class=" text-gradient text-primary fas fa-filter"></i></a>'
                    + '</li>';
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    StringContent = stringContent
                        + '<li class="nav-item" role="presentation">'
                        + '<a class="linkgroup nav-link cursor-pointer" data-bs-toggle="pill" data-id="' + item.GroupID + '"  role="tab">' + item.GroupText + '</a>'
                        + '</li>';
                }
            }
            myNode.innerHTML = stringContent;
            StudentSettings_EventGroup();
        }
    }

    function StudentSettings_RenderList(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let DisableMenu = (item.GroupID == 15 || item.GroupID == 20) ? 'd-none' : '';
                    let MenuLangKey = author_get("UserLang") == 'en' ? Outlang[item.ListTextLangKey] : item.ListText;
                    stringContent = stringContent
                    stringContent = stringContent + '<li class="nav-item '+ DisableMenu +'" role="presentation">'
                        + '<a data-link="' + (item.ListLink).trim() + '" class="text-sm detail item-menu nav-link cursor-pointer" data-hover data-bs-toggle="tab">'
                        + MenuLangKey
                        + '</a>'
                        + '</li>'
                        + '<hr class="horizontal dark my-0 opacity-2 '+ DisableMenu +'">';
                }
            }
            myNode.innerHTML = stringContent;
            StudentSettings_EventList();
        }
    }

    //#endregion

    //#region // EVENT

    function StudentSettings_EventGroup() {
        $("#StudentSettings_Group .linkgroup").unbind('click').click(function (event) {
            let id = Number($(this).attr("data-id"));
            if (!isNaN(id) && id != 0) {
                let data = StuSetting_List.filter(word => { return (word["GroupID"] == id); });
                if (data != undefined) {
                    StudentSettings_RenderList(data, "StudentSettings_List");
                    $('#StudentSettings_List a:first').trigger('click');
                    $('#StudentSettings_List a:first').tab('show');
                }
            }
            else StudentSettings_RenderList(StuSetting_List, "StudentSettings_List");
        });
    }

    function StudentSettings_EventList() {
        $("#StudentSettings_List .detail").on('shown.bs.tab', function (e) {
            $('#StudentSettings_List .detail').removeClass('active');
            $(this).addClass('active');
            let link = $(this).attr("data-link");
            $("#StudentSettings_MainDetail").load(link + "?ver=" + versionofWebApplication);
            $('#StudentSettings_MainDetail').show();
        });
    }

    //#endregion

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
