@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>TRANG CHỦ</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <p style="text-align: center; font-family: math; font-size: 36px; font-weight: bolder; color: orangered; margin-top: 27px;">GIỚI THIỆU VỀ LUNARCOFFEE</p>
            <p style="text-align: justify; font-family: math; font-size: 20px; padding: 0 89px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chào mừng bạn đến với LunarCoffee, nơi chúng tôi tự hào
                cung cấp những hạt cà phê tươi ngon và độc đáo nhất. Bạn có thể mua về những hạt cà phê
                chất lượng từ chúng tôi để tự thưởng thức tại nhà, để ngày mới bắt đầu với một tách cà phê
                thơm ngon hoặc để làm quà tặng cho người thân yêu.
                &nbsp;&nbsp;- Hotline: 0939 239 102
                <br />
                &nbsp;&nbsp;- Email: LunarCoffee@gmail.com
                <br />
                &nbsp;&nbsp;- GPĐK: 0313230072 - Sở KHĐT TP.HCM cấp ngày 04/04/2000
                <br />
                &nbsp;&nbsp;- Địa chỉ: 740 Trường Chinh, Tây Thạnh, Quận Tân Bình, Thành Phố Hồ Chí Minh.
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LunarCoffe được thành lập vì chúng tôi tin rằng “Hạnh phúc là được yêu thương, chia sẻ và quan tâm mỗi ngày.”
            </p>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->