@page
@model SourceMain.Pages.Report.RevenuePayment.CustomerSource.NewCust_SourceBarModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="chart_top_revenue_new_customer_source_header"
                   class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-xs text-muted mb-0 ">ĐV-Triệu</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#NewCust_SourceBar" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadData_ReportRevenueBySourceBar()"></i>
                
            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="NewCust_SourceBar">
        <div class="card-body p-3 pt-0">
            <div class="chart">
                <canvas id="RevenueBySourceBar" class="chart-canvas" height="300"></canvas>
            </div>
        </div>

    </div>

</div>

<script>js_require('/js/main.js');</script>
<script>
    $(document).ready(function () {
       
        LoadData_ReportRevenueBySourceBar();
    });
    function LoadData_ReportRevenueBySourceBar() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _TokenBranch = "@Model._TokenBranch";
        AjaxLoad(url = "/Report/RevenuePayment/CustomerSource/NewCust_SourceBar/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'TokenBranch': _TokenBranch  }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    rp_bar("RevenueBySourceBar", data, 'TypeName', 'Amount')
                    
                }
            }
        );
    }


</script>

