@page
@model MLunarCoffee.Pages.Customer.HistoryListModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid px-0">
    <div class="row mt-3">
        <div class=" col-12">
            <div class="card">
                <ul class="nav nav-pills p-4 bg-transparent tabhistory nav-horizontal" role="tablist">
                    <li id="tabHistory" class="nav-item" role="presentation">
                        <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="history" data-bs-toggle="pill" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-history"></i>
                            <span class="nav-item-text">@Local["Lịch sử"]</span>
                        </a>
                    </li>
                    <li id="per_TabHistoryCall" class="nav-item" role="presentation">
                        <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="historycall" data-bs-toggle="pill" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-call"></i>
                            <span class="nav-item-text">@Local["Lịch sử cuộc gọi"]</span>
                        </a>
                    </li>
                </ul>
                <div id="history_list_content_div">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function TabHistory_Load_TableHistory() {
        $('#history_list_content_div').html('');
        $("#history_list_content_div").empty();
        $("#history_list_content_div").load("/Customer/History/HistoryList_Care" + "?ver=" + versionofWebApplication + "&CustomerID=" + ser_MainCustomerID);
    }    
    function TabHistory_Load_TableHistoryCall() {
        $('#history_list_content_div').html('');
        $("#history_list_content_div").empty();
        $("#history_list_content_div").load("/Marketing/Call/HistoryCallByPhone?phone1=" + encrypt_phone(ser_MainPhoneCustomer).toString() + "&phone2=" + encrypt_phone(ser_MainPhone2Customer).toString() + "&ver=" + versionofWebApplication);
    }
    function TabHistory_Load_TableSMS() {
        $('#history_list_content_div').html('');
        $("#history_list_content_div").empty();
        $("#history_list_content_div").load("/Customer/History/HistoryList_SMS" + "?ver=" + versionofWebApplication + "&CustomerID=" + ser_MainCustomerID);
    }

    $(document).ready(function () {
       // TabHistory_Load_TableHistory();
        $("#tabHistory").click(function () {
            TabHistory_Load_TableHistory();
        });
        $("#tabSMS").click(function () {
            TabHistory_Load_TableSMS();
        });        
        $("#per_TabHistoryCall").click(function () {
            TabHistory_Load_TableHistoryCall();
        });
        CheckPermissionControlInPage(sys_PerControl ,'@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
        $('.tabhistory a:first').addClass('active');
        $('.tabhistory a:first').trigger('click');

    });

</script>

<script>js_require('/js/main.js');</script>
