@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About</a></li>
                </ul>
            </div>

        </div>
    </div>

        <!-- Map Container -->
        <div class="row" style="margin-top: -67px;">
            <div class="col">
                <div id="google_map">
                    <div class="map_container">
                        <div id="map">
                            <p style="text-align: center; font-family: math; font-size: 36px; font-weight: bolder; color: orangered; margin-top: 27px;">GIỚI THIỆU VỀ LA FLEUR DE MARIE</p>
                            <p style="text-align: justify; font-family: math; font-size: 20px; padding: 0 89px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LA FLEUR DE MARIE là một website chuyên cung cấp dịch vụ điện hoa, quà tặng... chuyên nghiệp đến khắp các tỉnh, thành phố trên cả nước. Với Thông điệp "Flower Delivery Expert", chúng tôi hướng đến một dịch vụ chuyên nghiệp trong việc truyền tải những thông điệp, cảm xúc của người tặng đến người nhận.
                                <br />
                                &nbsp;&nbsp;- Hotline: 0939 239 102
                                <br />
                                &nbsp;&nbsp;- Email: thuyvy2309608@gmail.com
                                <br />
                                &nbsp;&nbsp;- GPĐK: 0313230072 - Sở KHĐT TP.HCM cấp ngày 04/04/2000
                                <br />
                                &nbsp;&nbsp;- Địa chỉ: 740 Trường Chinh, Tây Thạnh, Quận Tân Bình, Thành Phố Hồ Chí Minh.
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Happy Flower được thành lập vì chúng tôi tin rằng “Hạnh phúc là được yêu thương, chia sẻ và quan tâm mỗi ngày.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

    @section scripts
{
        <script src="~/Content/assets/js/contact_custom.js"></script>
    }
