@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->
    
    <div class="col text-center">
        <div class="section_title new_arrivals_title">
            <h2 style="font-family: system-ui; font-size: 46px; font-weight: bolder;">GIỚI THIỆU VỀ LUNARCOFFEE </h2>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="~/Content/assets/images/Hinh/0739baa4-5a3f-476e-861c-e931b5023e85.png" alt="">
                            <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="~/Content/assets/images/Cafe phin/27 of the Cutest Home Accessories, Just in Time For the Holidays.png" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="~/Content/assets/images/Cafe xanh/11 Tips to Store Coffee Beans.png" alt="">
                            <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="~/Content/assets/images/Cafe giấy/In túi cà phê túi lọc ( drip bag) giá rẻ - 3MBOXES.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    
                    <div class="row g-3 mb-4">
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="~/Content/assets/images/Cafe phin/An entry from F O R E M M A, F O R E V E R A G O.png" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h5>LunarCoffee - Khám phá cà phê hạt chất lượng tại ngôi nhà cafe của bạn!</h5>
                            <p class="mb-0"> Chào mừng bạn đến với LunarCoffee, nơi chúng tôi tự hào cung cấp những hạt cà phê tươi ngon và độc đáo nhất.
                            Bạn có thể mua về những hạt cà phê chất lượng từ chúng tôi để tự thưởng thức tại nhà, để ngày mới bắt đầu với một tách cà phê 
                            thơm ngon hoặc để làm quà tặng cho người thân yêu.</p></br>
                            <p class="mb-0">
                                Chúng tôi luôn luôn cam kết đảm bảo chất lượng và sự tươi ngon của từng hạt cà phê, để bạn có thể tạo ra những ly cafe hạt 
                                độc đáo và thú vị tại gia. 
                            </p>
                        </div>
                    </div>
                    <div class="border-top mb-4"></div>
                    <div class="row g-3">
                        <div class="col-sm-8">
                            <h5>LunarCoffe được thành lập vì chúng tôi tin rằng</h5>
                            <p class="mb-0">“Hạnh phúc là được yêu thương, chia sẻ và quan tâm mỗi ngày.”</p></br>
                            <p class="mb-0">
                                Hãy đến LunarCoffee và khám phá thế giới đa dạng của cà phê hạt và các sản phẩm liên quan khác!
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="~/Content/assets/images/Cafe xanh/Green Coffee Bean Extract Powder.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    @section scripts
{
        <script src="~/Content/assets/js/contact_custom.js"></script>
    }
