@page
@model SourceMain.Pages.Dash.Marketing.DashTicketFollow_ByStaffModel
@{
    Layout = null;
}

<div class="row" style="background-color: white">
    <div class="ui segments">
        <div class="ui segment">
            <div class="row" style="min-height: 230px;">
                <div class="example title_dash">
                    <h2 class="ui header" data-languagestatic="handle_ticket">Xử Lý Ticket Theo Tele</h2>
                    <p data-languagestatic="handle_ticket_statistics">Thống Kê Ticket Xử Lý Theo Tele</p>
                </div>
                <div class="field">
                    <div class="ui buttons right floated button_list_date" id="btn_filter_TicketFollow_ByStaff" style="margin-top: -50px; display: none !important;">
                        <button class="ui button" data-filter="1">To Day</button>
                        <button class="ui button" data-filter="2">7 Days</button>
                        <button class="ui button" data-filter="3">30 Days</button>
                    </div>
                    

                    <div class="row">
                        <div class="row_dash_item">
                            <div class="row_dash_content">
                                <i class="vtt-icon vttech-icon-i_app"></i>
                                <div class="row_dash_title">
                                    <span class="row_dash_title_header" style="color: #2ca02c">Đã Xử Lý</span>
                                    <span class="row_dash_title_sub">Tổng Ticket Đã Được TeleSale Xử Lý </span>
                                </div>
                                <div class="row_dash_total" style="color: #2ca02c" id="fl_bsf_isTakeCare">0</div>
                            </div>
                        </div>
                        <div class="row_dash_item">
                            <div class="row_dash_content">
                                <i class="vtt-icon vttech-icon-i_visitor"></i>
                                <div class="row_dash_title">
                                    <span class="row_dash_title_header" style="color: #2185d0">Cần Gọi Lại</span>
                                    <span class="row_dash_title_sub">Tổng Ticket Chăm Sóc Cần Gọi Lại</span>
                                </div>
                                <div class="row_dash_total" style="color: #2185d0" id="fl_bsf_callBack">0</div>
                            </div>
                        </div>
                        <div class="row_dash_item">
                            <div class="row_dash_content">
                                <i class="vtt-icon vttech-icon-i_cus" title="Customer"></i>
                                <div class="row_dash_title">
                                    <span class="row_dash_title_header" style="color: #ff7f0e">Không Cần Gọi</span>
                                    <span class="row_dash_title_sub">Tổng Ticket Chăm Sóc Không Cần Gọi Lại</span>
                                </div>
                                <div class="row_dash_total" style="color: #ff7f0e" id="fl_bsf_notCallBack">0</div>
                            </div>
                        </div>
                        <div class="row_dash_item">
                            <div class="row_dash_content">
                                <i class="vtt-icon vttech-icon-i_app"></i>
                                <div class="row_dash_title">
                                    <span class="row_dash_title_header" style="color: #2ca02c">Lịch Hẹn</span>
                                    <span class="row_dash_title_sub">Tổng Số Lịch Hẹn Phát Sinh</span>
                                </div>
                                <div class="row_dash_total" style="color: #2ca02c" id="fl_bsf_schedule">0</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="brg_wavy_container">
                            <svg class="brg_wavy" viewBox="0 0 1440 700" xmlns="http://www.w3.org/2000/svg">
                                <path d="M 0,700 C 0,700 0,350 0,350 C 93.24102564102563,359.43333333333334 186.48205128205126,368.8666666666667 266,360 C 345.51794871794874,351.1333333333333 411.3128205128205,323.9666666666667 477,340 C 542.6871794871795,356.0333333333333 608.2666666666667,415.26666666666665 695,406 C 781.7333333333333,396.73333333333335 889.6205128205129,318.9666666666667 965,299 C 1040.3794871794871,279.0333333333333 1083.251282051282,316.8666666666666 1157,335 C 1230.748717948718,353.1333333333334 1335.374358974359,351.5666666666667 1440,350 C 1440,350 1440,700 1440,700 Z" stroke="none" stroke-width="0" class="transition-all duration-300 ease-in-out delay-150"></path>
                            </svg>
                            <a class="brg_wavy_button" href="/Marketing/TicketList" target="_blank">
                                <span>Tổng Ticket: </span>
                                <span id="fl_bsf_TotalTicket">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">

    var ser_DashFollow_UserTeleID ='@Model._UserTeleID';

    $(document).ready(function () {
        Dashboard_TicketFollow_Event_Filter();
        Dashboard_TicketFollow_Event_Filter_Click();
    });
    function Dashboard_TicketFollow_Event_Filter_Click() {
        $("#btn_filter_TicketFollow_ByStaff .button:nth-child(1)").click();
    }
    function Dashboard_TicketFollow_Event_Filter() {
        $("#btn_filter_TicketFollow_ByStaff .button").on("click", function () {
            $(this).addClass("primary").siblings().removeClass("primary");
            let data_filter = Number($(this).attr("data-filter"));
            let date_now = new Date();
            let date_from;
            let date_to;
            let date_past;
            switch (data_filter) {
                case 1:
                    date_from = GETDATE_NOW_DMYHM();
                    date_to = GETDATE_NOW_DMYHM();
                    break;
                case 2:
                    date_past = date_now.getDate() - 6;
                    date_from = formatDateClient(new Date(date_now.setDate(date_past)));
                    date_to = GETDATE_NOW_DMYHM();
                    break;
                case 3:
                    date_past = date_now.getDate() - 29;
                    date_from = formatDateClient(new Date(date_now.setDate(date_past)));
                    date_to = GETDATE_NOW_DMYHM();
                    break;
                default:
                    date_from = GETDATE_NOW_DMYHM();
                    date_to = GETDATE_NOW_DMYHM();
                    break;
            }
            Dashboard_TicketFollow_Load(date_from, date_to);
            $("#dtTicketFollow").html("");
        })
    }

    function Dashboard_TicketFollow_Load(_dateFrom, _dateTo) {
        AjaxLoad(url="/Dash/Marketing/DashTicketFollow_ByStaff/?handler=Loadata"
            , data={'StaffID': ser_DashFollow_UserTeleID, 'dateFrom': _dateFrom, 'dateTo': _dateTo}
            , async=true
            , error=function () {notiError_SW()}
            , success=function (result) {
                if (result!="") {
                    let ticketFollow=JSON.parse(result)[0];
                    if (ticketFollow) {
                        $("#fl_bsf_TotalTicket").html(formatNumber(ticketFollow.TOTAL));
                        $("#fl_bsf_isTakeCare").html(formatNumber(ticketFollow.IsTakeCare));
                        $("#fl_bsf_schedule").html(formatNumber(ticketFollow.App));
                        $("#fl_bsf_ticketNew").html(formatNumber(ticketFollow.IsNewInDay));
                        $("#fl_bsf_callBack").html(formatNumber(ticketFollow.CallBack));
                        $("#fl_bsf_notCallBack").html(formatNumber(ticketFollow.NotCallBack));
                    }
                }
            }

        );

    }

</script>
<style type="text/css">
    .item_row {
        display: flex;
    }

    .item_number {
        font-size: 35px;
        font-weight: bold;
        line-height: normal;
    }

    .item_lable {
        font-size: 11px;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }

    .item_block {
        width: 100%;
        /* border-radius: 10px; */
        text-align: center;
        border-bottom: 3px solid;
        padding: 5px;
        margin: 3px;
        border-color: #212121;
    }
</style>
