@page
@model MLunarCoffee.Pages.Dash.Marketing.DashTicketFollowModel
@{
    Layout = null;
}

<div class="card overflow-hidden">
    <div class="card-header p-3 pb-3">
        <div class="d-flex align-items-center">
            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                <i class="ni ni-calendar-grid-58 text-lg opacity-10" aria-hidden="true"></i>
            </div>
            <div class="ms-3">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">@Local["Follow trong ngày"]</p>
                <div class="d-flex">
                    <h6 class="font-weight-bolder mb-0" id="dmfl_total"></h6>
                    <div class="w-100 ms-2">
                        <div class="progress-info">
                            <div class="progress-percentage">
                                <span class="text-xs font-weight-bold">@Local["Xử lý"]</span>
                                <span id="dmfl_percent" class="text-xs font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="progress" id="dmfl_progress"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
 
<script type="text/javascript">

    $(document).ready(function () {
        DM_Follow();
    });
 

    function DM_Follow(_dateFrom, _dateTo) {

        AjaxLoad(url="/Dash/Marketing/DashTicketFollow/?handler=Loadata"
            , data = { 'dateFrom': GETDATE_NOW_DMYHM(), 'dateTo': GETDATE_NOW_DMYHM()}
            , async=true
            , error=function () {notiError_SW()}
            , success=function (result) {
                if (result!="") {
                    let ticketFollow=JSON.parse(result)[0];
                    if (ticketFollow) {
                        let total = ticketFollow.TOTAL;
                        let istakecare = ticketFollow.IsTakeCare;
                        let percent = (total != 0) ? (Number(istakecare) * 100 / total).toFixed(2) : 0;
                        $('#dmfl_percent').html(percent + ' %');
                        $('#dmfl_total').html(total);
                        $('#dmfl_progress').html('<div class="progress-bar bg-gradient-info w-' + percent + '" role="progressbar" aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100"></div>');
                    }
                }
            }
   
        );

 
    }

</script>

