@page
@model MLunarCoffee.Pages.Setting.CashbackReason.CashbackReasonDetailModel
@{
    Layout = null;
}

<script>js_require('/js/customjs/custom-validation.js');</script>

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0"></h6>
                                <p class="text-sm mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 form3" id="CRD_FormCashbackReason">
                    <div class="row px">
                        <div class="d-lg-flex">
                            <div class="flex-grow-1 ">
                                <div class="flex-grow-1">
                                    <div class="field col-12 p-1">
                                        <label>@Local["Lý do hoàn tiền"]</label>
                                        <input id="CRD_ReasonName" type="text" name="name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="CRD_FormCashbackReason" onclick="event.preventDefault();CloseModal()">@Local["Huỷ"]</button>
                        <button form="CRD_FormCashbackReason" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();CRD_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let ser_CashbackReasonDetailID;
    $(document).ready(function () {
        ser_CashbackReasonDetailID = @Model._CashbackReasonDetailID;
        if (ser_CashbackReasonDetailID != "0")
        {
            CRD_LoadUpdateData();
        }
        Checking_TabControl_Permission();
    });

    function CRD_LoadUpdateData() {
        if (ser_CashbackReasonDetailID != 0 && ser_CashbackReasonDetailID != "") {
            AjaxLoad(url = "/Setting/CashbackReason/CashbackReasonDetail/?handler=LoadDetail"
                , data = { CurrentID: ser_CashbackReasonDetailID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let FeatureImgSrc = '';
                        let ImgSrc = '';
                        let data = JSON.parse(result);
                        $("#CRD_ReasonName").val(data[0].Name);
                    }
                });
        }
    }

    async function CRD_ExcuteData() {
        let data = new Object();
        data.Name = $("#CRD_ReasonName").val() ? $("#CRD_ReasonName").val() : "";
        if (CRD_Validate()) {
            AjaxLoad(url = "/Setting/CashbackReason/CashbackReasonDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_CashbackReasonDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        CRL_Load();
                        CloseModal();

                    } else if(result == "-1") {
                        $("#textShowMessage").html("Trùng dữ liệu");
                    }
                    else notiError_SW();
                });
        }
        return false;
    }

    function CRD_Validate() {
        $('#CRD_FormCashbackReason').form('validate form');
        if ($('#CRD_FormCashbackReason').form('is valid')) {
            return true;
        }
        return false;
    }
</script>