@page
@model MLunarCoffee.Pages.Image.Previewcrop
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/js/comon/customerimage2.js', true);</script>

<div class="col-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="d-lg-flex">
                <div class="w-50 col-auto my-auto">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Tùy chỉnh hình ảnh"]</h6>
                        <p class="text-sm mb-0">@Local["Chọn vùng muốn cắt"]</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-body">
            <div class="mb-3 mt-3 d-flex justify-content-center">
                <div class="position-relative border border-1 border-light rounded p-3">
                    <div id="pre_area" class="d-flex justify-content-center position-relative">
                        <canvas class="z-index-3" id="pre_imcanvas"></canvas>
                        <img class="position-absolute z-index-1" id="pre_img" />
                        <img class="position-absolute z-index-1 d-none opacity-0" id="pre_hidenimg" />
                    </div>
                    <div id="previewre"></div>
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="button" onclick="pre_close()" class="btn btn-secondary">@Local["Hủy"]</button>
                <button type="button" onclick="pre_save()" class="btn bg-gradient-primary me-2">@Local["Ok"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    let pre_sizefix = 350;
    var pre_width = pre_sizefix;
    var pre_height = pre_sizefix;
    var precanvas = document.getElementById('pre_imcanvas');
    var prectx = precanvas.getContext("2d");
    var pre_color = "#00968821";
    var pre_colorstr = "#c50000";
    var pre_position = {};
    var pre_file;
    var prefunc_close;
    var prefunc_save;
    $(document).ready(function () {


    });

    function pre_save () {
        let image = $("#pre_hidenimg");
        let width = image[0].width;
        let height = image[0].height;
        let _rexx = 0, _reyy = 0;

        _rexx = (width / pre_width) * pre_position.xx;
        _reyy = (height / pre_height) * pre_position.yy;
        var tempCanvas = document.createElement("canvas");
        var tCtx = tempCanvas.getContext("2d");
        tempCanvas.width = pre_position.pre_sizefix;
        tempCanvas.height = pre_position.pre_sizefix;
        tCtx.drawImage(image[0], _rexx, _reyy, width, height
            , 0, 0, pre_width, pre_height);
        var img = tempCanvas.toDataURL("image/jpeg"); 
        var inputfile = dataURLtoFile(img, Date.parse(new Date()).toString()+".jpeg");
        prefunc_save(img, inputfile);
        pre_close();

    }
    function pre_close () {
        prefunc_close();
    }
 
    function preview_Setimg (file, closefn, savefn) {
        var priarea = $('#pre_area');
        let primg = $("#pre_img");
        let primghidden = $("#pre_hidenimg");

        let imgFile = new Image();
        imgFile.src = window.URL.createObjectURL(file);
        imgFile.onload = function () {
            primg.attr('src', imgFile.src).load(function () {
                URL.revokeObjectURL(this.src);
                let width = primg.width();
                let height = primg.height();
                if (width > height) {
                    pre_height = pre_sizefix;
                    pre_width = (width / height) * pre_sizefix;
                }
                else {
                    pre_width = pre_sizefix;
                    pre_height = (height / width) * pre_sizefix;
                }
                priarea.width(pre_width).height(pre_height);
                primg.width(pre_width).height(pre_height);
                precanvas.height = pre_height;
                precanvas.width = pre_width;

                pre_freecanvas();
            });
            primghidden.attr('src', imgFile.src);
        }
        pre_file = imgFile;
        prefunc_save = savefn;
        prefunc_close = closefn;
    }
   
    function pre_freecanvas () {

        precanvas.addEventListener("touchstart", function (e) {

            e.preventDefault();
            e.stopPropagation();
            findxy('down', e.touches[0])
        }, false);
        precanvas.addEventListener("mousedown", function (e) {
            e.preventDefault();
            e.stopPropagation();
            findxy('down', e)
        }, false);
    }
    function findxy (res, e) {
        var rect = precanvas.getBoundingClientRect();
        if (res == 'down') {
            let currX = e.clientX - rect.left;
            let currY = e.clientY - rect.top;
            pre_selected(currX, currY);

        }

    }
    function pre_selected (x, y) {

        pre_clear();
        prectx.beginPath();
        prectx.fillStyle = pre_color;
        prectx.strokeStyle = pre_colorstr;
        //prectx.globalCompositeOperation = "source-over";
        let xx, yy;
        if (pre_width > pre_height) {

            if (x < pre_sizefix / 2) {xx = yy = 0}
            else if (x >= pre_sizefix / 2 && (x + pre_sizefix / 2) <= pre_width) {
                xx = (x - pre_sizefix / 2); yy = 0
            }
            else {
                xx = pre_width - pre_sizefix; yy = 0

            }

        }
        else {
            if (y < pre_sizefix / 2) {
                xx = yy = 0
            }
            else if (y >= pre_sizefix / 2 && (y + pre_sizefix / 2) <= pre_height) {
                xx = 0; yy = (y - pre_sizefix / 2)
            }

            else {
                xx = 0; yy = pre_height - pre_sizefix
            }
        }
        prectx.fillRect(xx, yy, pre_sizefix, pre_sizefix);
        prectx.rect(xx, yy, pre_sizefix, pre_sizefix);
        prectx.stroke();
        prectx.closePath();
        pre_position = {xx, yy, pre_sizefix}
    }
    function pre_clear () {
        prectx.beginPath();
        prectx.clearRect(0, 0, pre_width, pre_height);
        prectx.closePath();
    }
</script>
<style>

    #pre_area {
        cursor: crosshair;
        background-repeat: no-repeat;
    }
</style>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>