@page
@model MLunarCoffee.Pages.Setting.CustomerPage.GeneralModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-12 p-0">
        <div class="card card-plain">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="my-auto">
                        <ul class="nav nav-pills nav-horizontal bg-transparent permissionlist pt-0 pb-2" role="tablist" id="SettingCustomerGate_List">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 px-3" id="divMainCustomerGate">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        AjaxLoad(url = "/Setting/CustomerPage/General/?handler=LoadList"
            , data = {}, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                let menus = data.Menu;
                CustomerGate_RenderSetting(menus, "SettingCustomerGate_List");
                $('#SettingCustomerGate_List a:first').trigger('click');
                $('#SettingCustomerGate_List a:first').tab('show');
                ToolPopper();
            }
        );
    });

    function CustomerGate_RenderSetting(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {

                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    stringContent = stringContent
                        + '<li class="nav-item" role="presentation">'
                        + '<a class="linkapp nav-link cursor-pointer nav-item-text" data-bs-toggle="pill" data-link="' + item.ListLink + '"  role="tab">' + item.ListText + '</a>'
                        + '</li>'
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        CustomerGate_Setting_HandleEvent();
    }

    function CustomerGate_Setting_HandleEvent() {
        $(".linkapp").unbind().click(function (event) {
            let link = $(this).attr("data-link");
            $("#divMainCustomerGate").empty();
            $("#divMainCustomerGate").load(link + "?ver=" + versionofWebApplication);
        });
    }

</script>



<script>js_require('/assests/dist/ColorPicker/spectrum.js');</script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />
