@page
@model SourceMain.Pages.Report.Compare.Schedule.ScheduleBranch_BarModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="report_compare_scheduler_bar" class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#RevenueBySourceBarDiv" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadData_Compare_Bar()"></i>
            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="RevenueBySourceBarDiv">
        <div class="card-body p-3 pt-0">
            <div class="chart">
                <canvas id="RevenueBySourceBar" class="chart-canvas" height="300"></canvas>
            </div>
        </div>

    </div>

</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>
    $(document).ready(function () {
 
        LoadData_Compare_Bar();
    });
    function LoadData_Compare_Bar() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _TokenBranch = "@Model._TokenBranch";
        AjaxLoad(url = "/Report/Compare/Schedule/ScheduleBranch_Bar/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'tokenBranch': _TokenBranch  }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    let cols = [];
                    cols.push({'label': 'Appoitment', 'value': 'Scheduler'});
                    cols.push({'label': 'Checked In', 'value': 'SchedulerChecked'});
                    rp_barcols('RevenueBySourceBar', data,'BranchCode', cols);
                }
            }
        );
    }


</script>

