@page
@model MLunarCoffee.Pages.Report.Compare.Schedule.ScheduleBranch_GridModel
@{
    Layout = null;
}
<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="report_compare_scheduler" class="text-md text-dark font-weight-bold mb-1"></p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#Report_CompareGrid" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_Compare_Grid()"></i>

                <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_CompareGrid()"></i>
 
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-3 col-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6  class="text-sm text-primary text-gradient mb-0">Tổng Lịch</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalCust">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">Lịch Checkedin</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalCust_Check">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">Tổng Thanh Toán</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalPayment">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-6  mt-4 mt-lg-0">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">Tổng Cọc</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalDeposit">0</span></h6>
                </div>
            </div>

        </div>
    </div>
    <div class="collapsesticky collapse show" id="Report_CompareGrid">

        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_CompareGrid">
                    <thead id="HerderReport_CompareGrid">
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_CompareGrid">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>
<script type="text/javascript">

    $(document).ready(function () {
 
        LoadDataReport_Compare_Grid();
        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });

    function LoadDataReport_Compare_Grid() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _TokenBranch = "@Model._TokenBranch";
        AjaxLoad(url = "/Report/Compare/Schedule/ScheduleBranch_Grid/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'tokenBranch': _TokenBranch }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    let dataMaster = JSON.parse(result)["Table1"];
                    let datatype = JSON.parse(result)["Table2"];

                    RenderReport_HeaderBranch(data, 'HerderReport_CompareGrid');
                    Count_Up('lbTotalCust', dataMaster[0].TotalCus);
                    Count_Up('lbTotalCust_Check', dataMaster[0].TotalCusChecked);
                    Count_Up('lbTotalPayment', dataMaster[0].TotalPayment);
                    Count_Up('lbTotalDeposit', dataMaster[0].TotalDeposit);
 
                    RenderReport_RevenueCustomer_SourceGrid(data, datatype, "dtContentReportBody_CompareGrid")
                }
            }
        );

        return false;
    }

    function RenderReport_HeaderBranch(dataBranch, id) {
        if (dataBranch && dataBranch.length > 0) {
            let stringContent = '';
            let tr =
                '<th data-languagestatic="no" style = "width:50px" >#</th>'
                + '<th data-languagestatic="type" >Loại</th>'
                + '<th data-languagestatic="total" >Tổng</th>'
            let tr2 = '';
            for (var i = 0; i < dataBranch.length; i++) {
                let item = dataBranch[i];
                tr = tr + '<th colspan="2">' + item.BranchCode + '</th>';

            }
            stringContent += '<tr class="vt-number" role="row">' + tr + '</tr>'
                + '<tr class="vt-number">' + tr2 + '</tr>';
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function RenderReport_RevenueCustomer_SourceGrid(data, datatype, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                let _dataFinal = [];
                for (_i = 0; _i < datatype.length; _i++) {
                    let _e = {};
                    _e.TypeName = datatype[_i].Type;
                    _e.Total = datatype[_i].Total;
                    switch (_i) {
                        case 0:
                            for (_k = 0; _k < data.length; _k++) {
                                _e[data[_k].BranchCode] = data[_k].Scheduler;
                            }
                            break;
                        case 1:
                            for (_k = 0; _k < data.length; _k++) {
                                _e[data[_k].BranchCode] = data[_k].SchedulerChecked;
                            }
                            break;
                        case 2:
                            for (_k = 0; _k < data.length; _k++) {
                                _e[data[_k].BranchCode] = data[_k].CustomerPaid;
                            }
                            break;
                        case 3:
                            for (_k = 0; _k < data.length; _k++) {
                                _e[data[_k].BranchCode] = data[_k].TotalPaid;
                            }
                            break;
                        case 4:
                            for (_k = 0; _k < data.length; _k++) {
                                _e[data[_k].BranchCode] = data[_k].CustomerPaid_Deposit;
                            }
                            break;
                        case 5:
                            for (_k = 0; _k < data.length; _k++) {
                                _e[data[_k].BranchCode] = data[_k].TotalPaid_Deposit;
                            }
                            break;
                    }

                    _dataFinal.push(_e)
                }

                for (var i = 0; i < _dataFinal.length; i++) {
                    let items = _dataFinal[i];
                    let tr =
                        '<td class="vt-number-order"></td>'
                        + '<td>' + items.TypeName + '</td>'
                        + '<td class="_total_value">' + formatNumber(items.Total) + '</td>';
                    for (_k = 0; _k < data.length; _k++) {
                        tr = tr + '<td>'
                            + '<span class=" text-gradient text-primary">' + runTwoTo(items[data[_k].BranchCode] / items.Total) + '</span>'
                            + '</td>'
                            + '<td>'
                            + '<span class="_amount_value">' + formatNumber(items[data[_k].BranchCode]) + '</span>'
     
                            + '</td>';
                    }
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_CompareGrid() {
        exportToExcel("dtContentReport_CompareGrid", 'Data');
    }
    function runTwoTo(num) {
        var num;
        num = (Math.round(num * 10000) / 100);
        return (num != 0) ? (num + ' %') : '';
    }
</script>
 
