@page
@model MLunarCoffee.Pages.Report.Statistical.Facebook.FacebookStaffExcGridModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-70 col-auto my-auto">
                <p data-languagestatic="rp_effect_fanpage_header"
                   class="text-md text-dark font-weight-bold mb-1">
                    Hiệu Suất Trực FanPage
                </p>
                <p class="text-sm mb-0">Some text of detail sub</p>
            </div>
            <div class="ms-auto my-auto mt-1">
                <i class="vtt-icon vttech-icon-all text-sm text-gradient text-info"
                   data-bs-toggle="collapse" data-bs-placement="top"
                   href="#FacebookStaffExc" aria-expanded="true"
                   data-bs-original-title="Collapse"></i>

                <i class="vtt-icon  vttech-icon-refesh text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Refresh" onclick="LoadDataReport_PageFacebookStaffExcGrid()"></i>
                <i class="vtt-icon  vttech-icon-export-ex text-sm text-gradient text-info"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="Excel" onclick="exportData_PageFacebookStaffExcGrid()"></i>
 
            </div>
        </div>


    </div>
    <div class="collapsesticky collapse show" id="FacebookStaffExc">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_PageFacebookStaffExcGrid">
                    <thead>
                        <tr role="row">
                            <th style="display: none !important;"></th>
                            <th data-languagestatic="no" rowspan="2" style="width: 10px">#</th>
                            <th data-languagestatic="emp" rowspan="2">Tên Nhân Viên</th>
                            <th rowspan="2">KPI</th>
                            <th data-languagestatic="total_data_exe" colspan="2">Tổng Data Tiếp Nhận Xử Lý </th>
                            <th data-languagestatic="total_profile" colspan="2">Tổng Hồ Sơ</th>
                            <th data-languagestatic="app" colspan="2">Lịch Hẹn</th>
                            <th data-languagestatic="rate_receipt_per">Tỷ Lệ Số Lượng Tiếp Nhận ( % ) </th>
                            <th data-languagestatic="effect_rate_work" rowspan="2">Tỷ Lệ Hiệu Quả Công Việc </th>
                            <th data-languagestatic="target_get" colspan="3">Doanh Số Đạt Được</th>
                        </tr>
                        <tr role="row">
                            <th style="display: none!important;"></th>
                            <th>New Data</th>
                            <th>Old Data</th>
                            <th data-languagestatic="new_profile">Hồ Sơ Mới</th>
                            <th data-languagestatic="old_profile">Hồ Sơ Cũ</th>
                            <th data-languagestatic="new_profile_app">Hồ Sơ Mới Có Lịch</th>
                            <th data-languagestatic="old_profile_app">Hồ Sơ Cũ Có Lịch</th>
                            <th data-languagestatic="duel_to_KPI">So với KPI</th>
                            <th data-languagestatic="total_consultant">Tổng Tư Vấn</th>
                            <th data-languagestatic="revenue_real">Doanh Thu</th>
                            <th data-languagestatic="liabilities">Công Nợ</th>
                        </tr>
                    </thead>
                    <tbody data-languagedyn="grid" id="dtContentReportBody_PageFacebookStaffExcGrid">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var dataDetail;
    var nameType;

    $(document).ready(function () {
 
        LoadDataReport_PageFacebookStaffExcGrid();
        //$('#dtContentReport_PageFacebookStaffExcGrid').tablesort();
       // $("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });

    function LoadDataReport_PageFacebookStaffExcGrid() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _pageID = "@Model._PageID";
        AjaxLoad(url = "/Report/Statistical/Facebook/FacebookStaffExcGrid/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'pageID': _pageID  }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    RenderReport_PageFacebookStaffExcGrid(data, "dtContentReportBody_PageFacebookStaffExcGrid");
                }
            }
        );
        return false;
    }

    function RenderReport_PageFacebookStaffExcGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none;">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td> ' + item.InfoEmp + '</td>'
                        + '<td></td>'
                        + '<td>' + item.TotalNumNew + '</td>'
                        + '<td>' + item.TotalNumOld + '</td>'
                        + '<td>' + item.TotalTicketNew + '</td>'
                        + '<td>' + item.TotalTicketOld + '</td>'
                        + '<td>' + item.TotalScheduleNew + '</td>'
                        + '<td>' + item.TotalScheduleOld + '</td>'
                        + '<td></td>'
                        + '<td></td>'
                        + '<td>' + formatNumber(item.SalesAmount) + '</td>'
                        + '<td>' + formatNumber(item.Amount) + '</td>'
                        + '<td>' + formatNumber(item.DebtAmount)  + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_PageFacebookStaffExcGrid() {
        exportToExcel("dtContentReport_PageFacebookStaffExcGrid", 'Hieu-Suat-Truc-FanPage');
    }
</script>
