
/*Lưu Phiếu*/
.button_save_form {
    font-size:15px;
}

/*Duyệt Phiếu*/
.button_approve_form{

}

/*Thêm Vật Tư Tiêu Hao*/
.button_new_material_rest {
}

/*Thêm Trạng Thái*/
.button_new_status {
}

/*Thêm Nhóm Trạng Thái*/
.button_new_group_status {
}

.saveButton {
    background: #337ab7 !important;
    color: #ffffff !important;
    min-width: 80px !important;
}

/*Thanh Toán*/
.button_payment {
}
.button_move{

}
/*Cập Nhật Tổng Tiền*/
.button_update_amount {
}
.button_import{

}
.button_get_teamplate{

}

/*Cập Nhật*/
.button_update{

}

.cancelButton {
    background: #d4d4d5 !important;
    color: #337ab7 !important;
    min-width: 80px !important;
}

/*Thêm Nhà Cung Cấp*/
.button_new_sup{

}

/*Tìm Kiếm*/
.button_search{

}

/*Thực Hiện Chia Ticket*/
.button_devide{}

/*Đặt Lịch*/
.button_create_app{}

/*Chuyển Ticket*/
.button_exhange_ticket{}

/*Tạo Khách Hàng*/
.button_create_customer{}

/*hien thi them*/
.button_more{}


.button_send{}

/*Kiểm Tra Nội Dung*/
.button_check_content{}

/*chua su dung den*/
.button_view_by_material{}
/*chua su dung den*/
.button_view_by_customer{}
/*chua su dung den*/
.button_view_by_service{}

/*Chọn Dịch Vụ*/
.button_chose_service{}

/*Bỏ Lọc*/
.button_un_filer{}

/*Lọc*/
.button_filer{}

/**/
.button_create_folder{}

/**/
.button_delete_image{}

/*Sửa Hồ Sơ*/
.button_edit_profile{}

/*In Hồ Sơ*/
.button_print_profile{}

/*Thêm Ghi Chú*/
.button_add_note{}

/*Hoàn Tiền*/
.button_back_money{}

/*Thu Tiền*/
.button_get_money{}

/*unclockpayment*/
.button_unclock_payment {
}

/*Chọn Combo Dịch Vụ*/
.button_chosing_combo{}

/*Thêm Nhanh Dịch Vụ*/
.button_quick_add{}

/*Thêm Thẻ*/
.button_card_add{}

/*In Hồ Sơ Tư Vấn*/
.button_print_consulting_profile{}

/*In Mẫu Tư Vấn*/
.button_print_consulting_template{}

/*Thêm Nhanh*/
.button_quickly_add{}

/*In Phiếu Điều Trị*/
.button_print_treatment_temp{}

/*Đóng Tiền Cọc*/
.button_add_deposit{}

/*Trả Tiền Cọc*/
.button_return_com{}

/*Hoa Hồng Giới Thiệu*/
.button_broker_com{
}

/*Thêm Hoa Hồng*/
.button_add_com{}

/*Đổi chi nhánh*/
.button_change_branch{}

/*Sửa Lịch*/
.button_edit_app{}

/*Hủy Lịch*/
.button_app_cancel{}

/*Setup Phòng*/
.button_app_setup_room{}

/*Đến Khách Hàng*/
.button_app_tocust{}

/*xuat file*/
.exportButton {
}
/*create_new*/
.button_create_new {
    background: red !important;
    color: #ffffff !important;
    min-width: 80px !important;
}

/*send_noti*/
.button_send_noti {
}

/*Lọc khách hàng*/
.button_filter_cust {
}

.button_chose {
    background: #e6e8ea !important;
    color: #2185d0 !important;
    width: 100%;
    position: relative;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset !important;
}
    .button_chose:before {
        content: '+';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2.2em;
        font-weight: 600;
    }
    .button_chose:hover {
        box-shadow: 0 0 0 1px rgba(34,36,38,.35) inset, 0 0 0 0 rgba(34,36,38,.15) inset !important;
    }
/*Action Save*/
.action_Save {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 1em;
    width: 100%;
    z-index: 1;
}
.action_Save .action_Save-Content {
    
    display: flex;
}
.action_Save .action_Save-Content button {
    margin: 0 .25em 0 5px !important;
}
/*Action List*/
.action_List {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 1em;
    width: 100%;
    z-index:1;
}

    .action_List .action_List-Content {
        padding: 5px 8px 5px 5px !important;
        background-color: white !important;
        /*box-shadow: 0 0.5px 0 #808080d1;*/
    }

        .action_List .action_List-Content button {
            margin: 0 0 2px 5px !important;
        }
.buttonSelect {
    text-align: center;
    cursor: pointer;
}


/*---- hover Button  ----*/
.imgGrid{
    transition:0.3s;
}
/*    .imgGrid:hover {
        background-color: #cbe9ff;
    }*/


 /*----button Show more-----*/
.button[data-languagestatic="button_more"] {

}