.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    color: gray;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    opacity: 0;
    height: 1000px;
}

#executing_ticket_info {
    height: 30px;
    width: 30px;
    position: absolute;
    display: none;
    top: 154px;
    right: 42px;
}

.pageAvatar {
    width: 40px !important;
    height: 40px !important;
    display: inline !important;
}

.pageAvatarsmall {
    width: 15px !important;
    height: 15px !important;
    margin-right: 10px;
    margin-top: 2px;
}

.waitingfacebook_exe {
    padding-right: 5px;
    height: 12px;
}

.messegerItem, .messegerCommentItem {
    display: block;
    font-size: 13px;
    color: #1b1c1d;
    text-decoration: none;
    font-weight: 500;
    float: left;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: #2185d017;
    border-bottom-width: 1px;
    /*border-right: 1px solid #d4d4d578;*/
    border-right: none;
    margin-bottom: 2px !important;
}

    .messegerItem:hover {
        background-color: #a1d7ff !important;
    }

    .messegerCommentItem:hover {
        background-color: #a1d7ff !important;
    }

.activeitemface {
    background: #daefff !important;
    border-left: solid #2185d0 5px;
    padding: 5px 10px 5px 5px;
}

.area {
    vertical-align: top;
    border: solid #d7ebff 1px;
}

.snipTime_snippest {
    padding-left: 15px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 60%;
    color: #083252;
    font-size: 13px;
    /*padding-right: 5px;*/
}

.snip_text {
    font-size: 12px;
    color: #4d0365;
    /*font-style: italic;*/
    width: 60%;
    height: 19px;
}

.tagMessList {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 20px;
}

.tagMessMore {
    background: #0288d1b3;
    width: 51px;
    color: white;
    text-align: center;
    vertical-align: top;
    height: 15px;
    font-size: 10px;
    margin-left: 4px;
    margin-top: 1px;
    display: inline-block;
    line-height: initial;
    border-radius: 20px;
}

.tagMessParent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    display: block;
    max-width: 200px;
    padding-top: 4px;
    padding-left: 11px;
    min-height: 20px;
}

.snipTime {
    font-size: 11px;
    color: #a0a0a4;
}

.snipTime_time {
    font-size: 12px;
    color: #001525;
    display: block;
    padding-top: 5px;
    text-align: right;
}

.divItemName {
    padding-left: 10px;
}

.newMessage {
    padding: 5px 10px 5px 5px;
    background: #9bd4ff !important;
    border-left: solid 5px #c71313;
    color: #0099ff;
    font-weight: 500;
}

.temporary_error {
    border: 1px solid red !important;
}

.chooseMessage {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #0288d1;
    background: #e6e6e6;
    border-radius: 10px;
}

.chatting {
    position: absolute;
    background: #ffffff;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #f8f8f8;
}

.iconChatting {
    float: left;
    height: 22px;
    width: 22px;
    margin: 21px 5px;
    cursor: pointer;
}

.iconChattingHead {
    height: 20px;
    width: 20px;
    margin: 10px 5px;
    cursor: pointer;
    position: relative;
}

    .iconChattingHead > img {
        margin: 2px;
        max-width: 100%;
        height: 16px;
        width: 16px;
    }

    .iconChattingHead:hover .titlecontent {
        display: block;
    }

    .iconChattingHead .titlecontent {
        background-color: rgb(255,255,163);
        font-size: 10px;
        top: 100%;
        left: 100%;
        width: max-content;
        height: 20px;
        position: absolute;
        z-index: 11;
        padding: 3px 5px;
        line-height: 12px;
        border: 1px solid rgb(241,208,49);
        display: none;
    }

.div_face_page_total:hover .titlepage {
    display: block;
}

.titlepage {
    background-color: rgb(255 ,255 ,163);
    font-size: 10px;
    width: max-content;
    position: absolute;
    z-index: 1;
    padding: 3px 5px;
    line-height: 12px;
    border: 1px solid rgb(241 ,208 ,49);
    display: none;
    top: -18%;
    left: 63%;
}

#MessengerArea_Attachment {
    background: #faf9f9;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100% !important;
}

#ParentMessengerArea_Attachment {
    position: relative;
    height: 140px;
    background: #faf9f9;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#MessengerArea_Messenger {
    max-height: calc(100vh - 262px);
    padding-bottom: 20px;
}

.chattingInbox {
    height: 100%;
    position: absolute;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 13px;
    color: #165170;
    font-weight: 500;
    left: 123px;
    width: 100%;
    background: #e6e6e68c;
    border: none;
}

    .chattingInbox.textarea {
        resize: none;
        width: calc(100% - 133px);
    }

.message_client {
    float: left;
    padding: 7px 14px;
    margin: 0px 6px;
    background-color: #e0e0e0;
    color: #1b1c1d;
    font-size: 13px;
    font-weight: 500;
    display: block;
    max-width: 75%;
    border-radius: 20px 20px 21px 0px;
    text-align: left;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.postmessage_me {
    padding: 6px 14px;
    margin: 3px 17px;
    /* background-color: rgb(0, 153, 255); */
    /* color: white; */
    font-size: 13px;
    font-weight: 500;
    display: block;
    /* max-width: 50%; */
    border-radius: 17px;
    /* text-align: right; */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.postmessage_me_name {
    float: right;
    font-size: 12px;
    color: #2185d0;
    font-style: italic;
}

.divPostInMessage {
    background: #2185d01c;
    max-width: 74%;
    float: right;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.message_me {
    float: right;
    padding: 7px 14px;
    margin: 0px 6px;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 13px;
    font-weight: 500;
    display: block;
    max-width: 75%;
    border-radius: 20px 20px 0px 20px;
    text-align: left;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.message_me_temp {
    background: #e6e6e6 !important;
    color: #767676 !important;
}

.attachment_me_temp {
    background: #e6e6e6 !important;
    color: #767676 !important;
    height: 100px;
    width: 100px;
}

.message_from_comment {
    background-color: #21ba45 !important;
}

.messengerDetail_me {
    display: flow-root;
    padding-bottom: 3px;
    /*pointer-events: none;*/
}

.postDetail_me {
    display: flow-root;
}

.messengerDetail_client {
    display: flow-root;
    padding-bottom: 3px;
    /*pointer-events: none;*/
}

.sticker_client {
    float: left;
    max-height: 40px;
    max-width: 40px;
    padding-left: 16px;
    padding-top: 10px;
}

.sticker_me {
    float: right;
    max-height: 40px;
    max-width: 40px;
    padding-right: 16px;
    padding-top: 10px;
}

.video_me {
    float: right;
    margin: 3px 17px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.video_client {
    float: left;
    margin: 3px 17px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.image_client {
    float: left;
    max-height: 500px;
    max-width: 75%;
    border-radius: 7px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    margin: 3px 2px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.image_me {
    float: right;
    max-height: 500px;
    max-width: 75%;
    border-radius: 7px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    margin: 3px 2px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.file_client {
    float: left;
    padding: 6px 14px;
    margin: 3px 17px;
    background-color: #e0e0e0;
    color: #1b1c1d;
    font-size: 13px;
    font-weight: 500;
    display: block;
    max-width: 70%;
    border-radius: 17px;
    text-align: right;
}

.file_me {
    float: right;
    padding: 6px 14px;
    margin: 3px 17px;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 13px;
    font-weight: 500;
    display: block;
    max-width: 70%;
    border-radius: 17px;
    text-align: right;
}

.readsent {
    float: right;
    padding: 6px 14px;
    margin: 2px 6px;
    color: #1b1c1d;
    font-size: 11px;
    font-weight: 500;
    display: block;
    max-width: 70%;
    text-align: right;
}

.linedate {
    font-size: 11px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.71);
    margin: 7px 0px;
    text-align: center;
    width: 100%;
    display: inline-block;
    /*    text-transform: uppercase;*/
}

.imgAttachment {
    height: 100px;
    width: 100px;
    display: inline;
    border-radius: 20px;
    margin: 7px;
    border-color: #d4d4d5;
    border-style: solid;
    border-width: 1px;
}

.fileAttachment {
    display: inline-block;
    border-radius: 20px;
    border-color: #0288d1;
    border-style: solid;
    border-width: 1px;
    background: white;
    margin: 24px;
    margin: 7px;
    /* position: relative; */
    height: 45px;
    padding: 10px;
    float: right;
}

.divImageAttachment {
    height: 110px;
    width: 115px;
    display: inline-block;
    margin: 0px 5px;
}

.divFileAttachment {
    height: 60px;
    display: inline-block;
    margin: 0px 5px;
}

.iconDeleteAttachment {
    width: 30px;
    height: 30px;
    float: left;
    left: 28px;
    position: relative;
}

#Face_Pusher {
    position: fixed;
    bottom: 0;
    top: 62px;
    bottom: 60px;
    width: 100%;
}

#nameFile {
    left: 4px;
    position: absolute;
    /* padding: 0 31px; */
    text-align: center;
    margin-bottom: 15px;
    background: #f0f8ff00;
}

#facebook_list_fanpage {
    max-height: 500px;
    overflow: hidden;
    width: 250px;
}

    #facebook_list_fanpage .pageFaceMenu span:nth-child(3) {
        padding-left: 10px;
        position: absolute;
        left: 49px;
        width: 200px;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: block !important;
        display: -webkit-box !important;
        margin: 0 auto;
        font-size: 14px;
        top: 50%;
        line-height: 1;
        transform: translateY(-50%);
        text-align: left;
        height: 29px;
        white-space: break-spaces;
    }

#gotoProfileMess {
    left: 4px;
    position: absolute;
    /* padding: 0 31px; */
    text-align: center;
    margin-bottom: 15px;
    background: #f0f8ff00;
}

#MessengerArea_List_loaderList {
    margin: auto;
    width: 16px;
    height: 16px;
}

.loadmore {
    height: 20px;
    width: 100%;
    background: #ffffff;
    border-style: none;
    border-radius: 20px;
    font-size: 13px;
    color: #db2828;
    font-weight: 500;
    margin-top: 3px;
}

.readAvatar {
    float: right;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d585;
    height: 20px !important;
    width: 20px !important;
}

.imgMessCom {
    width: 18px;
    height: 18px;
    float: right;
    padding: 2px;
    right: 0px;
}

.imgExecute {
    float: right;
    height: 18px;
    width: 18px;
    right: 11px;
    top: 45px;
    position: absolute;
}

.ticketinfoLink {
    height: 18px;
    top: 45px;
    font-size: 10px;
    color: #ffffff;
    padding: 2px 5px;
    margin-right: 2px;
    cursor: pointer;
    font-weight: 500;
}

.deletehind {
    float: right;
    height: 18px;
    top: 45px;
    font-size: 10px;
    position: absolute;
    color: #ffffff;
    background: #e32424;
    padding: 0px 5px;
    margin-left: -2px;
}

.blockhind {
    float: right;
    height: 18px;
    top: 45px;
    font-size: 10px;
    position: absolute;
    color: #ffffff;
    background: #020217;
    padding: 0px 10px;
    margin-left: -2px;
}

.divRightCommentMess {
    position: absolute;
    right: 10px;
    top: 0px;
}

.facebooktag_ticket {
    margin: 2px;
    border-radius: 20px;
    padding: 3px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e052;
    background: #e0e0e052;
}

.facebooktag {
    margin: 4px;
}

.noteticket_date {
    display: block;
    font-size: 12px;
    color: #31107a;
}

.noteticket_per {
    display: block;
    font-size: 12px;
    color: #0288d1bf;
    font-style: italic;
}

.facebooktag_ticket_checked {
    margin: 2px;
    border-radius: 20px;
    padding: 1px 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e052;
    background: #e0e0e096;
}

.facebooktag {
    margin: 2px;
    background: #fffdfd;
    border-radius: 20px;
    padding: 3px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #2185d033;
    background: #2185d033;
}

.tagface_text {
    font-size: 12px !important;
    display: inline !important;
    cursor: pointer !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
}

#profile_Avatar {
    height: 83px;
    width: 100px;
    display: inline-block;
}

.profile_text {
    font-size: 14px;
    padding-left: 5px;
    color: #290774;
}

.phone_get {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e652;
    border-radius: 10px;
    padding: 8px;
    background: #e6e6e652;
    margin-bottom: 5px;
}

.phone_get_mess {
    font-size: 14px;
    color: #2185d0;
}

.phone_get_time {
    font-size: 11px;
    font-style: italic;
    color: #a333c8;
}

.face_text {
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    color: #025785;
    max-width: 174px;
    overflow: hidden;
    padding-bottom: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -6px;
}

.face_text_num {
    font-size: 12px;
    color: #120432;
    font-weight: 400;
    cursor: pointer;
    border-bottom: #fbbd08 solid 1px;
}

.circle_tag {
    font-size: 20px;
}

.phone_get_button {
    display: inline;
    position: relative;
    float: right;
    top: -13px;
}

#ticketinfoFace_loaderList {
    border: none;
    position: relative;
    height: 100%;
    margin-right: 200px;
}

.message_client_time_send {
    display: flow-root;
    padding: 1px 0px;
    background: white;
    font-style: italic;
    font-size: 12px;
    color: black;
}

.message_me_time_send {
    display: flow-root;
    padding: 1px 4px;
    background: white;
    font-style: italic;
    font-size: 12px;
    color: black;
}

#MasterContainer {
    max-width: 100%;
    overflow-x: hidden;
    height: 100% !important;
    overflow-y: auto;
    background-color: white;
    /*max-width: 100%; overflow-x: hidden; height: -webkit-fill-available*/
}

#menuChoosingPage {
    text-align: left;
    margin-left: 20px;
    /*margin-right: 250px;*/
    padding: 10px;
    float: right;
}

.copyFace {
    background-color: #f2711c;
    color: white;
    opacity: 0;
    display: inline;
    padding: 2px 10px;
    font-size: 9px;
    margin-left: 10px;
}

    .copyFace.show {
        animation: copyFaceanime 1s 1;
    }

@keyframes copyFaceanime {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/*#TokenTagFace {
            width: 250px;
            display: inline-block;*/
/*position: absolute;
            top: 9px;
            margin-left: 10px;*/
/*}*/

#searchingFacebook {
    border-radius: 20px;
}

#filterFace_Control {
    display: inline-block;
    padding-top: 5px;
}

/*by Dung*/
#filterFace {
    padding: 4px 0px 2px 10px;
    display: flex;
    height: 55px;
    background: #f2f5f8;
}

/*#TokenTagFace {
            white-space: nowrap;
            font-size: 13px;
        }*/

.headerPageMess {
    float: right;
    position: absolute;
    margin: 5px;
    left: 41px;
}
/*#TokenTagFace .ui.label > .delete.icon {
            position: absolute;
            left: 0;
        }*/
/*#TokenTagFace .ui.multiple.dropdown > .label {
            position: relative !important;
            margin-left: .2em;
        }*/

.MessengerAreaInfo {
    min-width: 350px;
    min-width: 350px;
    width: 350px;
    border-top-style: solid;
    border-top-color: #e6e6e6;
    border-top-width: 1px;
    transition: .5s;
    background: #f2f5f8 !important;
}

.icon-noti_new {
    position: absolute;
    margin: 28px 6px;
    z-index: 1;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 26px;
    color: red;
    background: transparent;
    font-size: 20px;
}

.flashit {
    -webkit-animation: flash linear 1s 2 forwards;
    animation: flash linear 1s 2 forwards;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}
/* Pulse class and keyframe animation */
.pulseit {
    -webkit-animation: pulse linear .5s infinite;
    animation: pulse linear .5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        width: 200px;
    }

    50% {
        width: 240px;
    }

    100% {
        width: 200px;
    }
}

@keyframes pulse {
    0% {
        width: 200px;
    }

    50% {
        width: 240px;
    }

    100% {
        width: 200px;
    }
}

.MessenArrow {
    position: absolute;
    right: -15px;
    top: 40%;
    width: 15px;
    height: 80px;
    z-index: 80;
    background-color: rgba(0, 149, 255, 0.71);
    transition: 0.5s;
    cursor: pointer;
    clip-path: polygon(0 0, 0% 100%, 100% 50%)
}

    .MessenArrow div {
        width: 100%;
        display: none;
        justify-content: center;
        height: 100%;
        line-height: 30px;
        color: white;
        font-size: 17px;
        background-color: #0099ff;
        border-radius: 50px;
    }

    .MessenArrow.change {
        transform: rotateY(180deg);
        right: 0;
        right: 10px;
        top: 15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        clip-path: unset;
    }

        .MessenArrow.change div {
            display: flex;
        }

.MessengerAreaInfo.active {
    min-width: 0;
    width: 0;
    display: none;
}

/*response avatar fanpage*/
#PageCurrent {
    position: absolute;
    padding-left: 49px;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    font-size: 14px;
    top: 50%;
    line-height: 2;
    transform: translateY(-50%);
}

@media only screen and (max-width: 900px) {
    #PageCurrent {
        display: none;
    }

    #Pagechoosing_Current {
        width: unset !important;
    }

    #facebook_list_fanpage {
        right: 0 !important;
        left: unset !important;
    }
}

/*@media only screen and (min-width: 600px) and (max-width: 800px) {
            #menuChoosingPage {
                top: 40px;
            }

            #menuChoosingPage>div{
                width:40px !important;
            }
            #menuChoosingPage>div{
                background-color:rgba(128,128,128,0.7);
            }
        }*/

@media only screen and (max-width: 642px) {
    #menuChoosingPage > div {
        background-color: transparent;
    }

    #menuChoosingPage {
        top: -5px !important;
    }
}

.commentdelete {
    display: block;
    color: #db2828;
    font-size: 12px;
}

.commenthidden {
    display: block;
    color: #db2828;
    font-size: 12px;
    padding-right: 5px;
}

.commentdelete_img {
    height: 11px;
    padding: 0px 1px;
    margin: 1px 0px;
}

.commentdelete_hide {
}

.client_hidden {
    background-color: #7676765c;
    border-color: #7676768c;
    border-style: solid;
    border-width: 2px;
}

.me_hidden {
    background-color: #7676765c;
    border-color: #7676768c;
    border-style: solid;
    border-width: 2px;
}

.popupFace {
    display: none;
    position: absolute;
    left: 100%;
    z-index: 999;
    margin-left: 11px;
    background-color: #eff7fd;
    background-clip: padding-box;
    border: 1px solid #d4dbe0;
    border-radius: 6px;
}

.staffInConversation {
    padding-left: 15px;
    padding-right: 1px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    color: #025854;
}

.arrow {
    top: 42%;
    left: -11px;
    position: absolute;
    margin-bottom: 16px;
    width: 11px;
    height: 30px;
    clip-path: polygon(0 50%, 100% 0%, 100% 100%);
    background-color: #30536d;
}

.listDateFter {
    width: 143px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin: 10px;
}

.itemdateFiter {
    font-size: 12px;
    padding: 10px 14px;
    border-radius: 2px;
    background: rgb(236, 240, 241);
    text-decoration: none;
    margin-bottom: 6px;
    display: block;
}

.colorRed {
    color: red;
}

.popupFiter-title {
    margin: 0;
    padding: 8px 14px;
    background-color: #30536d;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

#popupExecute {
    display: none;
    position: absolute;
    width: 10%;
}

#Messenger_TOTAL .ui.active.selection.dropdown {
    /*    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-radius: 20px;*/
}

#DectectStaffOnConver {
    border-radius: 20px;
    background: #f2f5f8;
    border: unset;
    box-shadow: none;
}

.drstaff {
    float: left !important;
    left: -11px !important;
    top: 3px !important;
    width: 10px !important;
    font-size: 26px !important;
    color: #2185d0 !important;
}

#AreaFace {
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    background: transparent;
}

.ticketother {
    margin: 10px !important;
}

#ServiceCareFace {
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    background: transparent;
}

#DiscountFace {
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    background: transparent;
}

#TokenTagStaff {
    border-radius: 20px;
}

.pageIDinfo {
    padding-right: 15px;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
}

.NumberOfDay {
    margin: auto;
    padding: unset;
    text-align: center;
    width: 100%;
    color: red;
    font-weight: 600;
}

.copy.icon {
    cursor: pointer;
}

.divMessengerTemplate {
    display: none;
    height: 444px;
    width: 450px;
    position: absolute;
    top: -445px;
    left: -195px;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #0099ff;
}

.arrow.bottom {
    top: 427px;
    left: 185px;
    position: absolute;
    margin-bottom: 16px;
    width: 30px;
    height: 30px;
    clip-path: polygon(0% 50%,50% 100%, 100% 50%);
    background-color: #30536d;
}

.TemplateBody {
    max-height: 386px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 6px;
    margin: 2px;
}

.MessengerTemplateHeader {
    height: 48px;
    display: flex;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    background-color: #3987c1;
}

.popup-title {
    margin: 0;
    padding: 15px 14px;
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
    font-family: initial;
    font-weight: 500;
}

.TemplateItemTitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.TemplateItemBody {
    color: black;
    font-size: 13px;
    white-space: pre-wrap;
}

.TemplateItem {
    border-radius: 6px;
    background: #fff;
    padding: 10px 5px;
    margin: 5px;
}

    .TemplateItem:hover {
        background: #efefef;
    }

.rowMessTag {
    background-color: #c1e5f9;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #db2828;
    background: #0288d133;
    border-radius: 10px;
    margin: 5px;
    /*height: 50px;*/
    min-width: 32%;
    max-width: 32%;
    width: 32%;
    padding: 5px;
    position: relative;
}

.txtAllowed {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*width: 220px;*/
    padding-right: 20px;
}

.txtNameTag {
    font-weight: bold;
}

.SaveTagSendClass {
    position: absolute !important;
    right: 10px;
    top: 10px;
}

.divchecktag {
    position: absolute !important;
    right: 10px;
    top: 10px;
}

.isPrioritize {
    border-left-color: #000594;
}

.face_noti_success {
    background-color: #d4edff;
    color: white;
    opacity: 0;
    /* display: inline; */
    padding: 2px 10px;
    font-size: 14px;
    /* margin-left: 14px; */
    text-align: center;
    color: #2185d0;
}

    .face_noti_success.show {
        animation: copyFaceanime 3s 1;
    }

.face_noti_failure {
    background-color: red;
    color: white;
    opacity: 0;
    /* display: inline; */
    padding: 2px 10px;
    font-size: 14px;
    /* margin-left: 10px; */
    width: 100%;
    text-align: center;
}

    .face_noti_failure.show {
        animation: copyFaceanime 3s 1;
    }

.chat .chat-history .message-data-time {
    font-size: 11px !important;
    padding: 5px;
}

.chat .chat-history {
    padding: 4px 5px !important;
    height: fit-content !important;
    border-bottom-color: transparent !important;
}

.chat .chat-message {
    padding: 10px 8px !important;
}

.chat .chat-history .message:after {
    border-bottom-color: transparent !important;
}

.chat .chat-history .my-message {
    background: #d9dfda !important;
    color: #160145 !important;
    font-size: 12px !important;
    padding: 3px 10px !important;
    margin-bottom: 5px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat .chat-history .message-data {
    margin-bottom: 5px !important;
}

.chat .chat-history .message-data-time {
    font-size: 11px !important;
    padding: 5px;
}

.chat .chat-history .other-message {
    background: #d2e3f5 !important;
    color: #012f52 !important;
    font-size: 13px !important;
    padding: 7px 11px !important;
    margin: 0px 0px 20px 0px !important;
}

#ticketinfoFace {
    background: #f2f5f8 !important;
}

#MessengerArea_Info {
    background: #f2f5f8 !important;
    height: 100%;
    border: none;
}

#conten_ticketinfoFace_firsttab {
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
    padding: 0px;
    background: #f2f5f8;
}

#content_ticketinfoFace_notetab {
    background: #f2f5f8 !important;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
}

#content_ticketinfoFace_timetab {
    background: #f2f5f8 !important;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
}

.chat {
    background: #e4edf7 !important;
}

#ticketinfoFace_firsttab {
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ff000000;
    font-size: 13px;
    color: #2185d0;
    border-bottom: 5px solid #d2e7f7;
    margin: 5px;
    padding: 0px 10px;
}

    #ticketinfoFace_firsttab.active.item {
        border-bottom: 5px solid #1377c3;
        font-weight: 500;
    }

#ticketinfoFace_notetab {
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ff000000;
    font-size: 13px;
    color: #2185d0;
    border-bottom: 5px solid #d2e7f7;
    margin: 5px;
    padding: 0px 10px;
}

    #ticketinfoFace_notetab.active.item {
        border-bottom: 5px solid #1377c3;
        font-weight: 500;
    }

#ticketinfoFace_history {
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ff000000;
    font-size: 13px;
    color: #2185d0;
    border-bottom: 5px solid #d2e7f7;
    margin: 5px;
    padding: 0px 10px;
}

    #ticketinfoFace_history.active.item {
        border-bottom: 5px solid #1377c3;
        font-weight: 500;
    }

#ticketinfoFace_timetab {
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ff000000;
    font-size: 13px;
    color: #2185d0;
    border-bottom: 5px solid #d2e7f7;
    margin: 5px;
    padding: 0px 10px;
}

    #ticketinfoFace_timetab.active.item {
        border-bottom: 5px solid #1377c3;
        font-weight: 500;
    }

#Date_from_call_back {
    width: 100%;
    height: 33px;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #d4d4d5;
    border-radius: 20px !important;
    font-size: 13px;
    color: #2185d0;
}

#ticketinfoshow {
    margin: 7px 11px -6px 4px;
    background: #d9eaf7;
    padding: 4px;
}

.noti_new_message {
    padding: 6px;
    border-bottom: 1px solid #2185d02b;
    background: #f4f9fd;
    position: relative;
    height: 38px;
    animation: shownoti 0.5s ease;
}

.noti_new_comment {
    padding: 6px;
    border-bottom: 1px solid #29b87e;
    background: #bdffe4;
    position: relative;
    height: 38px;
    animation: shownoti 0.5s ease;
}

@keyframes shownoti {
    0% {
        right: -200px;
    }

    100% {
        right: 0px;
    }
}

.notiMessage_mess {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #093d69;
    font-size: 12px;
    position: absolute;
    left: 40px;
    top: 10px;
    right: 35px;
}

.notiMessage_clientname {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #a7a7a7;
    font-size: 12px;
    position: absolute;
    left: 74px;
    top: 4px;
    right: 11px;
}

.notiMessage_image {
    position: absolute;
    right: 33px;
    height: 20px;
    top: 8px;
}

.notiMessage_avatar {
    float: left !important;
    width: 25px !important;
}

#NewMessageFacebook {
    border-radius: 5px 0px 0px 5px;
    padding: unset;
    width: 190px;
}

.first_noti_from_face {
    border-top: solid #2185d0 10px;
    border-radius: 10px 0px 0px 0px;
    height: 60px;
}

.imgsnipset {
    height: 16px;
    margin-top: -2px;
    position: absolute;
    top: 27px;
}

.imgDeletenoti {
    position: absolute;
    right: 6px;
    height: 16px;
    top: 10px;
    cursor: pointer;
}

.groupAttachment_client {
    max-width: 300px;
    padding: 10px;
}

.groupAttachment_me {
    float: right;
    max-width: 300px;
    padding-right: 10px;
}

.groupAttachment_top {
    width: 100%;
    max-width: 100%;
    padding-right: 0
}

.audio_me {
    float: right;
    margin: 3px 17px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.audio_client {
    float: left;
    width: 250px;
}

#PageCurrent_Executing {
    height: 40px;
    background: #f2f5f8;
    /* display: inline; */
    position: relative;
    font-size: 12px;
    color: #2185d0;
}

#MessengerArea_Chating_Hide {
    height: 70px;
    text-align: center;
    line-height: 17px;
    color: rgb(255 ,0, 0);
    background: rgb(230, 230, 230);
    padding: 10px;
    font-size: 12px;
}

#avatarPageCurrent_Executing {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 11px;
    top: 5px;
}

#namePageCurrent_Executing {
    position: absolute;
    right: 50px;
    top: 9px;
    overflow: hidden;
    white-space: nowrap;
}

#MessengerArea_Chating {
    background: #d4e1ea0d;
    border: none;
}

.__comment_me_face_ {
    background: rgb(0, 153, 255);
    position: relative;
    min-height: 50px;
    min-width: 100px;
    text-align: right;
}

.__comment_client_face_ {
    background: #e6e6e6;
    position: relative;
    min-height: 50px;
    min-width: 100px;
}

.comment_button_div {
    display: flex;
    padding-top: 5px;
}

.sticker_client_comment {
    display: block;
    max-height: 100px;
}

.sticker_me_comment {
    display: block;
    max-height: 100px;
}

#content_ticketinfoFace_history {
    background: transparent;
    border: none;
}

.history_face_comment_event {
    background: #bedbf0 !important;
}

.get_phone_phone_item_face {
    margin: unset !important;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.get_phone_phone_label_face {
    margin: unset !important;
    padding: 0px 0px !important;
}

#popupFace_ChossingPage {
    display: none;
    position: absolute;
    width: 10%;
}

.div_face_page_total {
    width: 40px;
    height: 40px;
    display: inline;
    padding: 4px 2px 10px 2px;
    position: relative;
}

.loginfacebook {
    position: absolute;
    right: 10px;
    top: 18px;
}

#Face_Loading_Div {
    padding: 4px 14px;
}

#CurrentFace_Chossen {
    margin: 0px 100px -1px 8px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.pageAvatarpage_NewMessage {
    /*background: red;*/
}

    .pageAvatarpage_NewMessage:before, .pageAvatarpage_NewMessage:after {
        content: '';
        border-radius: 50%;
        background-color: red;
        width: 40px;
        height: 39px;
        position: absolute;
        left: -2px;
        opacity: 0;
        top: 1px;
        animation: scaleIn 3s infinite cubic-bezier(.36, .11, .89, .32);
    }

    .pageAvatarpage_NewMessage:after {
        animation-delay: -1s;
    }

    .pageAvatarpage_NewMessage .pageAvatarpage {
        z-index: 100
    }

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .8;
    }

    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.pageAvatarpage_Not_Permission {
    border: solid #767676 3px !important;
    opacity: 0.2;
}

.pageAvatarpage_Have_Permission {
    border: solid #2185d0d1 3px !important;
}

.pageAvatarpage_NewMessage .pageAvatarpage_Have_Permission {
    border: solid #ea1414d1 3px !important;
}

.pageAvatarpage {
    border: solid #e6e6e6 3px;
    cursor: pointer;
    width: 33px !important;
    height: 33px !important;
}

#Face_loginout {
    position: absolute;
    right: 2px;
    top: 6px;
    cursor: pointer;
    background: #00090f00;
    color: #2185d0;
    padding: 8px;
    font-size: 12px;
    border-radius: 31px;
}

#myfacebookavatar {
    height: 30px !important;
    width: 30px !important;
}

.iconActivePageFace {
    color: #2185d0 !important;
    font-size: 15px !important;
    left: -2px !important;
    top: 35px !important;
    display: none !important;
}

.aTagChoosenpage {
    display: none;
    border-color: #ff980000 !important;
}

.face_template_div {
    padding: 5px 10px;
    cursor: pointer;
}

.face_template_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 98%;
    text-decoration: underline;
    color: #3987c1;
    padding-bottom: 3px;
    font-size: 15px;
    cursor: pointer;
}

.face_template_description {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 98%;
    padding-bottom: 3px;
    font-size: 13px;
    cursor: pointer;
}

#searchingMessengerTemplate {
    margin: 5px 0;
    height: 36px;
    position: absolute;
    right: 5px;
    border-radius: 20px;
    font-size: 14px;
    color: #2d1c50;
    padding: 10px;
    width: 314px;
    border: solid #e6e6e6 1px;
}

.errorPermission {
    background: #ffc8c8 !important;
}

#MessengerArea_Reply_Comment {
    height: 70px;
    text-align: center;
    line-height: 17px;
    color: #09335361;
    padding: 10px 10px 10px 120px;
    font-size: 12px;
}