.dataTables_filter input {
    height: 2.2em; /* 1em */
}
.profileheader {
    height: auto;/*height: 150px;*/
}

.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg {
    width: 100px;/*width: 50px;*/
}
.ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
    width: auto!important;
    max-height: 50px!important;
}
.ui.selection.list .list > .item, .ui.selection.list > .item {
    color: #2185d0;
    font-size: 13px;
}
.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.radios-to-slider.medium .slider-label {
    top: 40px;
}
.radios-to-slider {
    margin-bottom: 25px;
}
html, body {
}
.notiBody {
    font-family: inherit;
    position: fixed;
    width: 320px;
    padding: 0px 10px 10px;
    z-index: 9998;
    box-sizing: border-box;
    height: auto;
    top: 0px;
    bottom: auto;
    left: auto;
    right: 0px;
}
.notiContent {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px;
    margin: 10px 0px 0px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    transform: translate3d(0px, 0px, 0px);
    will-change: transform, opacity;
    color: rgb(65, 85, 93);
    box-shadow: rgba(54 , 156 , 199 , 0.9) 0px 0px 1px;
    right: 0px;
    min-height: 63px;
}
.textNotiHeader {
    font-size: 14px;
    margin: 0px 0px 5px;
    padding: 0px;
    font-weight: bold;
    color: rgb(54, 156, 199);
}
.textNotiName {
    font-size: 12px;
    margin: 0px 0px 5px;
    padding: 0px;
    color: rgb(54, 156, 199);
}
.notiMessage {
    margin: 0px;
    padding: 0px;
}
.notiCloseIng {
    cursor: pointer;
    font-family: Arial;
    font-size: 17px;
    position: absolute;
    top: 4px;
    right: 5px;
    line-height: 15px;
    background-color: rgb(164, 190, 203);
    color: rgb(232, 240, 244);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-weight: bold;
    text-align: center;
}
.icon-noti {
    position: absolute;
    margin: -16px 29px;
    z-index: 1;
    width: 16px;
    font-size: 11px;
    height: 16px;
    color: white;
    text-align: center;
    border-radius: 26px;

    background: red;
    display:none;
}
.icon-noti-dow {
    z-index: 1;
    width: 16px;
    font-size: 11px;
    height: 16px;
    color: white;
    text-align: center;
    border-radius: 26px;
    padding-top: 2px;
    background: red;
    display: none;
}
.ui.menu .ui.dropdown .menu > .item {
    display: flex !important;
}
.ui.feed > .event > .label {

    width: 32px; /*width: 2.5em;*/

}
.ui.form .field > label {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #344767;
    margin-left: 0.25rem;
}
img.software.logo{
    margin: unset !important;
    width: 190px !important;
    height: 60px !important;
}
a.logo.software {
    padding: unset !important;
    margin: unset !important;
}
#GenderCustomer .ui.radio.checkbox .box:after,
#GenderCustomer .ui.radio.checkbox label:after {
    top: 0px !important;
    left: -1px !important;
}
.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
    transform: scale(0.47) !important;
    background-color: rgb(51 ,122 ,183) !important;
}
.vtticon_medi {
    font-size: 14px;
    color: #2185d0;
    vertical-align: middle;
}
.ui.form .fields > .field {
    margin-bottom: 0;
}