#divMainPage {
    /*    background-color: white;*/
}

    #divMainPage > .row > .segment.ui,
    #divMainPage > #PaymentListMaster #group_table_payment > .ui.tab > .segment.ui,
    #divMainPage > #PaymentListMaster #group_table_payment > .ui.tab > .row > .segment.ui,
    #divMainPage #history_list_content_div > .row > .segment.ui,
    #divMainPage #tab_list_content_div > .row > .segment.ui {
        border: none;
        box-shadow: none;
    }


#divAppointmentCurrentNote {
    /* padding-bottom: 0;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 0;
    width: 350px;
    height: 100%;
    overflow: hidden;
    top: 0;*/
    z-index: 10;
    /* opacity: 0.7;*/
    min-height: 150px;
    background-image: linear-gradient( 142deg, #dbebff 0%, #fff7f7 100%);
}
#divAppointmentCurrentNote:hover {
    opacity: 1;
}
#customer_todo_note {
    display: inline-grid;
    background: #e6e6e633;
    padding-right: 5px;
    border-radius: 4px;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 2px;
}

#cust_status_todo {
    padding-left: 4px;
    line-height: 20px;
    font-size: 12px;
    text-transform: lowercase;
}

div#cust_color_todo:hover {
    border: 2px solid #ffffff !important;
}

#cust_color_todo {
    width: 15px;
    height: 15px;
    background: aqua;
    border: 2px solid #e6e6e6 !important;
    border-radius: 40px;
    margin: auto;
    margin-left: 4px;
}



#divCustomerTab > a {
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: #2185d0;
    color: white;
    text-decoration: none;
}

.value {
    color: white !important;
}

/*#avatarCustomerLabel {
    width: 50px !important;
    height: 50px !important;
    max-height: 50px !important;
    transition: 0.3s ease;
}

    #avatarCustomerLabel.collapse {
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
    }
*/
a#avatarCustomer.collapse {
    display: none;
}

/*#generalInfo {
    margin: 4px 0 0;
}*/

#generalInfo.collapse {
    margin: 9px -25px 0;
    display: flex;
}

    #generalInfo.collapse div {
        margin-right: 10px;
    }

        #generalInfo.collapse div:nth-child(4) {
            display: none;
        }

.status:before {
    left: 50% !important;
    transform: translateX(-50%);
}
.cust_noticearea {
    z-index: 124;
    position: absolute;
    right: 21px;
    top: -23px;
}


#AppointmentExtra {
    position: relative;
    transition: 0.3s;
}

    #AppointmentExtra.collapse_show {
        overflow: hidden;
        background-color: #2185d0;
        margin: 5px;
        transition: .3s all;
        border-radius: 50%;
        position: absolute;
        top: -97px;
        z-index: 100;
        border: 3px solid #ffffff;
        height: 30px;
        width: 30px;
    }

        #AppointmentExtra.collapse_show > div:not(.collapse_appointment) {
            display: none;
        }

        #AppointmentExtra.collapse_show > .collapse_appointment {
            font-size: 20px !important;
            bottom: 8px;
            color: white !important;
            height: 20px;
            left: 50%;
            transform: translateX(-50%);
            line-height:25px;
        }




#button_CollapseAppoinmentExtra {
    margin-right: 0 !important;
    transition: .3s all;
    font-size: 12px;
}

    #button_CollapseAppoinmentExtra.calendar:before {
        content: "\f274" !important;
    }

.timelinehori {
    padding-left: 0;
}

.timelinehori {
    display: block !important;
    padding-top: 20px;
}

.buttonchangeappointment {
   /* padding: 5px !important;
    height: 45px;
    position: absolute !important;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    border: 0 !important;
    box-shadow: none !important;
    width: 200px;*/
}

@media only screen and (max-width: 1237px) {
    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 2
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 3
    }
}

@media only screen and (max-width: 1090px) {
    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 2
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 4
    }

    /*.buttonchangeappointment {
        left: 90px !important;
        top: 10px !important;
        bottom: unset !important;
        width: 150px !important;
    }*/
}

@media only screen and (max-width: 1013px) {
    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 2
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 4
    }

    .ui.statistic + .ui.statistic {
        margin: 0 0 0 0.5em;
    }
}

@media only screen and (max-width: 987px) {
    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 2
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 3
    }
}

@media only screen and (max-width: 878px) {
    .ui.statistic + .ui.statistic {
        margin: 0 0 0 5px;
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 5
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 6
    }

    #AppointmentExtra > .column:first-child > .ui.segments {
        flex-direction: column !important;
    }

    #divAppointmentCurrentNote {
        position: relative;
        width: 100%;
        max-width: 100%;
    }

        #divAppointmentCurrentNote.collapse {
            flex-grow: 1 !important;
            width: unset !important;
        }

            #divAppointmentCurrentNote.collapse .field_button_add_note > .segment:nth-child(1), #divAppointmentCurrentNote.collapse .field_button_add_note > .segment:nth-child(2) {
                opacity: 1;
            }

    .button_collapse_note_fast {
        opacity: 0;
    }
}

@media only screen and (max-width: 850px) {
    .ui.statistic + .ui.statistic {
        margin: 0 0 0 5px;
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 5
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 6
    }
}

@media only screen and (max-width: 810px) {
    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        flex-grow: 4
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        flex-grow: 5
    }
}

@media only screen and (max-width: 767px) {
    .schedule_next {
        top: 4em !important;
    }

    .schedule_next-notice {
        display: none;
    }

    .description.right.aligned > .item {
        display: block !important;
    }

    a#avatarCustomer {
        overflow: hidden;
    }

        a#avatarCustomer.collapse {
            margin-left: 60px !important;
            margin-top: -24px !important;
        }


    #divCustomerTab > a {
        display: flex !important;
        justify-content: space-between
    }

    #divCustomerTabContent {
        display: none !important;
    }

        #divCustomerTabContent.active {
            display: flex !important;
        }

    .ui.items > .item {
        margin: 0 !important;
        display: flex !important;
        padding: 0 !important;
    }

    .items #avatarCustomerLabel {
        border-radius: 50%;
    }

    .items .item a.ui.small.circular.image {
        margin-left: 0;
        margin-right: 0;
        width: 50px !important;
        margin-left: 50px !important
    }

    .ui.items:not(.unstackable) > .item {
        -webkit-flex-direction: unset;
        flex-direction: unset;
    }

    .middle.aligned.content {
        padding: 0 !important;
        padding-left: 1em !important;
        margin: 0 50px !important;
    }

    .column.active {
        display: block !important;
        z-index: 1000;
        border-radius: 5px;
        background: url(/img/profileheader.jpg) no-repeat top center;
        background-size: cover;
        box-shadow: 2px 2px 20px 2px rgba(138,131,138,1) !important;
        background: linear-gradient( 88deg, #002643, #5d91bb);
    }

    .column.hiddenui {
        position: relative;
    }

    .column.active:before {
        content: "";
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        position: absolute;
        width: 24px;
        height: 10px;
        background-color: #0f3756;
        top: -10px;
        left: 69px;
    }

    div.value {
        color: white !important;
    }

    .main_table_info_payment {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(2n) {
        padding: 1em 0 !important;
    }

    .sixteen.wide.tablet.sixteen.wide.computer.column.profileheader.row.no-padding > .column:nth-child(1) {
        padding-left: 0 !important;
    }

    .main_table_info_payment {
        flex-wrap: wrap;
    }

        .main_table_info_payment > div {
            width: 50% !important;
            margin-block: 10px !important;
        }

        .main_table_info_payment div.label {
            margin-bottom: 0 !important
        }
}

@media only screen and (max-width: 455px) {
    .items .item a.ui.small.circular.image {
        margin: 0 !important;
    }

    .column.active:before {
        left: 55px;
    }
}

@media only screen and (max-width: 414px) {
    .items .item a.ui.small.circular.image {
        margin: 0 !important;
    }

    .column.active:before {
        left: 55px;
    }
}

@media only screen and (max-width: 767px) {
    .middle.aligned.content {
        padding-left: 0 !important;
        margin: 0 20px !important;
    }
}

@media (max-device-width: 700px) and (min-device-width: 320px) {
    .status:before {
        transition: all 200ms ease-in;
        left: 50% !important;
        top: -15px !important;
    }
}

@media (max-device-width: 320px) {
    .ui.stackable.grid > .column.row > .column {
        padding: 0 !important;
    }

    .middle.aligned.content {
        margin: 0 !important;
    }
}

.ui.statistic:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.viber.button {
    background-color: #609;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset
}

    .ui.viber.button:hover {
        background-color: #850cc2;
        color: #FFF;
        text-shadow: none
    }

.ui.zalo.button {
    background-color: #0377e6;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset
}

    .ui.zalo.button:hover {
        background-color: #0068ff;
        color: #FFF;
        text-shadow: none
    }

.opct {
    opacity: 0.3;
}

#MemberShip {
    color: #c1abab;
    position: absolute;
    top: -6px;
    height: 37px;
    left: -46px;
    background-color: dodgerblue;
    padding: 7px 30px;
    transform: rotate( 315deg );
    width: 120px;
    text-align: center;
    border: 2px dotted#ffffff;
    opacity: 0.6;
    transition: 0.3s;
}

    #MemberShip:hover {
        opacity: 1;
        border: 4px solid #ffffff;
    }

    #MemberShip.collapse {
        display: none !important;
    }

.CursorPoint {
    cursor: pointer;
}

#infoUse > .item {
    color: white;
    text-transform: uppercase;
}

    #infoUse > .item.active {
        border-color: #cccccc;
    }

    #infoUse > .item:hover {
        color: wheat;
    }

.actions, .action {
    position: sticky;
    top: 20px;
}

.payment_tab {
    padding: 7px 13px 7px 18px;
    background-color: #eef7ff;
    border-radius: 0 3px 3px 0;
    color: #1b1c1d;
    font-size: 13px;
    border: 1px solid #c3e5ff;
}

.item.active .payment_tab {
    background-color: #2185d0;
    color: white;
}

/*.notification_Count {
    position: absolute;
    left: -15px;
    top: 50%;
    z-index: 1;
    border: 2px solid #FFF !important;
    border-radius: 50% !important;
    padding: 0 !important;
    padding-top: 4px !important;
    height: 30px !important;
    width: 30px !important;
    text-align: center;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 10px !important;
    transform: translateY(-50%);
}
    .notification_Count .notification_count_icon {
        font-size: 17px;
        color: white;
    }*/

#divCustomerTabContent a.tabcustomer.alert {
    background-color: rgba(232, 30, 30, 0.72);
    color: white;
    /* background: linear-gradient(135deg, #e81216 0%,#f45355 50%,#f6290c 51%,#ed0e11 71%,#fc1b21 100%);*/
    background-size: 400% 400%;
    animation: AnimationName 3s ease infinite;
    border: medium none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* background: linear-gradient(90deg, rgb(255,0 ,56 ,0.4) 0, rgb(232, 30, 30, 0.72) 15%,rgb(232, 30, 30, 0.72) 70%, rgb(255,0 ,56 , .4) 100%);*/
}

@keyframes AnimationName {
    0% {
        background-position: 0% 31%;
    }

    50% {
        background-position: 100% 70%;
    }

    100% {
        background-position: 0% 31%;
    }
}

/*.MessageLockService, .MessageLockService1 {
    position: absolute !important;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    margin: 0 0 5px 0 !important;
    max-width: 185px !important;
    text-align: center;
    pointer-events: none;
    width: max-content;
    display: none !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    z-index: 200;
    letter-spacing: 0.2px;
}*/

/*.ui.basic[class*="pointing below"].label.MessageLockService1:before {
    left: 30px !important;
}
*/
#divCustomerTabContent a.tabcustomer.alert:hover div {
    display: block !important;
}

.profileheader.collapse {
    height: 40px !important;
    padding: 1.5em !important;
    transition: 0.3s ease;
}

#buttonSocial {
    display: inline-flex;
    margin: 10px 0 0 6px;
}

    #buttonSocial.collapse {
        display: none;
    }

#descriptionSocial {
    margin-top: -10px;
}

    #descriptionSocial.collapse {
        margin-top: -20px;
    }

.collapse_profile {
    position: absolute;
    top: 10px;
    right: -5px;
    transform: translateX(-50%);
    cursor: pointer;
    color: white;
}

.collapse_appointment {
    position: absolute;
    bottom: 10px;
    left: 25px;
    cursor: pointer;
}

#divMainPage .header_form_customer {
    height: 0;
    position: relative;
    transition: 0.3s;
}

    #divMainPage .header_form_customer.toggle {
        margin-bottom: 5px;
        height: auto;
    }

#divMainPage .header_form_main {
    cursor: help;
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: 0.3s;
    height: 0;
    padding: 0 !important;
    margin: 0;
    display: none;
}

#divMainPage .header_form_child {
    opacity: 0;
    transition: 0.3s;
    height: 0;
    display: none !important;
    padding: 0;
}

#divMainPage .header_form_main.toggle,
#divMainPage .header_form_main ~ .header_form_child.toggle {
    opacity: 1;
    height: unset;
    padding: 4px 0px 0px 0px;
    display: block !important
}

#divMainPage .header_form_customer_icon {
    font-size: 18px;
    color: #0a3c62;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 100;
}

    #divMainPage .header_form_customer_icon i {
        margin-right: 0;
    }

#Change_Profile_Customer {
    font-size: 20px !important;
}

.timelinehori {
    display: block !important;
    padding-top: 20px;
}

.li.complete .status.selected-room:before {
    /*background-image: url("/assests/img/ButtonImg/room.png");*/
    background-repeat: no-repeat;
    background-position: center;
}

.ui.table td {
    padding: 5px !important;
}

.lefttitle {
    font-size: 10px;
    line-height: 30px;
    display: flow-root;
    text-transform: uppercase;
    color: white;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.rightamount {
    font-size: 16px;
    float: right;
    display: flow-root;
    line-height: 0;
    color: white;
    margin-top: -3px;
}

.blockitem {
    padding: 0px 8px;
    width: 155px;
}

#infoCard .value, #infoCumulative .value, #InfoPayment .value {
    font-size: 16px !important;
    padding-bottom: 5px;
    font-family: 'Noto Sans', 'Arial', 'Tahoma';
}

.main_table_info_payment {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    flex-wrap: wrap;
}

    .main_table_info_payment > div {
        padding: 0 10px;
        font-size: 13px;
        width: 125px;
    }

    .main_table_info_payment div.label {
        color: #eeeeeea8 !important;
        font-size: 13px;
        border-bottom: 1px solid #eeeeee1f;
    }

    .main_table_info_payment div.value {
        color: white !important;
        font-size: 18px;
        margin-top: 5px;
        padding: 2px 2px;
        border-radius: 4px;
    }

    .main_table_info_payment tr {
    }


#barcodeMainCustomer > g {
    fill: #1b1c1d !important;
}

#MainCustomer_Header_Info {
    /*margin-left:190px !important;*/
    position: sticky;
    top: 0;
   /* z-index: 1021;*/
    transition-duration: 0.1s;
}
/*
    #MainCustomer_Header_Info.nav_profile {
        margin-left: 60px !important;
    }*/



.todo_color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 100000;
    position: relative;
    border: 1px solid #eee;
    margin: 3px;
}

.cost_info_left {
    background-color: #b01f1f;
}

@media only screen and (max-width:767px) {
    #MainCustomer_Header_Info {
        position: relative;
    }
}

.cusinfotag {
    width: 110px !important;
}
