
/*CSS Table*/
.scrollx {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--color--table--brg);
    background-clip: border-box;
    border: 0 solid var(--color--table--border);
    box-shadow: 0 20px 27px 0 var(--color--table--boxshadown);
}
.vt-table {
    font-size: var(--fontsize--table) !important;
    border: 1px solid var(--color--table--border);
    color: var(--color--table) !important;
}
.vt-checkbox-checked {
    border: 1px solid black !important;
}

    .vt-table tr > th {
        border-bottom: 2px solid var(--color--table--border);
        border-bottom-color: var(--color--table--border) !important;
        padding: .75rem 1.5rem;
        letter-spacing: 0;
        white-space: nowrap;
        box-shadow: inset 0 0 0 9999px var(--color--transparent);
        color: var(--color--table--head) !important;
        text-transform: uppercase !important;
        font-size: var(--fontsize--table--head);
        background-color: var(--color--table--header);
        background-image: linear-gradient(var(--color--transparent),var(--color--transparent));
        text-align: center;
    }
    .vt-table tr > td {


    }
    .vt-table th, .vt-table td {
        vertical-align: middle !important;
    }

    .vt-table thead tr > th:first-child {
        border-left: none;
    }

    .vt-table tr td, .vt-table tr th {
        border-left: 1px solid var(--color--table--border);
    }


    .vt-table td, .vt-table th {
        border-right-width: 1px;
        border-color: var(--color--table--border);
    }
    .vt-table tbody tr:last-child td {
        border-width: 0;
        border-right-width: 1px !important;
        border-color: var(--color--table--border);
    }
.vt-table tbody td:last-child,
.vt-table thead th:last-child {
    border-right-width: 0px;
}
.vt-table tbody tr:last-child td:last-child {
    border-right-width: 0px !important;
}

@media only screen and (max-width:767px){
    .vt-table tr > td {
        display: block;
    }
    .table-responsive table thead th:before,
    .table-responsive table tbody td:before {
        display: none !important;
    }

    .table-responsive table tr > td {
        display: table-cell;
    }
    .table-responsive table td {
        white-space: nowrap ;
    }

    .mobile-responsive table tr > td,
    .mobile-responsive table tr > th {
        text-align: right;
        min-height: 40px;
        position: relative;
        white-space: normal;
    }
        .mobile-responsive table tr > td,
        .mobile-responsive table tr > td * {
            text-align: right !important;
        }
    .table-responsive table tr {
        border-bottom: 1px solid #e9ecef;
    }
    .table-responsive table tr > td,
    .table-responsive table tr > th {
        text-align: left;
    }
    table thead {
        display: none ;
    }

    .table-responsive table thead {
        display: table-header-group ;
    }
    .table tbody tr:last-child td{
        border-width:1px !important;
    }
}
@media only screen and (min-width:768px) {
    .mobile-responsive {
        overflow-x: auto;

        -webkit-overflow-scrolling: touch;
    }
}


/*CSS Tự Động Điền Số Thứ Tự*/
/* Trong tbody Gán Class vt-number Cho tr */
/* Và Gán Class vt-number-order Cho td */
.vt-table tbody > .vt-number {
    counter-increment: vt-num-sections;
}
.vt-table tbody .vt-number-order {
    text-align: center !important;
}
    .vt-table tbody .vt-number-order:after {
        content: counter(vt-num-sections);
    }


/*CSS Color Status Appointment*/
/*.vt-status {
    display: inline-block;
    line-height: 1em;
    border: none;
    position: relative;
    white-space: nowrap;
    padding: 5px;
    margin-right:5px;
}
    .vt-status .vt-status-color {
        display: inline-block;
        height: 8px;
        width: 9px;
        border-radius: 56%;
        margin-right: 5px;
    }
    .vt-status.vt-consult .vt-status-color {
        background: var(--color--consult);*/ /*Màu Của Lịch Tư Vấn*/

    /*}
    .vt-status.vt-treatment .vt-status-color {
        background: var(--color--treatment);*/ /*Màu Của Lịch Điều Trị*/
    /*}
    .vt-status.vt-type-app .vt-status-color {
        background: var(--color--type--app);*/ /*Màu Của Loại Lịch*/
    /*}

    .vt-status .vt-status-text {
        display: inline-block;
    }*/

.vt-app-type {
    background: var(--color--app--type--bg) !important; /*Màu Của Loại Lịch*/
    color: var(--color--app--type) !important;
}

.vt-app-consult {

    background: var(--color--app--consult--bg) !important; /*Màu Của Lịch Tư Vấn*/
    color: var(--color--app--consult) !important;
}
.vt-app-treat {
    background: var(--color--app--treat--bg) !important; /*Màu Của Lịch  Điều Trị*/
    color: var(--color--app--treat) !important;
}

/*CSS ICON SORT */
.table.vt-table.sortable thead th:not(.no-sort):after {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    content: '\f0dc';
    height: 1em;
    width: auto;
    margin: 0em 0em 0em 0.5em;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0px;
    left: -4px;
    font-size: var(--fontsize--iconsort);
    color: var(--color--iconsort);
    opacity: 0.4;
    font: normal normal normal 14px/1 FontAwesome;
}

.table.vt-table.sortable thead th.ascending:after {
    content: '\f160';
    opacity: 0.8;
}
.table.vt-table.sortable thead th.descending:after {
    content: '\f161';
    opacity: 0.8;
}








/*CSS Layout Master Detail */
.card-header-detail {
    display: none !important;
}

@media only screen and (max-width:767px) {
    .card-header-detail {
        display: block !important;
    }

    .view-session.active .view-session-master {
        display: none;
    }

    .view-session-detail {
        opacity: 0;
        top: 100px;
        z-index: -1;
        height: 0;
        display: none;
    }

    .view-session.active .view-session-detail {
        top: 0;
        opacity: 1;
        z-index: 1;
        height: auto;
        transition: 0.3s;
        display:block;
    }
}