:root {
    --color--primary: #e00990; /*main color*/
    --color--white: #ffffff;
    --color--transparent: transparent;
    /* Color Type App*/
    --color--app--treat--bg: #2185d03d; /* Màu Của Điều Trị */
    --color--app--treat: #2185d0;
    --color--app--consult--bg: #29b87e3d; /* Màu Của Tư Vấn */
    --color--app--consult: #21ba45;
    --color--app--type--bg: #f2711c3d; /* Màu Của Loại Lịch */
    --color--app--type: #f2711c;
    /*CSS TABLE*/
    --color--table: #1b1c1d; /*Màu Chữ Table*/
    --color--table--brg: #ffffff; /* Màu Nền Của Tabel */
    --color--table--header: #ffffff;
    --color--table--boxshadown: rgba(0,0,0,0.05); /* Màu Shadown Của Tabel */
    --color--table--head: #003964; /* Màu Chữ Của Thead Table */
    --color--table--border: #e9ecef; /* Màu Của Border th, td */
    --fontsize--table: 0.95em; /* Kich Thước Cở Chữ Chung Của Table */
    --fontsize--table--head: 0.85em; /* Kich Thước Cở Chữ Của thead */
    /*Root Icon sort table*/
    --fontsize--iconsort: 12px; /* Kich Thước Cở Chữ Của Icon Sort */
    --color--iconsort: #f2711c; /* Màu Chữ Của  Icon Sort */

    --color--menu--icon: #0a1039 /* Màu icon menu */
}
