
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>LIÊN HỆ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9432854567513!2d106.62988937495807!3d10.815652289335512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529e9a0dc2c4d%3A0xe07263fe93a22dbb!2zNzQwIFRyxrDhu51uZyBDaGluaCwgVMOieSBUaOG6oW5oLCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1684942572579!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->

    <div class="row" style="justify-content:space-between;">

        <!-- Follow Us -->

        <div class="follow_us_contents" style="margin-left: 29px; margin-top: 0px;">
            <h1>THEO DÕI CHÚNG TÔI</h1>
            <ul class="social d-flex flex-row">
                <li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="col-lg-6 contact_col" style="margin-right: -50px;">
            <div class="contact_contents">
                <h1>LunarCoffee</h1>
                <p>
                    Bạn đang tìm kiếm một trang website đặt Cafe online giao tận nơi thì LunarCoffe
                    là một sự lựa chọn tuyệt vời dành cho bạn. Tại LunarCoffee, bạn có thể dễ dàng lựa chọn nhiều loại cà phê uy tín, chất lượng,
                    Nếu tinh tế, bạn có thể nhận ra cà phê và cuộc đời có một sợi dây liên kết đấy! Những vị ngọt, đắng, chua cay từ ly cafe của 
                    bạn cũng sẽ là biểu trưng cho những rắc rối bạn gặp phải trong cuộc sống. Những biến cố trong cuộc đời hay hương vị 
                    cay – đắng – ngọt – bùi trong chuyện tình cảm là những biến cố bạn có thể gặp phải.
                </p>
                <div>
                    <p>Hotline: 0939 239 102</p>
                    <p>Email: LunarCoffee@gmail.com</p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p>Thời gian mở cửa: 8:00 AM - 9:00 PM (Tất cả các ngày trong tuần)</p>
                    <p>Các ngày lễ: 7:00 AM - 8:00 PM </p>
                </div>
            </div>

        </div>

    </div>

        
</div>

@section scripts
{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}